//- Learning Path Overview
mixin lp-overview
	#learning-path
		h1 SQL Injection Learning Path
		+prerequisites
		include:md ../../../content/teamMentor/learning-paths/sql-injection.md
		include:md ../../../content/teamMentor/learning-paths/how-to-use.md
	// learning-path-div

//- Prerequisites
mixin prerequisites
	#box
		.row
			.col-4
				h4 Prerequisites:
			// column
			.col-8
				p
					ul
						li Understanding of SQL Injection exploits.
						li Some knowledge of application testing.
			// column
		// row
		.row
			.col-4
				h4 Applies to:
			// column
			.col-8
				p
					ul
						li Developers looking to -------.
			// column
		// row
	// box-div

//- progress-bar
mixin progress-bar
	.progress
		.progress-bar(role='progressbar', aria-valuenow='10', aria-valuemin='0', aria-valuemax='100', style='width: 10%')
	// progress

//- lp-start-button
mixin lp-start-button
	.row
		.column-offset-4.column-4
			a(href='exploiting')
				button(type='button') Get Started
			br
			br
		// column
	// row