extends ../_layouts/page_home.jade

block content      
    #application
      .row
        .column-3
          .lge-container
            h3= folder.name
            .list-group
                each view in folder.views                                    
                    a(href='owasp.html')= view.caption
                        span.badge= view.guidanceItems.length 
                       
        .column-6
          .lge-container
            +search-bar-input
            br
            br
            br

            +results-save-clear
            +articles-list
          // row
        // column-6

        .column-3
          .lge-container
            +filters-div
            +save-div