extends ../_layouts/page_home.jade
include mixins/view-blocks.jade
block content
    #application
        .row
            .column-3
                .lge-container                    
                    div#links-libraries
                        +links-libraries
            .column-6
                .lge-container 