extends ../_layouts/page_home.jade
include mixins/view-blocks.jade

block content
    #application.lge-container
      .row
        .column-3
          h3
            div#links-libraries
                +links-libraries
        .column-9
          .column-4            
            .list-group
                div#links-library
                  +links-queries
          .column-4              
          .column-4
                 