extends ../_layouts/flare_page

block content
  #application
    #left-column
      +left-navigation
    #content
      #one-fourth-column
        +help-sub-navigation
      #three-fourths-column
        article
          p Specific docs page here
          include:md ../content/help/page-index.md
    #right-column
      +filters-div