extends ../_layouts/flare_page

block content
  #application
    #left-column
        +left-navigation
    #one-fourth-column
        +help-navigation
    #three-fourths-column
        article
            include:md ../content/help/page-index.md
    #right-column
        +filters-div