extends ../_layouts/flare_page
include ../mixins/application-mixins

block content
    #application
        #left-nav
        #results
            +flare-alert
            +flare-results-save-clear
            #articles
                +articles-list
            br
            +copyright
        #right-nav