extends ../_layouts/flare_page
include ../mixins/application-mixins

block content
	#application
		#left-nav
		#results
			.fixed
				+flare-search-bar-input
				+flare-results-save-clear
			+flare-articles-list
			+horizontal-rule
			+copyright
		#right-nav