extends ../_layouts/flare_page
include ../mixins/application-mixins

block content
	#application
		#left-nav
			+left-navigation
		#results
			section.row
				#label
					.label 0/200 results showing
					+save-results-button
					+clear-results-button
				#articles
					+articles-list
			+copyright
		#right-nav
			+filters-div