extends ../_layouts/flare_page.jade
include mixins/application-mixins.jade

block content
	#application
		.row
			.small-12.large-3.columns#left-nav
				br
			// column

			.small-12.large-6.columns#results
				+flare-search-bar-input
				+flare-results-save-clear
				+flare-articles-list
			// column

			.small-12.large-3.columns#right-nav
				+save-div
			// column
		// row
	// application