extends ../_layouts/flare_page
include ../mixins/application-mixins

block content
	#application
		#left-nav
		#results
			+flare-search-bar-input
			+flare-results-save-clear
			#articles
				+articles-list
			+horizontal-rule
			+copyright
		#right-nav
			+share-div