extends ../_layouts/flare_page.jade

block content  
		#application
			.row
				.small-12.large-3.columns
					br
				.small-12.large-6.columns#results
					+search-bar
					.row
						.large-12.columns
								.row.collapse
									.small-8.columns
										input(type='text', placeholder='Type keywords here')
									.small-2.columns
										a.button.postfix(href='#')
											i.fi-magnifying-glass
									.small-2.columns
										a.button.postfix(href='#')
											i.fi-filter

					.row
						.small-6.large-6.columns
							h4 0/200 results showing
						.small-3.large-3.columns.vertical-align
							a.button(href='#')
								i.fi-bookmark
								|    Save
						.small-3.large-3.columns.vertical-align
							a.button(href='#')
								i.fi-trash
								|    Clear

					+articles-list

				.small-12.large-3.columns
					br