extends ../_layouts/flare_page
include ../mixins/application-mixins

block content
	#application
		#left-nav
			+left-navigation
		#results
			section.row
				#label
					.label 0/200 results showing
					ul
						li
							+save-results-button
						li
							+clear-results-button
				#articles
					+articles-list
					+articles-list
					+articles-list
			+copyright
		#right-nav
			+filters-div