extends ../_layouts/flare_page.jade

block content  
	#application
		.row
			.small-12.large-3.columns
				br
			.small-12.large-6.columns#results
				+flare-search-bar-input
				+flare-results-save-clear

				dl.accordion(data-accordion='data-accordion')
					dd.accordion-navigation
						a(href='#panel1') Article Headline
						#panel1.content.active
							include:md ../../content/teamMentor/article-details.md
					dd.accordion-navigation
						a(href='#panel2') Article Headline
						#panel2.content
							include:md ../../content/teamMentor/article-details.md
					dd.accordion-navigation
						a(href='#panel3') Article Headline
						#panel3.content
							include:md ../../content/teamMentor/article-details.md

			.small-12.large-3.columns
				br