extends ../_layouts/custom_page
include ../mixins/application-mixins

block content
	#application
		#left-nav
		#results
			+flare-search-bar-input
			+flare-results-save-clear
			+flare-main-app-view
			br
			+copyright
		#right-nav