extends ../_layouts/flare_page
include ../mixins/application-mixins

block content
	#application
		#left-nav
		#results
			+flare-filters-active
			+flare-results-save-clear
			+articles-list
			+copyright
		#right-nav