extends ../_layouts/flare_page
include ../mixins/application-mixins

block content
	+flare-search-bar-input
	#application
		#left-nav
		#results
			+flare-results-save-clear
			+articles-list
			+horizontal-rule
			+copyright
		#right-nav
			+flare-filters-div