extends ../_layouts/flare_page.jade
include mixins/application-mixins.jade

block content
	#application
		.left-nav
			+links-home__navigate
		// left-nav
		.results
			+flare-articles-list
			+horizontal-rule
			+copyright
		// results
		.right-nav
			br
		// right-nav
	// application