extends ../_layouts/flare_page
include ../mixins/application-mixins

block content
	#application
		#left-nav
			+links-home__navigate
		#results
			#articles
				+articles-list
			+horizontal-rule
			+copyright
		#right-nav