extends ../_layouts/flare_page
include ../mixins/application-mixins

block content
	#application
		#left-nav
			.bg
				+links-home__navigate
		#results
			+flare-results-save-clear
			#articles
				+articles-list
			+copyright
		#right-nav