extends ../_layouts/flare_page

block content
	#app
		#left-nav
			p Left nav
		#results
			.fixed
				#search-bar
					p Search Bar
				#results-save-clear
					p Result save clear
			#articles
				h2 Hello
				h2 Hello
				h2 Hello
				h2 Hello
				h2 Hello
				h2 Hello
				h2 Hello
				h2 Hello
				h2 Hello
				h2 Hello
				h2 Hello
				h2 Hello
				h2 Hello
				h2 Hello
				h2 Hello
				h2 Hello
				h2 Hello
				h2 Hello
				h2 Hello
				h2 Hello
				h2 Hello
				h2 Hello
				h2 Hello
				h2 Hello
				h2 Hello
				h2 Hello
				h2 Hello
				h2 Hello
				h2 Hello
				h2 Hello
				h2 Hello
				h2 Hello
				h2 Hello
				h2 Hello
				h2 Hello
				h2 Hello
		#right-nav
			p Right nav