extends ../_layouts/flare_page
include ../mixins/getting-started-mixins

block content
	#application
		#left-nav
			+help-navigation
		#results
			#summary
				#content
					+team-mentor-summary
		#right-nav