extends ../_layouts/flare_page
include ../mixins/getting-started-mixins

block content
	#application
		#left-nav
			#content
				+help-navigation
		#results
			#content
				+team-mentor-summary
		#right-nav