extends ../_layouts/flare_page
include ../mixins/getting-started-mixins

block content
	#application
		#left-nav
			.content-pane
				+help-navigation
		#results
			.content-pane
				+team-mentor-summary
		#right-nav