extends ../_layouts/flare_page.jade

block content
	#application
		.row
			.small-12.large-3.columns#left-nav
				br
			// column
			.small-12.large-6.columns#results
				include:md ../../content/teamMentor/help/index.md
				br
				hr
				include:md ../../content/teamMentor/help/video.md
				br
				hr
				include:md ../../content/teamMentor/help/faq.md
				br
			// column
			.small-12.large-3.columns#right-nav
				br
			// column
		// row
	// application