extends ../_layouts/flare_page.jade

block content
	#application
		#left-nav
		// left-nav
		#results
			include:md ../../content/teamMentor/help/index.md
			br
			hr
			include:md ../../content/teamMentor/help/video.md
			br
			hr
			include:md ../../content/teamMentor/help/faq.md
			br
		// results
		#right-nav
		// right-nav
	// application