extends ../_layouts/page_home.jade
include ../_mixins/articles-mixins.jade
include ../../shared-mixins/globals.jade
block content
  #application
    .row
      .col-2
        .lge-container
      .col-8
        .lge-container
          +article
          +copyright
      .col-2
        .lge-container