extends ../_layouts/page_home.jade
include ../_mixins/articles-mixins.jade
include ../../shared-mixins/globals.jade

block content
  #application
    .row
      .col-3
        .lge-container
          br
      .col-6
        .lge-container
          #article
            #content
              h1= title
              != article_Html
      .col-3
        .lge-container
          br
  +copyright