extends ../_layouts/page_home.jade
include ../_mixins/search-mixins.jade

block content
	#application
		.row
			.col-3
				.lge-container
					if folder
						h3= folder.name
						#nav.list-group
							each view in folder.views
								a(href='owasp.html')= view.caption
									span.badge= view.guidanceItems.length
			.col-6
				.lge-container
					+search-bar-input
					br
					br
					br
					+results
					+articles-list
			.column-3
				.lge-container
					+filters-div
					+save-div