extends ../_layouts/page_home.jade
include ../_mixins/view-blocks
block content
	#application
		.row
			.col-3
				.lge-container
					h3
						div#links-libraries
							+links-libraries
				// lge-container
			// column
			.col-6
				.lge-container
					br
				// lge-container
			// column
			.col-3
				.lge-container
					br
				// lge-container
			// column
		// row
	// application