extends ../_layouts/page_home.jade
include ../_mixins/user-mixins
include ../_mixins/search-mixins

block content
  #application
    +search-bar-input
    .row
      .col-2
        .lge-container
      .col-8
        .lge-container
          +main-app-view
      .col-2
        .lge-container