extends ../_layouts/page_home.jade
include ../_mixins/search-mixins

block content
    #application
      .row
        .col-3
          .lge-container
            br
          // lge-container
        // column
        .col-6
          .lge-container
            +search-bar-input
            br
            br
            br
            +main-app-view
          // lge-container
        // column
        .col-3
          .lge-container
            //+filters-div
            //+save-div
          // lge-container
        // column
      // row
    // application