extends ../_layouts/page_home.jade
include ../_mixins/articles-mixins.jade
include ../_mixins/search-mixins.jade
include ../_mixins/error-mixins.jade

block content
	#application
		.row
			.col-3
				.lge-container
					+no-more-directories
			.col-6
				.lge-container
					+breadcrumbs
					+results
					include:md ../../content/application/no-search-results.md
                    +copyright
			.col-3
				.lge-container
					+filters-div