extends ../_layouts/page_home.jade
include ../_mixins/view-blocks

block content
  #application
    .row
      .col-3
        .lge-container
          h5
            div#links-libraries
              +links-libraries
      .col-6
        .list-group
          div#links-library
            +links-queries
      .col-3
        .lge-container