//- jade-landing-page-usp-div
mixin usp-div
	#usp
		.row
			.col-offset-2.col-8
				include:md ../../../content/teamMentor/landing-pages/usp.md
				br
				br
				a(href='../getting-started/index.html')
					button.btn-landing-page Start your free trial today

//- reasons-to-use-tm-div
mixin reasons-to-use-tm-div
	#reasons
		.lge-container
			h2 With TEAM Mentor, you can...
			.row
				.col-offset-3.col-1
					img(src='/deploy/assets/icons/identifyfix.png', alt='Identify vulnerabilities and reduce time to fix them')
				.col-5
					.lge-container
						h4 FIX vulnerabilities quicker than ever before with TEAM Mentor's seamless integration into a developer's IDE and daily workflow
		br
		.row
			.col-offset-3.col-1
				img(src='/deploy/assets/icons/reduces.png', alt='REDUCE the number of vulnerabilities over time')
			.col-5
				.lge-container
					h4 REDUCE the number of vulnerabilities over time as developers learn about each vulnerability at the time it is identified
		br
		.row
			.col-offset-3.col-1
				img(src='/deploy/assets/icons/expand.png', alt='EXPAND the development teams knowledge and improve process')
			.col-5
				.lge-container
					h4 EXPAND the development team's knowledge and improve process with instant access to thousands of specific remediation tactics, including the host organization's security policies and coding best practices


//- landing-page_call-to-action
mixin call-to-action-div
	#call-to-action
		.row
			.col-offset-2.col-8
				h1 Security Risk. Understood.
				br
				br
				a(href='getting-started.html')
					button(type='button') See for yourself

//- landing-page_footer
mixin footer-div
	#footer
		.row
			.col-offset-2.col-8
				img(src='/deploy/assets/logos/si-logo.png')
				a(href="#{user}/terms-and-conditions.html") Terms & Conditions