//- USP Div
mixin usp-div
	#usp
		.row
			.col-offset-2.col-8
				include:md ../../../content/teamMentor/landing-pages/usp.md
				br
				br
				.row
					.col-offset-3.col-6
						a(href='../getting-started/index.html')
							button Start your free trial today
					// column
				// row
			// column
		// row
	// usp-div

//- Reason to Use TM Div
mixin reasons-to-use-tm-div
	#reasons
		.lge-container
			h2 With TEAM Mentor, you can...
			.row
				.col-offset-3.col-1
					+image-identify-fix-icon
				// column
				.col-5
					.lge-container
						h4
							include:md ../../../content/teamMentor/landing-pages/selling-point-1.md
					// lge-container
				// column
			//row

			.row
				.col-offset-3.col-1
					+image-reduces-icon
				// column 
				.col-5
					.lge-container
						h4
							include:md ../../../content/teamMentor/landing-pages/selling-point-2.md
					// lge-container
				// column
			// row

			.row
				.col-offset-3.col-1
					+image-expand-icon
				// column
				.col-5
					.lge-container
						h4
							include:md ../../../content/teamMentor/landing-pages/selling-point-3.md
					// lge-container
				// column
			// row
		// lge-container
	// reasons

//- Clients Div
mixin clients-div
	#clients
		.lge-container
			h2 Our clients love us (and we think you will too!)
			.row
				.col-4
					+image-elsevier-logo
				// column
				.col-4
					+image-fedex-logo
				// column
				.col-4
					+image-mass-mutual-logo
				// column
			// row
			.row
				.col-4
					+image-microsoft-logo
				// column
				.col-4
					+image-symantec-logo
				// column
				.col-4
					+image-ubs-logo
				// column
			// row
		// lge-container
	// clients-div



//- Call to Action
mixin call-to-action-div
	#call-to-action
		.row
			.col-offset-2.col-8
				include:md ../../../content/teamMentor/landing-pages/call-to-action.md
				br
				br
				.row
					.col-offset-3.col-6
						a(href='../getting-started/index.html')
							button(type='button') See for yourself
					// column
				// row
			// column
		// row
	// call-to-action-div

//- Footer
mixin footer-div
	#footer
		.row
			.col-offset-2.col-8
				+image-security-innovation-logo
				a(href="#{user}/terms-and-conditions.html") Terms & Conditions
			// column
		// row
	// footer-div

//- About Tagline Div
mixin about-tagline-div
	#about
		.row
			.col-offset-2.col-8
				include:md ../../../content/teamMentor/landing-pages/about-tm-tagline.md
			// column
		// row
	// about-div

// About Us Div
mixin about-us-div
	#about-us
		.row 
			.col-offset-2.col-8
				include:md ../../../content/teamMentor/landing-pages/about-tm-summary.md
			// column
		// row
	// about-us-div

// Features Div
mixin features-div
	#features
		h2 TEAM Mentor provides intelligence to fix vulnerabilities and comply
		br
	
		.row
			.col-offset-3.col-1
				+image-compliance-icon
			// column
			.col-5
				include:md ../../../content/teamMentor/landing-pages/feature-1.md
			// column
		// row
		br
		.row
			.col-offset-3.col-1
				+image-integrate-icon
			// column
			.col-5
				include:md ../../../content/teamMentor/landing-pages/feature-2.md
			// column
		// row
		br
		.row
			.col-offset-3.col-1
				+image-cross-references-icon
			// column
			.col-5
				include:md ../../../content/teamMentor/landing-pages/feature-3.md
			// column
		// row
		br
		.row
			.col-offset-3.col-1
				+image-reduces-icon
			// column
			.col-5
				include:md ../../../content/teamMentor/landing-pages/feature-4.md
			// column
		// row
	// features-div