//- jade-landing-page-usp-div
mixin usp-div
	#usp
		.row
			.col-offset-2.col-8
				include:md ../../../content/teamMentor/landing-pages/usp.md
				br
				br
				a(href='../getting-started/index.html')
					button Start your free trial today

//- reasons-to-use-tm-div
mixin reasons-to-use-tm-div
	#reasons
		.lge-container
			.row
				.col-offset-3.col-1
					+image-identify-fix-icon
				.col-5
					.lge-container
						include:md ../../../content/teamMentor/landing-pages/selling-point-1.md
			.row
				.col-offset-3.col-1
					+image-reduces-icon
				.col-5
					.lge-container
						include:md ../../../content/teamMentor/landing-pages/selling-point-2.md
			.row
				.col-offset-3.col-1
					+image-expand-icon
				.col-5
					.lge-container
						include:md ../../../content/teamMentor/landing-pages/selling-point-3.md

//- clients-div
mixin clients-div
	#clients
		.lge-container
			h2 Our clients love us (and we think you will too!)
			.row
				.col-4
					+image-elsevier-logo
				.col-4
					+image-fedex-logo
				.col-4
					+image-mass-mutual-logo
			.row
				.col-4
					+image-microsoft-logo
				.col-4
					+image-symantec-logo
				.col-4
					+image-ubs-logo

//- landing-page_call-to-action
mixin call-to-action-div
	#call-to-action
		.row
			.col-offset-2.col-8
				include:md ../../../content/teamMentor/landing-pages/call-to-action.md
				br
				br
				a(href='getting-started.html')
					button(type='button') See for yourself

//- landing-page_footer
mixin footer-div
	#footer
		.row
			.col-offset-2.col-8
				+image-security-innovation-logo
				a(href="#{user}/terms-and-conditions.html") Terms & Conditions

//- about-tagline-div
mixin about-tagline-div
	#about
		.row
			.col-offset-2.col-8
				include:md ../../../content/teamMentor/landing-pages/about-tm-tagline.md

// about-us-div
mixin about-us-div
	#about-us
		.row 
			.col-offset-2.col-8
				include:md ../../../content/teamMentor/landing-pages/about-tm-summary.md

// features-div
mixin features-div
	#features
		h2 TEAM Mentor provides intelligence to fix vulnerabilities and comply
		br
	
		.row
			.col-offset-3.col-1
				+image-compliance-icon
			.col-5
				include:md ../../../content/teamMentor/landing-pages/feature-1.md
		br
		.row
			.col-offset-3.col-1
				+image-integrate-icon
			.col-5
				include:md ../../../content/teamMentor/landing-pages/feature-2.md
		br
		.row
			.col-offset-3.col-1
				+image-cross-references-icon
			.col-5
				include:md ../../../content/teamMentor/landing-pages/feature-3.md
		br
		.row
			.col-offset-3.col-1
				+image-reduces-icon
			.col-5
				include:md ../../../content/teamMentor/landing-pages/feature-4.md