//extends ../_layouts/page_just_css.jade
extends ../_layouts/page_home

block content
  #application
    .row
      .col-2
        .lge-container
      .col-8
        .lge-container
          .bg
            include:md ../../content/poc/poc.md
            h4 Pages:
            br
            .list-group
              if pages
                for page in pages
                  a(href=page.link)= page.name
      .col-2
        .lge-container