include ../../content/images.jade
include ../../content/links.jade

.fixed
	nav.top-bar(data-topbar='data-topbar', role='navigation')
		ul.title-area
			li.name
				a(href='#')
					+image-security-innovation-logo
			// li-name
	nav.top-bar(data-topbar='data-topbar', role='navigation')
		ul.title-area
			li.name
				a(href='#')
					+image-teammentor-logo__default
			// li-name
		// ul-title-area
		section.top-bar-section
			// Right Nav Section 
			ul.right
				li
					a(href='#')
						i.fi-list
			// ul-right
		// section
	// nav
// fixed
br