include ../mixins/globals.jade
include ../../shared-mixins/globals.jade


html(lang='en-US')
head
  title #{head_title}
  meta(charset    ="utf-8"                                                                     )
  meta(http-equiv ="X-UA-Compatible"  content="IE=edge"                                        )
  meta(name       ="viewport"         content="width=device-width, initial-scale=1"            )
  meta(name       ="description"      content=""                                               )
  meta(name       ="author"           content=""                                               )

  link(rel='icon', href='/static/assets/favicons/favicon-modern.ico')
  link(href="../../../static/css/custom-style-flare.css" rel="stylesheet")