include ../mixins/globals.jade
include ../../shared-mixins/globals.jade

html(lang='en-US')
head
	meta(charset    ="utf-8"                                                                     )
	meta(http-equiv ="X-UA-Compatible"  content="IE=edge"                                        )
	meta(name       ="viewport"         content="width=device-width, initial-scale=1"            )
	meta(name       ="description"      content=""                                               )
	meta(name       ="author"           content=""                                               )

	link(rel="icon" sizes="57x57"       href="/deploy/assets/favicons/apple-touch-icon-57x57.png"              )
	link(rel="icon" sizes="114x114"     href="/deploy/assets/favicons/apple-touch-icon-114x114.png"            )
	link(rel="icon" sizes="72x72"       href="/deploy/assets/favicons/apple-touch-icon-72x72.png"              )
	link(rel="icon" sizes="144x144"     href="/deploy/assets/favicons/apple-touch-icon-144x144.png"            )
	link(rel="icon" sizes="60x60"       href="/deploy/assets/favicons/apple-touch-icon-60x60.png"              )
	link(rel="icon" sizes="120x120"     href="/deploy/assets/favicons/apple-touch-icon-120x120.png"            )
	link(rel="icon" sizes="76x76"       href="/deploy/assets/favicons/apple-touch-icon-76x76.png"              )
	link(rel="icon" sizes="152x152"     href="/deploy/assets/favicons/apple-touch-icon-152x152.png"            )
	link(rel="icon" type="image/png"    href="/deploy/assets/favicons/favicon-196x196.png" sizes="196x196"     )
	link(rel="icon" type="image/png"    href="/deploy/assets/favicons/favicon-160x160.png" sizes="160x160"     )
	link(rel="icon" type="image/png"    href="/deploy/assets/favicons/favicon-160x160.png" sizes="160x160"     )
	link(rel="icon" type="image/png"    href="/deploy/assets/favicons/favicon-96x96.png"   sizes="96x96"       )
	link(rel="icon" type="image/png"    href="/deploy/assets/favicons/favicon-16x16.png"   sizes="16x16"       )
	link(rel="icon" type="image/png"    href="/deploy/assets/favicons/favicon-32x32.png"   sizes="32x32"       )
	link(rel="icon" sizes="114x114"     href="/deploy/assets/favicons/apple-touch-icon-114x114.png"            )
	link(rel="icon" sizes="114x114"     href="/deploy/assets/favicons/apple-touch-icon-114x114.png"            )
	link(rel="icon" sizes="114x114"     href="/deploy/assets/favicons/apple-touch-icon-114x114.png"            )

	title #{head_title}

	// Foundation
	link(href="../../../static/css/foundation.css" rel="stylesheet")

	// Custom Styles Flare
	link(href="../../../static/css/custom-style-flare.css" rel="stylesheet")