include ../../content/images.jade
include ../../content/links.jade

.fixed
	nav.top-bar(data-topbar='data-topbar', role='navigation')
		section.top-bar-section
			.lge-container
				ul.flare
					li
						i.fi-map
						a(href='#')
							p Navigate
					li
						i.fi-home
						a(href='#')
							p Home
					li
						i.fi-info
						a(href='#')
							p Help
					li
						i.fi-torso
						a(href='#')
							p User
					li
						i.fi-power
						a(href='#')
							p Logout
		// Right Nav Section 
			ul.right
				li
					a(href='#') Menu Icon