include ../mixins/links.jade
include ../mixins/application-mixins.jade
include ../../shared-mixins/globals.jade

#logo
#user
    li
        a(href='../help/index')
            +info-icon
            span Docs
    li
        a(href='../landing-pages/index')
            +logout-icon
            span Logout
+search-bar