include ../../content/images.jade
include ../../content/links.jade

.fixed
	nav.top-bar(data-topbar='data-topbar', role='navigation')
		#team-mentor-navigation
			ul.title-area
				li.name
					a(href='main-app-view')
						+image-teammentor-logo__default
				// li-name
			// ul-title-area
			section.top-bar-section
				ul.right
					li
						a(href='#')
							i.fi-list
				// ul-right
				ul.center
					+links-flare-navbar__home
				// ul-center
			// section
		// team-mentor-navigation
	// nav
// fixed