include ../mixins/links.jade
include ../mixins/globals.jade

nav
    #logo
    +flare-search-bar-input
    #user
        button.dropdown.circle(href='#', data-dropdown='user-drop', aria-controls='user-drop', aria-expanded='false')
            +user-icon
            br
            ul#user-drop.f-dropdown(data-dropdown-content='', aria-hidden='true')
                li
                    a(href='#') Profile
                li
                    a(href='#') Docs
                li
                    a(href='#') Logout