include ../../content/images.jade
include ../../content/links.jade

.fixed
	.nav.top-bar(data-topbar role="navigation")
		ul.title-area
			li.name
				+image-teammentor-logo__default 
			li.toggle-topbar.menu-icon
				a(href="#")
					.span Menu
		.section.top-bar-section
			ul.right
				li.active Right Button Active
			ul.left
				li Left Nav Button