include ../../content/images.jade
include ../../content/links.jade

.fixed
	nav.top-bar(data-topbar='data-topbar', role='navigation')
		ul.title-area
			li.name
				a(href='#')
					+image-teammentor-logo__default
		section.top-bar-section
			// Right Nav Section 
			ul.right
				li
					a(href='#')
						i.fi-list