include ../../content/globals.jade
include ../../content/images.jade
include ../../content/links.jade

.fixed
	nav.top-bar(data-topbar='data-topbar', role='navigation')
		ul.title-area
			li.name
				a(href='#')
					+image-teammentor-logo__default
			// li-name
		// ul-title-area
		section.top-bar-section
			ul.right
				li
					a(href='#')
						i.fi-list
			// ul-right
			ul
				li
					a(href='#')
						+navigate-icon
						br
						|    Navigate
				li
					a(href='#')
						+home-icon
						br
						|    Home
				li
					a(href='#')
						+help-icon
						br
						|    Help
				li
					a(href='#')
						+user-icon
						br
						|    User
				li
					a(href='#')
						+logout-icon
						br
						|    Logout
			// ul
		// section
	// nav
// fixed
