include ../../content/images.jade
include ../../content/links.jade

.navbar.navbar-fixed-top(role='navigation')
	.lge-container
		.row
			.col-offset-3.col-6
				.row
					.col-1
						img(src='/deploy/assets/icons/identifyfix.png', alt='Identify vulnerabilities and reduce time to fix them')
						p Navigate
					.col-1
						img(src='/deploy/assets/icons/identifyfix.png', alt='Identify vulnerabilities and reduce time to fix them')
						p Home
					.col-1
						img(src='/deploy/assets/icons/identifyfix.png', alt='Identify vulnerabilities and reduce time to fix them')
						p Help
					.col-1
						img(src='/deploy/assets/icons/identifyfix.png', alt='Identify vulnerabilities and reduce time to fix them')
						p User
					.col-1
						img(src='/deploy/assets/icons/identifyfix.png', alt='Identify vulnerabilities and reduce time to fix them')
						p Logout
			.pull-right
				p Menu icon here