include ../../content/images.jade
include ../../content/links.jade

.fixed
	nav.top-bar(data-topbar='data-topbar', role='navigation')
		section.top-bar-section
			.lge-container
				ul
					li
						a(href='#')
							i.fi-map
							br
							|    Navigate
					li
						a(href='#')
							i.fi-home
							br
							|    Home
					li
						a(href='#')
							i.fi-info
							br
							|    Help
					li
						a(href='#')
							i.fi-torso
							br
							|    User
					li
						a(href='#')
							i.fi-power
							br
							|    Logout
		// Right Nav Section 
			ul.right
				li
					a(href='#') Menu Icon