include ../mixins/links.jade
include ../mixins/globals.jade
include ../mixins/application-mixins.jade

#logo
#user
    li
        a(href='../help/index')
            +help-link
    li
        a(href='../landing-pages/index')
            +logout-link
+search-bar