include ../../content/images.jade
include ../../content/links.jade

.fixed
	nav.top-bar(data-topbar='data-topbar', role='navigation')
		#team-mentor-navigation
			ul.title-area
				li.name
					a(href='#')
						+image-teammentor-logo__default
				// li-name
			// ul-title-area
			section.top-bar-section
				ul.right
					li
						a(href='#')
							i.fi-list
				// ul-right
				ul.center
					li
						a(href='../home/navigate.html')
							+navigate-icon
							p Navigate
					li
						a(href='../home/main-app-view.html')
							+home-icon
							p Home
					li
						a(href='../help/index.html')
							+help-icon
							p Help
					li
						a(href='../user/user.html')
							+user-icon
							p User
					li
						a(href='../getting-started/index-validation.html')
							+logout-icon
							p Logout
				// ul-center
			// section
		// team-mentor-navigation
	// nav
// fixed