include ../mixins/links.jade
include ../mixins/globals.jade
include ../mixins/application-mixins.jade
include ../poc/poc-mixins.jade

#logo
#user
    li
        a(href='../help/index')
            +help-link
    li
        a(href='../landing-pages/index')
            +logout-link
//button.dropdown.circle(href='#', data-dropdown='user-drop', aria-controls='user-drop', aria-expanded='false')
    +user-icon
    br
    ul#user-drop.f-dropdown(data-dropdown-content='', aria-hidden='true')
        li
            a(href='../user/user.html') Profile
        li
            a(href='../help/index') Docs
        li
            a(href='../landing-pages/index') Logout
+poc-search-bar