extends ../../content/_layouts/page_not_logged_in.jade

block content
	#application
		.row
			.col-3#help-nav
				.lge-container
					.div(data-spay="affix", data-offset-top="60", data-offset-bottom="200")
						if library
							each view in library.Views
								h3= view.Title
								.list-group
									each article in view.Articles
										a(href= '/help/' + article.Id)
											= article.Title
			.col-6#help-docs
				.lge-container
					if title
						h1= title
					!= content
