extends ../_layouts/page_home.jade

block content
	#application.lge-container
		.row
			.column-3.lge-container
				.div(data-spay="affix", data-offset-top="60", data-offset-bottom="200")
					h4.grey About TEAM Mentor
					ul.sidebar
						li What is new in this release?
						li Introduction to TEAM Mentor
						li Quick Start Guide
						li Support
					h4.grey Installation
					ul.sidebar
						li Minimum Requirements
						li Installing TEAM Mentor on IIS 6.0
						li Installing TEAM Mentor on IIS 7.0 and 7.5
						li Running TEAM Mentor locally (using Cassini)
						li Upgrading TEAM Mentor
					h4.grey Administration
					ul.sidebar
						li Managing Users
						li Installing Libraries
						li Removing Libraries
						li Editing the Default Configuration
						li Troubleshooting
						li User_Data Git Support
						li TM_Libraries Git Support
						li Configuring Email
						li Google Analytics
						li Active Directory Support
					h4.grey UI Elements
					ul.sidebar
						li Using the Control Panel
						li User Interface Overview
						li Signing Up for Regular Accounts
						li Article List Pane
						li Banner Pane
						li Filters Pane
						li Navigation Pane
						li Preview Pane
						li Forgot Password
					h4.grey Reading Content
					ul.sidebar
						li Navigating
						li Using the Search Function
						li Using the Filters
						li Opening an Article
						li Changing Layout and Collaborating
					h4.grey Editing Content
					ul.sidebar
						li Editing Overview
						li Editing Views
						li Editing Folders
						li Editing Libraries
						li Editing WikiText Articles
						li Editing HTML Articles
						li Edit Article Metadata
						li Linking Articles in WikiText
						li TEAM Mentor Wiki Markup
					h4.grey Eclipse for Fortify plugin
					ul.sidebar
						li About Eclipse Plugin
						li Requirements
						li Quick Start Installation
						li Installing TEAM Mentor Eclipse Plugin for Fortify
						li Updating
						li Using the TEAM Mentor Eclipse Plugin for Fortify
						li Using a Sample Vulnerable Application
						li How to Evaluate and What to Expect
						li Configuring TEAM Mentor Eclipse Plugin for Fortify
						li Linking TEAM Mentor instance account with the Eclipse Plugin
					h4.grey HP Fortify SCA UI Integration
					ul.sidebar
						li About TEAM Mentor HP Fortify SCA UI Integration
						li Installation
						li Updating TEAM Mentor Custom Rulepack
						li Using a Sample Vulnerable Application
						li How to Evaluate and What to Expect
						li Using TEAM Mentor Fortify SCA UI Integration
					h4.grey Visual Studio Plugin
					ul.sidebar
						li TEAM Mentor Plugin for Visual Studio
						li Visual Studio Plugin FAQ

			.column-6
				h2.grey TEAM Mentor Documents
				br

				p Welcome to the TEAM Mentor Documentation Website where you will find detailed information on how to install TEAM Mentor, how it works and how to customize it.

				br
				h3.dark-grey TEAM Mentor in action:

				p
					:markdown
						* [TEAM Mentor with OWASP Top 10 Library](https://owasp.teammentor.net/teamMentor)
						* [TEAM Mentor with SI Library](https://teammentor.net/teamMentor)
						* [Branded page for TEAM Mentor Evaluation](https://docs.teammentor.net/xml/Eval)
						* [Branded page for TEAM Mentor Customers](https://docs.teammentor.net/xml/Customer)

				br
				h3.dark-grey TEAM Mentor Related Sites

				p Other places to get information about TeamMentor:

				p
					:markdown
						* [TEAM Mentor Discussion Group](https://groups.google.com/a/securityinnovation.com/forum/#!forum/teammentor)
						* [TEAM Mentor information at Security Innovation website](https://www.securityinnovation.com/products/team-academy/secure-development-knowledgebase/)