extends ../../content/_layouts/page.jade
block content
	#application
		.row
			.col-3#help-nav
				.lge-container
					.div(data-spay="affix", data-offset-top="60", data-offset-bottom="200")
						if library
							each view in library.Views
								h4= view.Title
								ul.sidebar
									each article in view.Articles
										li
											a(href= '/help/' + article.Id)
												= article.Title
			.col-6#help-docs
				.lge-container
					if title
						h2= title
					!= content
