extends ../_layouts/page_home.jade
include ../getting-started/mixins/getting-started-mixins.jade

block content
	#application
		.row
			.col-3#left-nav
				.lge-container
					br
				// lge-container
			// column
			.col-6#results
				.lge-container
					+team-mentor-summary
					br
					hr
					include:md ../../content/teamMentor/help/video.md
					br
				// lge-container
			// column
			.col-3#right-nav
				.lge-container
					br
				// lge-container
			// column
		//row
	//application