//- Metadata Table
mixin metadata-table
	table
		tr
			td
				h5 Technology:
			td
				p Any
		tr
			td
				h5 Category:
			td
				p Authentication
		tr
			td
				h5 Phase:
			td
				p Implementation
		tr
			td
				h5 Type:
			td
				p Attack

//- Directory List
mixin directory-list
	h3 Fundamentals of Security
	.list-group
		a(href='fundamentals-of-security')
			table
				tr
					td A New ID Is Assigned on Login A New ID Is Assigned on Login
					td
						span.badge 14
				// tr
			// table
		// link
		a(href='fundamentals-of-security')
			table
				tr
					td Second Level Directory
					td
						span.badge 14
				// tr
			// table
		// link
		a(href='fundamentals-of-security')
			table
				tr
					td Second Level Directory
					td
						span.badge 14
				// tr
			// table
		// link
		a(href='fundamentals-of-security')
			table
				tr
					td Second Level Directory
					td
						span.badge 14
				// tr
			// table
		// link
		a(href='fundamentals-of-security')
			table
				tr
					td Second Level Directory
					td
						span.badge 14
				// tr
			// table
		// link
		a(href='fundamentals-of-security')
			table
				tr
					td Second Level Directory
					td
						span.badge 14
				// tr
			// table
		// link
		a(href='fundamentals-of-security')
			table
				tr
					td Second Level Directory
					td
						span.badge 14
				// tr
			// table
		// link
	// list-group