// Colours

$white: #FFFFFF;
$green: #8aaf3e;
$dark-green: #49661f;
$light-grey: #F5F5F5;
$grey: #aaaaaa;
$dark-grey: #444444;

.black {
	padding-top: 20px;
	background-color: #000000;
}

.green {
	color: $green;
}

.dark-green {
	color: $dark-green;
}

#white {
	margin-right: 15px;
	background-color: #FFFFFF;
	border: 1px solid #000000;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

#green {
	margin-right: 15px;
	background-color: #8aaf3e;
}

#dark-green {
	margin-right: 15px;
	background-color: #49661f;
}

#grey {
	margin-right: 15px;
	background-color: #aaaaaa;
}

#dark-grey {
	margin-right: 15px;
	background-color: #444444;
}

#black {
	margin-right: 15px;
	background-color: #000000;
}