// Colours

$white: #FFFFFF;
$green: #8aaf3e;
$dark-green: #6c9020;
$light-grey: #fcfcfc;
$grey: #aaaaaa;
$dark-grey: #444444;
$black: #000000;

.black {
	padding-top: 20px;
	background-color: $black;
}

.green {
	color: $green;
}

.dark-green {
	color: $dark-green;
}

.icons-green {
	color: $green;
	font-size: 60px;
	margin: 0 auto;
}

#white {
	background-color: $white;
	border: 1px solid $black;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

#green {
	background-color: $green;
}

#dark-green {
	background-color: $dark-green;
}

#grey {
	background-color: $grey;
}

#dark-grey {
	background-color: $dark-grey;
}

#black {
	background-color: $black;
}

#white, #green, #dark-green, #grey, #dark-grey, #black {
	width: 100%;
	margin-right: 15px;
}