//- Contents
//--- Base
//----- Structure
//----- Application
//----- Landing Pages


/* -----------------------------------*/
/* -------->>> STRUCTURE <<<----------*/
/* -----------------------------------*/

body {
	-webkit-flex-wrap: wrap;
	display: -webkit-flex;
	> * {
		@extend .border-box;
	}
}

/* -----------------------------------*/
/* -------->>> APPLICATION <<<--------*/
/* -----------------------------------*/

#application, #landing-page {
	-webkit-flex-wrap: wrap;
	-webkit-order: 6;
	display: -webkit-flex;
	height: 90%;
	overflow-y: auto;
	-webkit-flex: $full-width;
}
#landing-page {
	i {
		color: $green;
		font-size: 4em;
	}
}
#results {
  -webkit-order: 9;
  display: block;
  min-height: 1px;
  -webkit-flex-wrap: nowrap;
  -webkit-flex-direction: column;
}
.fixed {
  position: fixed;
  z-index: 90;
  width: 100%;
}
#search-bar {
}
#results-save-clear {
}
#articles {
  position: relative;
  margin-top: 50px;
  z-index: 1;
}
#copyright {
}
#left-nav, #loginwall {
	-webkit-order: 7;
}
#results {
	-webkit-order: 9;
	min-height: 70%;
}
#right-nav, #summary {
	-webkit-order: 8;
}
#left-nav, #results, #right-nav, #loginwall, #summary {
	-webkit-flex: $full-width;
	overflow-y: auto;
}
#left-nav, #right-nav {
	min-height: 1px;
	&:empty {
		display: none;
	}
}
#usp {
	margin: 0;
	padding-top: 70px;
}
#about, #features {
	margin: 0;
}
#footer {
	padding: 0 0 10px 0;
	h6 {
		margin: 0;
	}
}
#article-options dl.tabs dd, #related-options dl.tabs dd {
	width: $full-width;
}
#search-bar {
	width: $full-width;
	background: $off-white;
	padding: 10px 5px 5px 5px;
	margin: 0 auto;
	position: fixed;
	z-index: 96;
	input#search, a.button {
		box-shadow: 1px 1px 6px $grey;
	}
}
#results-save-clear {
	padding: 5px;
}
.alert-box {
	background-color: $white;
	border: 1px solid $green;
	color: $green;
	font-size: 14px;
	letter-spacing: 1px;
}
button, .button {
	-webkit-box-shadow: inset 0 -2px $green;
	background: $white;
	border-bottom: 2px solid $green;
	border-radius: 3px;
	border: transparent;
	border:1px solid $grey;
	box-shadow: inset 0 -2px $green;
	color: $green;
	display: inline-block;
	font-size: 14px;
	letter-spacing: 1px;
	padding: 15px 0 15px 0;
	text-align: center;
	text-transform: uppercase;
	transition: all 0.5s;
	width: $full-width;
	&:hover, &:active {
		-webkit-box-shadow: inset 0 -2px $dark-green;
		background: $off-white;
		border-bottom: 2px solid $dark-green;
		border-color: $dark-green;
		box-shadow: inset 0 -2px $dark-green;
		color: $dark-green;
		text-decoration: none;
		transition: all 0.5s;
		i {
			color: $dark-green;
		}
	}
	#search-button, #filters-button {
		border: 1px solid $grey;
		height: 48px;
		padding: 15px 5px 5px 5px;
		i {
			color: $green;
 		}
 	}
	&.app {
		-webkit-box-shadow: none;
		background: $light-green;
		border-radius: 3px;
		border: 1px solid $white;
		box-shadow: none;
		color: $white;
		height: auto;
		margin-top: 15px;
		padding: 5px 0;
		text-align: center;
		&:hover, &:active {
			background: $green;
			border-color: $dark-green;
			color: $white;
		}
		i {
			color: $white;
			margin: 0 auto;
			text-align: center;
		}
	}
}

input {
	[type="text"], [type="password"], [type="date"], [type="datetime"], [type="datetime-local"], [type="month"], [type="week"], [type="email"], [type="number"], [type="search"], [type="tel"], [type="time"], [type="url"], textarea {
		@extend .border-box;
		background-color: $white;
		border-radius: 3px;
		border: 1px solid $grey;
		color: $grey;
		font-family: inherit;
		font-size: 1em;
		height: 3rem;
		margin: 0 0 5px 0;
		padding: 0 0 0 0.5rem;
		width: $full-width;
		&:focus {
			background: $off-white;
			border-color: $green;
			outline: medium none;
		}
	}
	#search {
		border-radius: 0px;
		border: 1px solid $grey;
		width: $full-width;
		&:active, &:focus {
			background: $white;
			border-bottom: 3px solid $green;
		}
	}
}

#filters {
	input[type=radio], input[type=checkbox] {
		display: none;
		+ label {
			background-color: $grey;
			background-repeat: no-repeat;
			display: inline-block;
			float: right;
			line-height: 10px;
			padding: 0 0 0 40px;
		}
		&:checked + label {
			background-position: 0 -15px;
		}
	}
	input[type=checkbox] + label {
		background-image:url('../assets/icons/tick.png');
	}
	input[type=radio] + label {
		background-image: url('../assets/icons/radio.png');
		margin-left: 20px;
	}
}
