//- Contents
//--- Media Queries


/* -----------------------------------*/
/* ------>>> MEDIA QUERIES <<<--------*/
/* -----------------------------------*/


@media only screen and (min-width : 600px) {
	nav {
		-webkit-flex-wrap: nowrap;
	}
	#application {
		flex-direction: row;
		-webkit-flex-wrap: wrap;
	}
	#logo {
		-webkit-order: 2;
		flex: 1;
	}
	#links {
		-webkit-order: 3;
		text-align: center;
		flex: 2;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row /* works with row or column */
		flex-direction: row;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		justify-content: center;
	}
	#links li {
		padding-left: 30px;
	}
	#links li:-child {
		padding-left: 0;
	}
	#menu-icon {
		-webkit-order: 4;
		flex: 1;
	}
	#left-nav {
		-webkit-flex: 50%;
	}
	#left-nav:empty, #right-nav:empty {
		display: block;
	}
	#results {
		-webkit-order: 9;
		-webkit-flex: $full-width;
	}
	#right-nav {
		-webkit-order: 8;
		-webkit-flex: 50%;
	}
}

@media only screen and (min-width : 900px) {
	#application {
		-webkit-flex-wrap: nowrap;
	}
	#left-nav, #right-nav {
		flex: 1;
	}
	#results {
		flex: 2;
		-webkit-order: 8;
	}
	.fixed {
		width: 50%;
	}
	#right-nav {
		-webkit-order: 9;
	}
	#article-options dl.tabs dd {
		width: 33%;
	}
	#related-options dl.tabs dd {
		width: 50%;
	}
	#loginwall > * {
		width: 90%;
		margin: 0 auto;
		padding-top: 20px;
	}
}