//- Contents
//--- Navigation
//----- Top Navigation
//----- Sub Navigation


/* -----------------------------------*/
/* -------->>> NAVIGATION <<<---------*/
/* -----------------------------------*/

nav, nav a, #customer, #links, #lp-links {
	-webkit-flex: 100%;
}
nav {
	-webkit-flex-direction: row;
	-webkit-flex-wrap: wrap;
	-webkit-order: 1;
	display: -webkit-flex;
	z-index: 99;
	a, p {
		color: $green;
		text-decoration: none;
		text-transform: uppercase;
		&:hover {
			color: $dark-green;
			text-decoration: none;
		}
	}
	a {
		font-size: 20px;
	}
	p {
		font-size: 14px;
		letter-spacing: 1px;
	}
}
#customer {
	-webkit-order: 2;
	-webkit-flex: 110%;
}
#logo {
	-webkit-order: 3;
	-webkit-flex: 80%;
}
#tm-logo, #si-logo {
	background:url('../assets/logos/logos.jpg') no-repeat;
	height: 50px;
	margin: 0 auto;
}
#tm-logo {
	background-position: 0px 0px;
	margin-bottom: 10px;
	width: 250px;
}
#si-logo {
	background-position: 0px -50px;
	width: 190px;
}

#links {
  -webkit-order: 5;
  -webkit-flex: 100%;
}

#links li {
  display: block;
  text-align: center;
  margin: 0;
}

#links p {
  padding: 0;
  margin: 0;
}

#lp-links {
  -webkit-order: 5;
  -webkit-flex: 100%;
  text-align: center;
  list-style-type: none;
}

#menu-icon, #lp-menu-icon {
  -webkit-order: 4;
  -webkit-flex: 20%;
  text-align: right;
}

#lp-menu-icon {
  -webkit-order: 4;
  -webkit-flex: 20%;
  text-align: right;
}

/* -----------------------------------*/
/* ------>>> SUB-NAVIGATION <<<-------*/
/* -----------------------------------*/

ul.side-nav {
	display: block;
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-position: outside;
	font-size: 14px;
	li {
		padding: 10px;
		border-bottom: 1px solid $light-grey;
		&::last-child {
			border-bottom: transparent;
		}
		&li:hover {
			background-color: #e3e3e3;
		}
		a {
			text-decoration: none;
		}
	}
	span.badge {
		margin: 0 auto;
		vertical-align: middle;
		float: right;
	}
}