//- Contents
//--- Media Queries

/* -----------------------------------*/
/* ------->>> MEDIA QUERIES <<<-------*/
/* -----------------------------------*/

@media (min-width: 853px) {
	#application {
		margin: 60px 0 0 0;
	}
	#help-nav, #help-docs {
		margin-top: 70px;
	}
	#customer-navigation ul {
		text-align: left;
	}
	#contact-information {
		margin: 50px 0 0 0;
	}
	#team-mentor-navigation {
		height: 60px;
		#tm-logo {
			display: inline-block;
			float: left;
			margin: 5px 0 0 20px;
			max-width: 36%;
		}
		#links {
			display: inline-block;
			float: right;
			max-width: 60%;
			&.icons {
				padding: 20px 0 0 0;
				text-align: right;
				ul {
					padding: 0;
					li {
						padding: 0 30px 0 0;
						display: inline-block;
					}
				}
			}
			&.text-links {
				padding: 20px 0 0 0;
				ul {
					text-align: right;
					li {
						display: inline;
						width: 100%;
					}
				}
			}
		}
	}
	#landing-page {
		margin-top: 0;
	}
	#loginwall, #summary {
		max-width: 90%;
	}
	#loginwall {
		padding: 100px 0 0 0;
	}
	#summary {
		padding: 80px 0 0 0;
	}
	#search {
		width: 48%;
	}
	#si-logo {
		margin: 0;
	}
	#features {
		margin: 80px 0 50px 0;
	}
}

@media (min-width: 999px) {
	#team-mentor-navigation {
		height: 65px;
	}
	#links {
		&.text-links ul li {
			padding: 0 40px 0 0;
		}
	}
	h1 {
		font-size: 3em;
		line-height: 1em;
	}
	h2 {
		font-size: 2.25em;
		line-height: 1em;
	}
	h3 {
		font-size: 1.75em;
		line-height: 1em;
	}
	h4 {
		font-size: 1.125em;
		line-height: 1em;
	}
	h5 {
		font-size: 1em;
		line-height: 1em;
	}
}