//- Contents
//--- Base
//----- Application

/* -----------------------------------*/
/* ------->>> APPLICATION <<<---------*/
/* -----------------------------------*/
#application {
	margin-top: 160px;
}
#form {
	border: 1px solid $light-grey;
	background: $white;
}
#loginwall {
	margin-top: 180px;
}
#toc-content {
	h4 {
		padding-top: 100px;
		margin-top: -80px;
	}
}
#landing-page {
  margin-top: 160px;
  background: $white;
  height: 100%;
}
.lge-container {
  max-width: 100%;
  padding: 15px;
  margin: 0 auto;
}
#loginwall, #summary {
	margin: 0 auto;
	max-width: 95%;
}
#main-app-view {
  margin-top: 110px;
}
#reasons {
	padding-top: 40px;
}
#results {
	background: $white;
	margin: 0 0 10px 0;
	border-radius: $border;
	border: 1px solid $light-grey;
	width: 100%;
}
#results-2 {
	margin-top: 140px;
	border-radius: $border;
}
#search-div, #search-div-2 {
	background: $off-white;
	width: 100%;
	position: fixed;
	top: 140px;
	left: 0;
	z-index: 96;
}
#search-div-2 {
  margin: 0 auto;
}
#search-input {
  border: 1px solid $light-grey;
  background: $white;
  border-radius: $border;
  input {
  	border: none;
  	background: none;
  	padding-top: 5px;
  }
}
.vertical-align {
  margin-top: 10px;
}
.right {
  float: right !important;
}
.left {
  float: left !important;
}