//- Contents
//--- Navigation
//----- Top Navigation
//----- Sub Navigation
//-------- List Groups
//-------- Tables
//-------- Breadcrumbs

/* -----------------------------------*/
/* ------>>> TOP NAVIGATION <<<-------*/
/* -----------------------------------*/

.fixed {
	left: 0;
	position: fixed;
	top: 0;
	width: $full-width;
	z-index: 99;
	#customer-navigation {
		background-color: $white;
		display: block;
		max-height: 100px;
		ul {
			padding: 5px 0 0 25px;
			text-align: center;
		}
	}
	#team-mentor-navigation {
		background-color: $white;
		height: 80px;
		text-align: center;
		#title-area {
			margin: 0 auto;
			width: 250px;
			#tm-logo {
				background-position: 0px 0px;
				background:url('../assets/logos/logos.jpg') no-repeat;
				height: 50px;
				margin: 0 auto;
				width: 250px;
  				margin-bottom: 10px;
			}
		}
		#links {
			width: $full-width;
			padding: 0 10px 5px 0;
			background: transparent;
			text-align: center;
			ul {
				padding: 0;
				width: $full-width;
				list-style-type: none;
				li {
					display: inline;
					padding: 0 10px 0 0;
					a {
						text-transform: uppercase;
						text-decoration: none;
						letter-spacing: 1px;
						&:hover, &:focus, &:active {
							text-decoration: none;
							color: $dark-green
						}
					}
				}
			}
			&.icons {
				display: inline-block;
				ul li {
					display: inline-block;
					padding: 0 10px 0 0;
					i {
						padding: 0 5px 0 0;
					}
				}
			}
		}
	}
}

/* -----------------------------------*/
/* ------>>> SUB NAVIGATION <<<-------*/
/* -----------------------------------*/

.list-group {
	h5, h4 {
		margin: 5px 0 0 0;
	}
	a {
		border-bottom: 1px solid $light-grey;
		display: block;
		font-size: 0.95em;
		padding: 7px 5px 7px 10px;
		text-decoration: none;
		&:last-child{
	 		border: 0;
		}
		&:hover {
			text-decoration: none;
			background-color: $light-grey;
		}
		&:hover, &:focus, &:active, &:visited {
			outline: none;
		}
	}
	span.badge {
		float: right;
		margin: 2px 10px 0 10px;
	}
}

.nav table {
	width: 100%;
	font-size: 1em;
	color: $dark-grey;
	border-collapse: collapse;
	margin-top: -20px;
	tr {
		border-bottom: 1px solid $light-grey;
		td {
			height: 30px;
			padding: 5px;
			font-size: 14px;
		}
		&:last-child {
			border-bottom: transparent;
		}
		&:hover {
			background-color: $light-grey;
			color: $dark-green;
		}
	}
	a {
		text-decoration: none;
	}
	span.badge {
		float: right;
	}
	label {
		font-weight: normal;
	}
}

.sub-nav {
	background: $light-grey;
	display: block;
	overflow: hidden;
	padding: 1em;
	width: auto;
	dt {
		background: $light-green;
		border: 1px solid $green;
		box-shadow: 1px 1px 6px $grey;
		color: $white;
		letter-spacing: 1px;
		margin: 0;
		padding: 10px 10px;
		text-transform: uppercase;
	}
	dd {
		padding: 12px 0;
		margin: 0 0 0 20px;
	}
	a:after {
		content: " / ";
		padding-left: 10px;
		color: $grey;
	}
	a:before {
		content: " ";
	}
	dd:last-child > a:after {
		content: ""
	}
	.bc-container {
		background-color: white;
		height: 2.75em;
		margin-left: 80px;
		max-width: 100%;
	}
	dt, dd, li {
		float: left;
		display: inline;
		font-weight: normal;
		font-size: 14px;
		a {
			text-decoration: none;
			color: $grey;
			:hover {
				color: $dark-green;
			}
		}
		&:active a {
			color: $green;
			&:hover {
				border-bottom: 2px solid $dark-green;
				color: $dark-green;
			}
		}
	}
}

#article-i-definitions, #article-ii-deliverables, #article-iii-license-grant, #article-iv-ownership-of-intellectual-property, 
#article-v-marketing-requirements, #article-vi-trademarks, #article-vii-support, #article-viii-fees-royalties-and-payments, 
#article-ix-payment-instructions, #article-x-records-reports-and-audit-rights, #article-xi-contract-administrative-contacts, 
#article-xii-assignment, #article-xiii-confidentiality, #article-xiv-warranties, #article-xv-indemnities, 
#article-xvi-limitations, #article-xvii-terms-of-agreements, #article-xviii-terminiation, #article-xix-effect-of-termination, 
#article-xx-general-provisions, #appendix-a, #appendix-b {
  padding-top: 100px;
  margin-top: -80px;
}