/*------------------------------------*
   STRUCTURE
*------------------------------------*/
.border-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font: $font-stack;
}
html, body {
  height: 100%;
  width: 100%;
}
body {
  background: $off-white;
}
body > * {
  @include border-box;
}
/*------------------------------------*
   LANDING PAGES
*------------------------------------*/
#about, #about-us, #call-to-action, #clients, #copyright, #features, #footer, #reasons, #usp {
  width: 100%;
  background: $white;
  text-align: center;
}
#about, #call-to-action {
  background-attachment: fixed;
  height: 400px;
}
#about, #call-to-action, #usp {
  background: url(../assets/stock-img/bg-img.jpg) no-repeat;
  background-size: cover;
}
#about {
  background-position: 0px -1400px;
}
#about, #usp {
  margin-top: 60px;
  padding: 0 0 50px 0;
  h2 {
    color: $white;
    line-height: 1.25em;
    padding-top: 100px;
  }
}
#about-us {
  padding: 40px 0;
}
#call-to-action {
  background-position: 0px -800px;
  h1 {
    color: $white;
    padding: 80px 0 0 0;
  }
}
#clients {
  padding: 0 0 80px 0;
}
#copyright {
  padding: 20px 0 5px 0;
  ul {
    list-style-type: none;
    padding: 0;
    li {
      display:block
    }
  }
  p, a {
    font-size: 12px;
    margin: 0 0 5px 0;
  }
  i {
    font-size: 14px;
    margin-right: 10px;
  }
}
#features {
  margin: 50px 0 0 0;
  padding: 0 0 70px 0;
  i {
    color: $green;
    font-size: 4em;
  }
  p {
    text-align: left;
  }
}
#footer {
  ul {
    list-style-type: none;
    padding: 7px 0 0 0;
    li {
      font-size: 12px;
      margin: 0 0 5px 0;
    }
  }
  h5 {
    margin-bottom: 15px
  }
  i {
    font-size: 16px;
    margin-right: 10px;
  }
}
#usp {
  background-attachment: fixed;
  background-position: 0px 0px;
  height: 450px;
}
/*------------------------------------*
   APPLICATION
*------------------------------------*/
#application {
  background: $off-white;
  width: 100%;
}
.bg {
  background: $white;
  border-radius: $border;
  border: 1px solid $light-grey;
  margin-bottom: 20px;
  padding: 20px;
  padding-top: 5px;
}
#list-view-article {
  background: $white;
  border-radius: $border;
  border: 1px solid $light-grey;
  margin-bottom: 20px;
  padding: 5px;
  h3, h4 {
    border-bottom: 1px solid $light-grey;
    margin-bottom: 15px;
    padding: 0 0 10px 0;
  }
}
img {
  height: auto;
  margin: 0 auto;
}
#tm-logo, #si-logo {
  background:url('../assets/logos/logos.png') no-repeat;
  margin: 0 auto;
}
#tm-logo {
  background-position: 0px 0px;
  height: 40px;
}
#si-logo {
  background-position: 0px -43px;
  height: 50px;
  width: 160px;
}
/*------------------------------------*
   SUB-NAVIGATION
*------------------------------------*/
.sub-nav {
  background: $white;
  border-radius: $border;
  border: 1px solid $light-grey;
  display: block;
  font-size: 12px;
  overflow: auto;
  text-transform: uppercase;
  white-space: pre-wrap;
  width: 100%;
}
.sub-nav a:after { content: " / "; padding-left: 20px; color: $grey;}
.sub-nav a:before { content: " "; }
.sub-nav dd:last-child > a:after { content: "" }
.sub-nav dt, .sub-nav dd, .sub-nav li {
  float: left;
  display: inline;
  font-weight: normal;
  margin: 0 0 0 10px;
  line-height: 2em;
}
.sub-nav dt a, .sub-nav dd a, .sub-nav li a {
  text-align: left;
  color: $grey;
}
.sub-nav dt a:hover, .sub-nav dd a:hover, .sub-nav li a:hover {
  color: $light-green;
}
.sub-nav dt.active a, .sub-nav dd.active a, .sub-nav li.active a {
  color: $green;
}
.sub-nav dt.active a:hover, .sub-nav dd.active a:hover, .sub-nav li.active a:hover,  {
  color: $dark-green;
}
/*------------------------------------*
   FORMS AND INPUTS
*------------------------------------*/
form p {
  font-size: 14px;
  margin: 0 0 10px 0;
}
label {
  display: inline-block;
  padding: 3px 0 0 0;
  margin: 0 0 5px 0;
}
label, .label {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 700;
  color: $dark-grey;
}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"],
input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"],
input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea, select {
  background-color: $off-white;
  border-radius: $border;
  border: 2px solid $light-grey;
  border: none;
  color: $grey;
  font-family: inherit;
  font-size: 1em;
  height: 3rem;
  include border-box;
  margin: 0 0 5px 0;
  padding: 0 0 0 0.5em;
  width: 100%;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus,
input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus, select: focus {
  outline: none;
  border: 2px solid $grey;
}
/*------------------------------------*
   TYPOGRAPHY
*------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}
h1, h2, h3 {
  font-weight: normal;
  color: $grey;
}
h4, h5, h6, p {
  color: $dark-grey;
}
h1 {
  font-size: 2em;
  line-height: 1.25em;
}
h2 {
  font-size: 1.625em;
  line-height: 1.153em;
}
h3 {
  font-size: 1.375em;
  line-height: 1.136em;
}
h4 {
  font-size: 1.125em;
  line-height: 1.11em;
}
h5 {
  font-size: 1.105em;
  line-height: 1.11em;
}
p {
  font-size: 1em;
  line-height: 1.5em;
}
ul, ol {
  margin: 0;
}
code, pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
pre {
  display: block;
  padding: 20px;
  line-height: 1.5;
  color: $grey;
  word-break: break-all;
  word-wrap: break-word;
  background-color: $off-white;
  border: 1px solid $light-grey;
  border-radius: $border;
  margin: 30px 0 30px 0;
  overflow: auto;
}
hr {
  margin: 0 auto;
  width: 70%;
  color: $off-white;
  margin: 40px 0;
}
i {
  color: $green;
}
a {
  color: $dark-grey;
  text-decoration: none;
  &:hover, &:active, &:focus {
    color: $dark-green
  }
  &.action{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    color: $green;
    &:hover, &:focus, &:active {
      color: $dark-green;
    }
  }
  &.minor {
    color: $grey;
    font-size: 14px;
    &:hover {
      color: $dark-grey;
    }
  }
}
.text-center {
  text-align: center;
  margin: 0 auto;
}
.text-right {
  text-align: right !important;
}
/*------------------------------------*
   BUTTON
*------------------------------------*/
button {
  background: $green;
  border-radius: $border;
  border: none;
  color: $white;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 15px 0 15px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
button:hover, button:focus, button:active {
  background: $light-green;
}
/*------------------------------------*
   MICRO-ELEMENTS
*------------------------------------*/
.alert {
  margin: 10px 0;
  background-color: $white;
  border: 1px solid $green;
  border-radius: $border;
  color: $green;
  font-size: 14px;
  &.active {
    background-color: $light-grey;
    color: $white;
    border: 1px solid $light-grey;
  }
}
.badge {
  min-width: 2em;
  height: 1.5em;
  line-height: 1.75em;
  text-align: center;
  color: $white;
  background: $grey;
  border-radius: 10px;
  font-size: 12px;
  padding: 2px 2px 2px 1px;
  margin-top: 3px;
}
span.rwd-line {
  display: block;
}
/*------------------------------------*
   MEDIA QUERIES
*------------------------------------*/
@media only screen and (min-width : 900px) {
  h1 {
    font-size: 3em;
    line-height: 1.5em;
  }
  h2 {
    font-size: 2.25em;
    line-height: 1.5em;
  }
  h3 {
    font-size: 1.75em;
    line-height: 1.5em;
  }
  h4 {
    font-size: 1.125em;
    line-height: 1.5em;
  }
  h5 {
    font-size: 1em;
    line-height: 1em;
  }
}