$black: #000000;
$dark-green: #6c9020;
$dark-grey: #444444;
$font-stack: 100% Helvetica, sans-serif;
$full-width: 100%;
$green: #8aaf3e;
$grey: #aaaaaa;
$light-grey: #dbdbdb;
$white: #FFFFFF;

.border-box {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}