$black: #000000;
$dark-green: #6c9020;
$dark-grey: #444444;
$med-grey: #7b7b7b;
$font-stack: 100% Helvetica, sans-serif;
$light-green: #b4cf7b;
$green: #8aaf3e;
$grey: #aaaaaa;
$light-grey: #dbdbdb;
$off-white: #fafafa;
$white: #FFFFFF;
$border: 3px;