// Variables
$asset-path: '../../deploy/assets/';
$font-stack: Helvetica, sans-serif;
$nav-padding-top: 100px;
$full-width: 100%;

@import 'columns';
@import 'colours';

// Layout and Structure

html {
	font: 100% $font-stack;
}

body {
	max-width: $full-width;
	margin: 0;
	padding: 0;
	line-height: 1.5;
	background: $white;
}

#about {
	background: url(#{$asset-path}/images/bgthree.jpg);
}

#about, #usp {
	width: $full-width;
	padding-top: $nav-padding-top;
	padding-bottom: 80px;
	background-color: $green;
	text-align: center;

	h1 {
		color: $white;
	}
}

#about-us {
	padding: 40px 0 40px 0;
}

#application {
	width: $full-width;
	height: 100%;
}

#box {
	width: 75%;
	margin: 30px auto 30px auto !important;
	border: 1px solid $green;
	padding: 7px 40px 10px 40px;

	h4 {
		color: $green !important;
	}
}

#call-to-action {
	padding: 100px 0 110px 0;
	background: url(#{$asset-path}/images/bgtwo.jpg);
	background-color: $dark-green;
	text-align: center;
	width: $full-width;

	h1 {
		color: $white;
	}
}

#clients {
	width: $full-width;
	padding: 40px 0 80px 0;
	text-align: center;
}

.collapse {
	margin-bottom: -50px;
}

#copyright {
	width: $full-width;
	padding-bottom: 30px;

	p, a {
		font-size: 12px;
		text-align: center;
		font-weight: normal;
		letter-spacing: 0px;
	}

	a {
		text-transform: none !important;
		text-decoration: underline;
	}
}

#description {
	width: 100%;
	margin-right: 15px;
	padding: 5px 0 5px 0;
	background-color: $light-grey;
	text-align: center;
}

#details {
	background: $green;
}

#features {
	width: $full-width;
	padding-bottom: 50px;

	h2 {
		text-align: center;
	}

	i {
		font-size: 60px;
		color: $green;
		margin: 0 auto;
	}
}

#footer {
	width: $full-width;
	padding: 10px 0 10px 0;
	text-align: center;

	a {
		color: $dark-grey;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 10px;
	}
}

#instructions {
	background: $white;
	border: 1px solid $green;
	padding: 0 20px 25px 20px;
}

#reasons {
	width: $full-width;
	padding-top: 70px;

	h2, i {
		text-align: center;
	}

	i {
		font-size: 60px;
		color: $green;
		margin: 0 auto;
	}
}

#usp {
	background: url(#{$asset-path}/images/bgone.jpg);
}

#usp, #call-to-action {
	button {
		padding: 20px 0 20px 0;
		background-color: $white;
		border: none;

		&:hover, &:active {
			color: $white !important;
			background-color: $green;
		}
	}
}

.vertical-align {
	margin-top: 10px;
}

.lge-container {
	max-width: 96%;
	margin: 0 auto;
}

.right {
	float: right !important;
}

.left {
	float: left !important;
}

// Images

img {
	display: block;
	max-width: $full-width;
	height: auto;
	margin: 0 auto;
}

.long {
	height: 100px;
}

.short {
	height: 40px;
}

// Forms

form, .form-group {
	margin-bottom: 15px;
	list-style-type: none;
}

label {
	display: inline-block;
	padding: 3px 0 0 0;
	margin-bottom: 5px;
	font-weight: bold;
	color: $dark-grey;
}

// Navigation

.fixed {
	position: fixed;
	width: 100%;
	height: 60px;
	left: 0;
	top: 0;
	z-index: 99;
}

nav.top-bar {
	z-index: 100000;
	padding: 0;
	margin-bottom: 100px;
	background: $white;

	ul.title-area {
		padding: 5px 0 0 5px;
		list-style-type: none;
		float: left;
	}

	ul.menu-icon.right {
		padding: 5px 0 0 5px;
		float: right;
	}

	.jade-icons {
		margin-top: 10px;
	}

	section.top-bar-section {
		padding-left: 10%;
		float: left;

		li:not(.has-form) a:not(.button) {
			line-height: 50px;
		}
		i {
			font-size: 16px;
		}
		ul {
			padding-top: 5px;
			padding-left: 0;
			display: inline-block !important;
			list-style-type: none;
			background: none;

			li {
				display: inline-block;
				padding-right: 30px;
				text-align: center;

				a, p {
					text-transform: uppercase;
					text-decoration: none;
					letter-spacing: 1px;
					font-size: 14px;
					font-weight: 700;
					background: $white;
					color: $green !important;
					line-height: 0.5em;

					&:hover {
						color: $dark-green;
					}
				}
			}
		}
	}
}

.right {
	float: right;
}

#customer-navigation {
	background-color: $white;
	width: 100%;
	height: 45px;

	ul {
		padding: 5px 0 0 25px;
	}
}

#team-mentor-navigation {
	background-color: $white;
	padding-left: 20px;
	width: 100%;
	height: 70px;

	ul {
		&.menu-icon.right {
			margin: 20px 25px 0 0;

			li {
				list-style-type: none;
			}
		}
	}
}

// Typography

h1 {
	font-size: 36px;
	font-weight: bold;
	color: $grey;
}

h2 {
	font-size: 30px;
	font-weight: bold;
	color: $grey;
}

h3 {
	font-size: 24px;
	font-weight: bold;
	color: $grey;
}

h4 {
	font-size: 18px;
	font-weight: bold;
	line-height: 1.5em;
	color: $dark-grey;
}

h5 {
	font-size: 16px;
	font-weight: bold;
	color: $dark-grey;
}

h1, h2, h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}

h4, h5, h6 {
	margin-top: 20px;
	margin-bottom: 5px;
}

p, li {
	font-size: 16px;
	line-height: 1.5em;
	color: $dark-grey;
	orphans: 3;
	widows: 3;
}

ul, ol {
	margin-left: 0;
	margin-bottom: 0;
	margin-top: 0;

	ul {
		margin-bottom: 0;
	}
}

code, pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

pre {
	display: block;
	padding: 20px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 1.5;
	color: $dark-grey;
	word-break: break-all;
	word-wrap: break-word;
	background-color: $light-grey;
	border: 1px solid $grey;
	border-radius: 0px;
	margin: 30px 0 30px 0;
	overflow: auto;
}

.text-center {
	text-align: center;
	margin: 0 auto;
}

.normal {
	font-weight: normal;
}

.strong {
	font-weight: bold;
}

hr {
	margin: 0 auto;
	width: 70%;
	color: $light-grey;
	margin-top: 40px;
	margin-bottom: 40px;
}

a {
	color: $dark-grey;
	text-decoration: underline;

	&:hover, &:active, &:focus {
		color: $dark-green;
		text-decoration: underline;
	}

	&.action {
		text-transform: uppercase;
		text-decoration: none;
		letter-spacing: 1px;
		font-size: 14px;
		font-weight: 700;
		color: $green;

		&:hover, &:focus, &:active {
			color: $dark-green;
		}
	}
}

button, .button {
	font-size: 14px;
	background-color: $white;
	color: $green;
	width: 100% !important;
	text-transform: uppercase;
	letter-spacing: 1px;

	&:hover, &:focus {
		background-color: $white;
		color: $dark-green !important;
		text-decoration: none;
	}

	&.postfix {
		color: $green !important;
		font-size: 16px;
		padding-top: 7px;
		border: 1px solid $grey;
		height: 3rem;
		border-left: none;

		&:hover {
			color: $dark-green !important;
			background: $white;
		}
	}
}

// Input Groups

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
	width: $full-width !important;
	background-color: $white;
	font-family: inherit;
	border: 1px solid $grey;
	box-shadow: none;
	color: $dark-grey;
	display: block;
	font-size: 16px;
	padding: 0.5rem;
	height: 3rem;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;

	&:focus {
		background: $white;
		border-color: $green;
		outline: medium none;
	}
}

select {
	width: $full-width;
	height: 3em;
	display: block;
	background-color: $white;
	font-family: inherit;
	font-size: 16px;
	border: 1px solid $grey;
	box-shadow: none;
	color: $dark-grey;
}

.input-group {
	display: table;
	float: left;
	width: $full-width;

	.form-control {
		display: table-cell;
		height: 53px;
	}

	.input-group-btn {
		display: table-cell;
		border-left: none !important;
		width: 100px;
		max-width: $full-width;
		vertical-align: middle;
	}
}


// Buttons

button {
	display: inline-block;
	padding: 15px 0 15px 0;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	background: $white;
	border: 1px solid $green;
	color: $green;

	&:hover, &:active {
		color: $dark-green;
	}
}

// Badges

.badge {
	min-width: 10px;
	padding: 3px 7px;
	font-size: 12px;
	color: $white;
	background-color: $grey;
	text-align: center;
	border-radius: 10px;
}

// Progress Bar

.progress {
	height: 20px;
	background-color: $light-grey;
	border-radius: 4px;
	box-shadow: none;
}

.progress-bar {
	height: $full-width;
	color: $white;
	background-color: $green;
}

// List Group and List Group Items

.list-group {
	height: 100%;
	h5, p {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	a {
		display: block;
		padding: 10px;
		margin-bottom: 5px;
		text-decoration: none;

		&:hover {
			text-decoration: none;
			background-color: $light-grey;
		}
	}

	table {
		border-color: transparent;
	}

	span.badge {
		float: right;
	}
}

// Alerts and Warnings

.alert-box {
	padding: 15px;
	margin-bottom: 0px;
	background: $white;
	color: $green;
	border: none;
	font-size: inherit;
	font-weight: 700;
}

// Tables and Table Cells

table {
	width: $full-width;
	font-size: 16px;
	color: $dark-grey;

	td {
		padding-left: 10px;
		padding-right: 10px;
		height: 30px;
	}
}

// Breadcrumbs

.breadcrumbs {
	padding-left: 10px;
	background: $white;
	border: none;

	li {
		display: inline-block;

		&.current a {
			color: $green;
		}

		a {
			font-size: 12px;
			font-weight: 700;
			letter-spacing: 1px;
			text-transform: uppercase;
			text-decoration: none;
			color: $grey;

			&:hover {
				color: $green !important;
			}
		}

		&:first-child:before {
			content: " ";
			margin: 0px;
		}

		&:before {
			content: "/";
			margin: 0 20px;
		}
	}
}