// HOW TO UNDERSTAND, USE AND EDIT THIS STYLESHEET

// TEAM Mentor was built mobile first , so the structure of this file means that styles without media queries apply to mobile and carry out throughout the whole application ONLY if there are no over-riding styles in the media queries at the end of the file.

// The structure for the file follows an hierarchal layout. Beginning from the top, everything is laid out in the order it appears. Styles are applied by how they affect the structure of an item followed by how they make an item appear.

// |- Imports
// |- Variables
// |- Layout & Structure
//  --|- Navigation
//  --|- Application
//  ----|- Loginwall
//  ----|- Accordion
//  ----|- Tabs
// |- Media Queries

// IMPORTS

@import 'colours';

// VARIABLES
$full-width: 100%;

//- LAYOUT & STRUCTURE
body {
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
	> * {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}

//- NAVIGATION
nav {
	height: auto;
	-webkit-order: 1;
	-webkit-flex: 100%;
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
	-webkit-flex-direction: row;
	#customer {
		-webkit-order: 2;
		-webkit-flex: 100%;
		img {
			margin: 5px 0 0 10px;
		}
	}
	#logo {
		-webkit-order: 3;
		-webkit-flex: 50%;
		margin: 5px 0 0 0;
		img {
			margin: 0 0 0 10px;
		}
	}
	#menu-icon {
		-webkit-order: 4;
		-webkit-flex: 10%;
		text-align: right;
		padding: 20px 10px 0 0;
	}
	ul#links {
		margin: 0 auto;
		padding-top: 18px;
		-webkit-order: 5;
		-webkit-flex: 100%;
		text-align: center;
		list-style-type: none;
		display: none;
	}
	#lp-menu-icon {
		-webkit-order: 4;
		-webkit-flex: 10%;
		text-align: right;
		padding: 20px 10px 0 0;
	}
	#help-icon {
		padding: 20px 20px 0 0;
		-webkit-order: 3;
		-webkit-flex: 10%;
		text-align: right;
	}
	ul#lp-links {
		-webkit-order: 5;
		-webkit-flex: 100%;
		margin: 10px 10px 0 0;
		text-align: center;
		list-style-type: none;
	}
	a {
		-webkit-flex: 100%;
		text-transform: uppercase;
		text-decoration: none;
		color: #8aaf3e;
		font-size: 20px;
		width: 100%;

		&:hover {
			text-decoration: none;
			color: #49661f;
		}
	}
	p {
		font-weight: 600;
		font-size: 14px;
		color: #8aaf3e;
		letter-spacing: 1px;

		&:hover {
			text-decoration: none;
			color: #49661f;
		}
	}
}

//- APPLICATION

#application {
	-webkit-order: 6;
	padding: 10px;
	max-height:90%;
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
	overflow-y: auto;
}

#left-nav {
	-webkit-order: 7;
	-webkit-flex: 100%;
	overflow-y: auto;
	min-height: 1px;
}

#results {
	-webkit-order: 9;
	-webkit-flex: 100%;
	min-height: 70%;
	overflow-y: auto;
}

#right-nav:empty, #left-nav:empty {
	display: none;
}

#right-nav {
	-webkit-order: 8;
	-webkit-flex: 100%;
	overflow-y: auto;
	min-height: 1px;
}

#landing-page {
	height: 90%;
	-webkit-order: 6;
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
	overflow-y: auto;
}

#loginwall {
	-webkit-order: 7;
	-webkit-flex: 100%;
	overflow-y: auto;
}

#summary {
	-webkit-order: 8;
	-webkit-flex: 100%;
	overflow-y: auto;
}

.center {
	margin: 0 auto;
	text-align: center;
}

//- Tabs
#article-options dl.tabs dd {
	width: 100%;
}

#related-options dl.tabs dd {
	width: 50%;
}

//- Second Navigation
//- List Group

#directory-list .list-group, #navigate-list .list-group {
	display: none;
	margin-bottom: 0;
}

#directory-list button, #navigate-list button {
	display: block;
	background-color: #f5f5f5;
	text-align: left;
	text-transform: none;
	font-weight: normal !important;
	color: #444444;
	border: none;
	padding-left: 15px;
	margin-bottom: 0;
}
.list-group table tr td {
	padding: 0;
	font-size: 16px;
	height: auto;
}

.list-group table, #filters table {
	margin-bottom: 0;
	background: transparent;
}

//- Table

#summary table, #filters table {
	border: transparent;
}

#summary table tr.even, #summary table tr.alt, #summary table tr:nth-of-type(even), #filters table tr.even, #filters table tr.alt, #filters table tr:nth-of-type(even) {
	background: #FFFFFF !important;
}

#article-options table {
	width: 60%;
	margin: 0 auto;
}

#article-options table h5 {
	margin: 5px 0 0 10px;
}

#article-options table p {
	margin: 5px 0 0 10px;
}

//- Buttons

#technology > button {
	text-transform: none;
	text-align: left;
	color: #444444;
	background-color: #f5f5f5;
	font-weight: normal !important;
}

//- Inputs

#filters input[type=radio] {
	display: none;
}

#filters input[type=radio] + label{
	margin-left: 20px;
	padding-left: 40px;
	display: inline-block;
	line-height: 10px;
	background-repeat: no-repeat;
	cursor: pointer;
}

#filters input[type=radio]:checked + label {
	background-position: 0 -15px;
}
#filters label{
	background-image: url('../assets/icons/radio.png');
}

#filters input[type=checkbox] {
	display:none;
}

#filters input[type=checkbox] + label {
	padding-left:40px;
	display:inline-block;
	line-height:10px;
	background-repeat:no-repeat;
	cursor:pointer;
}

#filters input[type=checkbox]:checked + label {
	background-position: 0 -15px;
}

#filters label.checkbox {
	background-image:url('../assets/icons/tick.png');
}

.label {
	float: right;
	background-color: #aaaaaa;
}


/* ===== == = === 56.25em (900px) === = == ===== */

@media only screen and (min-width : 56.25em) {
	nav {
		-webkit-flex: 100%;
		max-height: 14%;
		-webkit-flex-wrap: wrap;
	}
	#application {
		-webkit-flex: 100%;
		max-height: 86%;
		flex-direction: row;
		-webkit-flex-wrap: nowrap;
	}
	#logo {
		-webkit-flex: 24%;
	}
	#left-nav:empty, #right-nav:empty {
		display: block;
	}
	#left-nav {
		-webkit-flex: 25%;
	}
	#loginwall {
		-webkit-order: 8;
	}
	#summary {
		-webkit-order: 7;
	}
	#loginwall, #summary {
		padding: 0 20px 20px 20px;
	}
	#results {
		-webkit-order: 8;
		-webkit-flex: 50%;
		height: 100% !important;
	}
	#menu-icon, #help-icon {
		-webkit-order: 4;
		-webkit-flex: 25%;
		float: right;
		padding: 20px 20px 0 0;
	}
	#lp-menu-icon {
		-webkit-order: 3;
		display: none;
	}
	#right-nav {
		-webkit-order: 9;
		-webkit-flex: 25%;
	}
	ul#links {
		-webkit-order: 3;
		-webkit-flex: 50%;
		flex-direction: row;
	}
	ul#lp-links {
		padding: 15px 0 0 0;
		-webkit-flex: 60%;
		-webkit-order: 4;
		text-align: right;
		justify-content: flex-end;
	}
	ul#links li {
		-webkit-flex-wrap: nowrap;
		display: inline-block;
	}
	ul#lp-links li {
		padding-left: 40px;
		display: inline-block;
		-webkit-flex-wrap: nowrap;
	}
	#article-options dl.tabs dd {
		width: 33%;
	}
	#directory-list select {
		display: none;
	}
	#directory-list .list-group, #navigate-list .list-group {
		display: block;
	}
	#directory-list button, #navigate-list button {
		display: none;
	}
	.tabs-content .content {
		padding: 40px;
		padding-bottom: 0px;
		padding-top: 20px;
	}
	#loginwall > * {
		width: 90%;
		margin: 0 auto;
		padding-top: 20px;
	}
}