// HOW TO UNDERSTAND, USE AND EDIT THIS STYLESHEET

// TEAM Mentor was built mobile first , so the structure of this file means that styles without media queries apply to mobile and carry out throughout the whole application ONLY if there are no over-riding styles in the media queries at the end of the file.

// The structure for the file follows an hierarchal layout. Beginning from the top, everything is laid out in the order it appears. Styles are applied by how they affect the structure of an item followed by how they make an item appear.

// |- Imports
// |- Variables
// |- Typography
// |- Layout & Structure
//  --|- Navigation
//  ----|- Sub Navigation
//  ----|- List Groups
//  ----|- Tables
//  ----|- Breadcrumbs
//  --|- Application
//  ----|- Forms
//  ----|- Badges
//  ----|- Alerts
//  --|- Landing Pages
// |- Media Queries

// IMPORTS

@import 'columns';
@import 'colours';

// VARIABLES
$asset-path: '../../deploy/assets/';
$font-stack: 100% Helvetica, sans-serif;
$full-width: 100%;

// TYPOGRAPHY

h1 {
	font-size: 2em;
	line-height: 1.25em;
	color: $grey;
}

h2 {
	font-size: 1.625em;
	line-height: 1.153em;
	color: $grey;
}

h3 {
	font-size: 1.375em;
	line-height: 1.136em;
	color: $grey;
}

h4 {
	font-size: 1.125em;
	line-height: 1.11em;
	color: $dark-grey;
}

h5 {
	font-size: 1.105em;
	line-height: 1.11em;
	color: $dark-grey;
}

p {
	font-size: 1em;
	line-height: 1.5em;
	color: $dark-grey;
}

a {
	text-decoration: underline;
	color: $dark-grey;
	&:hover, &:active, &:focus, a.action:hover, a.action:focus, a.action:active {
		color: $dark-green;
	}
	&.action {
		font-size: 14px;
		font-weight: 700;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		color: $green;
	}
}

ul, ol, ul ul, ol ul {
	margin: 0;
}

code {
	font-family: monospace, monospace;
	font-size: 1em;
	color: $dark-grey;
}

pre {
	@extend code;
	display: block;
	overflow: auto;
	margin: 30px 0 30px 0;
	padding: 20px;
	word-break: break-all;
	word-wrap: break-word;
	background-color: $light-grey;
	border: 1px solid $grey;
	border-radius: 0px;
	line-height: 1.5em;
}

hr {
	margin: 40px auto 40px auto;
	width: 70%;
	color: $light-grey;
}

// LAYOUT & STRUCTURE

html {
	font: $font-stack;
}

body {
	background: $white;
	margin: 0;
	max-width: $full-width;
	padding: 0;
}

img {
	height: auto;
	margin: 0 auto;
}

.collapse {
	margin-bottom: -50px;
}

.long {
	height: 100px;
}

.vertical-align {
	margin-top: 10px;
}

.short {
	height: 40px;
}

.text-center {
	text-align: center;
	margin: 0 auto;
}

.normal {
	font-weight: normal;
}

.strong {
	font-weight: bold;
}

//--- NAVIGATION

.fixed {
	left: 0;
	top: 0;
	position: fixed;
	width: $full-width;
	z-index: 99;

	#customer-navigation {
		display: block;
		max-height: 100px;
		background-color: $white;
		ul {
			padding: 5px 0 0 25px;
			text-align: center;
		}
	}
	#team-mentor-navigation {
		max-height: 150px;
		text-align: center;
		background-color: $white;

		#not-logged-in {
			width: $full-width;
			img {
				float: left;
				padding: 0 0 0 5px;
			}
			ul li {
				float: right;
				padding: 5px 5px 0 0;
				list-style-type: none;
			}
		}

		#title-area {
			float: left;
			width: $full-width;
		}

		#links {
			width: $full-width;
			padding: 10px 0 5px 0;
			text-align: center;
			ul {
				padding: 0;
				width: $full-width;
				list-style-type: none;
			}
			&.icons a img {
				max-width: 40px;
				display: inline-block;
			}
			ul li {
				display: inline;
				padding: 0 10px 0 0;
				a {
					@extend a.action;
					font-size: 12px;
					&:hover {
						@extend a.action:hover;
					}
				}
			}
		}
	}
}


//------ SUB-NAVIGATION
//--------- LISTGROUPS

.list-group {
	height: auto;
	h5, h4 {
		margin: 5px 0 0 0;
	}
	a {
		display: block;
		padding: 11px;
		text-decoration: none;
		&:hover {
			text-decoration: none;
			background-color: $light-grey;
		}
	}
	span.badge {
		float: right;
	}
}

//--------- TABLES

table {
	width: 100%;
	font-size: 1em;
	color: $dark-grey;
	td {
		height: 30px;
		padding: 0 10px 0 10px
	}
	.nav {
		margin-top: -20px;
		a {
			text-decoration: none;
		}
		tr {
			td {
				padding: 5px;
				border-bottom: 1px solid $light-grey;
			}
			&:last-child {
				border-bottom: transparent;
			}
			&:hover {
				background-color: $light-grey;
				color: $dark-green;
			}
		}
		span.badge {
			float: right;
		}
	}
}

//--------- BREADCRUMBS

.breadcrumbs {
	padding: 0 0 0 10px;
	background: $white;
	border: none;
	li {
		display: inline-block;
		&.current a {
			color: $green;
			text-decoration: none;
		}
		a {
			@extend a.action;
			color: $grey;
			font-size: 12px;
			&:hover {
				color: $green;
			}
		}
		&:first-child:before {
			content: " ";
			margin: 0px;
		}
		&:before {
			content: "/";
			margin: 0 20px;
		}
	}
}

//--- APPLICATION

#application {
	height: $full-width;
	margin-top: 50px;
	width: $full-width;
}

.lge-container {
	margin: 0 auto;
	max-width: 96%;
}

#loginwall, #summary {
	margin: 0 auto;
	max-width: 95%;
	padding-top: 80px;
}

//------ FORMS

form, .form-group {
	list-style-type: none;
	margin-bottom: 15px;
}

label {
	display: inline-block;
	padding: 3px 0 0 0;
	margin-bottom: 5px;
	font-weight: bold;
	color: $dark-grey;
}

input {
	&[type="checkbox"] {
		margin-right: 20px;
	}
	&[type="text"], &[type="password"], &[type="date"], &[type="datetime"], &[type="datetime-local"], &[type="month"], &[type="week"], &[type="email"], &[type="number"], &[type="search"], &[type="tel"], &[type="time"], &[type="url"] {
		display: block;
		height: 3rem;
		padding: 0.5rem;
		width: $full-width;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		font-size: 1em;
		background-color: $white;
		border: 1px solid $grey;
		box-shadow: none;
		color: $dark-grey;
	}
	&[type="text"]:focus, &[type="password"]:focus, &[type="date"]:focus, &[type="datetime"]:focus, &[type="datetime-local"]:focus, &[type="month"]:focus, &[type="week"]:focus, &[type="email"]:focus, &[type="number"]:focus, &[type="search"]:focus, &[type="tel"]:focus, &[type="time"]:focus, &[type="url"]:focus {
		background: $white;
		border-color: $green;
		outline: medium none;
	}
}

textarea {
	@extend input[type="text"];
	height: auto;
	&:focus {
		@extend input[type="text"]:focus;
	}
}

select {
	@extend input[type="text"];
}

.input-group {
	display: table;
	float: left;
	width: $full-width;
	.form-control {
		display: table-cell;
		height: 53px;
	}
	.input-group-btn {
		display: table-cell;
		max-width: $full-width;
		vertical-align: middle;
		width: 100px;
		border-left: none !important;
	}
}

//------ BUTTONS

button {
	@extend a.action;
	width: $full-width;
	background-color: $white;
	&:hover, &:focus, &:active {
		@extend a.action:hover;
		background-color: $white;
	}
	&.postfix {
		height: 3rem;
		padding-top: 7px;
		border: 1px solid $grey;
		border-left: none;
		font-size: 1em;
		color: $green;
		&:hover {
			background-color: $white;
			color: $dark-green;
		}
	}
}

//------ BADGES

.badge {
	min-width: 10px;
	padding: 3px 7px;
	border-radius: 10px;
	text-align: center;
	font-size: 12px;
	background-color: $grey;
	color: $white;
}

//------ ALERTS

.alert {
	margin: 0;
	padding: 15px;
	border: none;
	background: $white;
	font-weight: 700;
	color: $green;
}

//--- LANDING PAGES

#about {
	margin: 65px 0 0 0;
	padding: 50px 0 80px 0;
	width: $full-width;
	text-align: center;
	background: url(../assets/stock-img/bgthree.jpg);
	background-color: $green;
}

#about h2, #usp h2 {
	color: $white;
}

#about-us {
	padding: 40px 0 40px 0;
}

#call-to-action {
	padding: 100px 0 110px 0;
	text-align: center;
	background: url(../assets/stock-img/bgtwo.jpg);
	background-color: $dark-green;
	h1 {
		color: $white;
	}
	button {
		padding: 20px 0 20px 0;
		background-color: $white;
		border: none;
		&:hover, &:active {
			background-color: $green;
			color: $white;
		}
	}
}

#clients {
	padding: 40px 0 80px 0;
	text-align: center;
}

#copyright {
	padding-bottom: 30px;
	a {
		@extend a;
		font-size: 12px;
		text-align: center;
	}
}

#description {
	margin: 0 15px 0 0;
	padding: 5px 0 5px 0;
	width: $full-width;
	text-align: center;
	background-color: $light-grey;
}

#features {
	padding: 100px 0 50px 0;
	h2 {
		text-align: center;
	}
	img {
		vertical-align: middle;
	}
}

#footer {
	padding: 15px 0 20px 0;
	width: $full-width;
	text-align: center;
	a {
		@extend a;
		letter-spacing: 1px;
		text-transform: uppercase;
		font-size: 10px;
	}
}

#reasons {
	padding: 70px 0 0 0;
	h2 {
		text-align: center;
	}
}

#usp {
	margin: 65px 0 0 0;
	padding: 50px 0 80px 0;
	width: $full-width;
	text-align: center;
	background: url(../assets/stock-img/bgone.jpg);
	background-color: $green;
	button {
		padding: 20px 0 20px 0;
		background-color: $white;
		border: none;
		&:hover, &:active {
			background-color: $green;
			color: $white;
		}
	}
}

// MEDIA QUERIES

@media (min-width: 650px) {
	#application {
		margin: 30px 0 0 0;
	}
	#customer-navigation ul {
		text-align: left;
	}
	#title-area {
		display: inline-block;
		max-width: 35%;
		img {
			float: left;
			max-width: $full-width;
			padding: 0 0 0 20px;
		}
	}
	#not-logged-in {
		img {
			padding: 0 0 0 20px;
		}
		ul li {
			padding: 5px 10px 0 0;
		}
	}
	#links {
		display: inline-block;
		max-width: 65%;
		&.icons {
			padding: 7px 0 0 0;
			text-align: right;
		}
		&.text-links {
			padding: 20px 0 0 0;
			ul {
				padding: 0 0 0 10px;
				text-align: right;
			}
		}
		&.icons {
			ul {
				padding: 0;
			}
			a img {
				max-width: 100%;
			}
		}
		ul li {
			padding: 0 20px 0 0;
			a {
				font-size: 14px;
			}
		}
	}
	#loginwall, #summary {
		max-width: 90%;
	}
}

@media (min-width: 999px) {
	#team-mentor-navigation {
		height: 65px;
	}
	#links {
		&.text-links ul li {
			padding: 0 40px 0 0;
		}
		&.icons ul li {
			padding: 0 30px 0 0;
		}
	}
	h1 {
		font-size: 3em;
		line-height: 1em;
	}
	h2 {
		font-size: 2.25em;
		line-height: 1em;
	}
	h3 {
		font-size: 1.75em;
		line-height: 1em;
	}
	h4 {
		font-size: 1.125em;
		line-height: 1em;
	}
	h5 {
		font-size: 1em;
		line-height: 1em;
	}
}