// Variables
$asset-path: '../../deploy/assets/';
$white: #FFFFFF;
$green: #8aaf3e;
$dark-green: #49661f;
$grey: #aaaaaa;
$dark-grey: #444444;
$nav-padding-top: 100px;

.white {
	color: #FFFFFF;
}

.green {
	color: #8aaf3e;
}

.dark-green {
	color: #49661f;
}

.grey {
	color: #aaaaaa;
}

.dark-grey {
	color: #444444;
}

// Layout and Structure

body {
	max-width: 100%;
	overflow-x: hidden;
	margin: 0;
	@extend .font-stack
}

#application {
	margin-top: $nav-padding-top;
}

#article-pane {
	padding-bottom: 40px;
}

#about, #usp {
	padding-top: $nav-padding-top;
	padding-bottom: 80px;
	background-color: $green;
	color: $white;
	text-align: center;
	width: 100% !important;
}

#about {
	background: url(#{$asset-path}/stock-img/bgthree.jpg);
}

#about-us {
	padding-top: 40px;
	padding-bottom: 40px;
}

#calltoaction {
	padding-top: 7%;
	padding-bottom: 5%;
	background: url(#{$asset-path}/stock-img/bgtwo.jpg);
	background-color: $dark-green;
	color: $white;
	text-align: center;
}

#clients {
	padding-bottom: 5%;
	background-color: $white;
}

#features {
	padding-top: $nav-padding-top;
	padding-bottom: 50px;
}

#footer {
	padding-top: 20px;
	padding-bottom: 20px;
}

.lge-container {
	max-width: 96%;
	margin: 0 auto;
}

#usp {
	background: url(#{$asset-path}/stock-img/bgone.jpg);
}

#reasons {
	padding-top: 5%;
	padding-bottom: 2%;
	background-color: $white;
}

.column-1, .column-2, .column-3, .column-4, .column-5, .column-6, .column-7, .column-8, .column-9, .column-10, .column-11, .column-12 {
    float: left;
  }
  .column-12 {
    width: 100%;
  }
  .column-11 {
    width: 91.66666667%;
  }
  .column-10 {
    width: 83.33333333%;
  }
  .column-9 {
    width: 75%;
  }
  .column-8 {
    width: 66.66666667%;
  }
  .column-7 {
    width: 58.33333333%;
  }
  .column-6 {
    width: 50%;
  }
  .column-5 {
    width: 41.66666667%;
  }
  .column-4 {
    width: 33.33333333%;
  }
  .column-3 {
    width: 25%;
  }
  .column-2 {
    width: 16.66666667%;
  }
  .column-1 {
    width: 8.33333333%;
  }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 100% !important;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

.pull-right {
	float: right !important;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}


// Forms

.form-control {
	height: 3em;
	width: 100%;
	display: block;
	border-radius: 0px;
	padding-left: 20px;
	border: 1px solid $grey;
	color: $dark-green;
	font-size: 1.15em;
}

// Navigation

.navbar {
	background-color: $white;
	height: 70px;
	font-size: 0.8em;
	border-bottom: 1px solid $grey;
	display: inline-block;

	ul {
		list-style-type: none;
		display: inline-block;
		font-size: 1em;

		.brand {
			padding: 0px;
		}

		li {
			display: inline-block;
			padding-right: 40px;
			padding-top: 15px;

			a, :visited {
				text-transform: uppercase;
				letter-spacing: 1px;
				font-weight: 700;
				font-size: 0.95em;
				color: $green;
				text-align: center !important;

				&:hover, &:active {
					color: $dark-green;
				}
			}
		}
	}
}

.navbar-fixed-top {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
}

.navbar-toggle {
	position: relative;
	float: right;
	padding: 9px 10px;
	margin-top: 8px;
	margin-right: 15px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;

	&:focus {
		outline: none;
	}

	&.icon-bar {
		display: block;
		width: 22px;
		height: 2px;
		border-radius: 1px;
	}
}

.navbar-header {
	float: left;
}





.navbar-inverse .navbar-nav > li > a  {
	color: $green;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	padding-top: 30px;
	margin-right: 10px;
}

		.navbar-inverse .navbar-nav > li > a:after {
			content: '';
			position: absolute;
			z-index: -1;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			transition: all 0.3s;
		}

		.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:active {
			color: $dark-green;
		}

		.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
			color: $dark-green;
			background-color: $white;
			border-bottom: 2px solid $dark-green;
		}

.breadcrumb {
	background-color: $white;
}

// Typography

.font-stack {
	font-family: Helvetica, sans-serif;
	letter-spacing: 1px;
}

h1 {
	@extend .font-stack;
	font-size: 3em;
	font-weight: 700;
}

h1, h2 {
	@extend .font-stack;
	line-height: 1.5em;
	font-weight: 700;
}

h3, h4, h5 {
	line-height: 1.75em;
}

p, li { 
	font-size: 1.15em;
	color: $dark-grey;
}

hr {
	width: 70%;
}

a {
	text-decoration: none;

	&:visited, &:hover, &:active {
		text-decoration: none;
	}

	&.action, &.action:visited {
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 700;
		color: $green;
		text-align: center !important;
	}

	&.action:hover, &.action:active {
		color: $dark-green;
	}
}

.glyphicon {

	font-size: 1.5em;
	color: $green;

	&:visited {
		color: $green;
	}

	&:hover, &:active {
		color: $dark-green;
	}

	&.small {
		font-size: 1em;
	}
}

.text-center {
	text-align: center;
	margin: 0 auto;
}

// Input Groups

input {
	font-size: 1.25em;
	height: 3em;
	border-radius: 0px;
}

.input-group {
	width: 100%;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: $grey;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $grey;
    opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $grey;
    opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: $grey;
}

label {
	font-weight: normal;
}

input[type=checkbox] + label {
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 2em;
    line-height: 1em;
}

// Buttons

button {
	
	&#filters-button, &#search-button {
		height: 3.45em;
		border-radius: 0px;
	}
	
	&#search-button {
		border-left: none;
	}

	&.btn-landing-page {
		position: relative;
		padding: 25px 80px;
		max-width: 100%;
		display: inline-block;
		background-color: $white;
		@extend .font-stack;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 0.9em;
		color: $green !important;
		border-radius: 0px;
		outline: none;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;

		&:after {
			content: '';
			position: absolute;
			z-index: -1;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			transition: all 0.3s;
		}

		&:hover, &:active {
			color: $white !important;
			background-color: $green;
		}
	}

	&.btn-block {
		width: 100%;
	}

	&.btn-action {
		display: inline-block;
		position: relative;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 1px;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
		max-width: 100%;
		color: $green;
		background: none;

		&:hover {
			color: $dark-green !important;
		}
	}

	&.btn-submit {
		border: 1px solid $green;
		border-radius: 0px;
		color: $green;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	&.btn-application {
		color: $green;
		background-color: $white;
		border: 1px solid $grey;

		&:hover {
			color: $dark-green;
			background-color: $white;
		}
	}

	&.navbar-toggle {
		position: relative;
		float: right;
		padding: 9px 10px;
		margin-top: 8px;
		margin-right: 15px;
		margin-bottom: 8px;
		background-color: transparent;
		background-image: none;
		border: 1px solid transparent;
		border-radius: 4px;
	}
}

// Badges

.badge {
	background-color: $grey;
}

// List Group and List Group Items

.list-group-item {
	border: none;
}

// Alerts and Warnings

.alert-warning {
	color: $green;
	background-color: $white;
	border: 1px solid $green;
	border-radius: 0px;
}

// Tables and Table Cells

table {
	width: 100%;
	font-size: 1.15em;
}

td {
	padding-left: 10px;
	padding-right: 10px;
	height: 30px;
}

/*** Media Queries ***/

@media (max-width: 992px) {

	#sign-up {
		margin-top: 120px;
		padding-bottom: 2%;
	}

	#login {
		margin-top: 2px !important;
	}

	h1, h2 {
		font-size: 2em;
	}

	h3 {
		font-size: 1.5em;
	}
}

@media (max-width: 770px) {
	#logo {
			display: none;
		}

	.nav .navbar-nav li {
		display: inline-block;
	}
}

@media (max-width: 750px) {
	.navbar-collapse {
		width: 100%;
		text-align: center;
	}

	.collapse {
		display: none;
	}
}

@media (min-width: 768px) {
	.navbar-toggle {
		display: none;
	}
}