extends ../_layouts/page_home.jade

block content
	#application.lge-container
		.row
			.column-3.lge-container
				.div(data-spay="affix", data-offset-top="60", data-offset-bottom="200")
					h4.grey Exploiting Mechanisms
					h4.grey Testing
					h4.grey Prevention
					h4.dark-green Advanced
					ul.sidebar
						li Oracle Database Secure Coding
						li SQL Database Secure Coding
						li PHP Secure Coding
					h4.grey Related Topics
					br
					br
					br
					br
					br
					br
					.progress
						.progress-bar(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='width: 80%')
			.column-6
				h3.grey Advanced

				#details.row
					.column-3
						h4.green Prerequisites:
					.column-9
						ul
							li Understanding of SQL Injection exploits and coding.
				

				h4.dark-grey Oracle Database Secure Coding
				
				img.center.img-responsive(src='/deploy/assets/videos/Video9.jpg')
				br

				br
				hr
				br

				h4.dark-grey SQL Database Secure Coding
				
				img.center.img-responsive(src='/deploy/assets/videos/Video10.jpg')
				br

				br
				hr
				br

				h4.dark-grey PHP Secure Coding
				
				img.center.img-responsive(src='/deploy/assets/videos/Video11.jpg')
				br

				br
				hr
				br
				
				.row
					.column-3
						a(href='prevention.html')
							button.btn-action.btn-submit.btn-block(type='button') Prevention
					.column-offset-6.column-3
						a(href='related-topics.html')
							button.btn-action.btn-submit.btn-block(type='button') Related Topics
				br
				br