extends ../_layouts/page_home.jade

block content
	#application.lge-container
		.row
			.column-3.lge-container
				.div(data-spay="affix", data-offset-top="60", data-offset-bottom="200")
					h4.grey Exploiting Mechanisms
					h4.grey Testing
					h4.grey Prevention
					h4.dark-green Advanced
					ul.sidebar
						li Oracle Database Secure Coding
						li SQL Database Secure Coding
						li PHP Secure Coding
					h4.grey Related Topics
					br
					br
					br
					br
					br
					br
					br
					br
					br
					br
					br
					br
					.progress
						.progress-bar(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='width: 80%')
			.column-6
				h3.grey Advanced
				br

				p Advanced topics, especially specific to database types and programming languages.\n\nPrerequisities: Understanding of SQL Injection exploits and coding.

				br
				hr
				br

				h4.dark-grey Oracle Database Secure Coding
				br

				p VIDEO HERE

				br
				hr
				br

				h4.dark-grey SQL Database Secure Coding
				br

				p VIDEO HERE

				br
				hr
				br

				h4.dark-grey PHP Secure Coding
				br

				p VIDEO HERE

				br
				hr
				br
				
				.row
					.column-3
						a(href='prevention.html')
							button.btn-action.btn-submit.btn-block(type='button') Prevention
					.column-offset-6.column-3
						a(href='related-topics.html')
							button.btn-action.btn-submit.btn-block(type='button') Related Topics
				br
				br