extends ../_layouts/page_home.jade
include mixins/learning-path-mixins.jade

block content
	#application
		.row
			.col-3#left-nav
				.lge-container
					+links_learning_paths
					br
					+progress-bar
				// lge-container
			//column
			.col-6#results
				.lge-container
					include:md ../../content/teamMentor/learning-paths/advanced.md
					.row
						.col-3
							a(href='prevention')
								button.btn-full-width(type='button') Prevention
						.col-offset-6.col-3
							a(href='related-topics')
								button.btn-full-width(type='button') Related Topics
					br
					br
				// lge-container
			// column
			.col-3#right-nav
				.lge-container
					br
				// lge-container
			// column
		// row
	// application