extends ../_layouts/page_home.jade

block content
	#application.lge-container
		.row
			.column-3.lge-container
				.div(data-spay="affix", data-offset-top="60", data-offset-bottom="200")
					h4.grey Exploitation
					h4.grey Testing
					h4.grey Prevention
					h4.dark-green Courses
					h4.grey Related Topics
					br
					br
					br
					br
					br
					br
					br
					br
					br
					br
					br
					br
					br
					br
					br
					.progress
						.progress-bar(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='width: 80%')
			.column-6
				h3.grey Courses
				br

				p eLearning courses that describe Cross-Site Scripting vulnerabilities and how to prevent them.

				br
				hr
				br

				h4.dark-grey OWASP Top 10 - Threats and Mitigations
				br

				p This course examines in depth the vulnerabilities, threats, and mitigations described in the OWASP Top 10 2013. Upon completion of this class, participants will be able to identify and mitigate the greatest threats that web application developers face.

				br
				hr
				br

				h4.dark-grey Web Vulnerabilities - Threats and Mitigations
				br

				p This course provides all the information you need to understand, avoid, and mitigate the risks posed by Web vulnerabilities. You are first provided with a detailed background on the most common and recent attacks against Web-based applications, such as cross-site scripting attacks and cross-site request forgery attacks. The course then delves into practical recommendations on how to avoid and/or mitigate Web vulnerabilities.

				br
				hr
				br

				
				.row
					.column-3
						a(href='prevention.html')
							button.btn-action.btn-submit.btn-block(type='button') Prevention
					.column-offset-6.column-3
						a(href='related-topics.html')
							button.btn-action.btn-submit.btn-block(type='button') Related Topics
				br
				br