extends ../_layouts/page_home.jade

block content
	#application
		.row
			.column-3
				br
			.column-6
				h3.grey Cross-Site Scripting Learning Path

				p A web applications output is rendered as a web page. If user input is included in the web application output, then it is also rendered as a part of the web page. If user input is included in output without being validated and encoded, a cross-site scripting (XSS) vulnerability results. In that case, an attacker can modify the output web page to include malicious script, which is then executed by the browser that views the vulnerable page. The resources below provide information that will describe the vulnerability in detail and guidance in avoiding, remediating and testing it.

				h4.dark-grey Getting around

				p Scroll down to start.





Exploitation

Information about exploiting Cross-Site Scripting vulnerabilities. [NOTE: We can probably come up with something a bit more. Feel like there should be more than one sentance here to describe what this ‘chapter’ entails.]


