extends ../../content/_layouts/page_home.jade
include mixins/learning-path-mixins.jade

block content
	#application
		.row
			.col-3
				.lge-container
					+links_learning_paths
					+progress-bar
			.col-6#learning-path
				.lge-container
					include:md ../../content/teamMentor/learning-paths/prevention.md
				
					.row
						.col-3
							a(href='testing.html')
								button.btn-full-width(type='button') Testing
						.col-offset-6.col-3
							a(href='advanced.html')
								button.btn-full-width(type='button') Advanced
					br
					br