extends ../../content/_layouts/page_home.jade

block content
	#application
		.row
			.column-3
				.lge-container
					+links_learning_paths
					+progress-bar
			.column-6#learning-path
				.lge-container
					include:md ../../content/teamMentor/learning-paths/prevention.md
				
					.row
						.column-3
							a(href='testing.html')
								button.btn-full-width(type='button') Testing
						.column-offset-6.column-3
							a(href='advanced.html')
								button.btn-full-width(type='button') Advanced
					br
					br