extends ../_layouts/page_home.jade
include mixins/learning-path-mixins.jade

block content
	#application
		.row
			.col-3#left-nav
				.lge-container
					br
			.col-6#results
				.lge-container
					+lp-overview
					+horizontal-rule
					+lp-start-button
			.col-3#right-nav
				.lge-container
					br