extends ../_layouts/page_home.jade

block content
	#application
		.row
			.column-3
				.lge-container
					+links_learning_paths
					+progress-bar
			.column-6
				.lge-container
					include:md ../../content/teamMentor/learning-paths/testing.md
				

					.row
						.column-5
							a(href='exploiting.html')
								button.btn-full-width(type='button') Exploiting Mechanisms
						.column-offset-4.column-3
							a(href='prevention.html')
								button.btn-full-width(type='button') Prevention
					br
					br