extends ../_layouts/page_home.jade
include mixins/learning-path-mixins.jade

block content
	#application
		.row
			.col-3#left-nav
				.lge-container
					+links_learning_paths
					br
					+progress-bar
				// lge-container
			// colummn
			.col-6#results
				.lge-container
					include:md ../../content/teamMentor/learning-paths/testing.md
					.row
						.col-5
							a(href='exploiting')
								button.btn-full-width(type='button') Exploiting Mechanisms
							// a
						// column
						.col-offset-4.col-3
							a(href='prevention')
								button.btn-full-width(type='button') Prevention
							// a
						// column
					// row
					br
					br
				// lge-container
			// column
			.col-3#right-nav
				.lge-container
					br
				// lge-container
			// column
		// row
	// application