extends ../_layouts/page_home.jade
include ../search/search-mixins.jade
include mixins/articles-mixins

block content   
    #application
      .row
        .column-3
          .lge-container
            +directory-list

        .column-6
          .lge-container
            +breadcrumbs
            br
            +search-bar-input
            br
            br
            br

            +results-save-clear
            +articles-list
          
        .column-3
          .lge-container
            +filters-div
            +save-div