mixin search-poc
    #search
        form(action='/search', method='GET')
            .input-group
                input.form-control(type='text', placeholder='Type keywords here', name='text')
                span.input-group-btn
                    button.btn-search-bar(type='submit') SEARCH