//extends ../_layouts/page_just_css.jade

extends ../../_layouts/page_home
include ../../_mixins/articles-mixins
include ../../_mixins/search-mixins
include _poc_search-mixins

block content
	//weird CSS fix to handle Chrome prob when <form> exists
	style
		|.pull-right { float  : right !important; }
		|.navbar ul  { display: inline-block;     }

	#application
		.row
			.col-9
				.lge-container
					+search-poc
					+results
					+articles-list
			.col-3
				.lge-container
					+filters-div