include ../../../content/mixins/articles-mixins.jade
include ../../../content/mixins/user-mixins.jade

//- article-options
mixin article-options
	.row
		.col-offset-2.col-8
			h5 Metadata
			+metadata-table

//- related-articles
mixin related-articles
	h3 You might also like
	.list-group
		a(href='#{link_article_new_window}', target='_blank')
			include:md ../../../content/teamMentor/articles/article-summary.md
		a(href='#{link_article_new_window}', target='_blank')
			include:md ../../../content/teamMentor/articles/article-summary.md
		a(href='#{link_article_new_window}', target='_blank')
			include:md ../../../content/teamMentor/articles/article-summary.md

// Save Div
mixin save-div
	form
		.row
			.form-group
				+save-input
			.form-group
				+save-button

// Share Div
mixin share-div
	form
		.row
			.form-group
				+share-input
			.form-group
				+share-button

//- directory-list
mixin directory-list
	#directory-list
		h3 Fundamentals of Security
		.list-group
			a(href='owasp.html')
				| OWASP Top 10
				span.badge 14
			a(href='owasp.html')
				| Second Level Directory
				span.badge 14
			a(href='owasp.html')
				| Second Level Directory
				span.badge 14
			a(href='owasp.html')
				| Second Level Directory
				span.badge 14
			a(href='owasp.html')
				| Second Level Directory
				span.badge 14
			a(href='owasp.html')
				| Second Level Directory
				span.badge 14
			a(href='owasp.html')
				| Second Level Directory
				span.badge 14
			a(href='owasp.html')
				| Second Level Directory
				span.badge 14

//- my-articles-edit
mixin edit-my-articles
	.row
		.col-6
			.lge-container
				li
					input#technology_1(type='checkbox')
					label(for='technology_1', name='technology_1') A New ID Is Assigned on Login
				li
					input#technology_2(type='checkbox')
					label(for='technology_2', name='technology_2') A New Or Blank Session ID is Assigned on Logout
				li
					input#technology_3(type='checkbox')
					label(for='technology_3', name='technology_3') Access to the Credential Store is Limited
				li
					input#technology_4(type='checkbox')
					label(for='technology_4', name='technology_4') AJAX Injection Vulnerability
				li
					input#technology_5(type='checkbox')
					label(for='technology_5', name='technology_5') All Input is Validated
				li
					input#technology_5(type='checkbox')
					label(for='technology_5', name='technology_5') All Private Resources Require Authentication
				li
					input#technology_5(type='checkbox')
					label(for='technology_5', name='technology_5') All Senstive Data is Encrypted
				li
					input#technology_5(type='checkbox')
					label(for='technology_5', name='technology_5') Assume All Input is Malicious
				li
					input#technology_5(type='checkbox')
					label(for='technology_5', name='technology_5') Authentication is Centralized
				li
					input#technology_5(type='checkbox')
					label(for='technology_5', name='technology_5') Centralize Authentication
				li
					input#technology_5(type='checkbox')
					label(for='technology_5', name='technology_5') Client-side Validation is Not Relied On
				li
					input#technology_1(type='checkbox')
					label(for='technology_1', name='technology_1') Cross Site Scripting Vulnerablity
				li
					input#technology_2(type='checkbox')
					label(for='technology_2', name='technology_2') Deny All Access by Default
				li
					input#technology_3(type='checkbox')
					label(for='technology_3', name='technology_3') Do Not Cache Sensitive Data
		.col-6
			.lge-container
				li
					input#technology_5(type='checkbox')
					label(for='technology_5', name='technology_5') Do Not Leave Passwords in Memory
				li
					input#technology_5(type='checkbox')
					label(for='technology_5', name='technology_5') Don't Trust User Input
				li
					input#technology_5(type='checkbox')
					label(for='technology_5', name='technology_5') Echoed Input is Encoded
				li
					input#technology_5(type='checkbox')
					label(for='technology_5', name='technology_5') Missing Authentication
				li
					input#technology_5(type='checkbox')
					label(for='technology_5', name='technology_5') Missing Authorization
				li
					input#technology_5(type='checkbox')
					label(for='technology_5', name='technology_5') Hard-coded Credentials
				li
					input#technology_5(type='checkbox')
					label(for='technology_5', name='technology_5') Missing Encryption
				li
					input#technology_4(type='checkbox')
					label(for='technology_4', name='technology_4') Unrestricted Dangerous Uploads
				li
					input#technology_4(type='checkbox')
					label(for='technology_4', name='technology_4') Using Untrusted Inputs

//- my-articles-edit-links
mixin edit-links
	#edit-links
		br
		.row
			.col-4
				a(href='#') Clear Selected
			.col-4
				a(href='navigate.html') Clear All
			.col-4
				a(href='my-articles.html') Ok, Done

//- breadcrumnbs
mixin breadcrumbs
	br
	.breadcrumbs
		:markdown
			* [Principles & Standards](#)
			* >
			* [Fundamentals of Security](#)