include ../../../content/mixins/articles-mixins.jade

//- Article
mixin article
	#article
		include:md ../../../content/teamMentor/articles/article-new-window.md
	// article-div

//- article-options
mixin article-options
	.row
		.col-offset-2.col-8
			h5 Metadata
			+metadata-table
		// column
	// row

//- related-articles
mixin related-articles
	h3 You might also like
	.list-group
		a(href='#{link_article_new_window}', target='_blank')
			include:md ../../../content/teamMentor/articles/article-summary.md
		a(href='#{link_article_new_window}', target='_blank')
			include:md ../../../content/teamMentor/articles/article-summary.md
		a(href='#{link_article_new_window}', target='_blank')
			include:md ../../../content/teamMentor/articles/article-summary.md
	// list-group

// Save Div
mixin save-div
	form
		.row
			.form-group
				+save-input
			.form-group
				a(href='alert-article-new-window-view.html')
					+save-button
		// row
	// form

// Share Div
mixin share-div
	form
		.row
			.form-group
				+share-input
			.form-group
				a(href='alert-article-new-window-view.html')
					+share-button
		// row
	// form

//- my-articles-edit
mixin edit-my-articles
	.form-group
		li
			input#article_1(type='checkbox')
			label(for='article_1', name='article_1') A New ID Is Assigned on Login
		li
			input#article_2(type='checkbox')
			label(for='article_2', name='article_2') A New Or Blank Session ID is Assigned on Logout
		li
			input#article_3(type='checkbox')
			label(for='article_3', name='article_3') Access to the Credential Store is Limited
		li
			input#article_4(type='checkbox')
			label(for='article_4', name='article_4') AJAX Injection Vulnerability
		li
			input#article_5(type='checkbox')
			label(for='article_5', name='article_5') All Input is Validated
		li
			input#article_6(type='checkbox')
			label(for='article_6', name='article_6') All Private Resources Require Authentication
		li
			input#article_7(type='checkbox')
			label(for='article_7', name='article_7') All Senstive Data is Encrypted
		li
			input#article_8(type='checkbox')
			label(for='article_8', name='article_8') Assume All Input is Malicious
		li
			input#article_9(type='checkbox')
			label(for='article_9', name='article_9') Authentication is Centralized
		li
			input#article_10(type='checkbox')
			label(for='article_10', name='article_10') Centralize Authentication
		li
			input#article_11(type='checkbox')
			label(for='article_11', name='article_11') Client-side Validation is Not Relied On
		li
			input#article_12(type='checkbox')
			label(for='article_12', name='article_12') Cross Site Scripting Vulnerablity
		li
			input#article_13(type='checkbox')
			label(for='article_13', name='article_13') Deny All Access by Default
		li
			input#article_14(type='checkbox')
			label(for='article_14', name='article_14') Do Not Cache Sensitive Data
	// form-group

//- my-articles-edit-links
mixin edit-links
	a(href='my-articles.html')
		+clear-selected-button
	br
	br
	a(href='my-articles.html')
		+clear-all-button
	br
	br
	a(href='my-articles.html')
		+ok-button

//- Directory List
mixin directory-list
	h3 Fundamentals of Security
	.list-group
		a(href='fundamentals-of-security.html')
			| Second Level Directory
			span.badge 14
		a(href='fundamentals-of-security.html')
			| Second Level Directory
			span.badge 14
		a(href='fundamentals-of-security.html')
			| Second Level Directory
			span.badge 14
		a(href='fundamentals-of-security.html')
			| Second Level Directory
			span.badge 14
		a(href='fundamentals-of-security.html')
			| Second Level Directory
			span.badge 14
		a(href='fundamentals-of-security.html')
			| Second Level Directory
			span.badge 14
		a(href='fundamentals-of-security.html')
			| Second Level Directory
			span.badge 14
	// list-group