include ../../../content/mixins/articles-mixins.jade
include ../../home/mixins/application-mixins.jade

//- Article
mixin article
	#article
		include:md ../../../content/teamMentor/articles/article-new-window.md
	// article-div

//- Article Options
mixin article-options
	#article-options
		dl.tabs(data-tab='data-tab')
			dd
				a(href='#metadata')
					+metadata-icon
			// dd
			dd
				a(href='#save')
					+save-icon
			// dd
			dd
				a(href='#share')
					+share-icon
			// dd
		// dl-tabs
		.tabs-content
			#metadata.content
				+metadata-table
			// metadata-content

			#save.content
				a(href='alert-article-new-window-view')
					+save-div
			// save-content

			#share.content
				a(href='alert-article-new-window-view')
					+share-div
			// share-content
		// tabs-content


//- Related Courses and Articles
mixin related-options
	#related-options
		h3 You might also like
		dl.tabs(data-tab='data-tab' class='related-options-width')
			dd
				a(href='#related-articles')
					+articles-icon
			// dd
			dd
				a(href='#related-courses')
					+courses-icon
			// dd
		// dl-tabs
		.tabs-content
			#related-articles.content
				dl.accordion(data-accordion='data-accordion')
					dd.accordion-navigation
						a(href='#article-1') Article Headline
						#article-1.content
							include:md ../../../content/teamMentor/articles/article-details.md
							+flare-article-preview-menu
						// article-1-content
					// accordian-navigation
					dd.accordion-navigation
						a(href='#article-2') Article Headline
						#article-2.content
							include:md ../../../content/teamMentor/articles/article-details.md
							+flare-article-preview-menu
						// article-2-content
					// accordian-navigation
					dd.accordion-navigation
						a(href='#article-3') Article Headline
						#article-3.content
							include:md ../../../content/teamMentor/articles/article-details.md
							+flare-article-preview-menu
						// article-3-content
					// accordian-navigation
				// accordian
			// related-articles-content

			#related-courses.content
				dl.accordion(data-accordion='data-accordion')
					dd.accordion-navigation
						a(href='#courses-1') Course Headline
						#courses-1.content
							include:md ../../../content/teamMentor/articles/article-details.md
							+flare-article-preview-menu
						// courses-1-content
					// accordian-navigation
					dd.accordion-navigation
						a(href='#courses-2') Course Headline
						#courses-2.content
							include:md ../../../content/teamMentor/articles/article-details.md
							+flare-article-preview-menu
						// courses-2-content
					// accordian-navigation
					dd.accordion-navigation
						a(href='#courses-3') Course Headline
						#courses-3.content
							include:md ../../../content/teamMentor/articles/article-details.md
							+flare-article-preview-menu
						// courses-3-content
					// accordian-navigation
				// accordian
			// related-courses-content
		// tabs-content

mixin flare-directory-list
	#directory-list
		h3 Fundamentals of Security
		.list-group
			a(href='fundamentals-of-security')
				table
					tr
						td A New ID Is Assigned on Login A New ID Is Assigned on Login
						td
							span.round.label 14
					// tr
				// table
			// link
			a(href='fundamentals-of-security')
				table
					tr
						td Second Level Directory
						td
							span.round.label 14
					// tr
				// table
			// link
			a(href='fundamentals-of-security')
				table
					tr
						td Second Level Directory
						td
							span.round.label 14
					// tr
				// table
			// link
			a(href='fundamentals-of-security')
				table
					tr
						td Second Level Directory
						td
							span.round.label 14
					// tr
				// table
			// link
			a(href='fundamentals-of-security')
				table
					tr
						td Second Level Directory
						td
							span.round.label 14
					// tr
				// table
			// link
			a(href='fundamentals-of-security')
				table
					tr
						td Second Level Directory
						td
							span.round.label 14
					// tr
				// table
			// link
			a(href='fundamentals-of-security')
				table
					tr
						td Second Level Directory
						td
							span.round.label 14
					// tr
				// table
			// link
		// list-group
		button.button.dropdown(href='#', data-dropdown='directory-button', aria-controls='directory-button', aria-expanded='false') Select a Directory
		br
		ul#directory-button.f-dropdown(data-dropdown-content='', aria-hidden='true', tabindex='-1')
			li
				a(href='#')
					table
						tr
							td A New ID Is Assigned on Login A New ID Is Assigned on Login
							td
								span.round.label 14
						// tr
					// table
				// link
			// li
			li
				a(href='#')
					table
						tr
							td Second Level Directory
							td
								span.round.label 14
						// tr
					// table
				// link
			// li
			li
				a(href='#')
					table
						tr
							td Second Level Directory
							td
								span.round.label 14
						// tr
					// table
				// link
			// li
			li
				a(href='#')
					table
						tr
							td Second Level Directory
							td
								span.round.label 14
						// tr
					// table
				// link
			// li
		// ul
	// directory-list
