//- article-options
mixin article-options
	.row
		.small-12.large-4.columns
			.article
				dl.accordion(data-accordion='data-accordion')
					dd.accordion-navigation
						a(href='#panel1') 
							i.fi-list-bullet
							|     Metadata
						#panel1.content.active
							table
								tr
									td Technology:
									td Any
								tr
									td Category:
									td Authentication
								tr
									td Phase:
									td Implementation
								tr
									td Type:
									td Attack
		.small-12.large-4.columns.text-center
			a.button(href='#')
				i.fi-bookmark
				|    Save
		.small-12.large-4.columns.text-center
			a.button(href='#')
				i.fi-share
				|    Share


//- related-articles
mixin related-articles
	h4 Related Articles
	.list-group
		a(href='#{link_article_new_window}', target='_blank')
			include:md ../../../content/teamMentor/article-details.md
		a(href='#{link_article_new_window}', target='_blank')
			include:md ../../../content/teamMentor/article-details.md
		a(href='#{link_article_new_window}', target='_blank')
			include:md ../../../content/teamMentor/article-details.md