extends ../_layouts/flare_page
include mixins/style-guide-mixins
include ../content/mixins/style-guide-mixins.jade

block content
	#application
		#left-nav
			+flare-style-guide-links
		// left-nav
		#results
			+introduction
			+horizontal-rule
			+style-guide-about-us
			+horizontal-rule
			+style-guide-visual-identity
		// results
		#right-nav
			br
		// right-nav
	// application