//- sign-up-form
mixin sign-up-form
	:markdown
		### Sign Up
		Complete this form and get access to the worlds largest repository of secure software development knowledge.
	form#sign-up-form(role='form')
		.form-group
			label(for='new-user-username') Username
			input#new-user-username.form-control(type='username', placeholder='Username')
		.form-group
			label(for='new-user-password') Password
			input#new-user-password.form-control(type='password', placeholder='Password')
		.form-group
			label(for='new-user-confirm-password') Confirm Password
			input#new-user-confirm-password.form-control(type='password', placeholder='Confirm Password')
		.form-group
			label(for='new-user-email') Email Address
			input#new-user-email.form-control(type='username', placeholder='Email Address')
		a(href='/deploy/html/home/main-app-view.html')
			button(type='button') Sign Up

//- login-form
mixin login-form
	:markdown
		### Login
		Returning customer? This is the form for you. Did you know you can go straight to www.teammentor.net/teammentor to log in?
	form#login-form(role='form', method='post', action='/user/login')
		.form-group
			label(for='new-user-username') Username
			input#new-user-username.form-control(type='username', placeholder='Username' name='username')
		.form-group
			label(for='new-user-password') Password
			input#new-user-password.form-control(type='password', placeholder='Password', name='password')
		//a(href='/deploy/html/home/main-app-view.html')
		button#btn-login(type='submit') Login

//- forgot-password-form
mixin forgot-password-form
	:markdown
		### Forgot your password?
		Too easy - just type in your email address and we'll send you an email with further instructions.
	form#forgot-password(role='form', action='forgot-password-completed.html')
		.form-group
			label(for='email') Email Address
			input#email.form-control(type='email', placeholder='Email Address')
		a(href='/deploy/html/user/forgot-password-completed.html')
			button(type='button') Get password

//- forgot-password-button
mixin forgot-password-button
	form(role='form', action='returning-user-forgot-password.html', method='get')
		button#btn-forgot-pwd(type='submit') Forgot your password?