//- Jade Login Form
mixin jade-login-form
	h3 Login
	include:md ../../../content/teamMentor/getting-started/login-form.md
	form#login-form(role='form', action='../home/main-app-view')
		.form-group
			+username-input
		.form-group
			+password-input
		.row
			.col-6
				.lge-container
					+login-button
				// lge-container
			// column
			.col-6
				.lge-container
					a(href='forgot-password')
						+forgot-password-button
				// lge-container
			// column
		// row
	// form


//- Jade Sign Up Form
mixin jade-sign-up-form
	h3 Sign Up
	include:md ../../../content/teamMentor/getting-started/sign-up-form.md
	form#sign-up-form(role='form')
		.form-group
			+username-input
		.form-group
			+email-input
		.form-group
			+password-input
		.form-group
			include:md ../../../content/teamMentor/getting-started/agree-to-toc.md
		a(href='../home/main-app-view')
			+sign-up-button
	// form


//- Jade Forgot Password Form
mixin jade-forgot-password-form
	h3 Forgot your password?
	include:md ../../../content/teamMentor/getting-started/forgot-password-form.md
	form#forgot-password(role='form', action='index-validation')
		.form-group
			+email-input
		+get-password-button
	// form


//- TEAM Mentor Summary
mixin team-mentor-summary
	include:md ../../../content/teamMentor/getting-started/login-wall-summary.md
	.row
		.col-2
			+image-identify-fix-icon
		// column
		.col-10
			include:md ../../../content/teamMentor/landing-pages/selling-point-1.md
		// column
	// row
	.row
		.col-2
			+image-reduces-icon
		//column
		.col-10
			include:md ../../../content/teamMentor/landing-pages/selling-point-2.md
		// column
	// row
	.row
		.col-2
			+image-expand-icon
		// column
		.col-10
			include:md ../../../content/teamMentor/landing-pages/selling-point-3.md
		// column
	// row