mixin articles-list-poc
    #articles
        if results
            each result in results.take(250)
                .bg#list-view-article
                    if result
                        table
                            tr
                                td.small
                                    br
                                    +guideline-icon
                                td
                                    span
                                        a(href='/article/' + result.id.remove('article-') + '/' + result.title.replace(/ /g,'-').remove('.'), id=result.id)
                                        h4=  result.title
                            tr
                                td

                                td
                                    p= result.summary + '...'