extends ../_layouts/page_home.jade
block content
    #application
      .row
        .column-offset-3.column-6
          //form#login-form(role='form')		
             h1 not all visible
             h2 visible
          h1 all good here