include ../content/links.jade

nav
	#customer
		#tm-logo
	#tm-logo
	ul#links
		li
			a(href='navigate/')
				+navigate-icon
		li
			a(href='main-app-view')
				+home-icon
		li
			a(href='../help/index')
				+help-icon
		li
			a(href='../user/user')
				+user-icon
		li
			a(href='../getting-started/index')
				+logout-icon
	#menu-icon
		a(href='#')
			i.fi-list