include ../../content/links.jade
include ../../content/images.jade

nav
	#logo
		a(href='index/')
			+image-teammentor-logo__default
	ul#lp-links
		li
			a(href='about/')
				p About
		li
			a(href='features/')
				p Features
		li
			a(href='../help/index')
				p Help
		li
			a(href='../getting-started/index/')
				p Get Started
	#lp-menu-icon
		a(href='#')
			i.fi-list