extends ../_layouts/flare_page
include mixins/new-user-onboard-mixins
include ../home/mixins/application-mixins

block content
	#application
		#left-nav
		// left-nav
		#results
			+flare-search-bar-input
			+flare-results-save-clear
			+flare-articles-list
		// results
		#right-nav
			+step-two-instructions
		// right-nav
	// application