extends ../_layouts/flare_page
include mixins/new-user-onboard-mixins
include ../home/mixins/application-mixins

block content
	#application
		#left-nav
		// left-nav
		#results
			+step-three-instructions
		// results
		#right-nav
			+flare-filters-div
		// right-nav
	// application