extends ../_layouts/flare_page
include mixins/new-user-onboard-mixins
include ../home/mixins/application-mixins

block content
	#application
		#left-nav
		// left-nav
		#results
			+flare-search-bar-input
			+flare-main-app-view
		// results
		#right-nav
			+step-one-instructions
		// right-nav
	// application