//- static texts
- var head_title = 'TEAM Mentor 4.0 (Html version)'

//- search-bar-input
mixin search-bar-input
	.input-group
		input.form-control(type='text', placeholder='Type keywords here')
		span.input-group-btn
			button.btn-search-bar(type='button') SEARCH

//- results-save-clear
mixin results-save-clear
	table
		tr
			td 
				h4 0/200 results showing
			td 
				a.action(href='#save') Save
			td 
				a.action(href='main-app-view.html') Clear

//- filters
mixin filters-div
	h3 Filters
	form(role='form', action='filters-active.html')
		.form-group
			h5 Technology
			ul.list-group
				li.list-group-item.filters
					input#technology_1(type='checkbox')
					label(for='#technology_1', type='checkbox') Option #1
						span.badge 14 
				li.list-group-item.filters
					input#technology_2(type='checkbox')
					label(for='#technology_2', type='checkbox') Option #2
						span.badge 14 
				li.list-group-item.filters
					input#technology_3(type='checkbox')
					label(for='#technology_3', type='checkbox') Option #3
						span.badge 14 
				li.list-group-item.filters
					input#technology_4(type='checkbox')
					label(for='#technology_4', type='checkbox') Option #4
						span.badge 14 
				li.list-group-item.filters
					input#technology_5(type='checkbox')
					label(for='#technology_5', type='checkbox') Option #5
						span.badge 14 
		.form-group
			h5 Category
			ul.list-group
				li.list-group-item.filters
					input#category_1(type='checkbox')
					label(for='#category_1', type='checkbox') Option #1
						span.badge 14 
				li.list-group-item.filters
					input#category_2(type='checkbox')
					label(for='#category_2', type='checkbox') Option #2
						span.badge 14
				li.list-group-item.filters
					input#category_3(type='checkbox')
					label(for='#category_3', type='checkbox') Option #3
						span.badge 14
				li.list-group-item.filters
					input#category_4(type='checkbox')
					label(for='#category_4', type='checkbox') Option #4
						span.badge 14
				li.list-group-item.filters
					input#category_5(type='checkbox')
					label(for='#category_5', type='checkbox') Option #5
						span.badge 14
		.form-group
			h5 Phase
			ul.list-group
				li.list-group-item.filters
					input#phase_1(type='checkbox')
					label(for='#phase_1', type='checkbox') Option #1
						span.badge 14
				li.list-group-item.filters
					input#phase_2(type='checkbox')
					label(for='#phase_2', type='checkbox') Option #2
						span.badge 14
				li.list-group-item.filters
					input#phase_3(type='checkbox')
					label(for='#phase_3', type='checkbox') Option #3
						span.badge 14
				li.list-group-item.filters
					input#phase_4(type='checkbox')
					label(for='#phase_4', type='checkbox') Option #4
						span.badge 14
				li.list-group-item.filters
					input#phase_5(type='checkbox')
					label(for='#phase_5', type='checkbox') Option #5
						span.badge 14
		.form-group
			h5 Type
			ul.list-group
				li.list-group-item.filters
					input#type_1(type='checkbox')
					label(for='#type_1', type='checkbox') Option #1
						span.badge 14
				li.list-group-item.filters
					input#type_2(type='checkbox')
					label(for='#type_2', type='checkbox') Option #2
						span.badge 14
				li.list-group-item.filters
					input#type_3(type='checkbox')
					label(for='#type_3', type='checkbox') Option #3
						span.badge 14
				li.list-group-item.filters
					input#type_4(type='checkbox')
					label(for='#type_4', type='checkbox') Option #4
						span.badge 14
				li.list-group-item.filters
					input#type_5(type='checkbox')
					label(for='#type_5', type='checkbox') Option #5
						span.badge 14

		button.btn-full-width(type='submit')
			| Ok, Done


//- save to dashboard
mixin save-div
	h3 Save to Dashboard
	form(role='form')
		.form-group
			label(for='nickname') Give it a nickname
			input#nickname.form-control(type='text', placeholder='Nickname')
		button.btn-full-width(type='submit') Ok, Done

//- landing-page_call-to-action
mixin call-to-action-div
	.row
		.column-offset-2.column-8
			h1 Security Risk. Understood.
			br
			br
			a(href='getting-started.html')
				button.btn-landing-page(type='button') See for yourself

//- landing-page_footer
mixin footer-div
	.lge-container
		.row
			.column-offset-4.column-4
				img(src='/deploy/assets/logos/si-logo.png')
				a.action.toc(href="#{user}/terms-and-conditions.html") Terms & Conditions
				

//- horizontal-rule
mixin horizontal-rule
	hr

//- article-options
mixin article-options
	.row.text-center
		.column-4
			a.action(href='#')
				| Metadata
		.column-4
			a.action(href='#')
				| Save
		.column-4
			a.action(href='#')
				| Share

//- related-articles
mixin related-articles
	.list-group
		a.list-group-item(href='#{link_article_new_window}', target='_blank')
			h5.list-group-item-heading Related Article Headline
			p.list-group-item-text
				| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et erat eu nibh interdum euismod at eget diam. Morbi pulvinar lorem vitae venenatis rutrum. Aliquam quis sem vel odio tristique dignissim sagittis sed massa. Pellentesque nibh arcu, laoreet sed varius sed, scelerisque in elit.
		a.list-group-item(href='#{link_article_new_window}', target='_blank')
			h5.list-group-item-heading Related Article Headline
			p.list-group-item-text
				| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et erat eu nibh interdum euismod at eget diam. Morbi pulvinar lorem vitae venenatis rutrum. Aliquam quis sem vel odio tristique dignissim sagittis sed massa. Pellentesque nibh arcu, laoreet sed varius sed, scelerisque in elit.
		a.list-group-item(href='#{link_article_new_window}', target='_blank')
			h5.list-group-item-heading Related Article Headline
			p.list-group-item-text
				| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et erat eu nibh interdum euismod at eget diam. Morbi pulvinar lorem vitae venenatis rutrum. Aliquam quis sem vel odio tristique dignissim sagittis sed massa. Pellentesque nibh arcu, laoreet sed varius sed, scelerisque in elit.

//- progress-bar
mixin progress-bar
	.progress
		.progress-bar(role='progressbar', aria-valuenow='10', aria-valuemin='0', aria-valuemax='100', style='width: 10%')

//- lp-start-button
mixin lp-start-button
	.row
		.column-offset-4.column-4
			a(href='exploiting.html')
				button.btn-full-width(type='button') Get Started
			br
			br


//- sign-up-form
mixin sign-up-form
	form#sign-up-form(role='form')
		.form-group
			label(for='new-user-username') Username
			input#new-user-username.form-control(type='username', placeholder='Username')
		.form-group
			label(for='new-user-password') Password
			input#new-user-password.form-control(type='password', placeholder='Password')
		.form-group
			label(for='new-user-confirm-password') Confirm Password
			input#new-user-confirm-password.form-control(type='password', placeholder='Confirm Password')
		.form-group
			label(for='new-user-email') Email Address
			input#new-user-email.form-control(type='username', placeholder='Email Address')
		a(href='/deploy/html/home/main-app-view.html')
			button.btn-full-width(type='button') Sign Up

//- login-form
mixin login-form
	form#login-form(role='form', method='post', action='/user/login')
		.form-group
			label(for='new-user-username') Username
			input#new-user-username.form-control(type='username', name='username', placeholder='Username', value = 'user')
		.form-group
			label(for='new-user-password') Password
			input#new-user-password.form-control(type='password', name='password', placeholder='Password')
		button.btn-full-width(type='submit', id='btn-login') Login

//- forgot-password-form
mixin forgot-password-form
	form#forgot-password(role='form', action='forgot-password-completed.html')
		.form-group
			label(for='email') Email Address
			input#email.form-control(type='email', placeholder='Email Address')
		a(href='/deploy/html/user/forgot-password-completed.html')
			button.btn-full-width(type='button') Get password

//- user-details-form
mixin user-details-form
	form(role='form', action='user.html')
		.form-group
			label(for='user-name') Name
			input.form-control(type='user-name', id='user-name', placeholder='Name')
		.form-group
			label(for='user-email') Email Address
			input.form-control(type='user-email', id='user-email', placeholder='Email Address')
		.form-group
			label(for='user-title') Title
			input.form-control(type='user-title', id='user-title', placeholder='Title')
		.form-group
			label(for='user-company') Company
			input.form-control(type='user-company', id='user-company', placeholder='Company')
		.form-group
			label(for='user-state') State
			input.form-control(type='user-state', id='user-state', placeholder='State')
		.form-group
			label(for='user-country') Country
			input.form-control(type='user-country', id='user-country', placeholder='Country')
		.form-group
			label(for='user-group-id') Group ID
			input.form-control(type='user-group-id', id='user-group-id', placeholder='Group ID')
		button.btn-full-width(type='submit')
			| Ok, Done

//- new-password-form
mixin new-password-form
	form(role='form', action='user.html')
		.form-group
			label(for='user-current-password') Current Password
			input.form-control(type='user-current-password', id='user-current-password', placeholder='Current Password')
	.form-group
		label(for='user-new-password') New Password
		input.form-control(type='user-new-password', id='user-new-password', placeholder='New Password')
	.form-group
		label(for='user-confirm-new-password') Confirm New Password
		input.form-control(type='user-confirm-new-password', id='user-confirm-new-password', placeholder='Confirm New Password')
	button.btn-full-width(type='submit') Save


//- forgot-password-button
mixin forgot-password-button
	button.btn-full-width(type='submit') Forgot your password?

//- alert
mixin alert
	.alert(role='alert')
		| Error/Validation messages go here
