//- static texts
- var head_title = 'TEAM Mentor 4.0 (Html version)'

//- Icons
mixin metadata-icon
	i.fi-list-bullet
	|     Metadata

mixin save-icon
	i.fi-bookmark
	|    Save

mixin share-icon
	i.fi-share
	|    Share

mixin open-icon
	i.fi-plus
	|     Open

mixin search-icon
	i.fi-magnifying-glass

mixin filter-icon
	i.fi-filter

mixin clear-icon
	i.fi-trash
	|     Clear

//- Form Inputs
mixin username-input
	label
		| Username
	input(type='text', id='username', placeholder='Username')

mixin flare-password-input
	label
		| Password
	.row.collapse
		.small-9.columns
			input(type='text', placeholder='Password')
		.small-3.columns
			.button.postfix(href='#')
				.row
					.small-2.columns
						input#show-pw(type='checkbox')
					.small-10.columns
						label(for='show-pw') SHOW
					

mixin password-input
	label
		| Password
	input(type='password', id='password', placeholder='Password')

mixin email-input
	label
		| Email Address
	input(type='email', id='email', placeholder='Email Address')

mixin save-input
	label
		| Save to Dashboard
	input(type='text', id='nickname', placeholder='Quick reference nickname (optional)')

mixin share-input
	label
		| Share via Email
	input(type='text', id='share', placeholder='Email address to link article to')

//- Form Buttons
mixin login-button
	button(type='submit', id='btn-login') Access TEAM Mentor

mixin sign-up-button
	a(href='/deploy/html/home/main-app-view.html')
		button(type='button', id='btn-sign-up') Start Fixing Vulnerabilities

mixin forgot-password-button
	a(href='returning-user-forgot-password.html')
		button(type='button', id='btn-forgot-pwd') Forgot your password?

mixin save-button
	button(type='submit', id='btn-save') Save for later

mixin share-button
	button(type='submit', id='btn-share') Share it

//- Copyright Information
mixin copyright
	#copyright
		include:md teamMentor/articles/copyright-information.md

//- horizontal-rule
mixin horizontal-rule
	hr

//- alert
mixin alert
	.alert-box(role='alert')
		| Error/Validation messages go here