//- horizontal-rule
mixin horizontal-rule
	hr

//- Breadcrumbs
mixin breadcrumbs
    dl.sub-nav
        dt NAVIGATE:
        dd
            a(href='#') First Level
        dd
            a(href='#') Second Level
        dd.active
            a(href='#') Third Level