//- static texts
- var head_title = 'TEAM Mentor 4.0 (Html version)'

//- Icons
mixin metadata-icon
	i.fi-list-bullet
	|     Metadata

mixin save-icon
	i.fi-bookmark
	|    Save

mixin share-icon
	i.fi-share
	|    Share

mixin open-icon
	i.fi-plus
	|     Open

mixin search-icon
	i.fi-magnifying-glass

mixin filter-icon
	i.fi-filter

mixin clear-icon
	i.fi-trash
	|     Clear

mixin delete-icon
	i.fi-trash
	|     Delete


//- Form Inputs
mixin username-input
	label
		| Username
	input(type='text', id='username', placeholder='Username')

mixin flare-password-input
	label
		| Password
	.row.collapse
		.small-9.columns
			input(type='text', placeholder='Password')
		.small-3.columns
			.button.postfix(href='#') SHOW
					
mixin password-input
	label
		| Password
	input(type='password', id='password', placeholder='Password')

mixin email-input
	label
		| Email Address
	input(type='email', id='email', placeholder='Email Address')

mixin name-input
	label
		| Name
	input(type='text', id='name', placeholder='Full Name')

mixin title-input
	label
		| Title
	input(type='text', id='title', placeholder='Title')

mixin company-input
	label
		| Company
	input(type='text', id='company', placeholder='Company')

mixin state-input
	label
		| State
	input(type='text', id='state', placeholder='State')

mixin country-input
	label
		| Country
	input(type='text', id='country', placeholder='Country')

mixin group-id-input
	label
		| Group ID
	input(type='text', id='group-id', placeholder='Group ID')

mixin save-input
	label
		| Save to Dashboard
	input(type='text', id='nickname', placeholder='Quick reference nickname (optional)')

mixin share-input
	label
		| Share via Email
	input(type='text', id='share', placeholder='Email address to link article to')


//- Form Buttons
mixin login-button
	button(type='submit', id='btn-login') Access TEAM Mentor

mixin sign-up-button
	a(href='/deploy/html/home/main-app-view.html')
		button(type='button', id='btn-sign-up') Start Fixing Vulnerabilities

mixin forgot-password-button
	a(href='returning-user-forgot-password.html')
		button(type='button', id='btn-forgot-pwd') Forgot your password?

mixin get-password-button
	a(href='/deploy/html/user/forgot-password-completed.html')
		button(type='button') Get password

mixin save-button
	button(type='submit', id='btn-save') Save for later

mixin share-button
	button(type='submit', id='btn-share') Share it


//- Breadcrumbs
mixin breadcrumbs
	ul.breadcrumbs
		li
			a(href='#') Navigate
		li
			a(href='#') Principles & Standards
		li.current
			a(href='#') Fundamentals of Security


//- Copyright Information
mixin copyright
	#copyright
		include:md teamMentor/articles/copyright-information.md


//- horizontal-rule
mixin horizontal-rule
	hr
	

//- Alert System
mixin flare-alert
	.alert-box(data-alert='')
		| Error, Validation or Alert Message Here
		a.close(href='#') ×

mixin jade-alert
	.alert-box(data-alert='')
		| Error, Validation or Alert Message Here