//- static texts
- var head_title = 'TEAM Mentor 4.0 (Html version)'

//- Icons
mixin metadata-icon
	i.fi-list-bullet
	|     Metadata

mixin save-icon
	i.fi-bookmark
	|    Save

mixin share-icon
	i.fi-share
	|    Share

mixin open-icon
	i.fi-plus
	|     Open

mixin search-icon
	i.fi-magnifying-glass

mixin filter-icon
	i.fi-filter

mixin clear-icon
	i.fi-trash
	|     Clear

//- Copyright Information
mixin copyright
	#copyright
		include:md teamMentor/articles/copyright-information.md

//- horizontal-rule
mixin horizontal-rule
	hr

//- alert
mixin alert
	.alert-box(role='alert')
		| Error/Validation messages go here

// Save Div
mixin save-div
	form
		.row
			.small-12.large-12.columns
				+save-input
			.small-12.large-12.columns
				+save-button

// Share Div
mixin share-div
	form
		.row
			.small-12.large-12.columns
				+share-input
			.small-12.large-12.columns
				+share-button