mixin image-teammentor-logo__landing_page
    a(href='/deploy/html/landing-pages/index.html')
        br
        img(src='/deploy/assets/logos/tm-logo.jpg' alt="TEAM Mentor" width="200px")
        
mixin image-teammentor-logo__default
    a(href="/deploy/html/landing-pages/index.html" data-toggle="tooltip" title="Home")
        img(src="/deploy/assets/logos/logo.jpg" class="img-responsive" alt="TEAM Mentor" width="200px")    