mixin image-teammentor-logo__default
    a(href='/_Customizations/deploy/html/landing-pages/index.html')
        img(src='/_Customizations/deploy/assets/logos/tm-logo.jpg' alt="TEAM Mentor" width="200px")