mixin image-teammentor-logo__landing_page
    a(href='landing-page-index.html')
        br
        img(src='/assets/logos/tm-logo.jpg' alt="TEAM Mentor" width="200px")
        
mixin image-teammentor-logo__default
    a(href="/deploy/html/default.html" data-toggle="tooltip" title="Home")
        img(src="/assets/logos/logo.jpg" class="img-responsive" alt="TEAM Mentor" width="200px")    