mixin image-teammentor-logo__default
	a(href='/deploy/html/landing-pages/index.html')
		img(src='/deploy/assets/logos/tm-logo.jpg' alt="TEAM Mentor" width='200px')

mixin image-security-innovation-logo
	img(src='/deploy/assets/logos/si-logo.png' alt='Security Innovation')

mixin image-elsevier-logo
	img(src='/deploy/assets/clients/elsevier.png' alt='Elsevier')

mixin image-fedex-logo
	img(src='/deploy/assets/clients/fedex.png' alt='Fedex')

mixin image-mass-mutual-logo
	img(src='/deploy/assets/clients/massmutual.png' alt='Mass Mutual')

mixin image-microsoft-logo
	img(src='/deploy/assets/clients/microsoft.png' alt='Microsoft')

mixin image-symantec-logo
	img(src='/deploy/assets/clients/symantec.png' alt='Symantec')

mixin image-ubs-logo
	img(src='/deploy/assets/clients/ubs.png' alt='Ubs')

mixin image-identify-fix-icon
	img(src='/deploy/assets/icons/identifyfix.png', alt='Identify vulnerabilities and reduce time to fix them')

mixin image-reduces-icon
	img(src='/deploy/assets/icons/reduces.png', alt='REDUCE the number of vulnerabilities over time')

mixin image-expand-icon
	img(src='/deploy/assets/icons/expand.png', alt='EXPAND the development teams knowledge and improve process')