extends ../_layouts/page_landing.jade
block content

    #about
      .row
        .column-offset-2.column-8
          h2 An interactive Application Security library with thousands of code samples and professional guidance when you need it.

    #about-us
      .container
        .row 
          .column-offset-2.column-8
            h4.dark-grey TEAM Mentor was created by developers for developers using secure coding standards, code snippets and checklists built from 10+ years of targeted security assessments for Fortune 500 organizations.
            p It contains over 4,000 articles with dynamic content across multiple development platforms including .NET, Java, C/C++, PHP, Android and iOS. TEAM Mentor is the In-Practice companion to our TEAM Professor eLearning courses, extending developers’ knowledge in combination with training.
            p TeamMentor integrates with static analysis tools, such as Checkmarx and Fortify, helping teams make more sense of scan results and make critical decisions to fix software vulnerabilities.
    #calltoaction
      .container
        h1 Security Risk. Understood.
        br
        br
        a(href='getting-started.html')
          button.btn.btn-landing-page(type='button') See for yourself
    #footer
      .lge-container
        ul.brand
          img(src='/deploy/assets/logos/si-logo.png')