extends ../_layouts/page_landing.jade
block content

    #features
      .container
        h3.text-center.grey TEAM Mentor provides intelligence to fix vulnerabilities and comply
        br
        br
        
        .row
          .column-offset-2.column-2
            img.img-responsive(src='/deploy/assets/icons/compliance.png', alt='Delivers compliance-specific secure coding guidance')
          .column-6
            br
            br
            br
            h4.dark-grey Delivers compliance-specific secure coding guidance for PCI-DSS, OWASP Top 10, CWE and other popular frameworks.

        .row
          .column-offset-2.column-2
            img.img-responsive(src='/deploy/assets/icons/integrate.png', alt='Integrates with multiple static analysis tools and developer environments')
          .column-6
            br
            br
            h4.dark-grey Integrates with multiple static analysis tools and developer environments (IDE’s) to map prescriptive coding guidance to scan results to fix vulnerabilities.
            
        .row
          .column-offset-2.column-2
            img.img-responsive(src='/deploy/assets/icons/crossreferences.png', alt='Stores and cross-references your security policies')
          .column-6
            br
            br
            h4.dark-grey Stores and cross-references your security policies with out-of-the-box secure coding checklists and examples.

        .row
          .column-offset-2.column-2
            img.img-responsive(src='/deploy/assets/icons/reduces.png', alt='Provides guidance to assist developers')
          .column-6
            br
            br
            br
            h4.dark-grey Provides guidance to assist developers in reducing security vulnerabilities in software applications.
            

    #calltoaction
      .container
        h1 Security Risk. Understood.
        br
        br
        a(href='/deploy/html/getting-started/index.html')
          button.btn.btn-landing-page(type='button') See for yourself
    #footer
      .lge-container
        ul.brand
          img(src='/deploy/assets/logos/si-logo.png')
