extends ../_layouts/page_landing.jade
block content

    #features
      .container
        h2.text-center.light-grey TEAM Mentor provides intelligence to fix vulnerabilities and comply
        br
        br
        .row
          .col-sm-offset-1.col-sm-2
            img.img-responsive(src='/deploy/assets/icons/compliance.png', alt='Delivers compliance-specific secure coding guidance')
          .col-sm-8
            br
            br
            h4 Delivers compliance-specific secure coding guidance for PCI-DSS, OWASP Top 10, CWE and other popular frameworks.
        br
        .row
          .col-sm-offset-1.col-sm-2
            img.img-responsive(src='/deploy/assets/icons/integrate.png', alt='Integrates with multiple static analysis tools and developer environments')
          .col-sm-8
            br
            br
            h4 Integrates with multiple static analysis tools and developer environments (IDE’s) to map prescriptive coding guidance to scan results to fix vulnerabilities.
        br
        .row
          .col-sm-offset-1.col-sm-2
            img.img-responsive(src='/deploy/assets/icons/crossreferences.png', alt='Stores and cross-references your security policies')
          .col-sm-8
            br
            br
            h4 Stores and cross-references your security policies with out-of-the-box secure coding checklists and examples.
        br
        .row
          .col-sm-offset-1.col-sm-2
            img.img-responsive(src='/deploy/assets/icons/reduces.png', alt='Provides guidance to assist developers')
          .col-sm-8
            br
            br
            h4 Provides guidance to assist developers in reducing security vulnerabilities in software applications.
        br
        br
        br
    #calltoaction
      .container
        h1 Fix Faster. Fix Better.
        br
        br
        a(href='/deploy/html/getting-started/index.html')
          button.btn.btn-landing-page(type='button') See for yourself
    #footer
      .container
        img(src='/deploy/assets/logos/si-logo.png')
