extends ../_layouts/page_landing.jade
block content

    #features
      .container
        h3 TEAM Mentor provides intelligence to fix vulnerabilities and comply
        br
        
        .row
          .column-offset-3.column-1
            img(src='/deploy/assets/icons/compliance.png', alt='Delivers compliance-specific secure coding guidance')
          .column-5
            h4 Delivers compliance-specific secure coding guidance for PCI-DSS, OWASP Top 10, CWE and other popular frameworks.
        br
        .row
          .column-offset-3.column-1
            img(src='/deploy/assets/icons/integrate.png', alt='Integrates with multiple static analysis tools and developer environments')
          .column-5
            h4 Integrates with multiple static analysis tools and developer environments (IDE’s) to map prescriptive coding guidance to scan results to fix vulnerabilities.
        br
        .row
          .column-offset-3.column-1
            img(src='/deploy/assets/icons/crossreferences.png', alt='Stores and cross-references your security policies')
          .column-5
            h4Stores and cross-references your security policies with out-of-the-box secure coding checklists and examples.
        br
        .row
          .column-offset-3.column-1
            img(src='/deploy/assets/icons/reduces.png', alt='Provides guidance to assist developers')
          .column-5
            h4 Provides guidance to assist developers in reducing security vulnerabilities in software applications.

    #calltoaction
      +call-to-action-div

    #footer
      +footer-div
