doctype html
html(lang='en')
  include ../../layouts/head.jade
  body
    include ../../layouts/navbar_landing.jade    

    #usp
      .container
        h1
          | Provides faster and better remediation guidance within the developer’s environment
      br
      br
      a(href='getting-started.html')
        button.btn.btn-landing-page Start your free trial today
    #reasons
      .container
        h2.text-center.light-grey TEAM Mentor helps you in 3 ways
        .row
          .col-sm-offset-1.col-sm-2
            img.img-responsive(src='/teammentor/img/identifyfix.svg', alt='Team Mentor identifies vulnerabilities and reduces time to fix them')
          .col-sm-8
            br
            br
            h4
              | Identify vulnerabilities and reduce time to fix — helps users of scanning tools to quickly identify and fix software vulnerabilities.
        .row
          .col-sm-offset-1.col-sm-2
            img.img-responsive(src='/teammentor/img/improve.svg', alt='Team Mentor identifies vulnerabilities and reduces time to fix them')
          .col-sm-8
            br
            br
            h4
              | Improve secure coding to reduce the number of vulnerabilities — improved coding standards and context-aware presentation of the standards to developers.
        .row
          .col-sm-offset-1.col-sm-2
            img.img-responsive(src='/teammentor/img/integrate.svg', alt='Team Mentor identifies vulnerabilities and reduces time to fix them')
          .col-sm-8
            br
            br
            h4
              | Create a development workflow to accelerate production — Integrating security scanning and guidance into a development workflow results in quicker production of more secure and stable applications.
        br
    br
    #clients
      .container
        h2.text-center.light-grey Our clients love us (and we think you will too!)
        br
        br
        .row
          .col-xs-4
            img.img-responsive(src='/teammentor/img/elsevier.png')
          .col-xs-4
            img.img-responsive(src='/teammentor/img/fedex.png')
          .col-xs-4
            img.img-responsive(src='/teammentor/img/massmutual.png')
        .row
          .col-xs-4
            img.img-responsive(src='/teammentor/img/microsoft.png')
          .col-xs-4
            img.img-responsive(src='/teammentor/img/symantec.png')
          .col-xs-4
            img.img-responsive(src='/teammentor/img/ubs.png')
    #calltoaction
      .container
        h1 Fix Faster. Fix Better.
        br
        br
        a(href='getting-started.html')
          button.btn.btn-landing-page(type='button') See for yourself
