extends ../../content/_layouts/page_landing.jade
include mixins/jade_landing_page_mixins.jade

block content
  +usp-div

  +reasons-to-use-tm-div

  #clients
    .lge-container
      h2 Our clients love us (and we think you will too!)
      .row
        .col-4
          img(src='/deploy/assets/clients/elsevier.png')
        .col-4
          img(src='/deploy/assets/clients/fedex.png')
        .col-4
          img(src='/deploy/assets/clients/massmutual.png')
      .row
        .col-4
          img(src='/deploy/assets/clients/microsoft.png')
        .col-4
          img(src='/deploy/assets/clients/symantec.png')
        .col-4
          img(src='/deploy/assets/clients/ubs.png')
  
  +call-to-action-div

  +footer-div