extends ../_layouts/page_landing.jade
block content

    #usp
      .container
        h1 Instant resources that bridge the gap between developer questions and technical solutions
        br
        br
        a(href='../getting-started/index.html')
          button.btn-landing-page Start your free trial today

    #reasons
      .container
        h2.text-center.grey With TEAM Mentor, you can...
        br

        .row
          .column-3
            br
          .column-1
            br
            img.img-responsive(src='/deploy/assets/icons/identify-fix.png', alt='Identify vulnerabilities and reducee time to fix them')
          .column-5
            br
            h4.dark-grey FIX vulnerabilities quicker than ever before with TEAM Mentor's seamless integration into a developer's IDE and daily workflow

        .row
          .column-3
            br
          .column-1
            img.img-responsive(src='/deploy/assets/icons/reduces.png', alt='REDUCE the number of vulnerabilities over time')
          .column-5
            br
            h4.dark-grey REDUCE the number of vulnerabilities over time as developers learn about each vulnerability at the time it is identified

        .row
          .column-3
            br
          .column-1
            br
            img.img-responsive(src='/deploy/assets/icons/integrate.png', alt='REDUCE the number of vulnerabilities over time')
          .column-5
            h4.dark-grey EXPAND the development team's knowledge and improve process with instant access to thousands of specific remediation tactics, including the host organizatoin's security policies and coding best practices
        br
    br

    #clients
      .container
        h2.text-center.grey Our clients love us (and we think you will too!)
        br
        br
        .row
          .column-4.text-center
            img.img-responsive(src='/deploy/assets/clients/elsevier.png')
          .column-4
            img.img-responsive(src='/deploy/assets/clients/fedex.png')
          .column-4
            img.img-responsive(src='/deploy/assets/clients/massmutual.png')
        .row
          .column-4
            img.img-responsive(src='/deploy/assets/clients/microsoft.png')
          .column-4
            img.img-responsive(src='/deploy/assets/clients/symantec.png')
          .column-4
            img.img-responsive(src='/deploy/assets/clients/ubs.png')
    #calltoaction
      .container
        h1 Security Risk. Understood.
        br
        br
        a(href='getting-started.html')
          button.btn.btn-landing-page(type='button') See for yourself

    #footer
      .lge-container
        img(src='/deploy/assets/logos/si-logo.png')