extends ../../content/_layouts/page_landing.jade
block content

    #features
      .container
        h3 This part of TEAM Mentor requires a login.
        br
        .row
          .col-offset-3.col-12
            :markdown
                Please [Login](/user/login/returning-user-login.html) 
            //or ***Create an Accout***