/*------------------------------------*
   STRUCTURE
*------------------------------------*/
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
body {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #fafafa;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}
body * {
  box-sizing: border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
/*------------------------------------*
   NAVIGATION
*------------------------------------*/
.tm-logo {
  -webkit-order: 1;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  background: url('../assets/logos/tm-logo.svg') no-repeat;
  background-size: 170px;
  background-position: 8px 7px;
}
.tm-logo, .links {
  background-color: white;
  border-bottom: 1px solid #dbdbdb;
  -webkit-flex: 50%;
  -webkit-box-flex: 50%;
  -ms-flex: 50%;
  flex: 50%;
}
.tm-logo, .links, .search {
  height: 3em;
}
.links {
  -webkit-order: 2;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  text-align: right;
}
.search {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 100%;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  -webkit-order: 4;
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4;
}
.search-field {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  -webkit-flex: 84%;
  -webkit-box-flex: 84%;
      -ms-flex: 88%;
          flex: 88%;
  border-top: 1px solid #dbdbdb;
  padding: 0 0.5em;
}
.search-field input {
  -webkit-flex: 3;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}
 /*------------------------------------*
   APPLICATION
*------------------------------------*/
.application {
  -webkit-order: 3;
  order: 3;
  -webkit-flex: 100%;
  flex: 100%;
  height: calc(100% - 100px);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow: auto;
}
.application footer {
  background: transparent;
}
section {
  width: 100%;
  display: block;
  overflow-y: auto;
}
section.row {
  background: transparent;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}
aside {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  -webkit-flex: 100%;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  background: white;
  overflow-y: auto;
}
aside [class^="icon-"], [class*=" icon-"] {
  color: #565656;
}
#left-nav {
  border-right: 1px solid #dbdbdb;
}
#right-nav {
  border-left: 1px solid #dbdbdb;
}
#left-nav:target, #right-nav:target {
  display: block;
}
#right-nav:target {
  padding: 1em;
}
aside:target ~ main {
  display: none;
  height: 0;
}
.nav-icon {
  opacity: 0;
  display: none;
}
main {
  -webkit-order: 3;
  order: 3;
  -webkit-flex: 1;
  flex: 100%;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-flex;
  display: flex;
  overflow-y: auto;
  padding: 10px;
}
section.row__label {
  background: transparent;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  -webkit-flex: 100%;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  padding: 0 0.5em;
}
section.row__label > * {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
article {
  -webkit-flex: 100%;
  flex: 100%;
  -webkit-order: 1;
  order: 1;
  overflow-y: auto;
  background: white;
  border: 1px solid #dbdbdb;
  padding: 0 2em 1em 2em;
  margin: 1em 0;
  border-radius: 3px;
}
.article-title {
  flex: 30;
}
.article-title h1 {
  margin: 0.5em 0;
}
article h1, article h2, article h3, article h4, article h5, article h6 {
  margin: 1em 0 0 0;
}
article a {
  text-decoration: underline;
}
article ul {
  list-style-type: disc;
  margin: 1em;
  padding: 1em;
}
article.result, article.search-term {
  -moz-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
article.search-term {
  flex: 1 0 auto;
  margin: 0 0.5em 1em 0.5em;
  padding: 1em;
  border-radius: 30px;
  word-wrap: normal;
  color: #444444;
  border: 1px solid #dbdbdb;
}
article.search-term [class^="icon-"], article.search-term [class*=" icon-"] {
  padding: 0 10px 0 0;
  font-size: 0.85em;
}
article.search-term a {
  text-decoration: none;
}
article.result {
  flex: 1 1 400px;
  height: 100%;
  margin: 0.5em;
  padding: 0;
  text-align: center;
}
article.result h3 {
  color: #565656;
  margin: 0 0 1em 0;
  padding: 0 0 0.5em 0;
  border-bottom: 1px solid #dbdbdb;
  line-height: 1.5em;
  transition: 0.3s;
}
article.result a {
  text-decoration: none;
}
article.result a:hover h3 {
  color:  #8aaf3e;
  transition: 0.3s;
}
.metadata {
  background: #b4cf7b;
}
.metadata ul {
  flex: 1;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.metadata ul li {
  display: inline-block;
  text-align: center;
  width: 16%;
  padding: 0 2px;
}
.summary {
  padding: 1.5em 1em 0.5em;
}
.seen {
  display: none;
}
.summary a:visited .seen {
  display: block;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  -webkit-flex: 100%;
  flex: 100%;
  max-width: 100%;
}
/*------------------------------------*
   SUB-NAVIGATION
*------------------------------------*/
ul.side-nav {
  display: block;
}
ul.side-nav li {
  border-bottom: 1px solid #dbdbdb;
  padding: 1em;
  color: #7b7b7b;
  font-size: 1em;
}
.no-style {
  border: none;
  background: none;
}
.no-style li:hover {
  background: transparent !important;
}
span.text {
  color: #7b7b7b;
  padding: 0 1em;
}
#sub-nav {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  background: white;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding: 0.5em;
}
#sub-nav .item {
  -moz-flex: 1;
  -webkit-flex: 1;
  flex: 1 1 100%;
  padding: 0.5em;
  border-bottom: 1px solid #dbdbdb;
  font-size: 0.75em;
}
#sub-nav .item ul {
  padding: 0;
  list-style-type: none;
  background: #fafafa;
  border: 1px solid #dbdbdb;
  border-bottom: 0;
}
#sub-nav .item ul li {
  padding: 0.5em;
  border-bottom: 1px solid #dbdbdb;
}
/*------------------------------------*
  LANDING PAGE
*------------------------------------*/
.landing-page {
  background: #fafafa;
  border-bottom: 1px solid #dbdbdb;
}
#landing-page {
  -webkit-order: 6;
  order: 6;
  -webkit-flex: 100%;
  flex: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow-y: auto;
  background: white;
}
section {
  width: 100%;
  display: block;
  overflow-y: auto;
}
.about, .reasons, .clients, .call-to-action, .about-us, .features, footer {
  background: white;
}
.about, .call-to-action, .usp {
  background-image: url(../assets/stock-img/bg-img-small.jpg);
  padding: 0 1em;
}
.about {
  background-position: 0px 900px;
}
.about, .call-to-action {
  background-size: auto;
}
.usp {
  background-position: 0em 0em;
}
.about h3, .usp h2, .call-to-action h2 {
  color: white;
  line-height: 1.5em;
}
.reasons, .about-us, .features {
  padding: 1em;
}
.call-to-action {
  background-position: 0em -18em;
}
.clients {
  padding: 0 1em 2em 1em;
}
.features {
  background: white;
}
footer {
  width: 100%;
  padding: 0 0.5em;
  -webkit-order: 100;
  order: 100;
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
}
footer ul {
  list-style-type: none;
  list-style-position: outside;
  padding: 0;
  text-align: right;
}
footer ul li {
  display: inline-block;
  width: auto;
  padding: 0 1em;
}
.si-logo {
  background: url('../assets/logos/si-logo.svg') no-repeat;
  background-size: cover;
  padding-top: 20px;
  height: 0;
  width: 15px;
  margin: 5px 0 0 0;
  flex: 1;
}
.icons {
  flex: 3;
  text-align: center;
  font-size: 0.85em;
}
/*------------------------------------*
  SPRITES
*------------------------------------*/
.fix-vulnerabilities, .reduce-vulnerabilities, .improve-process, .delivers-compliance, .integrates, .cross-references, .provides-guidance {
  margin: 0 auto;
  height: 0;
}
.fix-vulnerabilities, .reduce-vulnerabilities, .improve-process, .delivers-compliance, .integrates, .cross-references, .provides-guidance {
  background: url(../assets/icons/landing-page-icons.png) no-repeat;
  width: 50%;
  padding-top: 50%;
}
.fix-vulnerabilities, .reduce-vulnerabilities, .provides-guidance {
  background-size: 685%;
}
.improve-process, .delivers-compliance, .integrates, .cross-references {
  background-size: 700%;
}
.fix-vulnerabilities, .elsevier {
  background-position: 0% 0%;
}
.reduce-vulnerabilities {
  background-position: 17.2% 0%;
}
.improve-process {
  background-position: 34% 0%;
}
.delivers-compliance {
  background-position: 50.3% 0%;
}
.integrates {
  background-position: 66.7% 0%;
}
.cross-references {
  background-position: 83% 0%;
}
.provides-guidance {
  background-position: 100% 0%;
}
/*------------------------------------*
   TYPOGRAPHY
*------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-weight: normal;
}
h1, h2, h3 {
  color: #7b7b7b;
}
h4, h5, p, ul {
  color: #444444;
}
h1 {
  font-size: 2em;
  line-height: 1.25em;
}
h2 {
  font-size: 1.75em;
  line-height: 1.153em;
}
h3 {
  font-size: 1.5em;
  line-height: 1.136em;
}
h4 {
  font-size: 1.25em;
  line-height: 1.5em;
}
h5 {
  font-size: 1em;
  line-height: 1.11em;
}
p, ul {
  font-size: 0.85em;
  line-height: 2em;
}
ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.article-info {
  list-style-type: none;
  margin: 0;
  padding: 0 2em 0 0;
  margin: 1em 2em 0 0;
  border-right: 1px solid #dbdbdb;
  flex: 1;
  text-align: center;
}
ul.filters {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-flex: 100%;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  font-size: 0.85em;
}
ul.filters li {
  border: 1px solid #dbdbdb;
  background: #fafafa;
  border-radius: 2em;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin: 0.25em;
  padding: 0.5em 1em;
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
ul.filters li:hover {
  background: #b4cf7b;
  border-color: #b4cf7b;
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
ul.display-inline li {
  display: inline-block;
  padding: 0 0.5em;
}
code, pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
pre {
  display: block;
  padding: 20px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.5;
  color: #444444;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #ececec;
  border: 1px solid #aaaaaa;
  border-radius: 0px;
  margin: 30px 0 30px 0;
  overflow: auto;
}
hr {
  margin: 0 auto;
  width: 70%;
  color: #ececec;
  margin-top: 40px;
  margin-bottom: 40px;
}
a {
  color: #444444;
  text-decoration: none;
  transition: 0.3s;
}
a:hover, a:active, a:focus {
  color: #8aaf3e;
  text-decoration: none;
}
a.action {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 14px;
  color: #8aaf3e;
}
a.action:hover, a.action:focus, a.action:active {
  color: #b4cf7b;
}
.text-center {
  text-align: center;
  margin: 0 auto;
}
.text-right {
  text-align: right !important;
}
.vertical-align {
  padding-top: 10px;
}
/*------------------------------------*
   TABLES
*------------------------------------*/
table {
  width: 100%;
  padding: 0 12px;
  border-collapse: collapse;
}
section.tm-summary table {
  border: 0;
  margin: 2em 1em;
}
section.tm-summary table tr td:first-child{
  width: 20%;
}
section.tm-summary table tr td:last-child {
  padding: 0 1em;
}
/*------------------------------------*
   BUTTONS
*------------------------------------*/
button, .button {
  width: 100%;
  border-radius: 2em;
  padding: 1em;
  border: none;
  display: inline-block;
  background-color: #8aaf3e;
  margin: 5px 0;
  color: white;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-shadow: none;
  box-shadow: none;
  overflow: hidden;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.85em;
  letter-spacing: 1px;
}
button:focus, .button:focus {
  outline: none;
}
button:hover, .button:hover {
  background-color: #b4cf7b;
}
.btn-nav {
  padding: 0 1em;
}
.btn-mobile {
  -webkit-flex: 12%;
  -webkit-box-flex: 12%;
      -ms-flex: 12%;
          flex: 12%;
  background: #8aaf3e;
  color: white;
  border: none;
  text-align: center;
  border-radius: 0;
  padding: 18px 0;
  margin: 0 auto;
}
.btn-search {
  position: relative;
  display: inline-block;
  padding: 12px 0 0 15px;
  border: none;
  background: transparent;
  color: #6c9020;
  font-size: 1em;
  overflow: visible;
  -webkit-transition: color 0.7s;
  transition: color 0.7s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 10%;
}
.btn-search:hover {
  background: none;
}
.btn-search:focus {
  outline: none;
  color: #8aaf3e;
}
.btn-search::after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -35px 0 0 -35px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  content: '';
  opacity: 0;
  pointer-events: none;
}
.btn-result {
  font-size: 0.95em;
  padding: 0.75em;
  background: #b4cf7b;
  color: white;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: inline-block;
  vertical-align: sup;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.btn-result:hover:before, .btn-result:focus:before, .btn-result:active:before {
  -webkit-animation-name: icon-pop;
  animation-name: icon-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.btn-result:before {
  padding: 0 1px;
  font-family: 'icons';
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.btn-app {
  background: #7b7b7b;
  transition: 0.3s;
}
.btn-app:hover {
  transition: 0.3s;
  color: white;
  background: #444444;
}
.full-width {
  display: block;
  width: 100% !important;
}
.half-width {
  width: 50%;
  margin: 0 auto;
}
.one-third {
  width: 33%;
  margin: 0 auto;
}
/*------------------------------------*
   FORMS
*------------------------------------*/
form {
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
form p {
  font-size: 12px;
  margin: 0 0 10px 0;
}
form ul {
  display: block;
  width: 100%;
}
label, .label {
  display: inline-block;
  padding: 3px 0 0 0;
  margin: 0 0 5px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 0.75em;
  font-weight: 500;
  color: #7b7b7b;
}
.label {
  border-bottom: 1px solid #dbdbdb;
  padding: 1.5em 0 12px 0;
  width: 100%;
}
.label a {
  text-decoration: underline;
}
.no-underline {
  border: 0;
}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"],
input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"],
input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea, select {
  width: 100%;
  background-color: white;
  font-family: inherit;
  border: none;
  border: 1px solid #dbdbdb;
  color: #444444;
  border-radius: 3px;
  font-size: 1em;
  margin: 0 0 15px 0;
  padding: 0.75em 0 0 0.5rem;
  height: 2.5rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus,
input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus,
input[type="url"]:focus, textarea:focus, select:focus {
  outline: none;
  border: 1px solid #aaaaaa;
}
input.search-input, input.search-input:focus {
  border: none;
}
.input-field, .button-field, .conditions {
  -webkit-flex: 100%;
  flex: 100%;
}
.conditions {
  margin: 1em 0;
}
/*------------------------------------*
   ACCORDIONS
*------------------------------------*/
.accordion {
  -webkit-flex: 100%;
  flex: 100%;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: column;
  flex-direction: column;
  overflow-y: auto;
}
.accordion-title {
  width: 100%;
  padding: 1em 0;
  border-bottom: 1px solid #dbdbdb;
  font-size: 0.85em !important;
}
.accordion-panel {
  padding: 0 0.5em;
  overflow: auto;
  width: 100%;
  border-bottom: 1px solid #dbdbdb;
}
.accordion-panel ul {
  padding: 0 1em;
}
.accordion-panel ul li {
  padding: 0.5em 2em;
  border: 1px solid #dbdbdb;
  background: #fafafa;
  border-top: 0;
  width: 100%;
}
.accordion-panel ul li:hover {
  background: #dbdbdb;
}
aside .accordion-title {
  padding: 1em;
}
aside .accordion-panel {
  border-bottom: 0;
  height: 300px;
}
/*------------------------------------*
   MICRO-ELEMENTS
*------------------------------------*/
img {
  width: 100%;
}
.map {
  background: #dbdbdb;
  height: 300px;
  margin: 0.5em 0 0 0;
}
.alert-box {
  width: 100%;
  background-color: #a6cb5a;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 1em 1.5em;
}
.alert-box.active {
  background-color: #dbdbdb;
  color: #444444;
  border: 1px solid #dbdbdb;
}
.alert {
  padding: 15px 20px;
  margin-bottom: 5px;
  border-radius: 3px;
}
.alert-ok {
  background: #b4cf7b;
  color: #6c9020;
}
.alert-ok a {
  color: white;
  text-decoration: none;
}
.alert-ok a:hover {
  color: #6c9020;
}
.alert-ok .alert-icon {
  color: #6c9020;
}
.alert-bad {
  background: #cf7b7b;
  color: #902020;
}
.alert-bad .alert-icon {
  color: #902020;
}
.alert-bad a {
  color: white;
  text-decoration: none;
}
.alert-bad a:hover {
  color: #902020;
}
.alert-neutral {
  background: #fafafa;
  border: 1px solid #dbdbdb;
}
span.alert-icon {
  font-size: 2em;
  padding: 0 10px 0 0;
}
span.alert-text {
  vertical-align: super;
}
.close {
  font-size: 2em;
  float: right;
}
.badge {
  background: #8aaf3e;
  color: white;
  font-size: 1em;
  letter-spacing: 1px;
  text-align: center;
  padding: 0.75em;
  margin: 0 15px 0 0;
}
/*------------------------------------*
   ANIMATIONS
*------------------------------------*/
@-webkit-keyframes icon-pop {
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}
@keyframes icon-pop {
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}
/*------------------------------------*
   MEDIA QUERIES
*------------------------------------*/
@media (min-width: 500px) {
  .si-logo { margin: 15px 10px 0 10px; }
  .icons { flex: 1; }
  .about, .call-to-action, .usp {
    background: url(../assets/stock-img/bg-img-medium.jpg) no-repeat;
    padding: 7% 10% 5%;
    text-align: center;
  }
  .about { background-position: 0px -820px; }
  .call-to-action { background-position: 0px -500px; }
  .reasons, .about-us, .features { padding: 2em 10%; }
  .clients { padding: 0 10% 2em;}
  .reasons h2, .clients h2, .features h2 {
    text-align: center;
  }
}
@media (min-width: 700px) {
  .tm-logo, .search, .links {
    height: 4em;
  }
  .tm-logo {
    -webkit-flex: 21%;
    flex: 5%;
    background-position: 0px 10px;
    background: url(../assets/logos/tm-icon.svg) no-repeat;
    background-color: white;
  }
  .links ul li {
    padding: 0 1em;
  }
  .links ul li:last-child {
    display: inline-block;
    padding: 0 0.5em 0 0;
    vertical-align: middle;
    margin-top: 5px;
  }
  .search {
    -webkit-order: 3;
    order: 3;
    -webkit-flex: 90%;
    flex: 95%;
    overflow: hidden;
    border-bottom: 1px solid #dbdbdb;
    background: white;
    padding: 0 5em 0 0;
  }
  .search-field {
    background: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 2em;
    font-size: 0.85em;
    height: 80%;
    width: 100%;
    flex: 100%;
    margin: 0.5em 0 0 0;
    padding: 0.35em 0 0 1em;
  }
  .search-field input[type="text"] {
    background: transparent;
    padding: 0 0 0 10px;
  }
  .application {
    -webkit-order: 5;
    order: 5;
    height: calc(100% - 4em);
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  main {
    display: -webkit-flex;
    display: flex;
    -webkit-order: 2;
    order: 2;
    -webkit-flex: 90%;
    flex: 90%;
    padding: 10px;
  }
  aside {
    display: block;
    -webkit-flex: 5%;
    flex: 5%;
    text-align:center;
    transition: 0.3s;
    height: 100%;
  }
  aside:hover {
    -webkit-flex: 25%;
    flex: 25%;
    text-align: left;
    transition: 0.5s;
  }
  aside a.button, aside ul.side-nav li:last-child {
    display: none;
  }
  aside #navigate {
    height: 0;
    transition: 0.5s;
  }
  aside:hover #navigate.accordion-panel:target {
    height: 500px;
    -webkit-transition: 0.5s;
            transition: 0.5s;
  }
  aside:hover ul.side-nav li {
    padding: 1em;
  }
  aside span.text, aside #filters {
    opacity:0;
  }
  aside:hover .accordion-title {
    padding: 1.25em 1em;
  }
  aside:hover span.text, aside:hover #filters {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-out;
            transition: opacity 0.3s ease-out;
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  #right-nav {
    -webkit-order: 3;
    order: 3;
  }
  #right-nav:hover {
    padding: 0.5em;
  }
  #left-nav .accordion, #left-nav .side-nav {
    opacity: 0;
  }
  #left-nav:hover .accordion, #left-nav:hover .side-nav {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-out;
            transition: opacity 0.3s ease-out;
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  .nav-icon ul li {
    padding: 1em 0;
    border-bottom: 1px solid #dbdbdb;
  }
  aside .accordion-title {
    padding: 1em 0;
    font-size: 1em !important;
  }
  aside .nav-icon {
    display: block;
    opacity: 1;
  }
  aside:hover .nav-icon {
    display: none;
  }
  section.row__label {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    flex: 100%;
  }
  section.row__label .label {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  section.row__label ul {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .col-1 {
    flex-basis: 8.333%;
    max-width: 8.333%;
  }
  .col-2 {
    flex-basis: 16.667%;
    max-width: 16.667%;
  }
  .col-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-4 {
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
  .col-5 {
    flex-basis: 41.667%;
    max-width: 41.667%;
  }
  .col-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-7 {
    flex-basis: 58.333%;
    max-width: 58.333%;
  }
  .col-8 {
    flex-basis: 66.667%;
    max-width: 66.667%;
  }
  .col-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-10 {
    flex-basis: 83.333%;
    max-width: 83.333%;
  }
  .col-11 {
    flex-basis: 91.667%;
    max-width: 91.667%;
  }
  .col-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .btn-search {
    padding: 5px 0 0 10px;
    font-size: 1.25em;
  }
  .btn-mobile {
    display: none;
  }
  .icons {
    flex: 2;
  }
  .container.article, .container.search-term {
    margin: 0.5em;
  }
  footer ul {
    text-align: right;
  }
  article { 
    padding: 1em 2em;
    margin: 1em 0 1em 1em; }
  h1 { font-size: 2.25em; }
  h2 { font-size: 2em; }
  h3 { font-size: 1.75em; }
  h4 { font-size: 1.5em; }
  h5 { font-size: 1.25em; }
  p, ul {
    font-size: 1em;
    line-height: 1.75em;
  }
  #filters ul li {
    font-size: 0.85em;
  }
  .article-container {
    width: 60%;
    margin: 0 auto;
  }
  .input-field, .button-field, .conditions {
    -webkit-flex: 1 1 50%;
    flex: 1 1 50%;
    padding: 0 10px;
  }
  .access-form {
    margin-top: 1.25em;
  }
  #sub-nav .item {
    font-size: 0.85em;
    padding: 1em;
  }
  #sub-nav .item ul {
    margin: 1.5em 0 1em 0;
  }
  #sub-nav .item ul li {
    padding: 1em;
    font-size: 0.95em;
  }
  .about, .call-to-action, .usp {
    background: url(../assets/stock-img/bg-img-large.jpg) no-repeat;
    padding: 8% 15%;
  }
  .about { background-position: 0px -1400px; }
  .call-to-action { background-position: 0px -800px; }
  .reasons, .about-us, .features { padding: 3em 10%; }
  .clients { padding: 0 10% 3em; }
  .fix-vulnerabilities, .reduce-vulnerabilities, .improve-process, .delivers-compliance, .integrates, .cross-references, .provides-guidance {
    width: 100%;
    padding-top: 110%;
  }
}
@media (min-width: 1285px) {
  .landing-page {
    width: 1285px;
    margin: 0 auto;
  }
  .about, .call-to-action, .usp {
    padding: 8% 20%;
  }
  .reasons, .about-us, .features { padding: 3em 20%; }
  .clients { padding: 0em 20% 3em; }
}
/*------------------------------------*
   ICONS
*------------------------------------*/
@font-face {
  font-family: 'icons';
  src:url('../assets/fonts/icons.eot?uf9at6');
  src:url('../assets/fonts/icons.eot?#iefixuf9at6') format('embedded-opentype'),
    url('../assets/fonts/icons.woff?uf9at6') format('woff'),
    url('../assets/fonts/icons.ttf?uf9at6') format('truetype'),
    url('../assets/fonts/icons.svg?uf9at6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-Deploy .path1:before {
  content: "\e600";
  color: #a79389;
}
.icon-Deploy .path2:before {
  content: "\e601";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Design .path1:before {
  content: "\e602";
  color: #cb6e6e;
}
.icon-Design .path2:before {
  content: "\e603";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Design .path3:before {
  content: "\e604";
  margin-left: -1em;
  color: #cb6e6e;
}
.icon-Design .path4:before {
  content: "\e605";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Filter:before {
  content: "\e606";
}
.icon-Guideline .path1:before {
  content: "\e607";
  color: rgb(255, 255, 255);
}
.icon-Guideline .path2:before {
  content: "\e608";
  margin-left: -1em;
  color: #f3bf4f;
}
.icon-HowTo .path1:before {
  content: "\e609";
  color: #679ff3;
}
.icon-HowTo .path2:before {
  content: "\e60a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-HTML5 .path1:before {
  content: "\e60b";
  color: #f87359;
}
.icon-HTML5 .path2:before {
  content: "\e60c";
  color: #f87359;
}
.icon-Implementation .path1:before {
  content: "\e60d";
  color: #73b2df;
}
.icon-Implementation .path2:before {
  content: "\e60e";
  margin-left: -1em;
  color: #73b2df;
}
.icon-Implementation .path3:before {
  content: "\e60f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Index:before {
  content: "\e610";
}
.icon-Info:before {
  content: "\e611";
}
.icon-iOS .path1:before {
  content: "\e612";
  color: #a6a8ab;
}
.icon-iOS .path2:before {
  content: "\e613";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Java .path1:before {
  content: "\e614";
  color: #ff9200;
}
.icon-Java .path2:before {
  content: "\e615";
  margin-left: -1em;
  color: #a0cf4b;
}
.icon-Logout:before {
  content: "\e616";
}
.icon-Mail:before {
  content: "\e617";
}
.icon-Net .path1:before {
  content: "\e618";
  color: #5990b5;
}
.icon-Net .path2:before {
  content: "\e619";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Net-3-5 .path1:before {
  content: "\e618";
  color: #5962b5;
}
.icon-Net-3-5 .path2:before {
  content: "\e619";
  margin-left: -1em;
  color: #6eb87a;
}
.icon-Paperclip:before {
  content: "\e61a";
}
.icon-PHP .path1:before {
  content: "\e61b";
  color: rgb(255, 255, 255);
}
.icon-PHP .path2:before {
  content: "\e61c";
  margin-left: -1em;
  color: #6c7eb7;
}
.icon-Principle .path1:before {
  content: "\e61d";
  color: #eaa878;
}
.icon-Principle .path2:before {
  content: "\e61e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Save:before {
  content: "\e61f";
}
.icon-Scala .path1:before {
  content: "\e620";
  color: #ea7a78;
}
.icon-Scala .path2:before {
  content: "\e621";
  margin-left: -1em;
  color: #6eb87a;
}
.icon-Search:before {
  content: "\e622";
}
.icon-Test .path1:before {
  content: "\e623";
  color: #cbb654;
}
.icon-Test .path2:before {
  content: "\e624";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Tick:before {
  content: "\e625";
}
.icon-Twitter:before {
  content: "\e626";
}
.icon-Vulnerabilities .path1:before {
  content: "\e627";
  color: rgb(255, 255, 255);
}
.icon-Vulnerabilities .path2:before {
  content: "\e628";
  margin-left: -1em;
  color: #82a931;
}
.icon-WCF .path1:before {
  content: "\e629";
  color: #59caf5;
}
.icon-WCF .path2:before {
  content: "\e62a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Web-App .path1:before {
  content: "\e62b";
  color: #6eb87a;
}
.icon-Web-App .path2:before {
  content: "\e62c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Web-App .path3:before {
  content: "\e62d";
  margin-left: -1em;
  color: #6eb87a;
}
.icon-Web-App .path4:before {
  content: "\e62e";
  margin-left: -1em;
  color: #6eb87a;
}
.icon-Web-App .path5:before {
  content: "\e62f";
  margin-left: -1em;
  color: #6eb87a;
}
.icon-Web-App .path6:before {
  content: "\e630";
  margin-left: -1em;
  color: #6eb87a;
}
.icon-Web-App .path7:before {
  content: "\e631";
  margin-left: -1em;
  color: #6eb87a;
}
.icon-Web-App .path8:before {
  content: "\e632";
  margin-left: -1em;
  color: #6eb87a;
}
.icon-Web-App .path9:before {
  content: "\e633";
  margin-left: -1em;
  color: #6eb87a;
}
.icon-Web-App .path10:before {
  content: "\e634";
  margin-left: -1em;
  color: #6eb87a;
}
.icon-Web-App .path11:before {
  content: "\e635";
  margin-left: -1em;
  color: #6eb87a;
}
.icon-All .path1:before {
  content: "\e636";
  color: #b190e2;
}
.icon-All .path2:before {
  content: "\e637";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Android .path1:before {
  content: "\e638";
  color: #a0cf4b;
}
.icon-Android .path2:before {
  content: "\e639";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Android .path3:before {
  content: "\e63a";
  margin-left: -1em;
  color: #a0cf4b;
}
.icon-Android .path4:before {
  content: "\e63b";
  margin-left: -1em;
  color: #a0cf4b;
}
.icon-Android .path5:before {
  content: "\e63c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-C .path1:before {
  content: "\e63e";
  color: #90bae2;
}
.icon-C .path2:before {
  content: "\e63f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Checklist .path1:before {
  content: "\e640";
  color: rgb(255, 255, 255);
}
.icon-Checklist .path2:before {
  content: "\e641";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Checklist .path3:before {
  content: "\e642";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Checklist .path4:before {
  content: "\e643";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Checklist .path5:before {
  content: "\e644";
  margin-left: -1em;
  color: #f6788d;
}
.icon-Close:before {
  content: "\e645";
}
.icon-CodeExample .path1:before {
  content: "\e646";
  color: #5ed4a6;
}
.icon-CodeExample .path2:before {
  content: "\e647";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-CodeExample .path3:before {
  content: "\e648";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-CodeExample .path4:before {
  content: "\e649";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-CodeExample .path5:before {
  content: "\e64a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-CodeExample .path6:before {
  content: "\e64b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-CodeExample .path7:before {
  content: "\e64c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-CodeExample .path8:before {
  content: "\e64d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-CodeExample .path9:before {
  content: "\e64e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Default .path1:before {
  content: "\e64f";
  color: rgb(68, 68, 68);
}
.icon-Default .path2:before {
  content: "\e650";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Delete:before {
  content: "\e651";
}
.icon-Article:before {
  content: "\e63d";
}
.icon-Share:before {
  content: "\e652";
}
.icon-User:before {
  content: "\e653";
}