 /*------------------------------------*
   STRUCTURE
*------------------------------------*/
html, body {
  height: 100%;
  width: 100%;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}
body {
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #fafafa;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}
body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#logo {
  -webkit-order: 1;
  order: 1;
  -webkit-flex: 50%;
  flex: 50%;
  background: url('../assets/logos/tm-logo.svg') no-repeat;
  background-size: 170px;
  background-position: 8px 7px;
  height: 50px;
  background-color: white;
  border-bottom: 1px solid #dbdbdb;
}
#user {
  -webkit-order: 2;
  order: 2;
  -webkit-flex: 50%;
  flex: 50%;
  text-align: right;
  height: 50px;
  background: white;
  border-bottom: 1px solid #dbdbdb;
}
#user li {
  list-style-type: none;
  display: inline-block;
  padding: 15px 0px 0 10px;
}
#user li:last-child {
  padding-right: 12px;
}
#user li a {
  font-size: 0.70em;
  color: #8aaf3e;
  text-decoration: none;
  text-transform: uppercase;
}
#user li a:hover {
  color: #6c9020;
}
#user [class^="icon-"], #user [class*=" icon-"]{
  padding: 0 10px 0 0;
}
#left-column {
  -webkit-order: 1;
  order:1;
  -webkit-flex: 1;
  flex: 1;
  min-height: 1px;
  display: none;
  background: white;
  border-right: 1px solid #dbdbdb;
}
#left-column:hover span.text, #right-column:hover span.text {
  display: inline-block;
}
ul.side-nav {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-position: outside;
}
ul.side-nav li {
  border-bottom: 1px solid #dbdbdb;
  padding: 15px 0;
  color: #7b7b7b;
  font-size: 0.85em;
}
ul.side-nav li:hover {
  background: #dbdbdb;
}
#left-column:hover ul.side-nav li > [class^="icon-"], #left-column:hover ul.side-nav li > [class*=" icon-"], #right-column:hover ul.side-nav li > [class^="icon-"], #right-column:hover ul.side-nav li > [class*=" icon-"] {
  padding: 0 10px 0 0;
}
.no-style {
  border: none;
  background: none;
}
.no-style li:hover {
  background: transparent !important;
}
span.text {
  display: none;
}
#content {
  -webkit-order: 2;
  order: 2;
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-flex;
  display: flex;
  overflow-y: auto;
  min-height: 1px;
  padding: 10px;
}
#search {
  -webkit-order: 7;
  order: 7;
  -webkit-flex: 100%;
  flex: 100%;
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
  height: 50px;
  background: #fafafa;
}
#navigate-button {
  -webkit-flex: 8%;
  flex: 12%;
  -webkit-order: 1;
  order: 1;
}
#filters-button {
  -webkit-flex: 8%;
  flex: 12%;
  -webkit-order: 3;
  order: 3;
}
.search-field {
  background: white;
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 84%;
  flex: 84%;
  -webkit-order: 2;
  order: 2;
  padding: 0 10px;
  border-top: 1px solid #dbdbdb;
}
.search-field input[type="text"] {
  -webkit-flex: 90%;
  flex: 90%;
  -webkit-order: 1;
  order: 1;
  padding: 10px 0 0 10px;
  background: transparent;
}
.search-field #search-button {
  -webkit-flex: 10%;
  flex: 10%;
  -webkit-order: 2;
  order: 2;
  text-align: center;
}
#right-column {
  -webkit-order: 6;
  order: 6;
  -webkit-flex: 1;
  flex: 1;
  overflow-y: auto;
  min-height: 1px;
  display: none;
  background: white;
  border-left: 1px solid #dbdbdb;
}
#application {
  -webkit-order: 3;
  order: 3;
  -webkit-flex: 100%;
  flex: 100%;
  height: calc(100% - 100px);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow-y: auto;
}
#label {
  -webkit-flex: 100%;
  flex: 100%;
  -webkit-order: 2;
  order: 2;
  padding: 0 0 20px 0;
  position: relative;
}
#label ul {
  margin: 10px 0 0 0;
  padding: 0;
  text-align: center;
}
#label ul li {
  display: inline-block;
  width: 49%;
  padding: 0 5px 0 0;
}
#label ul li:last-child {
  padding-right: 0;
}
article {
  -webkit-flex: 100%;
  flex: 100%;
  -webkit-order: 1;
  order: 1;
  overflow-y: auto;
  background: white;
  border: 1px solid #dbdbdb;
  padding: 0 20px 20px 20px;
  margin: 0 0 20px 0;
}
article h1 {
  padding-bottom: 20px;
  border-bottom: 1px solid #dbdbdb;
}
article.marketing {
  background: none;
  border: none;
  border-left: 1px solid #dbdbdb;
  margin: 0;
  margin-left: 20px;
}
#articles {
  -webkit-flex: 100%;
  flex: 100%;
  -webkit-order: 3;
  order: 3;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  overflow-y: auto;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-direction: row;
}
.container.article, .container.search-term {
  -moz-flex: 1;
  -webkit-flex: 1;
  flex: 1 1 400px;
  margin: 0.5em;
  background: white;
}
.container.search-term {
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid #dbdbdb;
  word-wrap: normal;
  color: #444444;
}
.container.search-term [class^="icon-"], .container.search-term [class*=" icon-"] {
  padding: 0 10px 0 0;
  font-size: 0.85em;
}
.container.search-term a {
  text-decoration: none;
}
.metadata {
  -webkit-order: 1;
  order: 1;
  background: #b4cf7b;
  padding: 1em;
}
.metadata ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.metadata ul li {
  display: inline-block;
}
.summary {
  -webkit-order: 2;
  order: 2;
  padding: 2em 1em;
  border: 1px solid #dbdbdb;
}
.container.article h3 {
  color: #565656;
  margin: 0 0 1em 0;
  padding: 0 0 0.75em 0;
  border-bottom: 1px solid #dbdbdb;
}
.container.article p {
  margin-top: 10px;
}
.container.article a {
  text-decoration: none;
}
.container.article a:hover h3 {
  color:  #8aaf3e;
}
.row {
  background: transparent;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 10px 0;
}
.row:first-child {
  margin: 0;
}
.error {
  justify-content: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
}
#two-thirds-column {
  -webkit-order: 2;
  order:2;
  -webkit-flex: 100%;
  flex: 100%;
  min-height: 1px;
  padding: 0 20px;
}
#one-third-column {
  -webkit-order: 1;
  order:1;
  -webkit-flex: 100%;
  flex: 100%;
  min-height: 1px;
  display: none;
}










.landing-page {
  background: #fafafa;
  border-bottom: 1px solid #dbdbdb;
}
#menu-icon {
  -webkit-order: 4;
  order: 4;
  -webkit-flex: 1;
  flex: 1;
  text-align: right;
  background: white;
  height: 50px;
  border-bottom: 1px solid #dbdbdb;
}
#links {
  -webkit-order: 5;
  order: 5;
  -webkit-flex: 100%;
  flex: 100%;
  text-align: center;
  list-style-type: none;
  margin: 0 0 10px 0;
  display: none;
}
#links li {
  display: inline-block;
  padding-right: 20px;
}
#links li:last-child {
  padding-right: 0;
}
#links a {
  color: #8aaf3e;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 0.85em;
}
#results-save-clear {
  border-radius: 3px;
  margin: 0 0 20px 0;
  padding-bottom: 7px;
}
#filters-active {
  margin-bottom: 20px;
}`
#article-options {
  margin: 20px 0;
  width: 100%;
}
#article-options ul {
  margin: 0;
  padding: 0;
  margin: 7px 0;
  list-style-type: none;
  font-size: 14px;
  font-style: italic;
  vertical-align: top;
}
#article-options ul li {
  display: inline-block;
  padding-right: 10px;
}
#article-options ul li:last-child {
  padding-right: 0;
}
#landing-page {
  height: 90%;
  -webkit-order: 6;
  order: 6;
  -webkit-flex: 100%;
  flex: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow-y: auto;
}
section {
  width: 100%;
  display: block;
  overflow-y: auto;
}
.half-width {
  width: 50%;
  margin: 0 auto;
}
.about, .reasons, .clients, .call-to-action, .about-us, .features, footer {
  background: white;
}
.about, .call-to-action, .usp {
  background-image: url(../assets/stock-img/bg-img-small.jpg);
}
.about {
  background-position: 0px 900px;
}
.about, .call-to-action {
  padding: 1em 0 2em 0;
  background-size: auto;
}
.usp {
  background-position: 0em 0em;
  padding: 3% 0 8%;
}
.about h3, .usp h2, .call-to-action h2, .clients h3 {
  color: white;
}
.about-us, .features {
  padding: 2% 0;
}
.reasons {
  padding: 2em 2em 3em 2em;
}
.call-to-action {
  background-position: 0em -18em;
}
.clients {
  padding: 1em 2em 3em 2em;
}
.clients h2 {
  text-align: left !important;
}
.client-logo {
  background: url(../assets/clients/logos.jpg) no-repeat;
  background-size: 100%;
  width: 100%;
  padding-top: 33%;
  height: 0;
}
.elsevier {
  background-position: 0% 0%;
}
.fedex {
  background-position: 0% 20%;
}
.mass-mutual {
  background-position: 0% 40%;
}
.microsoft {
  background-position: 0% 60%;
}
.symantec {
  background-position: 0% 80%;
}
.ubs {
  background-position: 0% 100%;
}
.features {
  background: white;
}
.features h2 {
  text-align: left;
}
footer {
  width: 100%;
  padding: 0 0 10px 0;
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
}
.si-logo {
  background: url('../assets/logos/si-logo.svg') no-repeat;
  background-size: cover;
  padding-top: 20px;
  height: 0;
  width: 15px;
  margin: 5px 5px 0 18%;
}
.si-name {
  flex: calc (100% - 30px);
  text-align: left;
  padding: 5px 0 0 0;
}
.si-name a, .si-name a:hover {
  text-decoration: none;
  font-size: 0.75em !important;
}
.icons {
  flex: 100%;
  text-align: center;
  padding: 10px 0;
  font-size: 0.85em;
}
footer.copyright {
  background: transparent;
}
footer ul {
  list-style-type: none;
  list-style-position: outside;
  margin: 0;
  padding: 0;
}
footer ul li:first-child {
  display: block;
  width: 100%;
}
footer ul li {
  display: inline-block;
  width: 15%
}
footer .label {
  border-bottom: none;
}
/*------------------------------------*
   TYPOGRAPHY
*------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-weight: normal;
}
h1, h2, h3 {
  color: #7b7b7b;
}
h4, h5, p {
  color: #444444;
}
h1 {
  font-size: 2em;
  line-height: 1.25em;
}
h2 {
  font-size: 1.75em;
  line-height: 1.153em;
}
h3 {
  font-size: 1.5em;
  line-height: 1.136em;
}
h4 {
  font-size: 1.25em;
  line-height: 1.11em;
}
h5 {
  font-size: 1em;
  line-height: 1.11em;
}
p {
  font-size: 0.85em;
  line-height: 1.5em;
}
ul, ol {
  margin: 0;
}
code, pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
pre {
  display: block;
  padding: 20px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.5;
  color: #444444;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #ececec;
  border: 1px solid #aaaaaa;
  border-radius: 0px;
  margin: 30px 0 30px 0;
  overflow: auto;
}
hr {
  margin: 0 auto;
  width: 70%;
  color: #ececec;
  margin-top: 40px;
  margin-bottom: 40px;
}
a {
  color: #444444;
  text-decoration: none;
  transition: 0.3s;
}
a:hover, a:active, a:focus {
  color: #8aaf3e;
  text-decoration: none;
}
a.action {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 14px;
  color: #8aaf3e;
}
a.action:hover, a.action:focus, a.action:active {
  color: #49661f;
}
.text-center {
  text-align: center;
  margin: 0 auto;
}
.text-right {
  text-align: right !important;
}
.vertical-align {
  padding-top: 10px;
}
/*------------------------------------*
   TABLES
*------------------------------------*/
table {
  width: 100%;
  padding: 0 12px;
  border-collapse: collapse;
}
table i {
  font-size: 60px;
  padding-right: 80px;
}
/*------------------------------------*
   BUTTONS
*------------------------------------*/
button, .button {
  width: 100%;
  border-radius: 20px;
  padding: 10px;
  border: none;
  background-color: #8aaf3e;
  margin: 5px 0;
  color: white;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-shadow: none;
  box-shadow: none;
  overflow: hidden;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.85em;
  letter-spacing: 1px;
}
button:focus, .button:focus {
  outline: none;
}
button:hover, .button:hover {
  background-color: #b4cf7b;
}
.btn-divs {
  background: #8aaf3e;
  color: white;
  border: none;
  text-align: center;
  border-radius: 0;
  padding: 18px 0;
  margin: 0 auto;
}
.btn-divs i {
  color: white;
  margin-left: -3px;
}
.btn-search {
  position: relative;
  display: inline-block;
  padding: 12px 0 0 15px;
  border: none;
  background: transparent;
  color: #6c9020;
  font-size: 1em;
  overflow: visible;
  -webkit-transition: color 0.7s;
  transition: color 0.7s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.btn-search:hover {
  background: none;
}
.btn-search:focus {
  outline: none;
  color: #8aaf3e;
}
.btn-search::after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -35px 0 0 -35px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  content: '';
  opacity: 0;
  pointer-events: none;
}
.full-width {
  width: 100%;
}
.add-on {
  padding: 13.5px;
  border: 1px solid white;
}
button.circle {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  background: white;
  border: 1px solid #dbdbdb;
  float: right;
  margin: 0 5px 0 0;
  text-align: center;
  padding: 2px 0;
}
button.circle i {
  font-size: 2em;
  color: #8aaf3e;
}
.circle:hover i {
  color: #b4cf7b;
}
.app {
  padding: 5px 20px;
  width: 100%;
  background: #6c9020;
  color: white;
  border-radius: 20px;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-algin: center;
}
.app:hover {
  background: #8aaf3e;
}
.full-width {
  width: 100% !important;
}
.dropdown:after {
  content: '';
}
#label button, .minor {
  padding: 10px 0;
  background: #7b7b7b;
  color: white;
  text-transform: capitalize;
  border: none;
}
#label button:hover, .minor:hover {
  background: #aaaaaa;
}

/*------------------------------------*
   FORMS
*------------------------------------*/
form p {
  font-size: 12px;
  margin: 0 0 10px 0;
}
form ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
}
label, .label {
  display: inline-block;
  padding: 3px 0 0 0;
  margin-bottom: 5px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 0.75em;
  font-weight: 500;
  color: #7b7b7b;
}
.label {
  border-bottom: 1px solid #dbdbdb;
  padding: 10px 0 12px 0;
  width: 100%;
}
.label ul li {
  display: inline-block;
}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"],
input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"],
input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea, select {
  width: 100%;
  background-color: white;
  font-family: inherit;
  border: none;
  border: 1px solid #dbdbdb;
  color: #444444;
  border-radius: 3px;
  font-size: 1em;
  margin: 0 0 15px 0;
  padding: 0 0 0 0.5rem;
  height: 2.5rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus,
input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus,
input[type="url"]:focus, textarea:focus, select:focus {
  outline: none;
  border: 1px solid #aaaaaa;
}
input.search-input, input.search-input:focus {
  border: none;
}
.access-form {
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.input-field, .button-field {
  -webkit-flex: 100%;
  flex: 100%;
}
.button-field li {
  list-style-type: none;
}
/*------------------------------------*
   MICRO-ELEMENTS
*------------------------------------*/
.alert-box {
  width: 100%;
  background-color: #a6cb5a;
  border: none;
  border-radius: 3px;
  color: #444444;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 10px;
}
.close {
  float: right;
}
.alert-box.active {
  background-color: #dbdbdb;
  color: #444444;
  border: 1px solid #dbdbdb;
}
.badge {
  background: #8aaf3e;
  color: white;
  font-size: 0.85em;
  letter-spacing: 1px;
  text-align: center;
  padding: 7px 10px;
  margin: 0 15px 0 0;
}
/*------------------------------------*
   MEDIA QUERIES
*------------------------------------*/
@media (min-width: 500px) {
  .si-logo {
    margin: 15px 10px 0 5px;
  }
  .si-name {
    flex: 2;
    margin: 10px 0 0 0;
  }
  .icons {
    flex: 1;
  }
}
@media (min-width: 700px) {
  #logo {
    -webkit-flex: 25%;
    flex: 25%;
  }
  #search {
    -webkit-order: 3;
    order: 3;
    -webkit-flex: 70%;
    flex: 50%;
    overflow: hidden;
    border-bottom: 1px solid #dbdbdb;
    background: white;
  }
  .search-field {
    background: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 20px;
    font-size: 0.85em;
    height: 80%;
    margin: auto;
  }
  .search-field input[type="text"] {
    background: transparent;
    padding: 0 0 0 10px;
  }
  #user {
    -webkit-order: 4;
    order: 4;
    -webkit-flex: 25%;
    flex: 25%;
  }
  #application {
    -webkit-order: 5;
    order: 5;
    height: calc(100% - 50px);
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  #search #navigate-button, #search #filters-button {
    display: none;
  }
  #content {
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 90%;
    flex: 90%;
    padding: 10px;
  }
  #left-column, #right-column {
    display: block;
    -webkit-flex: 5%;
    flex: 5%;
    text-align:center;
  }
  #left-column:hover {
    -webkit-flex: 15%;
    flex: 15%;
    text-align: left;
  }
  #left-column:hover ~ #content {
    -webkit-flex: 80%;
    flex: 80%;
  }
  #left-column:hover ul.side-nav li, #right-column:hover ul.side-nav li {
    padding: 15px 0 15px 10px;
  }
  #right-column #filters {
    display: none;
  }
  #right-column:hover {
    -webkit-flex: 25%;
    flex: 25%;
    text-align: left;
  }
  #right-column:hover #filters {
    display: block;
  }
  #right-column:hover ~ #content {
    -webkit-flex: 60%;
    flex: 60%;
  }
  #two-thirds-column {
    -webkit-order: 1;
    order: 1;
    -webkit-flex: 75%;
    flex: 75%;
    padding: 0;
  }
  #one-third-column {
    -webkit-order: 2;
    order: 2;
    display: block;
    -webkit-flex: 40%;
    flex: 40%;
  }
  #label {
    -webkit-flex: 100%;
    flex: 100%;
    -webkit-order: 1;
    order: 1;
    padding: 15px 5px;
  }
  .btn-search {
    padding: 5px 0 0 10px;
    font-size: 1.25em;
  }
  .icons {
    flex: 2;
  }
  footer ul {
    text-align: right;
  }
  footer ul li:first-child {
    display: inline-block !important;
    width: auto !important;
  }
  footer ul li {
    width: 10%;
    text-align: center;
  }
  article h1 {
    font-size: 2.25em;
  }
  article h2 {
    font-size: 2em;
  }
  article h3 {
    font-size: 1.75em;
  }
  article h4 {
    font-size: 1.5em;
  }
  article h5 {
    font-size: 1.25em;
  }
  article p {
    font-size: 1em;
    line-height: 1.75em;
  }
  .input-field, .button-field {
    -webkit-flex: 29%;
    flex: 29%;
    padding: 0 10px;
  }
  .access-form, #login-form .button-field {
    margin-top: 20px;
  }
  .conditions {
    padding: 15px 10px;
  }
}
@media (min-width: 800px) {
  #sign-up-form .input-field, #sign-up-form .button-field, #sign-up-form .conditions  {
    -webkit-flex: 35%;
    flex: 35%;
  }
}
@media (min-width: 950px) {
  #label {
    -webkit-flex: 100%;
    flex: 100%;
    padding: 10px  5px 15px 5px;
  }
  #label ul li {
    display: block;
    width: 100%;
    padding: 5px 0 0 0;
  }
  #articles {
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -moz-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -moz-justify-content: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  article {
    -webkit-flex: 4;
    flex: 4;
    margin: 0 6px 0 29px;
    padding: 20px 40px;
  }
  article.marketing {
    margin: 0;
    margin-left: 20px;
    padding: 0 0 20px 20px;
  }
  .alert-box {
    width: 76%;
    margin-left: 21%;
  }
  footer.copyright {
    margin-left: 21%;
  }
}
@media (min-width: 1285px) {
  .landing-page {
    width: 1285px;
    margin: 0 auto;
  }
}
/*------------------------------------*
   ICONS
*------------------------------------*/
@font-face {
  font-family: 'icons';
  src:url('../assets/fonts/icons.eot?uf9at6');
  src:url('../assets/fonts/icons.eot?#iefixuf9at6') format('embedded-opentype'),
    url('../assets/fonts/icons.woff?uf9at6') format('woff'),
    url('../assets/fonts/icons.ttf?uf9at6') format('truetype'),
    url('../assets/fonts/icons.svg?uf9at6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Deploy .path1:before {
  content: "\e600";
  color: #a79389;
}
.icon-Deploy .path2:before {
  content: "\e601";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Design .path1:before {
  content: "\e602";
  color: #cb6e6e;
}
.icon-Design .path2:before {
  content: "\e603";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Design .path3:before {
  content: "\e604";
  margin-left: -1em;
  color: #cb6e6e;
}
.icon-Design .path4:before {
  content: "\e605";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Filter:before {
  content: "\e606";
}
.icon-Guideline .path1:before {
  content: "\e607";
  color: rgb(255, 255, 255);
}
.icon-Guideline .path2:before {
  content: "\e608";
  margin-left: -1em;
  color: #f3bf4f;
}
.icon-HowTo .path1:before {
  content: "\e609";
  color: #679ff3;
}
.icon-HowTo .path2:before {
  content: "\e60a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-HTML5 .path1:before {
  content: "\e60b";
  color: #f87359;
}
.icon-HTML5 .path2:before {
  content: "\e60c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Implementation .path1:before {
  content: "\e60d";
  color: #73b2df;
}
.icon-Implementation .path2:before {
  content: "\e60e";
  margin-left: -1em;
  color: #73b2df;
}
.icon-Implementation .path3:before {
  content: "\e60f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Index:before {
  content: "\e610";
}
.icon-Info:before {
  content: "\e611";
}
.icon-iOS .path1:before {
  content: "\e612";
  color: #a6a8ab;
}
.icon-iOS .path2:before {
  content: "\e613";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Java .path1:before {
  content: "\e614";
  color: #ff9200;
}
.icon-Java .path2:before {
  content: "\e615";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Logout:before {
  content: "\e616";
}
.icon-Mail:before {
  content: "\e617";
}
.icon-Net .path1:before {
  content: "\e618";
  color: #5990b5;
}
.icon-Net .path2:before {
  content: "\e619";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Net-3-5 .path1:before {
  content: "\e618";
  color: #5962b5;
}
.icon-Net-3-5 .path2:before {
  content: "\e619";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Paperclip:before {
  content: "\e61a";
}
.icon-PHP .path1:before {
  content: "\e61b";
  color: rgb(255, 255, 255);
}
.icon-PHP .path2:before {
  content: "\e61c";
  margin-left: -1em;
  color: #6c7eb7;
}
.icon-Principle .path1:before {
  content: "\e61d";
  color: #eaa878;
}
.icon-Principle .path2:before {
  content: "\e61e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Save:before {
  content: "\e61f";
}
.icon-Scala .path1:before {
  content: "\e620";
  color: #ea7a78;
}
.icon-Scala .path2:before {
  content: "\e621";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Search:before {
  content: "\e622";
}
.icon-Test .path1:before {
  content: "\e623";
  color: #cbb654;
}
.icon-Test .path2:before {
  content: "\e624";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Tick:before {
  content: "\e625";
}
.icon-Twitter:before {
  content: "\e626";
}
.icon-Vulnerabilities .path1:before {
  content: "\e627";
  color: rgb(255, 255, 255);
}
.icon-Vulnerabilities .path2:before {
  content: "\e628";
  margin-left: -1em;
  color: #82a931;
}
.icon-WCF .path1:before {
  content: "\e629";
  color: #59caf5;
}
.icon-WCF .path2:before {
  content: "\e62a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Web-App .path1:before {
  content: "\e62b";
  color: #6eb87a;
}
.icon-Web-App .path2:before {
  content: "\e62c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Web-App .path3:before {
  content: "\e62d";
  margin-left: -1em;
  color: #6eb87a;
}
.icon-Web-App .path4:before {
  content: "\e62e";
  margin-left: -1em;
  color: #6eb87a;
}
.icon-Web-App .path5:before {
  content: "\e62f";
  margin-left: -1em;
  color: #6eb87a;
}
.icon-Web-App .path6:before {
  content: "\e630";
  margin-left: -1em;
  color: #6eb87a;
}
.icon-Web-App .path7:before {
  content: "\e631";
  margin-left: -1em;
  color: #6eb87a;
}
.icon-Web-App .path8:before {
  content: "\e632";
  margin-left: -1em;
  color: #6eb87a;
}
.icon-Web-App .path9:before {
  content: "\e633";
  margin-left: -1em;
  color: #6eb87a;
}
.icon-Web-App .path10:before {
  content: "\e634";
  margin-left: -1em;
  color: #6eb87a;
}
.icon-Web-App .path11:before {
  content: "\e635";
  margin-left: -1em;
  color: #6eb87a;
}
.icon-All .path1:before {
  content: "\e636";
  color: #b190e2;
}
.icon-All .path2:before {
  content: "\e637";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Android .path1:before {
  content: "\e638";
  color: #a0cf4b;
}
.icon-Android .path2:before {
  content: "\e639";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Android .path3:before {
  content: "\e63a";
  margin-left: -1em;
  color: #a0cf4b;
}
.icon-Android .path4:before {
  content: "\e63b";
  margin-left: -1em;
  color: #a0cf4b;
}
.icon-Android .path5:before {
  content: "\e63c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-C .path1:before {
  content: "\e63e";
  color: #90bae2;
}
.icon-C .path2:before {
  content: "\e63f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Checklist .path1:before {
  content: "\e640";
  color: rgb(255, 255, 255);
}
.icon-Checklist .path2:before {
  content: "\e641";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Checklist .path3:before {
  content: "\e642";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Checklist .path4:before {
  content: "\e643";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Checklist .path5:before {
  content: "\e644";
  margin-left: -1em;
  color: #f6788d;
}
.icon-Close:before {
  content: "\e645";
}
.icon-CodeExample .path1:before {
  content: "\e646";
  color: #5ed4a6;
}
.icon-CodeExample .path2:before {
  content: "\e647";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-CodeExample .path3:before {
  content: "\e648";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-CodeExample .path4:before {
  content: "\e649";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-CodeExample .path5:before {
  content: "\e64a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-CodeExample .path6:before {
  content: "\e64b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-CodeExample .path7:before {
  content: "\e64c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-CodeExample .path8:before {
  content: "\e64d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-CodeExample .path9:before {
  content: "\e64e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Default .path1:before {
  content: "\e64f";
  color: rgb(68, 68, 68);
}
.icon-Default .path2:before {
  content: "\e650";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Delete:before {
  content: "\e651";
}
.icon-Article:before {
  content: "\e63d";
}
.icon-Share:before {
  content: "\e652";
}
.icon-User:before {
  content: "\e653";
}