/*------------------------------------*
   BASIC STRUCTURE
*------------------------------------*/
html {
  font: 100% Helvetica, sans-serif;
  font-family: Helvetica, Arial, sans-serif;
}
html, body {
  margin: 0;
  padding: 0;
  background: #fafafa;
}
html, body, #landing-page, #application {
  height: 100%;
  width: 100%;
}
body > * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img, object, .lge-container {
  margin: 0 auto;
}
img, object {
  height: auto;
  max-width: 100%;
}
.lge-container {
  max-width: 100%;
  padding: 7px;
}
.right { float: right !important; }
.left { float: left !important; }
.mobile { display: block; }
.desktop { display: none; }
/*------------------------------------*
   NAVIGATION
*------------------------------------*/
.fixed, #team-mentor-navigation, #customer-navigation, #links {
  width: 100%;
}
.fixed {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  background: white;
  border: 1px solid #dbdbdb;
}
#team-mentor-navigation, #customer-navigation {
  height: auto;
  text-align: center;
  float: left;
}
#customer-navigation {
  border-bottom: 1px solid #dbdbdb;
}
#customer-logo {
  height: 50px;
  padding: 5px 0;
}
#team-mentor-navigation #message {
  font-size: 0.65em !important;
  margin-top: 0px;
  font-family: Helvetica, Arial, sans-serif;
}
#team-mentor-navigation #message a {
  font-size: 1em !important;
}
#tm-logo {
  background:url('../assets/logos/logos.png') no-repeat;
  height: 40px;
  margin: 0 auto;
  background-position: top center;
}
#tm-logo, #customer-navigation {
  margin-bottom: 10px;
}
#links ul {
  list-style-type: none;
  padding: 0;
}
#links ul li {
  display: block;
  margin: 0px 0;
}
#links.text-links {
  margin-top: 7px;
}
#links ul li [class^="icon-"], #links ul li [class*=" icon-"] {
  padding: 0 6px 0 0;
}
#links a {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #8aaf3e;
  font-size: 0.85em;
  font-weight: 500;
  font-family: Helvetica, sans-serif;
}
#links a:hover, #links a:focus, #links a:active {
  color: #6c9020;
}
/*------------------------------------*
   LANDING PAGES
*------------------------------------*/
#landing-page {
  margin-top: 175px;
}
#landing-page form, #about-us, #clients, #features, #reasons {
  background: white;
}
#landing-page form {
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding-bottom: 20px;
}
#about, #usp, #call-to-action, #about-us, #reasons, #features {
  padding: 1% 0 2% 0;
}
#about, #usp, #call-to-action {
  background: url(../assets/stock-img/bg-img-small.jpg) no-repeat;
  background-size: auto;
}
#about-us, #clients, #features, #reasons {
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
}
#footer, #clients {
  text-align: center;
}
#about h3, #usp h2, #call-to-action h2 {
  color: white;
}
#about {
  background-position: 0px -480px;
}
#call-to-action {
  background-position: 0px -275px;
}
#usp {
  background-position: 0px 0px;
}
#reasons {
  padding-bottom: 0;
}
#reasons img {
  max-width: 50%;
}
#reasons table tr td:first-child, #features table tr td:first-child {
  width: 18%;
  text-align: center;
  padding: 0 1em;
}
#clients {
  padding: 0 0 5% 0;
}
#footer ul {
  list-style: none;
  margin: 0;
  padding: 10px 0;
  font-size: 0.75em;
}
#footer ul.si {
  padding: 1em 0 0 1em;
}
#footer ul.si a {
  text-decoration: underline;
}
#footer li {
  display: inline-block;
}
#footer li img {
  vertical-align: middle;
  padding: 0 10px 0 0;
}
#footer ul.contact li {
  width: 15%;
  margin: 0 0 10px;
  text-align: center;
}
#footer ul.contact li:first-child {
  display: block;
  width: 100%;
}
#footer ul.contact a {
  text-decoration: none;
}
/*------------------------------------*
   SPRITES
*------------------------------------*/
.fix-vulnerabilities, .reduce-vulnerabilities, .improve-process, .delivers-compliance, .integrates, .cross-references, .provides-guidance, .elsevier, .fedex, .mass-mutual, .microsoft, .ubs {
  margin: 0 auto;
  height: 0;
}
.fix-vulnerabilities, .reduce-vulnerabilities, .improve-process, .delivers-compliance, .integrates, .cross-references, .provides-guidance {
  background: url(../assets/icons/landing-page-icons.png) no-repeat;
  width: 100%;
  padding-top: 110%;
}
.fix-vulnerabilities, .reduce-vulnerabilities, .provides-guidance {
  background-size: 685%;
}
.improve-process, .delivers-compliance, .integrates, .cross-references {
  background-size: 700%;
}
.fix-vulnerabilities, .elsevier {
  background-position: 0% 0%;
}
.reduce-vulnerabilities {
  background-position: 17.2% 0%;
}
.improve-process {
  background-position: 34% 0%;
}
.delivers-compliance {
  background-position: 50.3% 0%;
}
.integrates {
  background-position: 66.7% 0%;
}
.cross-references {
  background-position: 83% 0%;
}
.provides-guidance {
  background-position: 100% 0%;
}
.elsevier {
  background-position: 0% 0%;
}
.elsevier, .fedex, .mass-mutual, .microsoft, .ubs {
  background: url(../assets/clients/logos.jpg) no-repeat;
  background-size: 100%;
  width: 50%;
  padding-top: 18%;
}
.fedex {
  background-position: 0% 20%;
}
.mass-mutual {
  background-position: 0% 40%;
}
.microsoft {
  background-position: 0% 60%;
}
.ubs {
  background-position: 0% 100%;
}
/*------------------------------------*
  GETTING STARTED
*------------------------------------*/
#loginwall {
  background: transparent;
  margin: 15px 10px 0 10px;
}
#summary {
  margin: 10px;
}
#summary table td {
  padding: 10px;
}
#summary table tr td:first-child {
  width: 80px;
  padding: 0 50px;
}
#message td {
  padding: 0;
}
/*------------------------------------*
   APPLICATION
*------------------------------------*/
#application, #search-div, #search-div-2 {
  background: #fafafa;
}
#application {
  margin-top: 180px;
}
#landing-page #application {
  padding-top: 0 !important;
}
#customer #application {
  padding-top: 70px;
}
#customer #search-div, #customer #search-div-2 {
  top: 240px;
}
#customer #results-2 {
  margin-top: 165px;
}
.bg, #results, #results-2, #search-input {
  background: white;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}
.bg {
  padding: 20px;
  padding-top: 5px;
  margin: 0 0 15px 0;
}
.bg.content {
  padding: 1em;
}
.bg#list-view-article {
  padding: 1em;
  display: inline-block;
}
.bg#list-view-article table {
  width: 100%;
}
#list-view-article h4 {
  padding: 0 0 0.5em 0;
  border-bottom: 1px solid #dbdbdb;
  margin: 0;
}
#list-view-article p {
  margin: 0;
}
#copyright {
  padding: 20px 0 5px 0;
  text-align: center;
}
#copyright ul {
  list-style: none;
  padding: 0;
}
#copyright li {
  display: block;
}
#copyright p, #copyright a {
  font-size: 0.75em;
  margin: 5px 0;
}
#copyright [class^="icon-"], #copyright [class*=" icon-"] {
  font-size: 0.65em;
  margin: 0 10px 0 0;
}
#filters [class^="icon-"], #filters [class*=" icon-"],  #article [class^="icon-"], #article [class*=" icon-"] {
  font-size: 1.25em;
  padding: 0 10px 0 0px;
}
 #articles [class^="icon-"], #articles [class*=" icon-"] {
  font-size: 1.25em;
 }
#main-app-view {
  margin-top: 120px;
}
#main-app-view h5 {
  margin: 15px 0;
}
#search-input {
  padding-bottom: 14px;
}
#search-div #search-input input {
  padding: 5px 0 0 20px;
  display: inline-block;
  width: 85%;
}
#search-input input {
  border: none;
  background: none;
}
#search-div, #search-div-2 {
  margin-bottom: 5px;
  position: fixed;
  top: 180px;
  left: 0;
  z-index: 96;
  margin: 0 auto;
}
#search-div-2 input {
  width: 85%;
}
#search-div, #search-div-2, #results {
  width: 100%;
}
#results {
  margin: 0 0 15px 0;
}
#results-2 {
  margin-top: 150px;
  border: none;
}
#help-nav {
  margin: 10px 10px 15px 10px;
}
#help {
  margin: 0 10px 10px 10px;
}
#help ul, #help ol {
  padding: 0 0 0 2em;
}
#help a {
  text-decoration: underline;
}
/*------------------------------------*
   SUB-NAVIGATION
*------------------------------------*/
.sub-nav, table.nav tr {
  border: 1px solid #dbdbdb;
}
.sub-nav, table.nav td a {
  display: block;
}
.sub-nav {
  background: white;
  border-radius: 3px;
  overflow:auto;
  text-transform: uppercase;
  font-size: 0.75em;
  white-space: pre-wrap;
  padding: 12px 0;
  width: 100%;
  margin-top: 0;
}
.sub-nav a:after { content: " / "; padding-left: 10px; color: #aaaaaa;}
.sub-nav a:before { content: " "; }
.sub-nav dd:last-child > a:after { content: "" }
.sub-nav dt, .sub-nav dd, .sub-nav li {
  float: left;
  display: inline;
  font-weight: normal;
  margin: 0 0 0 10px;
  line-height: 2em;
}
.sub-nav dt a, .sub-nav dd a, .sub-nav li a {
  text-align: left;
  text-decoration: none;
  color: #aaaaaa;
}
.sub-nav dt a:hover, .sub-nav dd a:hover, .sub-nav li a:hover {
  color: #6c9020;
}
.sub-nav dt.active a, .sub-nav dd.active a, .sub-nav li.active a {
  color: #8aaf3e;
}
.sub-nav dt.active a:hover, .sub-nav dd.active a:hover, .sub-nav li.active a:hover {
  color: #6c9020;
}
table.nav {
  background: #fafafa;
  font-size: 0.9em;
}
table.nav tr:hover {
  background: #dbdbdb;
}
table.nav td {
  padding: 5px 10px;
  word-wrap: break-word;
}
table.nav td a {
  color: inherit;
  text-decoration: none !important;
}
/*------------------------------------*
   FORMS
*------------------------------------*/
form, .form-group {
  margin-bottom: 15px;
  list-style-type: none;
}
#search-div form, #search-div-2 form {
  margin: 0;
}
form, input[type="text"], input[type="password"], input[type="date"], input[type="datetime"],
input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"],
input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea, select {
  border-radius: 3px;
}
form {
  padding: 20px 20px 0 20px;
}
form p {
  font-size: 0.75em;
  margin-top: 0;
}
form h4 {
  margin: 5px 0 20px;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #dbdbdb;
}
label, .label {
  display: inline-block;
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75em;
  font-weight: 700;
  color: #444444;
}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"],
input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"],
input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea, select {
  width: 100%;
  background-color: #fafafa;
  font-family: inherit;
  border: 1px solid #dbdbdb;
  color: #444444;
  font-size: 1em;
  margin: 0 0 5px 0;
  padding: 0 0 0 0.5rem;
  height: 3em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus,
input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus,
input[type="url"]:focus, textarea:focus, select:focus {
  outline: none;
  border: 1px solid #aaaaaa;
}
.input-group {
  display: table;
  width: 98.5%;
  background: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  height: 3em;
  margin: 10px 0 0 0;
}
.input-group .form-control {
  display: table-cell;
}
.input-group .input-group-btn {
  display: table-cell;
  vertical-align: bottom;
}
/*------------------------------------*
   TYPOGRAPHY
*------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-weight: normal;
}
h1, h2, h3 {
  color: #7b7b7b;
}
h4, h5, h6, hr {
  color: #565656;
}
h1 {
  font-size: 2em;
  line-height: 1.25em;
}
h2 {
  font-size: 1.75em;
  line-height: 1.153em;
}
h3 {
  font-size: 1.5em;
  line-height: 1.136em;
}
h4 {
  font-size: 1.25em;
  line-height: 1.3em;
}
h5 {
  font-size: 1em;
  line-height: 1.11em;
}
h6 {
  font-size: 0.95em;
  line-height: 1.11em;
}
p, a {
  color: #444444;
}
.bg#list-view-article a:hover h4 {
  color: #8aaf3e !important;
}
p {
  font-size: 0.85em;
  line-height: 1.5em;
}
ul, ol {
  margin: 0;
  padding: 0;
}
li {
  line-height: 1.5em;
}
code, pre { /* commented out for #413 - code syntax highlighting */
  /* font-family: Lucida Console, Courier, monospace; */
  /* font-size: 0.8em; */
  display: block;
  padding: 20px;
  line-height: 1.5;
  /* color: #444444; */
  /* letter-spacing: 2px; */
  white-space: pre-wrap;                 /* CSS3 browsers  */
  white-space: -moz-pre-wrap !important; /* 1999+ Mozilla  */
  white-space: -pre-wrap;                /* Opera 4 thru 6 */
  white-space: -o-pre-wrap;              /* Opera 7 and up */
  word-wrap: break-word;
  background-color: #fafafa;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  margin: 30px 0;
  overflow: auto;
}
hr {
  background-color: #565656;
  height: 1px;
  margin: 40px 0;
  border: 0;
}
a {
  text-decoration: none;
  outline: none;
}
a:hover, a:active, a:focus {
  color: #6c9020;
  outline: none;
}
a.minor{
  color: #7b7b7b;
  text-decoration: none !important;
  font-size: 0.85em;
  line-height: 4.5em;
  display: block;
}
a.minor:hover {
  color: #565656;
}
#article a, #landing-page a, #message a {
  text-decoration: underline;
}
.text-right {
  text-align: right !important;
}
/*------------------------------------*
   BUTTONS
*------------------------------------*/
button {
  background: #8aaf3e;
  border-radius: 3px;
  border: none;
  color: white;
  display: inline-block;
  font-size: 0.85em;
  letter-spacing: 1px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  width: auto;
  outline: none;
}
button:hover, button:active {
  background: #b4cf7b;
}
.full-width {
  width: 100% !important;
}
#search-button {
  -webkit-box-shadow: none;
  background: transparent;
  float: right;
  width: 15%;
  font-size: 1.2em;
  color: #8aaf3e;
}
#search-button:hover {
  color: #6c9020;
}
/*------------------------------------*
   MICRO-ELEMENTS
*------------------------------------*/
.badge, .filter {
  background: #aaaaaa;
  text-align: center;
  color: white !important;
}
.badge {
  min-width: 2em;
  height: 1.5em;
  line-height:1.75em;
  border-radius:10px;
  font-size: 12px;
  padding: 2px 2px 2px 1px;
}
.alert {
  padding: 15px 20px;
  margin-bottom: 5px;
  border-radius: 3px;
}
.alert-ok {
  background: #b4cf7b;
  color: #6c9020;
}
.alert-ok a {
  color: white;
  text-decoration: none !important;
}
.alert-ok a:hover {
  color: #6c9020 !important;
}
.alert-ok .alert-icon {
  color: #6c9020;
}
.alert-bad {
  background: #cf7b7b;
  color: #902020;
}
.alert-bad .alert-icon {
  color: #902020;
}
.alert-bad a {
  color: white !important;
  text-decoration: none !important;
}
.alert-bad a:hover {
  color: #902020 !important;
}
.alert-neutral {
  background: #fafafa;
  border: 1px solid #dbdbdb;
}
span.alert-icon {
  font-size: 2em;
  padding: 0 10px 0 0;
}
span.alert-text {
  vertical-align: super;
}
.filter {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid transparent;
  font-size: 12px;
  display: block;
}
.filtered {
  font-size: 12px;
  color: #aaaaaa;
  padding-right: 20px;
  text-transform: uppercase;
}
.close a {
  text-align: right;
  text-decoration: none;
  margin: 0 0 0 10px;
  padding: 0 5px 0 10px;
  color: white;
  border-left: 1px solid white;
  float: right;
}
.desktop .close a {
  float: none;
}
#message {
  font-size: 0.85em !important;
}
#message i {
  font-size: 1.25em;
}
#message a {
  text-transform: lowercase !important;
}
/*------------------------------------*
   TABLES
*------------------------------------*/
table {
  width: 100%;
  color: #444444;
  border-collapse: collapse;
}
.data thead, .data tr:nth-child(even) {
  background: #fafafa;
}
.data thead, .data tr {
  border: 1px solid #dbdbdb;
}
.data thead {
  text-align: left;
  letter-spacing: 1px;
}
td, th {
  padding: 10px;
  height: 30px;
}
td.small {
  width: 10px;
  padding-top: 20px;
}
td.vertical-align {
  vertical-align: middle;
  text-align: right;
}
/*------------------------------------*
   MEDIA QUERIES
*------------------------------------*/
@media (min-width: 550px) {
  #about, #call-to-action, #usp {
    padding: 7% 0 5% 0;
    background: url(../assets/stock-img/bg-img-medium.jpg) no-repeat;
    text-align: center;
  }
  #about {
    background-position: 0px -820px;
  }
  #call-to-action {
    background-position: 0px -500px;
  }
  button, .button {
    width: 100%;
  }
  .elsevier, .fedex, .mass-mutual, .microsoft, .ubs {
    width: 30%;
    padding-top: 10%;
  }
}
@media (min-width: 660px) {
  #team-mentor-navigation, #customer-navigation { height: 60px; }
  #customer-navigation {
    margin-bottom: 0;
  }
  #customer-logo {
    text-align: left;
    width: 250px;
    height: auto;
    padding: 3px 20px;
  }
  #tm-logo, #links, #links ul li { display: inline-block; }
  #tm-logo {
    background-position: 0px 0px;
    float: left;
    margin: 7px 0 0 20px;
    width: 36%;
  }
  #landing-page { margin: 55px auto 0 auto; }
  #links {
    width: 60%;
    float: right;
  }
  #links ul {
    padding-top: 5px;
    text-align: right;
  }
  #links ul li { padding: 0 20px 0 0; }
  #links ul li:last-child { padding-right: 20px; }
  #loginwall { margin: 15px 7px 0 0; }
  #summary { margin: 15px 0 0 7px; }
  #application { margin-top: 70px; }
  #customer #application { padding-top: 60px; }
  #customer #search-div, #customer #search-div-2  { top: 120px; }
  #search-div, #search-div-2  {
    top: 60px;
    padding-top: 10px;
  }
  #results-2 { margin-top: 140px; }
  #landing-page #application {
    margin: 70px 0 0 0;
  }
  #help-nav { margin: 0 10px 0 0; }
  #help { margin: 10px 0 0 10px; }
  #search-button { width: 8%; }
  #search-div-2 input, #search-div input {
    width: 92%;
  }
}
@media (min-width: 853px) {
  .landing-page #links {
    margin: 0.75em 0 0 0;
  }
  #landing-page h1 { line-height: 2.5em; }
  #landing-page h2 { line-height: 1.5em; }
  #landing-page h3 { line-height: 1.5em; }
  #landing-page h5 { line-height: 1.5em; }
  #features h2 { text-align: center; }
  h1 { font-size: 2.25em; }
  h2 { font-size: 2em; }
  h3 { font-size: 1.75em; }
  h4 { font-size: 1.5em; }
  h5 { font-size: 1.25em; }
  h6 { font-size: 1.15em; }
  p {
    font-size: 1em;
    line-height: 1.75em;
  }
  #about, #call-to-action, #usp {
    background: url(../assets/stock-img/bg-img-large.jpg) no-repeat;
    padding: 8% 0;
  }
  #about { background-position: 0px -1400px; }
  #call-to-action { background-position: 0px -800px; }
  #reasons h2 {
    text-align: center;
  }
  #reasons img {
    max-width: 100%
  }
  #contact-information { margin-top: 10px; }
  #about h2, #usp h1 { padding-top: 40px; }
  #main-app-view { margin-top: 140px; }
  a.minor { line-height: 3.75em; }
  #search-div-2 { width: 75%; }
  .elsevier, .fedex, .mass-mutual, .microsoft, .ubs {
    width: 100%;
    padding-top: 33%;
  }
  #footer { text-align: left; }
  #footer ul.contact li {
    width: 20%;
    text-align: right;
    margin: 0;
  }
  #footer ul.contact li:first-child {
    width: auto;
    display: inline-block;
    text-align: left;
  }
  .bg.content {
  padding: 1em 3em 2em 3em;
  }
}
@media (min-width: 1280px) {
  #landing-page, .landing-page {
    width: 80%;
    left: 10%;
  }
  .fixed.landing-page { left: 10%; }
}
@media (min-width: 2000px) {
  .landing-page, #landing-page { width: 60%; }
  .fixed.landing-page { left: 20%; }
}
/*------------------------------------*
   COLUMNS
*------------------------------------*/
@media (min-width: 853px) {
  #link-forgot-pwd { text-align: right; }
  .desktop  { display:block; }
  .mobile { display: none; }
  .filter {
    display: inline-block;
    margin: 2px 5px 0;
  }
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 { float: left; }
  .col-12 { width: 100%; }
  .col-11 { width: 91.66666667%; }
  .col-10 { width: 83.33333333%; }
  .col-9 { width: 75%; }
  .col-8 { width: 66.66666667%; }
  .col-7 { width: 58.33333333%; }
  .col-6 { width: 50%; }
  .col-5 { width: 41.66666667%; }
  .col-4 { width: 33.33333333%; }
  .col-3 { width: 25%; }
  .col-2 { width: 16.66666667%; }
  .col-1 { width: 8.33333333%; }
  .col-offset-12 { margin-left: 100%; }
  .col-offset-11 { margin-left: 91.66666667%; }
  .col-offset-10 { margin-left: 83.33333333%; }
  .col-offset-9 { margin-left: 75%; }
  .col-offset-8 { margin-left: 66.66666667%; }
  .col-offset-7 { margin-left: 58.33333333%; }
  .col-offset-6 { margin-left: 50%; }
  .col-offset-5 { margin-left: 41.66666667%; }
  .col-offset-4 { margin-left: 33.33333333%; }
  .col-offset-3 { margin-left: 25%; }
  .col-offset-2 { margin-left: 16.66666667%; }
  .col-offset-1 { margin-left: 8.33333333%; }
  .col-offset-0 { margin-left: 0; }
}
.row { width: 100%; }
.collapse { margin-bottom: -50px; }
.clearfix:before, .clearfix:after, .container:before, .container:after, .row:before, .row:after {
  display: table;
  content: " ";
}
.clearfix:after, .container:after, .row:after { clear: both; }
/*------------------------------------*
  HACKS
*------------------------------------*/
#article h1.article-title {
  font-size: 2em;
  margin-bottom: 0;
}
#article ul, #article ol, .toc-content ul, .toc-content ol {
  padding: 10px;
  margin: 20px;
}
#article ol {
  padding: 10px;
  margin: 20px;
}
#html > h1, #html > h2 {
  font-size: 1.5em !important;
  padding: 0;
}
.toc-content h4 {
  padding-top: 100px;
  margin-top: -80px;
}
.article-content { padding-top: 20px; }
/*------------------------------------*
   ICONS
*------------------------------------*/
@font-face {
  font-family: 'icons';
  src:url('../assets/fonts/icons.eot?uf9at6');
  src:url('../assets/fonts/icons.eot?#iefixuf9at6') format('embedded-opentype'),
    url('../assets/fonts/icons.woff?uf9at6') format('woff'),
    url('../assets/fonts/icons.ttf?uf9at6') format('truetype'),
    url('../assets/fonts/icons.svg?uf9at6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Deploy .path1:before {
  content: "\e600";
  color: #a79389;
}
.icon-Deploy .path2:before {
  content: "\e601";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Design .path1:before {
  content: "\e602";
  color: #cb6e6e;
}
.icon-Design .path2:before {
  content: "\e603";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Design .path3:before {
  content: "\e604";
  margin-left: -1em;
  color: #cb6e6e;
}
.icon-Design .path4:before {
  content: "\e605";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Filter:before {
  content: "\e606";
}
.icon-Guideline .path1:before {
  content: "\e607";
  color: rgb(255, 255, 255);
}
.icon-Guideline .path2:before {
  content: "\e608";
  margin-left: -1em;
  color: #f3bf4f;
}
.icon-HowTo .path1:before {
  content: "\e609";
  color: #679ff3;
}
.icon-HowTo .path2:before {
  content: "\e60a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-HTML5 .path1:before {
  content: "\e60b";
  color: #f87359;
}
.icon-HTML5 .path2:before {
  content: "\e60c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Implementation .path1:before {
  content: "\e60d";
  color: #73b2df;
}
.icon-Implementation .path2:before {
  content: "\e60e";
  margin-left: -1em;
  color: #73b2df;
}
.icon-Implementation .path3:before {
  content: "\e60f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Index:before {
  content: "\e610";
}
.icon-Info:before {
  content: "\e611";
}
.icon-iOS .path1:before {
  content: "\e612";
  color: #a6a8ab;
}
.icon-iOS .path2:before {
  content: "\e613";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Java .path1:before {
  content: "\e614";
  color: #ff9200;
}
.icon-Java .path2:before {
  content: "\e615";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Logout:before {
  content: "\e616";
}
.icon-Mail:before {
  content: "\e617";
}
.icon-Net .path1:before {
  content: "\e618";
  color: #5990b5;
}
.icon-Net .path2:before {
  content: "\e619";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Net-3-5 .path1:before {
  content: "\e618";
  color: #5962b5;
}
.icon-Net-3-5 .path2:before {
  content: "\e619";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Paperclip:before {
  content: "\e61a";
}
.icon-PHP .path1:before {
  content: "\e61b";
  color: rgb(255, 255, 255);
}
.icon-PHP .path2:before {
  content: "\e61c";
  margin-left: -1em;
  color: #6c7eb7;
}
.icon-Principle .path1:before {
  content: "\e61d";
  color: #eaa878;
}
.icon-Principle .path2:before {
  content: "\e61e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Save:before {
  content: "\e61f";
}
.icon-Scala .path1:before {
  content: "\e620";
  color: #ea7a78;
}
.icon-Scala .path2:before {
  content: "\e621";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Search:before {
  content: "\e622";
}
.icon-Test .path1:before {
  content: "\e623";
  color: #cbb654;
}
.icon-Test .path2:before {
  content: "\e624";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Tick:before {
  content: "\e625";
}
.icon-Twitter:before {
  content: "\e626";
}
.icon-Vulnerabilities .path1:before {
  content: "\e627";
  color: rgb(255, 255, 255);
}
.icon-Vulnerabilities .path2:before {
  content: "\e628";
  margin-left: -1em;
  color: #82a931;
}
.icon-WCF .path1:before {
  content: "\e629";
  color: #59caf5;
}
.icon-WCF .path2:before {
  content: "\e62a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Web-App .path1:before {
  content: "\e62b";
  color: #6eb87a;
}
.icon-Web-App .path2:before {
  content: "\e62c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Web-App .path3:before {
  content: "\e62d";
  margin-left: -1em;
  color: #6eb87a;
}
.icon-Web-App .path4:before {
  content: "\e62e";
  margin-left: -1em;
  color: #6eb87a;
}
.icon-Web-App .path5:before {
  content: "\e62f";
  margin-left: -1em;
  color: #6eb87a;
}
.icon-Web-App .path6:before {
  content: "\e630";
  margin-left: -1em;
  color: #6eb87a;
}
.icon-Web-App .path7:before {
  content: "\e631";
  margin-left: -1em;
  color: #6eb87a;
}
.icon-Web-App .path8:before {
  content: "\e632";
  margin-left: -1em;
  color: #6eb87a;
}
.icon-Web-App .path9:before {
  content: "\e633";
  margin-left: -1em;
  color: #6eb87a;
}
.icon-Web-App .path10:before {
  content: "\e634";
  margin-left: -1em;
  color: #6eb87a;
}
.icon-Web-App .path11:before {
  content: "\e635";
  margin-left: -1em;
  color: #6eb87a;
}
.icon-All .path1:before {
  content: "\e636";
  color: #b190e2;
}
.icon-All .path2:before {
  content: "\e637";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Android .path1:before {
  content: "\e638";
  color: #a0cf4b;
}
.icon-Android .path2:before {
  content: "\e639";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Android .path3:before {
  content: "\e63a";
  margin-left: -1em;
  color: #a0cf4b;
}
.icon-Android .path4:before {
  content: "\e63b";
  margin-left: -1em;
  color: #a0cf4b;
}
.icon-Android .path5:before {
  content: "\e63c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-C .path1:before {
  content: "\e63e";
  color: #90bae2;
}
.icon-C .path2:before {
  content: "\e63f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Checklist .path1:before {
  content: "\e640";
  color: rgb(255, 255, 255);
}
.icon-Checklist .path2:before {
  content: "\e641";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Checklist .path3:before {
  content: "\e642";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Checklist .path4:before {
  content: "\e643";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Checklist .path5:before {
  content: "\e644";
  margin-left: -1em;
  color: #f6788d;
}
.icon-Close:before {
  content: "\e645";
}
.icon-CodeExample .path1:before {
  content: "\e646";
  color: #5ed4a6;
}
.icon-CodeExample .path2:before {
  content: "\e647";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-CodeExample .path3:before {
  content: "\e648";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-CodeExample .path4:before {
  content: "\e649";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-CodeExample .path5:before {
  content: "\e64a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-CodeExample .path6:before {
  content: "\e64b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-CodeExample .path7:before {
  content: "\e64c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-CodeExample .path8:before {
  content: "\e64d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-CodeExample .path9:before {
  content: "\e64e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Default .path1:before {
  content: "\e64f";
  color: rgb(68, 68, 68);
}
.icon-Default .path2:before {
  content: "\e650";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Delete:before {
  content: "\e651";
}
.icon-Article:before {
  content: "\e63d";
}
.icon-Share:before {
  content: "\e652";
}
.icon-User:before {
  content: "\e653";
}