/*------------------------------------*
   BASIC STRUCTURE
*------------------------------------*/
html {
  font: 100% Helvetica, sans-serif;
}
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  background: #fafafa;
}
body > * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img, object {
  height: auto;
  max-width: 100%;
  margin: 0 auto;
}
.lge-container {
  max-width: 100%;
  padding: 15px;
  margin: 0 auto;
}
.right {
  float: right !important;
}
.left {
  float: left !important;
}
.mobile {
  display: block;
}
.desktop {
  display: none;
}
/*------------------------------------*
   NAVIGATION
*------------------------------------*/
.fixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99;
  background: white;
  border: 1px solid #dbdbdb;
}
#team-mentor-navigation {
  height: auto;
  text-align: center;
}
#tm-logo {
  background:url('../assets/logos/logos.png') no-repeat;
  height: 40px;
  margin: 0 auto;
  background-position: top center;
  margin-bottom: 10px;
}
#links {
  width: 100%;
}
#links ul {
  list-style-type: none;
  padding: 0;
}
#links.text-links ul li, #links.icons ul li {
  display: block;
  margin: 2px 0;
}
#links.text-links {
  margin-top: 7px;
}
#links.icons ul li i {
  padding-right: 10px
}
#links ul li a {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #8aaf3e;
}
#links ul li a:hover, #links ul li a:focus, #links ul li a:active {
  color: #6c9020;
}
/*------------------------------------*
   LANDING PAGES
*------------------------------------*/
#landing-page {
  margin-top: 175px;
  height: 100%;
  width: 100%;
}
#about, #usp, #call-to-action, #about-us, #reasons {
  padding: 1% 0 2% 0;
}
#about, #usp, #call-to-action {
  background: url(../assets/stock-img/bg-img-small.jpg) no-repeat;
  background-size: auto;
}
#about-us, #clients, #features, #footer, #reasons {
  background: white;
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
}
#footer, #clients {
  text-align: center;
}
#about h3, #usp h2, #call-to-action h2 {
  color: white;
}
i.landing-page {
  font-size: 2em;
  color: #8baf3e;
}
#usp button i, #call-to-action button i {
  font-size: 1.5em;
  padding: 0 10px 0 0;
}
#about {
  background-position: 0px -480px;
}
#call-to-action {
  background-position: 0px -275px;
}
#usp {
  background-position: 0px 0px;
}
#reasons {
  padding-bottom: 0;
}
.lp-icons-width {
  width: 20%;
}
.lp-icons {
  background: url(../assets/icons/icons.png) no-repeat;
  background-size: 100%;
  width: 100%;
  margin: 0 auto;
  padding-top: 95%;
  height: 0;
}
.fix-vulnerabilities {
  background-position: 0% 0%;
}
.reduce-vulnerabilities {
  background-position: 0% 48%;
}
.improve-process {
  padding-top: 110%;
  background-position: 0% 105%;
}
#clients {
  padding: 0 0 5% 0;
}
.client-logo {
  background: url(../assets/clients/logos.jpg) no-repeat;
  background-size: 100%;
  width: 50%;
  margin: 0 auto;
  padding-top: 18%;
  height: 0;
}
.elsevier {
  background-position: 0% 0%;
}
.fedex {
  background-position: 0% 20%;
}
.mass-mutual {
  background-position: 0% 40%;
}
.microsoft {
  background-position: 0% 60%;
}
.ubs {
  background-position: 0% 100%;
}
#reasons {
  padding-bottom: 0;
}
#footer ul {
  list-style: none;
  list-style-position: outside;
  margin: 0;
  padding: 10px 0;
}
#footer i {
  font-size: 1.25em;
}
#footer li {
  display: inline-block;
  font-size: 0.75em;
}
#footer li img {
  vertical-align: middle;
  padding: 0 10px 0 0;
}
#footer ul.si {
  padding-left: 20px;
}
#footer ul.contact li {
  width: 15%;
  margin: 0 0 10px;
  text-align: center;
}
#footer ul.contact li:first-child {
  display: block;
  width: 100%;
}
/*------------------------------------*
  GETTING STARTED
*------------------------------------*/
#loginwall {
  background: transparent;
  margin: 15px 10px 0 10px;
}
#login-form, #sign-up-form, #forgot-password, #pwd-reset-form {
  background: white;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding-bottom: 20px;
}
#heading {
  background-color: #8aaf3e;
  max-width: 100%;
  padding: 5px;
  text-align: center;
}
#heading p {
  color: white;
}
#summary {
  margin: 10px;
}
#summary table td {
  padding: 0 10px;
}
#message i {
  font-size: 1.5em;
  padding: 10px;
}
#message td {
  padding: 0;
}
/*------------------------------------*
   APPLICATION
*------------------------------------*/
#application {
  width: 100%;
  max-height: 100%;
  padding-top: 180px;
  background: #fafafa;
}
#landing-page #application {
  padding-top: 0 !important;
}
.bg, #results, #results-2, #search-input, #search-input .input-group {
  background: white;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}
.bg {
  padding: 20px;
  padding-top: 5px;
  margin-bottom: 5px;
}
.bg.content {
  padding: 1em 3em 2em 3em;
}
.bg#list-view-article {
  padding: 10px;
  padding-top: 1px;
}
.bg#list-view-article h4 {
  padding: 0 0 20px 0;
  margin: 30px 0 7px 0;
  border-bottom: 1px solid #dbdbdb;
}
.bg#list-view-article p {
  margin-top: 0;
}
.bg#list-view-article a:hover h4 {
  color: #8aaf3e !important;
}
.bg#list-view-article span.badge {
  margin-top: 10px;
}
#copyright {
  max-height: 100%;
  padding: 20px 0 5px 0;
  text-align: center;
}
#copyright ul {
  list-style: none;
  padding: 0;
}
#copyright li {
  display: block;
}
#copyright p, #copyright a, #copyright i {
  font-size: 0.75em;
  margin: 5px 0;
}
#copyright i, #main-app-view i {
  margin: 0 10px 0 0;
}
#filters i {
  padding: 0 12px 0 5px;
}
#filters .technology-icon {
  margin-right: 10px;
}
#main-app-view {
  margin-top: 130px;
}
#main-app-view h5 {
  margin: 15px 0;
}
#results {
  margin: 0 0 5px 0;
  width: 100%;
}
#results-2 {
  margin-top: 140px;
  border: none;
}
#search-input {
  padding-bottom: 14px;
}
#search-input .input-group {
  background: #fafafa;
}
#search-div #search-input input {
  padding-top: 20px;
  display: inline-block;
  width: 90%;
}
#search-input input {
  border: none;
  background: none;
}
#search-div, #search-div-2 {
  background: #fafafa;
  margin-bottom: 5px;
  width: 100%;
  position: fixed;
  top: 170px;
  left: 0;
  z-index: 96;
  margin: 0 auto;
}
#article td.vertical-align i {
  margin-left: 5px;
}
#help-nav {
  margin: 15px 10px 15px 10px;
}
#help-docs {
  margin: 0 10px 10px 10px;
}
/*------------------------------------*
   SUB-NAVIGATION
*------------------------------------*/
.sub-nav {
  display: block;
  border: 1px solid #dbdbdb;
  background: white;
  border-radius: 3px;
  overflow:auto;
  text-transform: uppercase;
  font-size: 12px;
  white-space: pre-wrap;
  padding: 12px 0;
  width: 100%;
  margin-top: 0;
}
.sub-nav a:after { content: " / "; padding-left: 10px; color: #aaaaaa;}
.sub-nav a:before { content: " "; }
.sub-nav dd:last-child > a:after { content: "" }
.sub-nav dt, .sub-nav dd, .sub-nav li {
  float: left;
  display: inline;
  font-weight: normal;
  margin: 0 0 0 10px;
  line-height: 2em;
}
.sub-nav dt a, .sub-nav dd a, .sub-nav li a {
  text-align: left;
  text-decoration: none;
  color: #aaaaaa;
}
.sub-nav dt a:hover, .sub-nav dd a:hover, .sub-nav li a:hover {
  color: #6c9020;
}
.sub-nav dt.active a, .sub-nav dd.active a, .sub-nav li.active a {
  color: #8aaf3e;
}
.sub-nav dt.active a:hover, .sub-nav dd.active a:hover, .sub-nav li.active a:hover {
  color: #6c9020;
}
table.nav {
  background: #fafafa;
  font-size: 0.9em;
}
table.nav tr {
  border: 1px solid #dbdbdb;
}
table.nav tr:hover {
  background: #dbdbdb;
}
table.nav td {
  padding: 5px 10px;
  word-wrap: break-word;
}
table.nav td a {
  display: block;
  color: inherit;
  text-decoration: none !important;
}
/*------------------------------------*
   FORMS
*------------------------------------*/
form, .form-group {
  margin-bottom: 15px;
  list-style-type: none;
}
form {
  border-radius: 3px;
  padding: 20px 20px 0 20px;
}
form p {
  font-size: 0.75em;
  margin-top: 0;
}
label, .label {
  display: inline-block;
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75em;
  font-weight: 700;
  color: #444444;
}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"],
input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"],
input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea, select {
  width: 100%;
  background-color: #fafafa;
  font-family: inherit;
  border: none;
  border: 1px solid #dbdbdb;
  color: #444444;
  border-radius: 3px;
  font-size: 1em;
  margin: 0 0 5px 0;
  padding: 0 0 0 0.5rem;
  height: 3em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus,
input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus,
input[type="url"]:focus, textarea:focus, select:focus {
  outline: none;
  border: 1px solid #aaaaaa;
}
.input-group {
  display: table;
  width: 98.5%;
  background: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  height: 3em;
  margin: 10px 0 0 0;
}
.input-group .form-control {
  display: table-cell;
}
.input-group .input-group-btn {
  display: table-cell;
  vertical-align: bottom;
}
/*------------------------------------*
   TYPOGRAPHY
*------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-weight: normal;
}
h1, h2, h3 {
  color: #7b7b7b;
}
h4, h5 {
  color: #565656;
}
h1 {
  font-size: 2em;
  line-height: 1.25em;
}
h2 {
  font-size: 1.75em;
  line-height: 1.153em;
}
h3 {
  font-size: 1.5em;
  line-height: 1.136em;
}
h4 {
  font-size: 1.25em;
  line-height: 1.11em;
}
h5 {
  font-size: 1em;
  line-height: 1.11em;
}
p {
  font-size: 0.85em;
  line-height: 1.5em;
  color: #444444;
}
ul, ol {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}
ul ul, ol ul {
  margin-bottom: 0;
}
code, pre { /* commented out for #413 - code syntax highlighting */
  /* font-family: Lucida Console, Courier, monospace; */
  /* font-size: 0.8em; */
  display: block;
  padding: 20px;
  line-height: 1.5;
  /* color: #444444; */
  /* letter-spacing: 2px; */
  white-space: pre-wrap;                 /* CSS3 browsers  */
  white-space: -moz-pre-wrap !important; /* 1999+ Mozilla  */
  white-space: -pre-wrap;                /* Opera 4 thru 6 */
  white-space: -o-pre-wrap;              /* Opera 7 and up */
  word-wrap: break-word;
  background-color: #fafafa;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  margin: 30px 0;
  overflow: auto;
}
hr {
  background-color: #aaaaaa;
  color: #aaaaaa;
  height: 1px;
  margin: 40px 0;
  border: 0;
}
a {
  color: #444444;
  text-decoration: none;
  outline: none;
}
a:hover, a:active, a:focus {
  color: #6c9020;
  outline: none;
}
a.action {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 14px;
  color: #8aaf3e;
}
a.action:hover, a.action:focus, a.action:active {
  color: #b4cf7b;
}
a.minor{
  color: #565656;
  text-decoration: none !important;
  font-size: 14px;
  line-height: 4.5em;
  display: block;
}
a.minor:hover {
  color: #7b7b7b;
}
#article a, #landing-page a {
  text-decoration: underline;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.text-left {
  text-align: left !important;
}
.normal {
  font-weight: normal;
}
/*------------------------------------*
   BUTTONS
*------------------------------------*/
button {
  background: #8aaf3e;
  border-radius: 3px;
  border: none;
  color: white;
  display: inline-block;
  font-size: 0.875em;
  letter-spacing: 1px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  width: auto;
}
button:hover, button:active {
  background: #b4cf7b;
}
.full-width {
  width: 100% !important;
}
#search-button {
  -webkit-box-shadow: none;
  background: transparent;
  border: none;
  border-radius: 3px;
  text-align: center;
  float: right;
  padding: 15px 0;
  width: 10%;
  display: inline-block;
}
#search-button i {
  color: #8aaf3e;
  font-size: 20px;
}
/*------------------------------------*
   MICRO-ELEMENTS
*------------------------------------*/
.badge {
  min-width: 2em;
  height: 1.5em;
  line-height:1.75em;
  text-align: center;
  color: white;
  background: #aaaaaa;
  border-radius:10px;
  font-size: 12px;
  padding: 2px 2px 2px 1px;
}
.alert {
  padding: 15px;
  margin-bottom: 5px;
  background: white;
  border: 1px solid #8aaf3e;
  color: #8aaf3e !important;
  font-size: inherit;
  border-radius: 3px;
}
.alert a {
  text-decoration: underline;
}
.filter {
  padding: 5px;
  background: #aaaaaa;
  border-radius: 10px;
  border: 1px solid transparent;
  text-align: center;
  color: white !important;
  font-size: 12px;
  display: block;
}
span.rwd-line {
  display: block;
}
.filtered {
  font-size: 12px;
  color: #aaaaaa;
  padding-right: 20px;
  text-transform: uppercase;
}
.close a {
  text-align: right;
  text-decoration: none;
  margin: 0 0 0 10px;
  padding: 0 5px 0 10px;
  color: white;
  border-left: 1px solid white;
  float: right;
}
.desktop .close a {
  float: none;
}
.close-2 a {
  background: #aaaaaa;
  text-align: right;
  text-decoration: none;
  margin: 0 0 0 10px;
  padding: 5px 7px;
  border-radius: 50%;
  color: white;
}
/*------------------------------------*
   TABLES
*------------------------------------*/
table {
  width: 100%;
  color: #444444;
  border-collapse: collapse;
}
.data thead {
  background: #fafafa;
  text-align: left;
  border: 1px solid #dbdbdb;
  letter-spacing: 1px;
}
td, th {
  padding: 10px;
  height: 30px;
}
td.small {
  width: 10px;
  padding-top: 20px;
  text-align: center;
}
td.vertical-align {
  vertical-align: initial;
  padding-top: 35px;
}
tr.article-title {
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 25px;
  line-height: 1.5em;
  color: #5c5c5c;
}
.data tr {
  border: 1px solid #dbdbdb;
}
.data tr:nth-child(even) {
  background: #fafafa;
}
/*------------------------------------*
   MEDIA QUERIES
*------------------------------------*/
@media (min-width: 550px) {
  #about, #call-to-action, #usp {
    padding: 7% 0 5% 0;
  }
  #about, #call-to-action, #usp {
    background: url(../assets/stock-img/bg-img-medium.jpg) no-repeat;
    text-align: center;
  }
  #about {
    background-position: 0px -820px;
  }
  #call-to-action {
    background-position: 0px -500px;
  }
  button, .button {
    width: 100%;
  }
}
@media (min-width: 660px) {
  #team-mentor-navigation {
    height: 60px;
  }
  #tm-logo {
    background-position: 0px 0px;
    display: inline-block;
    float: left;
    margin: 7px 0 0 20px;
    width: 36%;
  }
  #landing-page {
    margin: 55px auto 0 auto;
  }
  #links {
    display: inline-block;
    width: 60%;
    float: right;
  }
  #links.text-links, #links.icons {
    padding-top: 10px;
  }
  #links.icons ul li {
    display: inline-block;
  }
  #links.text-links ul, #links.icons ul {
    text-align: right;
  }
  #links.text-links ul li,  #links.icons ul li {
    display: inline-block;
    padding: 0 20px 0 0;
  }
  #links.text-links ul li:last-child, #links.icons ul li:last-child {
    padding-right: 20px;
  }
  #links ul li a{
    font-size: 14px;
  }
  #loginwall {
    margin: 15px 7px 0 0;
  }
  #summary {
    margin: 15px 0 0 7px;
  }
  #application {
    padding-top: 60px;
  }
  #search-div {
    top: 60px;
  }
  #search-div-2 {
    top: 60px;
  }
  #results-2 {
    margin-top: 160px;
  }
  .client-logo {
    width: 30%;
    padding-top: 10%;
  }
  #help-nav {
    margin: 15px 10px 0 0;
  }
  #help-docs, #help-index {
    margin: 15px 0 0 10px;
  }
}
@media (min-width: 853px) {
  #landing-page h1 {
    line-height: 2.5em;
  }
  #landing-page h2 {
    line-height: 1.5em;
  }
  #landing-page h3 {
    line-height: 1.5em;
  }
  #landing-page h5 {
    line-height: 1.5em;
  }
  #reasons h2, #features h2 {
    text-align: center;
  }
  .lp-icons {
    width: 80%;
    padding-top: 75%;
  }
  .improve-process {
    padding-top: 82%;
    background-position: 0% 100%;
  }
  h1 {
    font-size: 2.25em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.75em;
  }
  h4 {
    font-size: 1.5em;
  }
  h5 {
    font-size: 1.25em;
  }
  p {
    font-size: 1em;
    line-height: 1.75em;
  }
  #about, #call-to-action, #usp {
    background: url(../assets/stock-img/bg-img-large.jpg) no-repeat;
    padding: 8% 0;
  }
  #about {
    background-position: 0px -1400px;
  }
  #call-to-action {
    background-position: 0px -800px;
  }
  #contact-information {
    margin-top: 10px;
  }
  #about h2, #usp h1 {
    padding-top: 40px;
  }
  #main-app-view {
    margin-top: 160px;
  }
  a.minor {
    line-height: 3.75em;
  }
  #search-div-2 {
    width: 75%;
  }
  .client-logo {
    width: 100%;
    padding-top: 33%;
  }
  #footer {
    text-align: left;
  }
  #footer ul.contact li {
    width: 20%;
  }
  #footer i {
    padding-left: 50px;
  }
  #footer ul.contact li:first-child {
    width: auto;
    display: inline-block;
  }
}
@media (min-width: 999px) {
  #links.text-links ul li, #links.icons ul li {
    padding: 0 30px 0 0;
  }
}
@media (min-width: 1280px) {
  span.rwd-line {
    display: inline;
  }
  #landing-page, .landing-page {
    width: 80%;
    left: 10%;
  }
  .fixed.landing-page {
    left: 10%;
  }
}
@media (min-width: 2000px) {
  .landing-page, #landing-page {
    width: 60%;
  }
  .fixed.landing-page {
    left: 20%;
  }
}
/*------------------------------------*
   COLUMNS
*------------------------------------*/
@media (min-width: 853px) {
  #link-forgot-pwd {
    text-align: right;
  }
  .desktop  {
    display:block;
  }
  .mobile {
    display: none;
  }
  .filter {
    display: inline-block;
    margin: 2px 5px 0;
  }
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 { float: left; }
  .col-12 { width: 100%; }
  .col-11 { width: 91.66666667%; }
  .col-10 { width: 83.33333333%; }
  .col-9 { width: 75%; }
  .col-8 { width: 66.66666667%; }
  .col-7 { width: 58.33333333%; }
  .col-6 { width: 50%; }
  .col-5 { width: 41.66666667%; }
  .col-4 { width: 33.33333333%; }
  .col-3 { width: 25%; }
  .col-2 { width: 16.66666667%; }
  .col-1 { width: 8.33333333%; }
  .col-offset-12 { margin-left: 100%; }
  .col-offset-11 { margin-left: 91.66666667%; }
  .col-offset-10 { margin-left: 83.33333333%; }
  .col-offset-9 { margin-left: 75%; }
  .col-offset-8 { margin-left: 66.66666667%; }
  .col-offset-7 { margin-left: 58.33333333%; }
  .col-offset-6 { margin-left: 50%; }
  .col-offset-5 { margin-left: 41.66666667%; }
  .col-offset-4 { margin-left: 33.33333333%; }
  .col-offset-3 { margin-left: 25%; }
  .col-offset-2 { margin-left: 16.66666667%; }
  .col-offset-1 { margin-left: 8.33333333%; }
  .col-offset-0 { margin-left: 0; }
}
.row { width: 100%; }
.collapse { margin-bottom: -50px; }
.clearfix:before, .clearfix:after, .container:before, .container:after, .row:before, .row:after {
  display: table;
  content: " ";
}
.clearfix:after, .container:after, .row:after {
  clear: both;
}
/*------------------------------------*
  POC STYLES
*------------------------------------*/
.filter-2 {
  padding: 10px 10px 10px 14px;
  background: #d1d1d1;
  border-radius:17px;
  border: 1px solid #dbdbdb;
  text-align: center;
  letter-spacing: 1px;
  font-size: 12px;
}
.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}
.dropdown button {
  background: #fafafa;
  color: #444444;
  border: 1px solid #dbdbdb;
  box-shadow: none;
  width: 100%;
  padding: 15px;
  font-size: 14px;
  text-align: left;
  border-radius: 0px;
}
.dropdown button:hover {
  background: #fafafa;
}
.dropdown button i {
  color: #444444 !important;
}
.dropdown .dropdown-menu {
  background: #fafafa;
  border-radius: 3px;
  border: none;
  border-bottom: none;
  display: none;
  font-size: 14px;
  list-style-type: none;
  margin: 0;
  margin-top: 5px;
  padding: 0;
}
.dropdown .dropdown-menu table.nav {
  background: white;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
ul.side-nav {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-position: outside;
  font-size: 14px;
  background: #fafafa;
  border-radius: 3px;
  margin-top: -5px;
}
ul.side-nav li {
  padding: 7px;
  border: 1px solid #dbdbdb;
}
ul.side-nav li a {
  display: block;
  text-decoration: none;
}
ul.side-nav li:hover {
  background-color: #dbdbdb;
}
ul.side-nav span.badge {
  margin: 0 auto;
  vertical-align: middle;
  float: right;
}
.technology-icon {
  background:url('../assets/icons/technology.png') no-repeat;
  background-size: 20px;
  width: 20px;
  padding-top: 20px;
  margin: 0 auto;
  display: inline-block;
}
.android {
  background-position: 0 -2%;
}
.asp {
  background-position: 0% 10.5%;
}
.c-plus-plus {
  background-position: 0% 23.5%;
}
.ios {
  background-position: 0% 36%;
}
.java {
  background-position: 0% 49%;
}
.php {
  background-position: 0% 61%;
}
.scala {
  background-position: 0% 74%;
}
.wcf {
  background-position: 0% 87%;
}
.web-app {
  background-position: 0% 99%;
}
#message {
  font-size: 0.85em !important;
}
#message i {
  font-size: 1.25em;
}
#message a {
  text-decoration: underline;
  text-transform: lowercase !important;
}
#team-mentor-navigation #message {
  font-size: 0.65em !important;
  margin-top: 0;
}
#team-mentor-navigation #message a {
  font-size: 1em !important;
}
/*------------------------------------*
  HACKS
*------------------------------------*/
#article h1.article-title {
  font-size: 2em;
  margin-bottom: 0;
}
#html > h1, #html > h2 {
  font-size: 1.5em !important;
  padding: 0;
}
.toc-content h4 {
  padding-top: 100px;
  margin-top: -80px;
}
.article-content {
  padding-top: 20px;
}
/*------------------------------------*
   GLYPHICONS
*------------------------------------*/
@font-face {
  font-family: "foundation-icons";
  src: url("../assets/fonts/foundation-icons.eot");
  src: url("../assets/fonts/foundation-icons.eot?#iefix") format("embedded-opentype"),
       url("../assets/fonts/foundation-icons.woff") format("woff"),
       url("../assets/fonts/foundation-icons.ttf") format("truetype"),
       url("../assets/fonts/foundation-icons.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}
.fi-address-book:before, .fi-alert:before, .fi-align-center:before, .fi-align-justify:before, .fi-align-left:before, .fi-align-right:before, .fi-anchor:before, .fi-annotate:before, .fi-archive:before, .fi-arrow-down:before, .fi-arrow-left:before, .fi-arrow-right:before, .fi-arrow-up:before, .fi-arrows-compress:before, .fi-arrows-expand:before, .fi-arrows-in:before, .fi-arrows-out:before, .fi-asl:before, .fi-asterisk:before, .fi-at-sign:before, .fi-background-color:before, .fi-battery-empty:before, .fi-battery-full:before, .fi-battery-half:before, .fi-bitcoin-circle:before, .fi-bitcoin:before, .fi-blind:before, .fi-bluetooth:before, .fi-bold:before, .fi-book-bookmark:before, .fi-book:before, .fi-bookmark:before, .fi-braille:before, .fi-burst-new:before, .fi-burst-sale:before, .fi-burst:before, .fi-calendar:before, .fi-camera:before, .fi-check:before, .fi-checkbox:before, .fi-clipboard-notes:before, .fi-clipboard-pencil:before, .fi-clipboard:before, .fi-clock:before, .fi-closed-caption:before, .fi-cloud:before, .fi-comment-minus:before, .fi-comment-quotes:before, .fi-comment-video:before, .fi-comment:before, .fi-comments:before, .fi-compass:before, .fi-contrast:before, .fi-credit-card:before, .fi-crop:before, .fi-crown:before, .fi-css3:before, .fi-database:before, .fi-die-five:before, .fi-die-four:before, .fi-die-one:before, .fi-die-six:before, .fi-die-three:before, .fi-die-two:before, .fi-dislike:before, .fi-dollar-bill:before, .fi-dollar:before, .fi-download:before, .fi-eject:before, .fi-elevator:before, .fi-euro:before, .fi-eye:before, .fi-fast-forward:before, .fi-female-symbol:before, .fi-female:before, .fi-filter:before, .fi-first-aid:before, .fi-flag:before, .fi-folder-add:before, .fi-folder-lock:before, .fi-folder:before, .fi-foot:before, .fi-foundation:before, .fi-graph-bar:before, .fi-graph-horizontal:before, .fi-graph-pie:before, .fi-graph-trend:before, .fi-guide-dog:before, .fi-hearing-aid:before, .fi-heart:before, .fi-home:before, .fi-html5:before, .fi-indent-less:before, .fi-indent-more:before, .fi-info:before, .fi-italic:before, .fi-key:before, .fi-laptop:before, .fi-layout:before, .fi-lightbulb:before, .fi-like:before, .fi-link:before, .fi-list-bullet:before, .fi-list-number:before, .fi-list-thumbnails:before, .fi-list:before, .fi-lock:before, .fi-loop:before, .fi-magnifying-glass:before, .fi-mail:before, .fi-male-female:before, .fi-male-symbol:before, .fi-male:before, .fi-map:before, .fi-marker:before, .fi-megaphone:before, .fi-microphone:before, .fi-minus-circle:before, .fi-minus:before, .fi-mobile-signal:before, .fi-mobile:before, .fi-monitor:before, .fi-mountains:before, .fi-music:before, .fi-next:before, .fi-no-dogs:before, .fi-no-smoking:before, .fi-page-add:before, .fi-page-copy:before, .fi-page-csv:before, .fi-page-delete:before, .fi-page-doc:before, .fi-page-edit:before, .fi-page-export-csv:before, .fi-page-export-doc:before, .fi-page-export-pdf:before, .fi-page-export:before, .fi-page-filled:before, .fi-page-multiple:before, .fi-page-pdf:before, .fi-page-remove:before, .fi-page-search:before, .fi-page:before, .fi-paint-bucket:before, .fi-paperclip:before, .fi-pause:before, .fi-paw:before, .fi-paypal:before, .fi-pencil:before, .fi-photo:before, .fi-play-circle:before, .fi-play-video:before, .fi-play:before, .fi-plus:before, .fi-pound:before, .fi-power:before, .fi-previous:before, .fi-price-tag:before, .fi-pricetag-multiple:before, .fi-print:before, .fi-prohibited:before, .fi-projection-screen:before, .fi-puzzle:before, .fi-quote:before, .fi-record:before, .fi-refresh:before, .fi-results-demographics:before, .fi-results:before, .fi-rewind-ten:before, .fi-rewind:before, .fi-rss:before, .fi-safety-cone:before, .fi-save:before, .fi-share:before, .fi-sheriff-badge:before, .fi-shield:before, .fi-shopping-bag:before, .fi-shopping-cart:before, .fi-shuffle:before, .fi-skull:before, .fi-social-500px:before, .fi-social-adobe:before, .fi-social-amazon:before, .fi-social-android:before, .fi-social-apple:before, .fi-social-behance:before, .fi-social-bing:before, .fi-social-blogger:before, .fi-social-delicious:before, .fi-social-designer-news:before, .fi-social-deviant-art:before, .fi-social-digg:before, .fi-social-dribbble:before, .fi-social-drive:before, .fi-social-dropbox:before, .fi-social-evernote:before, .fi-social-facebook:before, .fi-social-flickr:before, .fi-social-forrst:before, .fi-social-foursquare:before, .fi-social-game-center:before, .fi-social-github:before, .fi-social-google-plus:before, .fi-social-hacker-news:before, .fi-social-hi5:before, .fi-social-instagram:before, .fi-social-joomla:before, .fi-social-lastfm:before, .fi-social-linkedin:before, .fi-social-medium:before, .fi-social-myspace:before, .fi-social-orkut:before, .fi-social-path:before, .fi-social-picasa:before, .fi-social-pinterest:before, .fi-social-rdio:before, .fi-social-reddit:before, .fi-social-skillshare:before, .fi-social-skype:before, .fi-social-smashing-mag:before, .fi-social-snapchat:before, .fi-social-spotify:before, .fi-social-squidoo:before, .fi-social-stack-overflow:before, .fi-social-steam:before, .fi-social-stumbleupon:before, .fi-social-treehouse:before, .fi-social-tumblr:before, .fi-social-twitter:before, .fi-social-vimeo:before, .fi-social-windows:before, .fi-social-xbox:before, .fi-social-yahoo:before, .fi-social-yelp:before, .fi-social-youtube:before, .fi-social-zerply:before, .fi-social-zurb:before, .fi-sound:before, .fi-star:before, .fi-stop:before, .fi-strikethrough:before, .fi-subscript:before, .fi-superscript:before, .fi-tablet-landscape:before, .fi-tablet-portrait:before, .fi-target-two:before, .fi-target:before, .fi-telephone-accessible:before, .fi-telephone:before, .fi-text-color:before, .fi-thumbnails:before, .fi-ticket:before, .fi-torso-business:before, .fi-torso-female:before, .fi-torso:before, .fi-torsos-all-female:before, .fi-torsos-all:before, .fi-torsos-female-male:before, .fi-torsos-male-female:before, .fi-torsos:before, .fi-trash:before, .fi-trees:before, .fi-trophy:before, .fi-underline:before, .fi-universal-access:before, .fi-unlink:before, .fi-unlock:before, .fi-upload-cloud:before, .fi-upload:before, .fi-usb:before, .fi-video:before, .fi-volume-none:before, .fi-volume-strike:before, .fi-volume:before, .fi-web:before, .fi-wheelchair:before, .fi-widget:before, .fi-wrench:before, .fi-x-circle:before, .fi-x:before, .fi-yen:before, .fi-zoom-in:before, .fi-zoom-out:before {
  font-family: "foundation-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}
.fi-address-book:before { content: "\f100"; }
.fi-alert:before { content: "\f101"; }
.fi-align-center:before { content: "\f102"; }
.fi-align-justify:before { content: "\f103"; }
.fi-align-left:before { content: "\f104"; }
.fi-align-right:before { content: "\f105"; }
.fi-anchor:before { content: "\f106"; }
.fi-annotate:before { content: "\f107"; }
.fi-archive:before { content: "\f108"; }
.fi-arrow-down:before { content: "\f109"; }
.fi-arrow-left:before { content: "\f10a"; }
.fi-arrow-right:before { content: "\f10b"; }
.fi-arrow-up:before { content: "\f10c"; }
.fi-arrows-compress:before { content: "\f10d"; }
.fi-arrows-expand:before { content: "\f10e"; }
.fi-arrows-in:before { content: "\f10f"; }
.fi-arrows-out:before { content: "\f110"; }
.fi-asl:before { content: "\f111"; }
.fi-asterisk:before { content: "\f112"; }
.fi-at-sign:before { content: "\f113"; }
.fi-background-color:before { content: "\f114"; }
.fi-battery-empty:before { content: "\f115"; }
.fi-battery-full:before { content: "\f116"; }
.fi-battery-half:before { content: "\f117"; }
.fi-bitcoin-circle:before { content: "\f118"; }
.fi-bitcoin:before { content: "\f119"; }
.fi-blind:before { content: "\f11a"; }
.fi-bluetooth:before { content: "\f11b"; }
.fi-bold:before { content: "\f11c"; }
.fi-book-bookmark:before { content: "\f11d"; }
.fi-book:before { content: "\f11e"; }
.fi-bookmark:before { content: "\f11f"; }
.fi-braille:before { content: "\f120"; }
.fi-burst-new:before { content: "\f121"; }
.fi-burst-sale:before { content: "\f122"; }
.fi-burst:before { content: "\f123"; }
.fi-calendar:before { content: "\f124"; }
.fi-camera:before { content: "\f125"; }
.fi-check:before { content: "\f126"; }
.fi-checkbox:before { content: "\f127"; }
.fi-clipboard-notes:before { content: "\f128"; }
.fi-clipboard-pencil:before { content: "\f129"; }
.fi-clipboard:before { content: "\f12a"; }
.fi-clock:before { content: "\f12b"; }
.fi-closed-caption:before { content: "\f12c"; }
.fi-cloud:before { content: "\f12d"; }
.fi-comment-minus:before { content: "\f12e"; }
.fi-comment-quotes:before { content: "\f12f"; }
.fi-comment-video:before { content: "\f130"; }
.fi-comment:before { content: "\f131"; }
.fi-comments:before { content: "\f132"; }
.fi-compass:before { content: "\f133"; }
.fi-contrast:before { content: "\f134"; }
.fi-credit-card:before { content: "\f135"; }
.fi-crop:before { content: "\f136"; }
.fi-crown:before { content: "\f137"; }
.fi-css3:before { content: "\f138"; }
.fi-database:before { content: "\f139"; }
.fi-die-five:before { content: "\f13a"; }
.fi-die-four:before { content: "\f13b"; }
.fi-die-one:before { content: "\f13c"; }
.fi-die-six:before { content: "\f13d"; }
.fi-die-three:before { content: "\f13e"; }
.fi-die-two:before { content: "\f13f"; }
.fi-dislike:before { content: "\f140"; }
.fi-dollar-bill:before { content: "\f141"; }
.fi-dollar:before { content: "\f142"; }
.fi-download:before { content: "\f143"; }
.fi-eject:before { content: "\f144"; }
.fi-elevator:before { content: "\f145"; }
.fi-euro:before { content: "\f146"; }
.fi-eye:before { content: "\f147"; }
.fi-fast-forward:before { content: "\f148"; }
.fi-female-symbol:before { content: "\f149"; }
.fi-female:before { content: "\f14a"; }
.fi-filter:before { content: "\f14b"; }
.fi-first-aid:before { content: "\f14c"; }
.fi-flag:before { content: "\f14d"; }
.fi-folder-add:before { content: "\f14e"; }
.fi-folder-lock:before { content: "\f14f"; }
.fi-folder:before { content: "\f150"; }
.fi-foot:before { content: "\f151"; }
.fi-foundation:before { content: "\f152"; }
.fi-graph-bar:before { content: "\f153"; }
.fi-graph-horizontal:before { content: "\f154"; }
.fi-graph-pie:before { content: "\f155"; }
.fi-graph-trend:before { content: "\f156"; }
.fi-guide-dog:before { content: "\f157"; }
.fi-hearing-aid:before { content: "\f158"; }
.fi-heart:before { content: "\f159"; }
.fi-home:before { content: "\f15a"; }
.fi-html5:before { content: "\f15b"; }
.fi-indent-less:before { content: "\f15c"; }
.fi-indent-more:before { content: "\f15d"; }
.fi-info:before { content: "\f15e"; }
.fi-italic:before { content: "\f15f"; }
.fi-key:before { content: "\f160"; }
.fi-laptop:before { content: "\f161"; }
.fi-layout:before { content: "\f162"; }
.fi-lightbulb:before { content: "\f163"; }
.fi-like:before { content: "\f164"; }
.fi-link:before { content: "\f165"; }
.fi-list-bullet:before { content: "\f166"; }
.fi-list-number:before { content: "\f167"; }
.fi-list-thumbnails:before { content: "\f168"; }
.fi-list:before { content: "\f169"; }
.fi-lock:before { content: "\f16a"; }
.fi-loop:before { content: "\f16b"; }
.fi-magnifying-glass:before { content: "\f16c"; }
.fi-mail:before { content: "\f16d"; }
.fi-male-female:before { content: "\f16e"; }
.fi-male-symbol:before { content: "\f16f"; }
.fi-male:before { content: "\f170"; }
.fi-map:before { content: "\f171"; }
.fi-marker:before { content: "\f172"; }
.fi-megaphone:before { content: "\f173"; }
.fi-microphone:before { content: "\f174"; }
.fi-minus-circle:before { content: "\f175"; }
.fi-minus:before { content: "\f176"; }
.fi-mobile-signal:before { content: "\f177"; }
.fi-mobile:before { content: "\f178"; }
.fi-monitor:before { content: "\f179"; }
.fi-mountains:before { content: "\f17a"; }
.fi-music:before { content: "\f17b"; }
.fi-next:before { content: "\f17c"; }
.fi-no-dogs:before { content: "\f17d"; }
.fi-no-smoking:before { content: "\f17e"; }
.fi-page-add:before { content: "\f17f"; }
.fi-page-copy:before { content: "\f180"; }
.fi-page-csv:before { content: "\f181"; }
.fi-page-delete:before { content: "\f182"; }
.fi-page-doc:before { content: "\f183"; }
.fi-page-edit:before { content: "\f184"; }
.fi-page-export-csv:before { content: "\f185"; }
.fi-page-export-doc:before { content: "\f186"; }
.fi-page-export-pdf:before { content: "\f187"; }
.fi-page-export:before { content: "\f188"; }
.fi-page-filled:before { content: "\f189"; }
.fi-page-multiple:before { content: "\f18a"; }
.fi-page-pdf:before { content: "\f18b"; }
.fi-page-remove:before { content: "\f18c"; }
.fi-page-search:before { content: "\f18d"; }
.fi-page:before { content: "\f18e"; }
.fi-paint-bucket:before { content: "\f18f"; }
.fi-paperclip:before { content: "\f190"; }
.fi-pause:before { content: "\f191"; }
.fi-paw:before { content: "\f192"; }
.fi-paypal:before { content: "\f193"; }
.fi-pencil:before { content: "\f194"; }
.fi-photo:before { content: "\f195"; }
.fi-play-circle:before { content: "\f196"; }
.fi-play-video:before { content: "\f197"; }
.fi-play:before { content: "\f198"; }
.fi-plus:before { content: "\f199"; }
.fi-pound:before { content: "\f19a"; }
.fi-power:before { content: "\f19b"; }
.fi-previous:before { content: "\f19c"; }
.fi-price-tag:before { content: "\f19d"; }
.fi-pricetag-multiple:before { content: "\f19e"; }
.fi-print:before { content: "\f19f"; }
.fi-prohibited:before { content: "\f1a0"; }
.fi-projection-screen:before { content: "\f1a1"; }
.fi-puzzle:before { content: "\f1a2"; }
.fi-quote:before { content: "\f1a3"; }
.fi-record:before { content: "\f1a4"; }
.fi-refresh:before { content: "\f1a5"; }
.fi-results-demographics:before { content: "\f1a6"; }
.fi-results:before { content: "\f1a7"; }
.fi-rewind-ten:before { content: "\f1a8"; }
.fi-rewind:before { content: "\f1a9"; }
.fi-rss:before { content: "\f1aa"; }
.fi-safety-cone:before { content: "\f1ab"; }
.fi-save:before { content: "\f1ac"; }
.fi-share:before { content: "\f1ad"; }
.fi-sheriff-badge:before { content: "\f1ae"; }
.fi-shield:before { content: "\f1af"; }
.fi-shopping-bag:before { content: "\f1b0"; }
.fi-shopping-cart:before { content: "\f1b1"; }
.fi-shuffle:before { content: "\f1b2"; }
.fi-skull:before { content: "\f1b3"; }
.fi-social-500px:before { content: "\f1b4"; }
.fi-social-adobe:before { content: "\f1b5"; }
.fi-social-amazon:before { content: "\f1b6"; }
.fi-social-android:before { content: "\f1b7"; }
.fi-social-apple:before { content: "\f1b8"; }
.fi-social-behance:before { content: "\f1b9"; }
.fi-social-bing:before { content: "\f1ba"; }
.fi-social-blogger:before { content: "\f1bb"; }
.fi-social-delicious:before { content: "\f1bc"; }
.fi-social-designer-news:before { content: "\f1bd"; }
.fi-social-deviant-art:before { content: "\f1be"; }
.fi-social-digg:before { content: "\f1bf"; }
.fi-social-dribbble:before { content: "\f1c0"; }
.fi-social-drive:before { content: "\f1c1"; }
.fi-social-dropbox:before { content: "\f1c2"; }
.fi-social-evernote:before { content: "\f1c3"; }
.fi-social-facebook:before { content: "\f1c4"; }
.fi-social-flickr:before { content: "\f1c5"; }
.fi-social-forrst:before { content: "\f1c6"; }
.fi-social-foursquare:before { content: "\f1c7"; }
.fi-social-game-center:before { content: "\f1c8"; }
.fi-social-github:before { content: "\f1c9"; }
.fi-social-google-plus:before { content: "\f1ca"; }
.fi-social-hacker-news:before { content: "\f1cb"; }
.fi-social-hi5:before { content: "\f1cc"; }
.fi-social-instagram:before { content: "\f1cd"; }
.fi-social-joomla:before { content: "\f1ce"; }
.fi-social-lastfm:before { content: "\f1cf"; }
.fi-social-linkedin:before { content: "\f1d0"; }
.fi-social-medium:before { content: "\f1d1"; }
.fi-social-myspace:before { content: "\f1d2"; }
.fi-social-orkut:before { content: "\f1d3"; }
.fi-social-path:before { content: "\f1d4"; }
.fi-social-picasa:before { content: "\f1d5"; }
.fi-social-pinterest:before { content: "\f1d6"; }
.fi-social-rdio:before { content: "\f1d7"; }
.fi-social-reddit:before { content: "\f1d8"; }
.fi-social-skillshare:before { content: "\f1d9"; }
.fi-social-skype:before { content: "\f1da"; }
.fi-social-smashing-mag:before { content: "\f1db"; }
.fi-social-snapchat:before { content: "\f1dc"; }
.fi-social-spotify:before { content: "\f1dd"; }
.fi-social-squidoo:before { content: "\f1de"; }
.fi-social-stack-overflow:before { content: "\f1df"; }
.fi-social-steam:before { content: "\f1e0"; }
.fi-social-stumbleupon:before { content: "\f1e1"; }
.fi-social-treehouse:before { content: "\f1e2"; }
.fi-social-tumblr:before { content: "\f1e3"; }
.fi-social-twitter:before { content: "\f1e4"; }
.fi-social-vimeo:before { content: "\f1e5"; }
.fi-social-windows:before { content: "\f1e6"; }
.fi-social-xbox:before { content: "\f1e7"; }
.fi-social-yahoo:before { content: "\f1e8"; }
.fi-social-yelp:before { content: "\f1e9"; }
.fi-social-youtube:before { content: "\f1ea"; }
.fi-social-zerply:before { content: "\f1eb"; }
.fi-social-zurb:before { content: "\f1ec"; }
.fi-sound:before { content: "\f1ed"; }
.fi-star:before { content: "\f1ee"; }
.fi-stop:before { content: "\f1ef"; }
.fi-strikethrough:before { content: "\f1f0"; }
.fi-subscript:before { content: "\f1f1"; }
.fi-superscript:before { content: "\f1f2"; }
.fi-tablet-landscape:before { content: "\f1f3"; }
.fi-tablet-portrait:before { content: "\f1f4"; }
.fi-target-two:before { content: "\f1f5"; }
.fi-target:before { content: "\f1f6"; }
.fi-telephone-accessible:before { content: "\f1f7"; }
.fi-telephone:before { content: "\f1f8"; }
.fi-text-color:before { content: "\f1f9"; }
.fi-thumbnails:before { content: "\f1fa"; }
.fi-ticket:before { content: "\f1fb"; }
.fi-torso-business:before { content: "\f1fc"; }
.fi-torso-female:before { content: "\f1fd"; }
.fi-torso:before { content: "\f1fe"; }
.fi-torsos-all-female:before { content: "\f1ff"; }
.fi-torsos-all:before { content: "\f200"; }
.fi-torsos-female-male:before { content: "\f201"; }
.fi-torsos-male-female:before { content: "\f202"; }
.fi-torsos:before { content: "\f203"; }
.fi-trash:before { content: "\f204"; }
.fi-trees:before { content: "\f205"; }
.fi-trophy:before { content: "\f206"; }
.fi-underline:before { content: "\f207"; }
.fi-universal-access:before { content: "\f208"; }
.fi-unlink:before { content: "\f209"; }
.fi-unlock:before { content: "\f20a"; }
.fi-upload-cloud:before { content: "\f20b"; }
.fi-upload:before { content: "\f20c"; }
.fi-usb:before { content: "\f20d"; }
.fi-video:before { content: "\f20e"; }
.fi-volume-none:before { content: "\f20f"; }
.fi-volume-strike:before { content: "\f210"; }
.fi-volume:before { content: "\f211"; }
.fi-web:before { content: "\f212"; }
.fi-wheelchair:before { content: "\f213"; }
.fi-widget:before { content: "\f214"; }
.fi-wrench:before { content: "\f215"; }
.fi-x-circle:before { content: "\f216"; }
.fi-x:before { content: "\f217"; }
.fi-yen:before { content: "\f218"; }
.fi-zoom-in:before { content: "\f219"; }
.fi-zoom-out:before { content: "\f21a"; }