@media (min-width: 768px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    float: left;
  }

  .col-12 {
    width: 100%;
  }

  .col-11 {
    width: 91.66666667%;
  }

  .col-10 {
    width: 83.33333333%;
  }

  .col-9 {
    width: 75%;
  }

  .col-8 {
    width: 66.66666667%;
  }

  .col-7 {
    width: 58.33333333%;
  }

  .col-6 {
    width: 50%;
  }

  .col-5 {
    width: 41.66666667%;
  }

  .col-4 {
    width: 33.33333333%;
  }

  .col-3 {
    width: 25%;
  }

  .col-2 {
    width: 16.66666667%;
  }

  .col-1 {
    width: 8.33333333%;
  }

  .col-offset-12 {
    margin-left: 100%;
  }

  .col-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-offset-9 {
    margin-left: 75%;
  }

  .col-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-offset-6 {
    margin-left: 50%;
  }

  .col-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-offset-3 {
    margin-left: 25%;
  }

  .col-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-offset-0 {
    margin-left: 0;
  }
}
.row {
  max-width: 100%;
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after {
  display: table;
  content: " ";
}

.clearfix:after,
.container:after,
.row:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after {
  clear: both;
}

.black {
  padding-top: 20px;
  background-color: #000000;
}

.green {
  color: #8aaf3e;
}

.dark-green {
  color: #49661f;
}

.icons-green {
  color: #8aaf3e;
  font-size: 60px;
  margin: 0 auto;
}

#white {
  width: 100%;
  margin-right: 15px;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#green {
  width: 100%;
  margin-right: 15px;
  background-color: #8aaf3e;
}

#dark-green {
  width: 100%;
  margin-right: 15px;
  background-color: #49661f;
}

#grey {
  width: 100%;
  margin-right: 15px;
  background-color: #aaaaaa;
}

#dark-grey {
  width: 100%;
  margin-right: 15px;
  background-color: #444444;
}

#black {
  width: 100%;
  margin-right: 15px;
  background-color: #000000;
}

html {
  font: 100% Helvetica, sans-serif;
}

body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background: #FFFFFF;
}

#about {
  background: url(../assets/stock-img/bgthree.jpg);
}

#about, #usp {
  width: 100%;
  margin-top: 65px;
  padding: 50px 0 80px 0;
  background-color: #8aaf3e;
  text-align: center;
}
#about h2, #usp h2 {
  color: #FFFFFF;
}

#about-us {
  padding: 40px 0 40px 0;
}

#application {
  width: 100%;
  height: 100%;
  margin-top: 50px;
}

#box {
  width: 75%;
  margin: 30px auto 30px auto !important;
  border: 1px solid #8aaf3e;
  padding: 7px 40px 10px 40px;
}
#box h4 {
  color: #8aaf3e !important;
}

#call-to-action {
  padding: 100px 0 110px 0;
  background: url(../assets/stock-img/bgtwo.jpg);
  background-color: #49661f;
  text-align: center;
}
#call-to-action h1 {
  color: #FFFFFF;
}

#clients {
  padding: 40px 0 80px 0;
  text-align: center;
}

.collapse {
  margin-bottom: -50px;
}

#copyright {
  padding-bottom: 30px;
}
#copyright p, #copyright a {
  font-size: 12px;
  text-align: center;
  font-weight: normal;
  letter-spacing: 0px;
}
#copyright a {
  text-transform: none !important;
  text-decoration: underline;
}

#description {
  width: 100%;
  margin-right: 15px;
  padding: 5px 0 5px 0;
  background-color: #ececec;
  text-align: center;
}

#details {
  background: #8aaf3e;
}

#features {
  padding: 100px 0 50px 0;
}
#features h2 {
  text-align: center;
}
#features i {
  font-size: 60px;
  color: #8aaf3e;
  margin: 0 auto;
}

#features img {
  vertical-align: middle;
}

#footer {
  width: 100%;
  padding: 15px 0 20px 0;
  text-align: center;
}
#footer a {
  color: #444444;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
}

#instructions {
  background: #FFFFFF;
  border: 1px solid #8aaf3e;
  padding: 0 20px 25px 20px;
}

#loginwall, #summary {
  padding-top: 80px;
  max-width: 95%;
  margin: 0 auto;
}

#reasons {
  padding-top: 70px;
}
#reasons h2 {
  text-align: center;
}

#usp {
  background: url(../assets/stock-img/bgone.jpg);
}

#usp button, #call-to-action button {
  padding: 20px 0 20px 0;
  background-color: #FFFFFF;
  border: none;
}
#usp button:hover, #usp button:active, #call-to-action button:hover, #call-to-action button:active {
  color: #FFFFFF !important;
  background-color: #8aaf3e;
}

.vertical-align {
  margin-top: 10px;
}

.lge-container {
  max-width: 96%;
  margin: 0 auto;
}

.right {
  float: right !important;
}

.left {
  float: left !important;
}

img {
  height: auto;
  margin: 0 auto;
}

.long {
  height: 100px;
}

.short {
  height: 40px;
}

form, .form-group {
  margin-bottom: 15px;
  list-style-type: none;
}

label {
  display: inline-block;
  padding: 3px 0 0 0;
  margin-bottom: 5px;
  font-weight: bold;
  color: #444444;
}

.fixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99;
}

#customer-navigation {
  background-color: #FFFFFF;
  max-height: 100px;
  display: block;
}
#customer-navigation ul {
  padding: 5px 0 0 25px;
}

#team-mentor-navigation {
  background-color: #FFFFFF;
  max-height: 150px;
  text-align:center;
}

#not-logged-in {
  width: 100%;
}

#not-logged-in img {
  padding: 0 0 0 5px;
  float: left;
}

#not-logged-in ul li {
  padding: 5px 5px 0 0;
  list-style-type: none;
  float: right;
}

#title-area {
  width: 100%;
  float: left;
}

#links {
  width: 100%;
  text-align: text-center;
  padding: 10px 0 5px 0;
}

#links ul {
  list-style-type: none;
  width: 100%;
  padding: 0;
}

#links.icons a img {
  display: inline-block;
  max-width: 40px;
}

#links ul li {
  display: inline;
  padding: 0 10px 0 0;
}

#links ul li a {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 700;
  color: #8aaf3e;
  line-height: 1em;
}

#links ul li a:hover {
  color: #49661f;
}

h1 {
  font-size: 2em;
  line-height: 1.25em;
  color: #aaaaaa;
}

h2 {
  font-size: 1.625em;
  line-height: 1.153em;
  color: #aaaaaa;
}

h3 {
  font-size: 1.375em;
  line-height: 1.136em;
  color: #aaaaaa;
}

h4 {
  font-size: 1.125em;
  line-height: 1.11em;
  color: #444444;
}

h5 {
  font-size: 1.105em;
  line-height: 1.11em;
  color: #444444;
}

p {
  font-size: 1em;
  line-height: 1.5em;
}

ul, ol {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}
ul ul, ol ul {
  margin-bottom: 0;
}

code, pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

pre {
  display: block;
  padding: 20px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.5;
  color: #444444;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #ececec;
  border: 1px solid #aaaaaa;
  border-radius: 0px;
  margin: 30px 0 30px 0;
  overflow: auto;
}

.text-center {
  text-align: center;
  margin: 0 auto;
}

.normal {
  font-weight: normal;
}

.strong {
  font-weight: bold;
}

hr {
  margin: 0 auto;
  width: 70%;
  color: #ececec;
  margin-top: 40px;
  margin-bottom: 40px;
}

a {
  color: #444444;
  text-decoration: underline;
}
a:hover, a:active, a:focus {
  color: #49661f;
  text-decoration: underline;
}
a.action {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 700;
  color: #8aaf3e;
}
a.action:hover, a.action:focus, a.action:active {
  color: #49661f;
}

button, .button {
  font-size: 14px;
  background-color: #FFFFFF;
  color: #8aaf3e;
  width: 100% !important;
  text-transform: uppercase;
  letter-spacing: 1px;
}
button:hover, button:focus, .button:hover, .button:focus {
  background-color: #FFFFFF;
  color: #49661f !important;
  text-decoration: none;
}
button.postfix, .button.postfix {
  color: #8aaf3e !important;
  font-size: 16px;
  padding-top: 7px;
  border: 1px solid #aaaaaa;
  height: 3rem;
  border-left: none;
}
button.postfix:hover, .button.postfix:hover {
  color: #49661f !important;
  background: #FFFFFF;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
  width: 100% !important;
  background-color: #FFFFFF;
  font-family: inherit;
  border: 1px solid #aaaaaa;
  box-shadow: none;
  color: #444444;
  display: block;
  font-size: 16px;
  padding: 0.5rem;
  height: 3rem;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus {
  background: #FFFFFF;
  border-color: #8aaf3e;
  outline: medium none;
}

select {
  width: 100%;
  height: 3em;
  display: block;
  background: #FFFFFF;
  font-family: inherit;
  font-size: 16px;
  border: 1px solid #aaaaaa;
  box-shadow: none;
  color: #444444;
}

.input-group {
  display: table;
  float: left;
  width: 100%;
}

.input-group .form-control {
  display: table-cell;
  height: 53px;
}

.input-group .input-group-btn {
  display: table-cell;
  border-left: none !important;
  width: 100px;
  max-width: 100%;
  vertical-align: middle;
}

button {
  display: inline-block;
  padding: 15px 0 15px 0;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  background: #FFFFFF;
  border: 1px solid #8aaf3e;
  color: #8aaf3e;
}
button:hover, button:active {
  color: #49661f;
}

.badge {
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  color: #FFFFFF;
  background-color: #aaaaaa;
  text-align: center;
  border-radius: 10px;
}

.progress {
  height: 20px;
  background-color: #ececec;
  border-radius: 4px;
  box-shadow: none;
}

.progress-bar {
  height: 100%;
  color: #FFFFFF;
  background-color: #8aaf3e;
}

.list-group {
  height: auto;
}
.list-group h5, .list-group h4 {
  margin-top: 5px;
  margin-bottom: 0;
}

.list-group a {
  display: block;
  padding: 11px;
  text-decoration: none;
}
.list-group a:hover {
  text-decoration: none;
  background-color: #e3e3e3;
}

.list-group span.badge {
  float: right;
}

.nav table {
  margin-top: -20px;
}
.nav table a {
  text-decoration: none;
}
.nav table tr td {
  padding: 5px;
  border-bottom: 1px solid #e3e3e3;
}

.nav table tr:last-child {
  border-bottom: transparent;
}
.nav table tr:hover {
  background-color: #e3e3e3;
  color: #49661f;
}
.nav table span.badge {
  float: right;
}
.alert {
  padding: 15px;
  margin-bottom: 0px;
  background: #FFFFFF;
  color: #8aaf3e;
  border: none;
  font-size: inherit;
  font-weight: 700;
}

table {
  width: 100%;
  font-size: 16px;
  color: #444444;
}
table td {
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
}

.breadcrumbs {
  padding-left: 10px;
  background: #FFFFFF;
  border: none;
}
.breadcrumbs li {
  display: inline-block;
}
.breadcrumbs li.current a {
  color: #8aaf3e;
  text-decoration: none;
}
.breadcrumbs li a {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #aaaaaa;
}
.breadcrumbs li a:hover {
  color: #8aaf3e;
}
.breadcrumbs li:first-child:before {
  content: " ";
  margin: 0px;
}
.breadcrumbs li:before {
  content: "/";
  margin: 0 20px;
}

@media (min-width: 650px) {
  #application {
    margin-top: 30px;
  }
  #title-area {
    display: inline-block;
    max-width: 35%;
  }

  #title-area img {
    padding: 0 0 0 20px;
    float: left;
    max-width: 100%;
  }

  #not-logged-in img {
    padding: 0 0 0 20px;
  }

  #not-logged-in ul li {
    padding: 5px 10px 0 0;
  }

  #links {
    display: inline-block;
    max-width: 65%;
  }

  #links.icons {
    padding-top: 7px;
    text-align: right;
  }

  #links.text-links {
    padding-top: 20px;
  }

  #links.text-links ul {
    padding: 0 0 0 10px;
    text-align: right;
  }

  #links.icons ul {
    padding: 0;
  }

  #links.icons a img {
    max-width: 100%;
  }

  #links ul li {
    padding: 0 20px 0 0;
  }

  #links ul li a{
    font-size: 14px;
  }
  #loginwall, #summary {
    max-width: 90%;
  }
}

@media (min-width: 999px) {
  #team-mentor-navigation {
    height: 65px;
  }

  #links.text-links ul li {
    padding: 0 40px 0 0;
  }

  #links.icons ul li {
    padding: 0 30px 0 0;
  }

  h1 {
    font-size: 3em;
    line-height: 1em;
  }

  h2 {
    font-size: 2.25em;
    line-height: 1em;
  }

  h3 {
    font-size: 1.75em;
    line-height: 1em;
  }

  h4 {
    font-size: 1.125em;
    line-height: 1em;
  }

  h5 {
    font-size: 1em;
    line-height: 1em;
  }
}