//- Metadata Table
mixin metadata-table
	table
		thead
			tr
				td Technology:
				td Category:
				td Phase:
				td Type:
			tr
				td Any
				td Authentication
				td Implementation
				td Attack

//- Directory List
mixin directory-list
	h3 Fundamentals of Security
	.list-group
		a(href='fundamentals-of-security.html')
			| Second Level Directory
			span.badge 14
		a(href='fundamentals-of-security.html')
			| Second Level Directory
			span.badge 14
		a(href='fundamentals-of-security.html')
			| Second Level Directory
			span.badge 14
		a(href='fundamentals-of-security.html')
			| Second Level Directory
			span.badge 14
		a(href='fundamentals-of-security.html')
			| Second Level Directory
			span.badge 14
		a(href='fundamentals-of-security.html')
			| Second Level Directory
			span.badge 14
		a(href='fundamentals-of-security.html')
			| Second Level Directory
			span.badge 14
	// list-group