//- Metadata Table
mixin metadata-table
	table
		tr
			td
				h5 Technology:
			td
				h5 Category:
			td
				h5 Phase:
			td
				h5 Type:
		tr
			td Any
			td Authentication
			td Implementation
			td Attack

//- Directory List
mixin directory-list
	h3 Fundamentals of Security
	.list-group
		a(href='fundamentals-of-security')
			table
				tr
					td A New ID Is Assigned on Login A New ID Is Assigned on Login
					td
						span.badge 14
				// tr
			// table
		// link
		a(href='fundamentals-of-security')
			table
				tr
					td Second Level Directory
					td
						span.badge 14
				// tr
			// table
		// link
		a(href='fundamentals-of-security')
			table
				tr
					td Second Level Directory
					td
						span.badge 14
				// tr
			// table
		// link
		a(href='fundamentals-of-security')
			table
				tr
					td Second Level Directory
					td
						span.badge 14
				// tr
			// table
		// link
		a(href='fundamentals-of-security')
			table
				tr
					td Second Level Directory
					td
						span.badge 14
				// tr
			// table
		// link
		a(href='fundamentals-of-security')
			table
				tr
					td Second Level Directory
					td
						span.badge 14
				// tr
			// table
		// link
		a(href='fundamentals-of-security')
			table
				tr
					td Second Level Directory
					td
						span.badge 14
				// tr
			// table
		// link
	// list-group