//- User Details Form
mixin user-details-form
  form(role='form', action='user.html')
    .form-group
      +name-input
    .form-group
      +email-input
    .form-group
      +title-input
    .form-group
      +company-input
    .form-group
      +country-input
    .form-group
      +state-input
    +ok-button

//- new-password-form
mixin new-password-form
  form(role='form', action='user.html')
    .form-group
      +password-input
    .form-group
      label(for='user-new-password') New Password
      input.form-control(type='user-new-password', id='user-new-password', placeholder='New Password')
    .form-group
      label(for='user-confirm-new-password') Confirm New Password
      input.form-control(type='user-confirm-new-password', id='user-confirm-new-password', placeholder='Confirm New Password')
    button(type='submit') Save