mixin articles-list-poc
	   #articles
        if results
            each result in results.take(250)
                #list-view-article
                    if result
                        table
                            tr
                                td
                                    a(href='/article/' + result.id, id=result.id)
                                        h4=  result.title
                                td
                                    span.right.badge 00
                            tr
                                td
                                    p= result.summary + '...'