/*** Styles effecting layout and structure ***/

body {
	max-width: 100%;
	overflow-x: hidden;
}

#application {
	margin-top: 120px;
	max-width: 100%;
}

#article-pane {
	padding-bottom: 40px;
}

.lge-container {
	max-width: 98%;
	margin: 0 auto;
}

/*** Styles effecting navigation ***/

.navbar {
	background-color: #FFFFFF;
}

/*** Styles effecting typography ***/

p {
	font-size: 1.15em;
	color: #444444;
}

li {
	font-size: 1em;
}

a {
	text-decoration: none;
}

	a:hover, a:visited, a:active {
		text-decoration: none;
	}

a.action, a.action:visited {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	color: #8aaf3e;
	text-align: center !important;
}

	a.action:hover, a.action:active {
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 700;
		color: #49661f;
	}

.glyphicon {
	font-size: 1.5em;
}

.glyphicon-small {
	font-size: 1em;
}

.glyphicon, .glyphicon:visited {
	color: #8aaf3e;
}

	.glyphicon:hover, .glyphicon:active {
		color: #49661f;
	}

.green {
	color: #8aaf3e;
}

.dark-green {
	color: #49661f;
}

.light-grey {
	color: #aaaaaa;
}

.grey {
	color: #444444;
}

/*** Styles effecting input groups ***/

input {
	font-size: 1.25em !important;
	height: 3em !important;
	border-radius: 0px !important;
	border-color: #aaaaaa !important;
}


::-webkit-input-placeholder { /* WebKit browsers */
    color: #aaaaaa;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #aaaaaa;
    opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #aaaaaa;
    opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #aaaaaa;
}

/*** Styles effecting buttons ***/

button#search-button, button#filters-button {
	height: 3.75em;
	border-radius: 0px;
}

button#search-button {
	border-left: none;
}

.btn-action {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	max-width: 100%;
	color: #8aaf3e;
}

.btn-action:hover {
	color: #46641e !important;
}

.btn-submit {
	border: 1px solid #8aaf3e;
	border-radius: 0px;
	color: #8aaf3e;
	padding-top: 15px;
	padding-bottom: 15px;
}

.btn-application {
	color: #8aaf3e;
	background-color: #FFFFFF;
	border: 1px solid #aaaaaa;
}

	.btn-application:hover {
		color: #49661f;
		background-color: #ffffff;
	}

/*** Styles effecting badges ***/

.badge {
	background-color: #aaaaaa;
}

/*** Styles effecting panels ***/

.panel {
	box-shadow: none;
}

.panel-group .panel {
	margin-bottom: -10px;
}

.panel-collapse {
	margin-top: -20px;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
	border-top: none;
}

/*** Styles effecting list group and their items ***/

.list-group-item {
	border: none;
}

/*** Styles effecting alerts and warnings ***/

.alert-warning {
	color: #8aaf3e;
	background-color: #ffffff;
	border: 1px solid #8aaf3e;
	border-radius: 0px;
}