/*** Styles effecting layout and structure ***/

body {
	max-width: 100%;
	overflow-x: hidden;
}

#application {
	margin-top: 120px;
	max-width: 100%;
}

#article-pane {
	padding-bottom: 40px;
}

#usp {
	background: url('../img/bgone.jpg');
}

#about {
	background: url('../img/bgthree.jpg');
}

#usp, #about {
	padding-top: 150px;
	padding-bottom: 80px;
	max-width: 100%;
	background-color: #8aae40;
	color: #FFFFFF;
	text-align: center;
}

#about-us {
	padding-top: 40px;
	padding-bottom: 40px;
	max-width: 100%;
}

#features {
	padding-top: 120px;
	padding-bottom: 50px;
	max-width: 100%;
}


#reasons {
	padding-top: 5%;
	padding-bottom: 2%;
	max-width: 100%;
	background-color: #FFFFFF;
}

#clients {
	padding-bottom: 5%;
	max-width: 100%;
	background-color: #FFFFFF;
}

#calltoaction {
	padding-top: 7%;
	padding-bottom: 5%;
	max-width: 100%;
	background: url('../img/bgtwo.jpg');
	background-color: #46641e;
	color: #FFFFFF;
	text-align: center;
}

.lge-container {
	max-width: 98%;
	margin: 0 auto;
}

/*** Forms and Inputs ***/

.form-control {
	height: 3em;
	width: 100%;
	border-radius: 0px;
	padding-left: 20px;
	border: 1px solid #8aae40;
	color: #46641e;
	font-size: 1.15em;
}

/*** Styles effecting navigation ***/ 

.navbar {
	background-color: #FFFFFF;
	height: 80px;
	font-size: 0.8em;
	border-bottom: 1px solid #aaaaaa;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
}

.home {
	border-right: 1px solid black;
	height: 40px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #444444;
	background-color: #FFFFFF;
}

.navbar-inverse .navbar-toggle {
	margin-top: 15px;
}

.navbar-inverse .navbar-nav > li > a  {
	color: #8aae40;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	padding-top: 30px;
	margin-right: 10px;
}

		.navbar-inverse .navbar-nav > li > a:after {
			content: '';
			position: absolute;
			z-index: -1;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			transition: all 0.3s;
		}

		.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:active {
			color: #46641e;
		}

		.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
			color: #46641e;
			background-color: #FFFFFF;
			border-bottom: 2px solid #46641e;
		}

.breadcrumb {
	background-color: #FFFFFF;
}

/*** Styles effecting typography ***/

h1 {
	font-size: 3em;
	font-weight: 700;
	letter-spacing: 1px;
}

h1, h2, h3 {
	line-height: 1.5em;
}

h4, h5 {
	line-height: 1.75em;
}

p {
	font-size: 1.15em;
	color: #444444;
}

hr {
	width: 70%;
}

a, a:visited {
	text-decoration: none;
}
	
	a:hover, a:active {
		text-decoration: none;
	}

li {
	font-size: 1.15em;
	line-height: 2em;
	letter-spacing: 1px;
	padding-bottom: 20px;
}

ul.articles {
	padding: 0;
    list-style-type: none;
}

	.articles li {
		background-color: #FFFFFF;
		line-height: normal;
		list-style-type: none;
		padding-left: 15px;
		padding-top: 7px;
		padding-bottom: 7px;
	}

		.articles li:nth-child(odd) { 
			background: #e3e3e3; 
		}

a {
	text-decoration: none;
	color: #444444;
}
	
	a:hover {
		color: #444444;
	}

	a:hover, a:visited, a:active, a:focus {
		text-decoration: none;
	}

a.action, a.action:visited {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	color: #8aaf3e;
	text-align: center !important;
}

	a.action:hover, a.action:active {
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 700;
		color: #49661f;
	}

.glyphicon {
	font-size: 1.5em;
}

.glyphicon-small {
	font-size: 1em;
}

.glyphicon, .glyphicon:visited {
	color: #8aaf3e;
}

	.glyphicon:hover, .glyphicon:active {
		color: #49661f;
	}

.green {
	color: #8aaf3e;
}

.dark-green {
	color: #49661f;
}

.light-grey {
	color: #aaaaaa;
}

.grey {
	color: #444444;
}

/*** Styles effecting input groups ***/

input {
	font-size: 1.25em !important;
	height: 3em !important;
	border-radius: 0px !important;
	border-color: #aaaaaa !important;
}


::-webkit-input-placeholder { /* WebKit browsers */
    color: #aaaaaa;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #aaaaaa;
    opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #aaaaaa;
    opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #aaaaaa;
}

input[type=checkbox].css-checkbox {
	position: absolute; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height:1px; 
	width:1px; 
	margin:-1px; 
	padding:0;
	border:0;
}

label.css-label {
	font-weight: normal;
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left:20px;
	height:15px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -15px;
}

	.css-label{ background-image:url(http://csscheckbox.com/checkboxes/lite-gray-check.png); }

/*** Styles effecting buttons ***/

button#search-button, button#filters-button {
	height: 3.75em;
	border-radius: 0px;
}

button#search-button {
	border-left: none;
}

.btn-landing-page {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	max-width: 100%;
	border-radius: 0;
	background-color: #ffffff;
	color: #8aae40;
}

.btn-landing-page:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-landing-page:hover,
.btn-landing-page:active {
	color: #ffffff;
	background-color: #8aae40;
}

.btn-action {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	max-width: 100%;
	color: #8aaf3e;
}

.btn-action:hover {
	color: #46641e !important;
}

.btn-submit {
	border: 1px solid #8aaf3e;
	border-radius: 0px;
	color: #8aaf3e;
	padding-top: 15px;
	padding-bottom: 15px;
}

.btn-application {
	color: #8aaf3e;
	background-color: #FFFFFF;
	border: 1px solid #aaaaaa;
}

	.btn-application:hover {
		color: #49661f;
		background-color: #ffffff;
	}

/*** Styles effecting badges ***/

.badge {
	background-color: #aaaaaa;
}

/*** Styles effecting panels ***/

.panel {
	box-shadow: none;
}

.panel-group .panel {
	margin-bottom: -10px;
}

.panel-collapse {
	margin-top: -20px;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
	border-top: none;
}

/*** Styles effecting list group and their items ***/

.list-group-item {
	border: none;
}

/*** Styles effecting alerts and warnings ***/

.alert-warning {
	color: #8aaf3e;
	background-color: #ffffff;
	border: 1px solid #8aaf3e;
	border-radius: 0px;
}

/*** Styles effecting tables and table cells ***/

table {
	width: 100%;
	font-size: 1.15em;
}

td {
	padding-left: 10px;
	padding-right: 10px;
	height: 30px;
}

/*** Media Queries ***/

@media (max-width: 992px) {

	#sign-up {
		margin-top: 120px;
		padding-bottom: 2%;
	}

	#login {
		margin-top: 2px !important;
	}

	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 2em;
	}

	h3 {
		font-size: 1.5em;
	}

	.btn-calltoaction-light, .btn-calltoaction-dark {
		font-size: 1em;
	}
}

@media (max-width: 770px) {
	#logo {
			display: none;
		}

	.nav .navbar-nav li {
		display: inline-block;
	}
}

@media (max-width: 750px) {
	.navbar-collapse {
		width: 100%;
		text-align: center;
	}
}