extends _layouts/flare_page
include mixins/application-mixins

block content
  .application
    aside#left-nav
      +left-navigation
    aside#right-nav
      +filters-div
    main
        +flare-alert
        +start-view