extends _layouts/flare_page
include mixins/articles-mixins

block content
  .application
    aside#left-nav
      +left-navigation
    aside#right-nav
      +filters-div
    main
      .article-container
        +article
        br
        br
      +related-options
      +copyright