extends _layouts/flare_page
include mixins/articles-mixins

block content
  #application
    #left-column
      +left-navigation
    #content
      #article-container
        +article
        br
        br
      +related-options
      +copyright
    #right-column
        +filters-div