extends ../_layouts/flare_page
include mixins/articles-mixins

block content
  #application
    #left-column
      +left-navigation
    #content
        +article
        +related-options
        +copyright
    #right-nav
        +filters-div