extends _layouts/flare_page
include mixins/articles-mixins

block content
  #application
    #left-column
      +left-navigation
    #content
      .article-container
        +flare-alert
        +article
      +related-options
      +copyright
    #right-column
      +filters-div