extends _layouts/flare_page_not_logged_in.jade

block content
	#application
		.row
			.small-12.large-3.columns#left-nav
				br
			// column
			.small-12.large-6.columns#results
				h3 TEAM Mentor 4.0 Design
				p This is a staging site for the TEAM Mentor 4.0 design.
				+horizontal-rule
				h4 Current pages:
				+flare-all-pages-links
				+horizontal-rule
				p Git repo with source files (auto synced with this Azure site)
				+git-repo-link
				br
				br
			// column
			.small-12.large-3.columns#right-nav
				br
			// column
		// row
	// application