extends _layouts/flare_page
include mixins/application-mixins.jade

block content
  .application
    aside#left-nav
    aside#right-nav
    main
      // Note, all mixins are in the application-mixins file.