extends _layouts/flare_page
include mixins/application-mixins.jade

block content
  section.row__application
    #left-column
    #content
      // Note, all mixins are in the application-mixins file.
    #right-column