extends _layouts/flare_page_landing
include mixins/getting-started-mixins

block content
  .application
    section.row
      .col-8
        section.row__label
          .label Forgot your password?
        section.row
          +flare-forgot-password-form
      .col-4
        +team-mentor-summary