extends _layouts/flare_page_landing
include mixins/getting-started-mixins

block content
    #application
        #two-thirds-column
            section.row
                #label
                    .label Forgot your password?
            #articles
                +flare-forgot-password-form
        #one-third-column
            +team-mentor-summary