extends _layouts/flare_page

block content
  #application
    #one-third-column
      #label
        +help-navigation
    #two-thirds-column
      #articles
        include:md ../content/help/page-index.md