extends _layouts/flare_page

block content
  #application
    #left-column
      +left-navigation
    #right-column
      +filters-div
    #one-fourth-column
      +help-sub-navigation
    #three-fourths-column
      article
        include:md ../content/help/page-index.md