extends _layouts/flare_page

block content
  #application
    #one-fourth-column
      +help-navigation
    #three-fourths-column
        +help-sub-navigation
        article
            include:md ../content/help/page-index.md