extends _layouts/flare_page
include mixins/application-mixins

block content
  #application
    .landing-page
      section.row
        #label
          .label Welcome to TEAM Mentor
          ul.inline
            li
              button Go to app
        #articles
          #one-third-column
            .container.article
              .summary
                h2 Search
                p TEAM Mentor 4.0 has faster and more reliable search results. Search the database by filter, issue or technology.
          #one-third-column
            .container.article
              .summary
                h2 Navigate
                p Not sure where to start? You can browse our index and find groups of articles that cover entire topics.
          #one-third-column
            .container.article
              .summary
                h2 Filters
                p Filter your results to find articles that directly relate to you. You can filter by technology, phase and type.