extends _layouts/flare_page_landing.jade

block content
	#application
		section.half-width
			h3 TEAM Mentor 4.0 Design
			p This is a staging site for the TEAM Mentor 4.0 design.
			h4 Current pages:
			+flare-all-pages-links
			br
			p Git repo with source files (auto synced with this Azure site)
			+git-repo-link