extends _layouts/flare_page
include mixins/application-mixins

block content
  .application
    .landing-page
      section.row__label
        .label Welcome to TEAM Mentor
        ul.display-inline
          li.full-width
            button Go to app
      section.row
        .col-4
          article.result
            .summary
              h2 Search
              p TEAM Mentor 4.0 has faster and more reliable search results. Search the database by filter, issue or technology.
        .col-4
          article.result
            .summary
              h2 Navigate
              p Not sure where to start? You can browse our index and find groups of articles that cover entire topics.
        .col-4
          article.result
            .summary
              h2 Filters
              p Filter your results to find articles that directly relate to you. You can filter by technology, phase and type.