extends _layouts/flare_page
include mixins/user-mixins
include mixins/application-mixins

block content
  #application
      #left-column
        +left-navigation
      #right-column
        +filters-div
      #one-fourth-column
        .label @username
        form.user
          input(type='text', name="name", value="First name, Last name")
          input(type='text', name="work", value="Position, Company")
          input(type='email', name="email", value="Email")
          button(type='submit') Update Profile

      #three-fourths-column
        +saved-search-results
        +saved-articles-list