mixin login-form
    form#login-form(role='form' method='post' action='/user/login')
        .form-group
          label(for='new-user-username') Username
          input#new-user-username.form-control(type='username' name='username' placeholder='Username' value='user')
        br
        .form-group
          label(for='new-user-password') Password
          input#new-user-password.form-control(type='password' name='password' placeholder='Password')
        br
        //a(href='/deploy/html/user/returning-user-validation.html')
        button.btn-action.btn-submit.btn-block(type='submit', id='btn-login') Login
        br
        br
        a(href='returning-user-forgot-password.html')
            button.btn-action.btn-submit.btn-block(type='button', id='btn-forgot-pwd') Forgot your password?
        br
        br