//- Jade User Details Form
mixin user-details-form
	form(role='form', action='user.html')
		.form-group
			+name-input
		.form-group
			+email-input
		.form-group
			+title-input
		.form-group
			+company-input
		.form-group
			+country-input
		.form-group
			+state-input
		a(href='alert-user.html')
			+ok-button
	// form

//- Jade New Password Form
mixin new-password-form
	h3 Change Password
	form(role='form', action='user.html')
		.form-group
			+password-input
		.form-group
			+new-password-input
		.form-group
			+confirm-new-password-input
		a(href='alert-user.html')
			+ok-button
	// form