<!DOCTYPE html>
<html lang="en" ng-app="tm">
  <head>  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" sizes="57x57" href="/deploy/assets/favicons/apple-touch-icon-57x57.png">
    <link rel="icon" sizes="114x114" href="/deploy/assets/favicons/apple-touch-icon-114x114.png">
    <link rel="icon" sizes="72x72" href="/deploy/assets/favicons/apple-touch-icon-72x72.png">
    <link rel="icon" sizes="144x144" href="/deploy/assets/favicons/apple-touch-icon-144x144.png">
    <link rel="icon" sizes="60x60" href="/deploy/assets/favicons/apple-touch-icon-60x60.png">
    <link rel="icon" sizes="120x120" href="/deploy/assets/favicons/apple-touch-icon-120x120.png">
    <link rel="icon" sizes="76x76" href="/deploy/assets/favicons/apple-touch-icon-76x76.png">
    <link rel="icon" sizes="152x152" href="/deploy/assets/favicons/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="/deploy/assets/favicons/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="/deploy/assets/favicons/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/deploy/assets/favicons/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/deploy/assets/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/deploy/assets/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/deploy/assets/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" sizes="114x114" href="/deploy/assets/favicons/apple-touch-icon-114x114.png">
    <link rel="icon" sizes="114x114" href="/deploy/assets/favicons/apple-touch-icon-114x114.png">
    <link rel="icon" sizes="114x114" href="/deploy/assets/favicons/apple-touch-icon-114x114.png">
    <title>TEAM Mentor 4.0 (Html version)</title>
    <!-- Normalize-->
    <link href="/deploy/css/normalize.css" rel="stylesheet">
    <!-- Custom Styles-->
    <link href="/deploy/css/custom-style.css" rel="stylesheet">
    <!-- AngularJS-->
    <script src="/deploy/js/angularjs/1.2.6/angular.min.js"></script>
    <script src="/deploy/js/angularjs/1.2.6/angular-route.js"></script>
    <script src="/deploy/js/angularjs/1.2.6/angular-sanitize.js"></script>
    <!--WebServices-->
    <script type="text/javascript" src="/aspx_Pages/scriptCombiner.ashx?s=WebServices_JS"></script>
    <script src="/deploy/js/controllers/tm.js"></script>
  </head>
  <body>
    <div role="navigation" class="navbar navbar-fixed-top">
      <div class="lge-container">
        <ul class="brand">
          <li><a href="/deploy/html/landing-pages/index.html"><img src="/deploy/assets/logos/tm-logo.jpg" alt="TEAM Mentor" width="200px"></a>
          </li>
        </ul>
        <div class="collapse pull-right">
          <ul class="nav nav-text"><ul>
<li><a href="/deploy/html/landing-pages/about.html">About</a></li>
<li><a href="/deploy/html/landing-pages/features.html">Features</a></li>
<li><a href="/help/index.html">Help</a></li>
<li><a href="/deploy/html/getting-started/index.html">Get Started</a></li>
<li><a href="/deploy/html/getting-started/index.html">Login</a></li>
</ul>

          </ul>
        </div>
      </div>
    </div>
    <div id="application">
      <div ng-controller="libraryController" class="row">
        <div class="column-3">
          <div class="lge-container">
            <div data-spay="affix" data-offset-top="60" data-offset-bottom="200">
              <div ng-repeat="view in tmLibrary.Views">
                <h4 ng-click="isCollapsed=!isCollapsed" style="cursor:pointer;" class="grey">{{view.Title}}</h4>
                <ul ng-class="{'sidebar-collapsed': isCollapsed, 'sidebar': !isCollapsed}">
                  <li ng-repeat="article in view.Articles"><a href="#" ng-click="getContentAsync(article.Id,article.Title)">{{article.Title}}</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="column-6">
          <div ng-show="!payload.length&gt;0 &amp;&amp; rendered" class="lge_container">
            <h2 class="grey">TEAM Mentor Documents</h2><br>
            <p>Welcome to the TEAM Mentor Documentation Website where you will find detailed information on how to install TEAM Mentor, how it works and how to customize it.</p><br>
            <h3 class="dark-grey">TEAM Mentor in action: </h3>
            <p><ul>
<li><a href="https://owasp.teammentor.net/teamMentor">TEAM Mentor with OWASP Top 10 Library</a></li>
<li><a href="https://teammentor.net/teamMentor">TEAM Mentor with SI Library</a></li>
<li><a href="https://docs.teammentor.net/xml/Eval">Branded page for TEAM Mentor Evaluation</a></li>
<li><a href="https://docs.teammentor.net/xml/Customer">Branded page for TEAM Mentor Customers</a></li>
</ul>

            </p><br>
            <h3 class="dark-grey">TEAM Mentor Related Sites</h3>
            <p>Other places to get information about TeamMentor:</p>
            <p><ul>
<li><a href="https://groups.google.com/a/securityinnovation.com/forum/#!forum/teammentor">TEAM Mentor Discussion Group</a></li>
<li><a href="https://www.securityinnovation.com/products/team-academy/secure-development-knowledgebase/">TEAM Mentor information at Security Innovation website</a></li>
</ul>

            </p>
          </div>
          <div ng-bind-html="body" class="lge-container"></div>
        </div>
      </div>
    </div>
  </body>
</html>