mixin article
    #article.bg.content
        h1#title.article-title= title
        #html.article-content!= article_Html

mixin no-article
    #article.bg.content
        include:md ../../content/articles/no-article.md