mixin article
    #article
        .content
            h1#title= title
            #html!= article_Html

mixin no-article
    #article
        .content
            include:md ../../content/articles/no-article.md