//- article-options
mixin article-options
    .row.text-center
        .col-4
            :markdown
                [Metadata](#)
        .col-4
            :markdown
                [Save](#)
        .col-4
            :markdown
                [Share](#)

//- related-articles
mixin related-articles
    h4 Related Articles
    .list-group
        a(href='#{link_article_new_window}', target='_blank')
            include:md ../../content/articles/article-details.md
        a(href='#{link_article_new_window}', target='_blank')
            include:md ../../content/articles/article-details.md
        a(href='#{link_article_new_window}', target='_blank')
            include:md ../../content/articles/article-details.md

//- my-articles-edit
mixin edit-my-articles
    .row
        .column-6
            .lge-container
                li
                    input#technology_1(type='checkbox')
                    label(for='technology_1', name='technology_1') A New ID Is Assigned on Login
                li
                    input#technology_2(type='checkbox')
                    label(for='technology_2', name='technology_2') A New Or Blank Session ID is Assigned on Logout
                li
                    input#technology_3(type='checkbox')
                    label(for='technology_3', name='technology_3') Access to the Credential Store is Limited
                li
                    input#technology_4(type='checkbox')
                    label(for='technology_4', name='technology_4') AJAX Injection Vulnerability
                li
                    input#technology_5(type='checkbox')
                    label(for='technology_5', name='technology_5') All Input is Validated
                li
                    input#technology_5(type='checkbox')
                    label(for='technology_5', name='technology_5') All Private Resources Require Authentication
                li
                    input#technology_5(type='checkbox')
                    label(for='technology_5', name='technology_5') All Senstive Data is Encrypted
                li
                    input#technology_5(type='checkbox')
                    label(for='technology_5', name='technology_5') Assume All Input is Malicious
                li
                    input#technology_5(type='checkbox')
                    label(for='technology_5', name='technology_5') Authentication is Centralized
                li
                    input#technology_5(type='checkbox')
                    label(for='technology_5', name='technology_5') Centralize Authentication
                li
                    input#technology_5(type='checkbox')
                    label(for='technology_5', name='technology_5') Client-side Validation is Not Relied On
                li
                    input#technology_1(type='checkbox')
                    label(for='technology_1', name='technology_1') Cross Site Scripting Vulnerablity
                li
                    input#technology_2(type='checkbox')
                    label(for='technology_2', name='technology_2') Deny All Access by Default
                li
                    input#technology_3(type='checkbox')
                    label(for='technology_3', name='technology_3') Do Not Cache Sensitive Data
        .column-6
            .lge-container
                li
                    input#technology_5(type='checkbox')
                    label(for='technology_5', name='technology_5') Do Not Leave Passwords in Memory
                li
                    input#technology_5(type='checkbox')
                    label(for='technology_5', name='technology_5') Don't Trust User Input
                li
                    input#technology_5(type='checkbox')
                    label(for='technology_5', name='technology_5') Echoed Input is Encoded
                li
                    input#technology_5(type='checkbox')
                    label(for='technology_5', name='technology_5') Missing Authentication
                li
                    input#technology_5(type='checkbox')
                    label(for='technology_5', name='technology_5') Missing Authorization
                li
                    input#technology_5(type='checkbox')
                    label(for='technology_5', name='technology_5') Hard-coded Credentials
                li
                    input#technology_5(type='checkbox')
                    label(for='technology_5', name='technology_5') Missing Encryption
                li
                    input#technology_4(type='checkbox')
                    label(for='technology_4', name='technology_4') Unrestricted Dangerous Uploads
                li
                    input#technology_4(type='checkbox')
                    label(for='technology_4', name='technology_4') Using Untrusted Inputs

//- my-articles-edit-links
mixin edit-links
    #edit-links
        br
        .row
            .column-4
                a(href='#') Clear Selected
            .column-4
                a(href='navigate.html') Clear All
            .column-4
                a(href='my-articles.html') Ok, Done