mixin article
    #article.bg.content
        table
            tr.article-title
                td
                    h1#title= title
                td.vertical-align
                    +filter-icon('Technology', technology)
                    br
                    +filter-icon('Type', type)
                    br
                    +filter-icon('Phase', phase)
        #html.article-content!= article_Html
        .alert.alert-neutral
            span.alert-icon !
            span.alert-text Have a comment about this article?
                a#tm-support-email(href='mailto:support@securityinnovation.com')      Send our team an email.

mixin no-article
    #article.bg.content
        include:md ../../content/articles/no-article.md