mixin article
    #article.bg.content
        table
            tr
                td.small
                    //span.label= '#' + (index +1)
                    +filter-icon('Technology',technology)
                    +filter-icon('Type', type)
                td
                    h1#title.article-title= title
        #html.article-content!= article_Html

mixin no-article
    #article.bg.content
        include:md ../../content/articles/no-article.md