mixin article
    #article
        .bg
            h1#title.article-title= title
            #html.article-content!= article_Html

mixin no-article
    #article
        .bg
            include:md ../../content/articles/no-article.md