mixin article
    #article.bg.content
        table
            tr.article-title
                td.vertical-align
                    +filter-icon('Technology',technology)
                    br
                    +filter-icon('Type', type)
                td
                    h1#title= title
        #html.article-content!= article_Html

mixin no-article
    #article.bg.content
        include:md ../../content/articles/no-article.md