mixin upgraded
    .bg
        include:md ../../content/error-pages/upgraded.md

mixin unavailable
    .bg
        include:md ../../content/error-pages/unavailable.md

mixin error_403
    #403-message.bg
        include:md ../../content/error-pages/error-403.md

mixin error_404
    #404-message.bg
        include:md ../../content/error-pages/error-404.md

mixin error_500
    #500-message.bg
        include:md ../../content/error-pages/error-500.md

mixin no-more-directories
    .bg
        h3 Containing Directory Title
        include:md ../../content/application/no-more-directories.md