mixin upgraded
	.bg
		include:md ../../content/error-pages/upgraded.md

mixin unavailable
	.bg
		include:md ../../content/error-pages/unavailable.md

mixin 404
	#404-message.bg
		include:md ../../content/error-pages/error-occurred.md

mixin no-more-directories
	.bg
		h3 Containing Directory Title
		include:md ../../content/application/no-more-directories.md