//- static texts
- var head_title = 'TEAM Mentor 4.0 (Html version)'
- var tm_version  = 'TEAM Mentor v4.0 (Alpha 15)'

mixin navigate-icon
    i.fi-map
    | Navigate

mixin home-icon
    i.fi-magnifying-glass
    | Search

mixin help-icon
    i.fi-info
    | Help

mixin logout-icon
    i.fi-power
    | Logout