//- static texts
- var head_title = 'TEAM Mentor 4.0 (Html version)'
- var tm_version  = 'TEAM Mentor v4.0 (Alpha 15)'

mixin navigate-link
    i.fi-list-thumbnails
    span Index

mixin search-link
    i.fi-magnifying-glass
    span Search

mixin help-link
    i.fi-info
    span Docs

mixin logout-link
    i.fi-power
    span Logout

mixin tm-support-email
    a(href='mailto:support@securityinnovation.com') support@securityinnovation.com
mixin copyright
    #copyright
        .row
            .col-offset-1.col-10
                a(href='http://www.securityinnovation.com/', target='_blank')
                    #si-logo
                include:md ../../content/articles/copyright-information.md
                ul
                    li
                        +i-email
                        a(href='mailto:support@securityinnovation.com') support@securityinnovation.com
                    li
                        +i-toc
                        a#terms-and-conditions(href="/misc/terms-and-conditions") Terms & Conditions