//- static texts
- var head_title = 'TEAM Mentor 4.0 (Html version)'
- var tm_version  = 'TEAM Mentor v4.0 (Alpha 15)'

mixin navigate-icon
    i.fi-map
    | Navigate

mixin home-icon
    i.fi-magnifying-glass
    | Search

mixin help-icon
    i.fi-info
    | Help

mixin logout-icon
    i.fi-power
    | Logout

mixin copyright
    #copyright
        .row
            .col-offset-1.col-10
                a(href='http://www.securityinnovation.com/', target='_blank')
                    #si-logo
                include:md ../../content/articles/copyright-information.md
                ul
                    li
                        +i-email
                        a(href='mailto:support@securityinnovation.com') support@securityinnovation.com
                    li
                        +i-toc
                        a(href="../guest/terms-and-conditions.html") Terms & Conditions