mixin image-teammentor-logo__default
    a(href='/user/main.html')
        img(src='/static/assets/logos/tm-logo.jpg' alt="TEAM Mentor")

mixin image-securityinnovation-logo
       img(src='/static/assets/logos/si-logo.png' alt="Client Company Name")