mixin image-teammentor-logo__default
	a(href='/user/main.html')
		img(src='/static/assets/logos/logos.jpg' alt="TEAM Mentor")

mixin image-securityinnovation-logo
	a(href='http://www.securityinnovation.com/', target="_blank")
		img(src='/static/assets/logos/logos.jpg' alt="Security Innovation")