//- landing-page_call-to-action
mixin call-to-action-div
	#call-to-action
		.row
			.column-offset-2.column-8
				h1 Security Risk. Understood.
				br
				br
				a(href='getting-started.html')
					button(type='button') See for yourself

//- landing-page_footer
mixin footer-div
	#footer
		.row
			.column-offset-2.column-8
				img(src='/static/assets/logos/si-logo.png')
				a(href="terms-and-conditions.html") Terms & Conditions