//- landing-page_call-to-action

mixin usp-div
	#usp
		.lge-container
			.row
				.col-offset-2.col-8
					include:md ../../flare/__ALL/content/teamMentor/landing-pages/usp.md
					br
					.row
						.col-offset-2.col-8
							a(href='/guest/sign-up.html')
								button Start your free trial today

mixin reasons-div
	#reasons
		.lge-container
			.row
				.col-offset-3.col-6
					h2 With TEAM Mentor, you can
					table
						tr
							td.text-center.icons-green
								i.fi-clipboard-pencil
							td
								h4
									include:md ../../flare/__ALL/content/teamMentor/landing-pages/selling-point-1.md
						tr
							td.text-center.icons-green
								i.fi-arrows-in
							td
								h4
									include:md ../../flare/__ALL/content/teamMentor/landing-pages/selling-point-2.md
						tr
							td.text-center.icons-green
								i.fi-checkbox
							td
								h4
									include:md ../../flare/__ALL/content/teamMentor/landing-pages/selling-point-3.md


mixin clients-div
	#clients
		.lge-container
			h2 Our clients love us (and we think you will too!)
			.row
				.col-4
					img(src='/static/assets/clients/elsevier.jpg')
				.col-4
					img(src='/static/assets/clients/fedex.jpg')
				.col-4
					img(src='/static/assets/clients/massmutual.jpg')
			.row
				.col-4
					img(src='/static/assets/clients/microsoft.jpg')
				.col-4
					img(src='/static/assets/clients/symantec.jpg')
				.col-4
					img(src='/static/assets/clients/ubs.jpg')

mixin about-div
	#about
		.lge-container
			.row
				.col-offset-2.col-8
					include:md ../../flare/__ALL/content/teamMentor/landing-pages/about-tm-tagline.md

mixin about-us-div
	#about-us
		.lge-container
			.row
				.col-offset-3.col-6
					include:md ../../flare/__ALL/content/teamMentor/landing-pages/about-tm-summary.md

mixin features-div
	#features
		.lge-container
			.row
				.col-offset-3.col-6
					h3.text-center TEAM Mentor provides intelligence to fix vulnerabilities and comply
					table
						tr
							td.text-center.icons-green
								i.fi-check
							td
								include:md ../../flare/__ALL/content/teamMentor/landing-pages/feature-1.md
						tr
							td.text-center.icons-green
								i.fi-loop
							td
								include:md ../../flare/__ALL/content/teamMentor/landing-pages/feature-2.md
						tr
							td.text-center.icons-green
								i.fi-clipboard-notes
							td
								include:md ../../flare/__ALL/content/teamMentor/landing-pages/feature-3.md
						tr
							td.text-center.icons-green
								i.fi-arrows-in
							td
								include:md ../../flare/__ALL/content/teamMentor/landing-pages/feature-4.md


mixin call-to-action-div
	#call-to-action
		.lge-container
			.row
				.col-offset-2.col-8
					include:md ../../flare/__ALL/content/teamMentor/landing-pages/call-to-action.md
					br
					br
					.row
						.col-offset-2.col-8
							a(href='/guest/sign-up.html')
								button(type='button') See for yourself

//- landing-page_footer
mixin footer-div
	#footer
		.lge-container
			#footer-img
				#si-logo
					br
				h6 TEAM Mentor v 4.0