//- landing-page_call-to-action

mixin usp-div
	#usp
		.row
			.col-offset-2.col-8
				include:md ../../flare/__ALL/content/teamMentor/landing-pages/usp.md
				br
				br
				.row
					.col-offset-2.col-8
						a(href='/guest/sign-up.html')
							button.btn-landing-page Start your free trial today

mixin reasons-div
	#reasons
		.lge-container
			.row
				.col-offset-3.col-6
					h2 With TEAM Mentor, you can
					table
						tr
							td
								img(src='/deploy/assets/icons/identifyfix.png', alt='Identify vulnerabilities and reduce time to fix them')
							td
								h4
									include:md ../../flare/__ALL/content/teamMentor/landing-pages/selling-point-1.md
						tr
							td
								img(src='/deploy/assets/icons/reduces.png', alt='REDUCE the number of vulnerabilities over time')
							td
								h4
									include:md ../../flare/__ALL/content/teamMentor/landing-pages/selling-point-2.md
						tr
							td
								img(src='/deploy/assets/icons/integrate.png', alt="EXPAND the development team's knowledge and improve process")
							td
								h4
									include:md ../../flare/__ALL/content/teamMentor/landing-pages/selling-point-3.md

mixin clients-div
	#clients
		.lge-container
			h2 Our clients love us (and we think you will too!)
			.row
				.col-4
					img(src='/static/assets/clients/elsevier.png')
				.col-4
					img(src='/static/assets/clients/fedex.png')
				.col-4
					img(src='/static/assets/clients/massmutual.png')
			.row
				.col-4
					img(src='/static/assets/clients/microsoft.png')
				.col-4
					img(src='/static/assets/clients/symantec.png')
				.col-4
					img(src='/static/assets/clients/ubs.png')

mixin about-div
	#about
		.row
			.col-offset-2.col-8
				include:md ../../flare/__ALL/content/teamMentor/landing-pages/about-tm-tagline.md

mixin about-us-div
	#about-us
		.container
			.row
				.col-offset-2.col-8
					include:md ../../flare/__ALL/content/teamMentor/landing-pages/about-tm-summary.md

mixin features-div
	#features
		.lge-container
			.row
				.col-offset-2.col-8
					h3.text-center TEAM Mentor provides intelligence to fix vulnerabilities and comply
					br
					table
						tr
							td
								img(src='/deploy/assets/icons/compliance.png', alt='Delivers compliance-specific secure coding guidance')
							td
								include:md ../../flare/__ALL/content/teamMentor/landing-pages/feature-1.md
						tr
							td
								img(src='/deploy/assets/icons/integrate.png', alt='Integrates with multiple static analysis tools and developer environments')
							td
								include:md ../../flare/__ALL/content/teamMentor/landing-pages/feature-2.md
						tr
							td
								img(src='/deploy/assets/icons/crossreferences.png', alt='Stores and cross-references your security policies')
							td
								include:md ../../flare/__ALL/content/teamMentor/landing-pages/feature-3.md
						tr
							td
								img(src='/deploy/assets/icons/reduces.png', alt='Provides guidance to assist developers')
							td
								include:md ../../flare/__ALL/content/teamMentor/landing-pages/feature-4.md


mixin call-to-action-div
	#call-to-action
		.row
			.col-offset-2.col-8
				include:md ../../flare/__ALL/content/teamMentor/landing-pages/call-to-action.md
				br
				br
				.row
					.col-offset-2.col-8
						a(href='/guest/sign-up.html')
							button(type='button') See for yourself

//- landing-page_footer
mixin footer-div
	#footer
		.row
			.col-offset-2.col-8
				img(src='/static/assets/logos/si-logo.png')