mixin usp-div
    #usp
        .lge-container
            .row
                .col-offset-2.col-8
                    include:md ../../content/landing-pages/usp.md
                    .row
                        .col-offset-3.col-6
                            a(href='/guest/sign-up.html')
                                +start-trial-button

mixin reasons-div
    #reasons
        .lge-container
            .row
                .col-offset-2.col-8
                    include:md ../../content/landing-pages/reasons-div-heading.md
                    table
                        tr
                            td.text-center.lp-icons-width
                                .lp-icons.fix-vulnerabilities
                                //img(src='../../../static/assets/icons/Fixvulns-round.png' class="")
                            td
                                include:md ../../content/landing-pages/selling-point-1.md
                        tr
                            td.text-center
                                .lp-icons.reduce-vulnerabilities
                                //img(src='../../../static/assets/icons/reducevulns-round.png')
                            td
                                include:md ../../content/landing-pages/selling-point-2.md
                        tr
                            td.text-center
                                .lp-icons.improve-process
                            td
                                include:md ../../content/landing-pages/selling-point-3.md

mixin clients-div
    #clients
        .lge-container
            include:md ../../content/landing-pages/clients-div-heading.md
            .row
                .col-offset-1.col-2
                    .client-logo.elsevier
                .col-2
                    .client-logo.fedex
                .col-2
                    .client-logo.mass-mutual
                .col-2
                    .client-logo.microsoft
                .col-2
                    .client-logo.ubs

mixin about-div
    #about
        .lge-container
            .row
                .col-offset-2.col-8
                    include:md ../../content/landing-pages/about-tm-tagline.md

mixin about-us-div
    #about-us
        .lge-container
            .row
                .col-offset-3.col-6
                    include:md ../../content/landing-pages/about-tm-summary.md

mixin features-div
    #features
        .lge-container
            .row
                .col-offset-3.col-6
                    include:md ../../content/landing-pages/features-div-heading.md
                    table
                        tr
                            td.text-center
                                i.fi-check.landing-page
                            td
                                include:md ../../content/landing-pages/feature-1.md
                        tr
                            td.text-center
                                i.fi-loop.landing-page
                            td
                                include:md ../../content/landing-pages/feature-2.md
                        tr
                            td.text-center
                                i.fi-clipboard-notes.landing-page
                            td
                                include:md ../../content/landing-pages/feature-3.md
                        tr
                            td.text-center
                                i.fi-arrows-in.landing-page
                            td
                                include:md ../../content/landing-pages/feature-4.md


mixin call-to-action-div
    #call-to-action
        .lge-container
            .row
                .col-offset-2.col-8
                    include:md ../../content/landing-pages/call-to-action.md
                    .row
                        .col-offset-4.col-4
                            a(href='/guest/sign-up.html')
                                +see-for-yourself-button

mixin footer-div
    #footer
        .row
            .col-6
                ul.si
                    li
                        img(src='../../../static/assets/logos/si-logo.png')
                    li
                        a(href='http://www.securityinnovation.com/', target='_blank') Security Innovation 2015. All rights reserved.
            .col-offset-2.col-4
                ul.contact
                    li
                        .label TEAM Mentor 4.0
                    li
                        a(href='mailto:support@securityinnovation.com' title='Email')
                            +i-email
                    li
                        a(href='http://www.twitter.com/SecInnovation' target='_blank' title='Twitter')
                            +i-twitter
                    li
                        a#terms-and-conditions(href='../misc/terms-and-conditions' title ='Terms and Conditions')
                            +i-toc