include ../../shared-mixins/images.jade

mixin usp-div
	#usp
		.lge-container
			.row
				.col-offset-2.col-8
					h2
						include:md ../../content/landing-pages/usp.md
					br
					.row
						.col-offset-3.col-6
							a(href='/guest/sign-up.html')
								+start-trial-button

mixin reasons-div
	#reasons
		.lge-container
			.row
				.col-offset-3.col-6
					include:md ../../content/landing-pages/reasons-div-heading.md
					table
						tr
							td.text-center
								i.fi-clipboard-pencil
							td
								h4
									include:md ../../content/landing-pages/selling-point-1.md
						tr
							td.text-center
								i.fi-arrows-in
							td
								h4
									include:md ../../content/landing-pages/selling-point-2.md
						tr
							td.text-center
								i.fi-checkbox
							td
								h4
									include:md ../../content/landing-pages/selling-point-3.md


mixin clients-div
	#clients
		.lge-container
			include:md ../../content/landing-pages/clients-div-heading.md
			.row
				.col-4
					+image-elsevier-logo
				.col-4
					+image-fedex-logo
				.col-4
					+image-mass-mutual-logo
			.row
				.col-4
					+image-microsoft-logo
				.col-4
					+image-symantec-logo
				.col-4
					+image-ubs-logo

mixin about-div
	#about
		.lge-container
			.row
				.col-offset-2.col-8
					include:md ../../content/landing-pages/about-tm-tagline.md

mixin about-us-div
	#about-us
		.lge-container
			.row
				.col-offset-3.col-6
					include:md ../../content/landing-pages/about-tm-summary.md

mixin features-div
	#features
		.lge-container
			.row
				.col-offset-3.col-6
					include:md ../../content/landing-pages/features-div-heading.md
					table
						tr
							td.text-center
								i.fi-check
							td
								include:md ../../content/landing-pages/feature-1.md
						tr
							td.text-center
								i.fi-loop
							td
								include:md ../../content/landing-pages/feature-2.md
						tr
							td.text-center
								i.fi-clipboard-notes
							td
								include:md ../../content/landing-pages/feature-3.md
						tr
							td.text-center
								i.fi-arrows-in
							td
								include:md ../../content/landing-pages/feature-4.md


mixin call-to-action-div
	#call-to-action
		.lge-container
			.row
				.col-offset-2.col-8
					include:md ../../content/landing-pages/call-to-action.md
					.row
						.col-offset-4.col-4
							a(href='/guest/sign-up.html')
								+see-for-yourself-button

mixin footer-div
	#footer
		.lge-container
			.row
				.col-offset-1.col-2
					h4.label.text-center TEAM Mentor v 4.0
					a(href='http://www.securityinnovation.com/', target='_blank')
						#si-logo
				.col-offset-1.col-8
					.row
						#contact-information
						.col-4
							ul
								li
									+i-phone
									| +1.978.694.1008
								li
									+i-email
									a(href='mailto:support@securityinnovation.com') support@securityinnovation.com
						.col-4
							ul
								li
									+i-marker
									| 187 Ballardvale Street, Suite A202
								li Wilmington, MA 01887
						.col-4
							ul
								li
									+i-twitter
									a(href="http://www.twitter.com/SecInnovation", target="_blank") @SecInnovation
								li
									+i-toc
									a(href="../guest/terms-and-conditions.html") Terms & Conditions