//- landing-page_call-to-action

mixin usp-div
	#usp
		.lge-container
			.row
				.col-offset-2.col-8
					include:md ../../flare/__ALL/content/teamMentor/landing-pages/usp.md
					br
					.row
						.col-offset-2.col-8
							a(href='/guest/sign-up.html')
								button.btn-landing-page Start your free trial today

mixin reasons-div
	#reasons
		.lge-container
			.row
				.col-offset-3.col-6
					h2 With TEAM Mentor, you can
					ul.lp-icons
						li.identify-fix
							h4
								include:md ../../flare/__ALL/content/teamMentor/landing-pages/selling-point-1.md
						li.reduce
							h4
								include:md ../../flare/__ALL/content/teamMentor/landing-pages/selling-point-2.md
						li.expand
							h4
								include:md ../../flare/__ALL/content/teamMentor/landing-pages/selling-point-3.md

mixin clients-div
	#clients
		.lge-container
			h2 Our clients love us (and we think you will too!)
			.row
				.col-4
					img(src='/static/assets/clients/elsevier.png')
				.col-4
					img(src='/static/assets/clients/fedex.png')
				.col-4
					img(src='/static/assets/clients/massmutual.png')
			.row
				.col-4
					img(src='/static/assets/clients/microsoft.png')
				.col-4
					img(src='/static/assets/clients/symantec.png')
				.col-4
					img(src='/static/assets/clients/ubs.png')

mixin about-div
	#about
		.lge-container
			.row
				.col-offset-2.col-8
					include:md ../../flare/__ALL/content/teamMentor/landing-pages/about-tm-tagline.md

mixin about-us-div
	#about-us
		.lge-container
			.row
				.col-offset-3.col-6
					include:md ../../flare/__ALL/content/teamMentor/landing-pages/about-tm-summary.md

mixin features-div
	#features
		.lge-container
			.row
				.col-offset-3.col-6
					h3.text-center TEAM Mentor provides intelligence to fix vulnerabilities and comply
					br
					ul.lp-icons
						li.compliance
							include:md ../../flare/__ALL/content/teamMentor/landing-pages/feature-1.md
						br
						li.integrate
							include:md ../../flare/__ALL/content/teamMentor/landing-pages/feature-2.md
						br
						li.cross-references
							include:md ../../flare/__ALL/content/teamMentor/landing-pages/feature-3.md
						br
						li.reduce
							include:md ../../flare/__ALL/content/teamMentor/landing-pages/feature-4.md


mixin call-to-action-div
	#call-to-action
		.lge-container
			.row
				.col-offset-2.col-8
					include:md ../../flare/__ALL/content/teamMentor/landing-pages/call-to-action.md
					br
					br
					.row
						.col-offset-2.col-8
							a(href='/guest/sign-up.html')
								button(type='button') See for yourself

//- landing-page_footer
mixin footer-div
	#footer
		.lge-container
			.row
				.col-offset-2.col-8
					#si-logo
						br
					h6 TEAM Mentor v 4.0