include ../../shared-mixins/globals.jade
include globals.jade

- var articles        = '/static/html/articles'
- var getting_started = '/static/html/getting-started'
- var home            = '/static/html/home'
- var landing_pages   = '/static/html/landing-pages'
- var help            = '/help'
- var user            = '/user'

mixin links-navbar__landing-page
	:markdown
		* [About](/guest/about.html)
		* [Features](/guest/features.html)
		* [Help](/help/index.html)
		* [Sign Up](/guest/sign-up.html)
		* [Login](/guest/login.html)

mixin links-navbar__home
	ul
		li
			a(href='/user/main.html')
				+search-link
		li
			a(href='/show/Guidance')
				+navigate-link
		li
			a(href='/help/index.html')
				+help-link
		li
			a(href='/user/logout')
				+logout-link

mixin terms-and-conditions-links
	.bg
		h3 Terms & Conditions
		ul.side-nav
			li
				a(href='#article-i-definitions') Article I - Definitions
			li
				a(href='#article-ii-deliverables') Article II - Deliverables
			li
				a(href='#article-iii-license-grant') Article III - License Grant
			li
				a(href='#article-iv-ownership-of-intellectual-property') Article IV - Ownership of Intellectual Property
			li
				a(href='#article-v-marketing-requirements') Article V - Marketing Requirements
			li
				a(href='#article-vi-trademarks') Article VI - Trademarks
			li
				a(href='#article-vii-support') Article VII - Support
			li
				a(href='#article-viii-fees-royalties-and-payments') Article VIII - Fees, Royalties and Payments
			li
				a(href='#article-ix-payment-instructions') Article IX - Payment Instructions
			li
				a(href='#article-x-records-reports-and-audit-rights') Article X - Records, Reports and Audit Rights
			li
				a(href='#article-xi-contract-administrative-contacts') Article XI - Contract Administrative Contacts
			li
				a(href='#article-xii-assignment') Article XII - Assignment
			li
				a(href='#article-xiii-confidentiality') Article XIII - Confidentiality
			li
				a(href='#article-xiv-warranties') Article XIV - Warranties
			li
				a(href='#article-xv-indemnities') Article XV - Indemnities
			li
				a(href='#article-xvi-limitations') Article XVI - Limitations
			li
				a(href='#article-xvii-terms-of-agreements') Article XVII - Terms of Agreements
			li
				a(href='#article-xviii-termination') Article XVIII - Termination
			li
				a(href='#article-xix-effect-of-termination') Article XIX - Effect of Termination
			li
				a(href='#article-xx-general-provisions') Article XX - General Provisions
			li
				a(href='#appendix-a') Appendix A
			li
				a(href='#appendix-b') Appendix B