include ../../shared-mixins/globals.jade
include globals.jade

- var articles        = '/static/html/articles'
- var getting_started = '/static/html/getting-started'
- var home            = '/static/html/home'
- var landing_pages   = '/static/html/landing-pages'
- var help            = '/help'
- var user            = '/user'

mixin links-navbar__landing-page
	ul
		li
			a#nav-about(href='/guest/about.html') About
		li
			a#nav-features(href='/guest/features.html') Features
		li
			a#nav-help(href='/help/index.html') Help
		li
			a#nav-sign-up(href='/guest/sign-up.html')
				button Sign Up
		li
			a#nav-log-in(href='/guest/login.html')
				button Login

mixin links-navbar__home
	ul
		li
			a(href='/user/main.html')
				+search-link
		li
			a(href='/show/Guidance')
				+navigate-link
		li
			a(href='/help/index.html')
				+help-link
		li
			a(href='/user/logout')
				+logout-link

mixin terms-and-conditions-links
	.bg
		h3 Terms & Conditions
		table.nav
			tr
				td
					a(href='#article-i-definitions') Article I - Definitions
			tr
				td
					a(href='#article-ii-deliverables') Article II - Deliverables
			tr
				td
					a(href='#article-iii-license-grant') Article III - License Grant
			tr
				td
					a(href='#article-iv-ownership-of-intellectual-property') Article IV - Ownership of Intellectual Property
			tr
				td
					a(href='#article-v-marketing-requirements') Article V - Marketing Requirements
			tr
				td
					a(href='#article-vi-trademarks') Article VI - Trademarks
			tr
				td
					a(href='#article-vii-support') Article VII - Support
			tr
				td
					a(href='#article-viii-fees-royalties-and-payments') Article VIII - Fees, Royalties and Payments
			tr
				td
					a(href='#article-ix-payment-instructions') Article IX - Payment Instructions
			tr
				td
					a(href='#article-x-records-reports-and-audit-rights') Article X - Records, Reports and Audit Rights
			tr
				td
					a(href='#article-xi-contract-administrative-contacts') Article XI - Contract Administrative Contacts
			tr
				td
					a(href='#article-xii-assignment') Article XII - Assignment
			tr
				td
					a(href='#article-xiii-confidentiality') Article XIII - Confidentiality
			tr
				td
					a(href='#article-xiv-warranties') Article XIV - Warranties
			tr
				td
					a(href='#article-xv-indemnities') Article XV - Indemnities
			tr
				td
					a(href='#article-xvi-limitations') Article XVI - Limitations
			tr
				td
					a(href='#article-xvii-terms-of-agreements') Article XVII - Terms of Agreements
			tr
				td
					a(href='#article-xviii-termination') Article XVIII - Termination
			tr
				td
					a(href='#article-xix-effect-of-termination') Article XIX - Effect of Termination
			tr
				td
					a(href='#article-xx-general-provisions') Article XX - General Provisions
			tr
				td
					a(href='#appendix-a') Appendix A
			tr
				td
					a(href='#appendix-b') Appendix B