include ../../shared-mixins/globals.jade
include globals.jade

- var articles        = '/static/html/articles'
- var getting_started = '/static/html/getting-started'
- var home            = '/static/html/home'
- var landing_pages   = '/static/html/landing-pages'
- var help            = '/help'
- var user            = '/user'

mixin links-navbar__landing-page
	ul
		li
			a#nav-about(href='/guest/about.html') About
		li
			a#nav-features(href='/guest/features.html') Features
		li
			a#nav-help(href='/help/index.html') Docs
		li
			a#nav-sign-up(href='/guest/sign-up.html') Sign Up
		li
			a#nav-login(href='/guest/login.html') Login

mixin links-navbar__home
	ul
		li
			a#nav-user-main(href='/user/main.html')
				+search-link
		li
			a#nav-user-guidance(href='/show/')
				+navigate-link
		li
			a#nav-user-help(href='/help/index.html')
				+help-link
		li
			a#nav-user-logout(href='/user/logout')
				+logout-link

mixin terms-and-conditions-links
	.bg#help-nav
		h3 Terms & Conditions
		table.nav
			tr
				td
					a(href='#article-i-definitions') Article I - Definitions
			tr
				td
					a(href='#article-ii-deliverables') Article II - Deliverables
			tr
				td
					a(href='#article-iii-license-grant') Article III - License Grant
			tr
				td
					a(href='#article-iv-ownership-of-intellectual-property') Article IV - Ownership of Intellectual Property
			tr
				td
					a(href='#article-v-trademarks') Article V - Trademarks
			tr
				td
					a(href='#article-vi-support') Article VI - Support
			tr
				td
					a(href='#article-vii-fees-royalties-and-payments') Article VII - Fees, Royalties and Payments
			tr
				td
					a(href='#article-viii-records-reports-and-audit-rights') Article VIII - Records, Reports and Audit Rights
			tr
				td
					a(href='#article-ix-license-administrative-contacts') Article IX - License Administrative Contacts
			tr
				td
					a(href='#article-x-assignment') Article X - Assignment
			tr
				td
					a(href='#article-xi-confidentiality') Article XI - Confidentiality
			tr
				td
					a(href='#article-xii-warranties') Article XII - Warranties
			tr
				td
					a(href='#article-xiii-indemnities') Article XIII - Indemnities
			tr
				td
					a(href='#article-xiv-limitations') Article XIV - Limitations
			tr
				td
					a(href='#article-xv-term-of-agreement') Article XV - Term of Agreement
			tr
				td
					a(href='#article-xvi-termination') Article XVI - Termination
			tr
				td
					a(href='#article-xvii-effect-of-termination') Article XVII - Effect of Termination
			tr
				td
					a(href='#article-xviii-general-provisions') Article XVIII - General Provisions
