include ../../shared-mixins/globals.jade

mixin team-mentor-summary
  #summary.bg.content
    include:md ../../content/getting-started/login-wall-summary.md
    table
      tr
        td
          .lp-icons.fix-vulnerabilities
        td
          include:md ../../content/getting-started/summary-point-1.md
      tr
        td
          .lp-icons.reduce-vulnerabilities
        td
          include:md ../../content/getting-started/summary-point-2.md
      tr
        td
          .lp-icons.improve-process
        td
          include:md ../../content/getting-started/summary-point-3.md

mixin login-form
  form#login-form(role='form' method='post' action='/user/login')
    h4 Login
    .form-group
      +username-input
    .form-group
      +password-input
    .form-group
      .row
        .col-5
          +login-button
        .col-7
          a#link-forgot-pwd.minor(href='/guest/pwd-forgot.html') Forgot your password?

//- sign-up-form
mixin sign-up-form
  form#sign-up-form(role='form', method='POST', action='/user/sign-up')
    h4 Sign Up
    .form-group
      +username-input
      include:md ../../content/getting-started/username-prompt.md
    .form-group
      +email-input
      include:md ../../content/getting-started/email-prompt.md
    .form-group
      +password-input
      include:md ../../content/getting-started/password-prompt.md
    .form-group
      +confirm-password-input
    include:md ../../content/getting-started/agree-to-toc.md
    .row
      .col-5
        +sign-up-button


//- forgot-password-form
mixin forgot-password-form
  form#forgot-password(role='form', action='/user/pwd_reset' method='post')
    h4 Retrieve your password
    .form-group
      +email-input
    .row
      .col-7
        +get-password-button

//- pwd-reset-form
mixin pwd-reset-form
  form#pwd-reset-form(role='form' method='post')
    h4 Reset your password
    .form-group
      +password-input
      include:md ../../content/getting-started/password-prompt.md
    .form-group
      +confirm-password-input
    .row
      .col-5
        +reset-password-button

//- Alerts
mixin alert-login-failed
  if viewModel && viewModel.errorMessage
    .alert.alert-bad(role='alert')
      #message
        span.alert-icon !
        span.alert-text= 'Error: ' + viewModel.errorMessage

mixin alert-please-login
  .alert.alert-bad(role='alert')
    #message
      span.alert-icon !
      span.alert-text You need to login to see that page.

mixin alert-pwd-sent
  .alert.alert-ok(role='alert')
    #message
      span.alert-icon !
      span.alert-text If you entered a valid address, then a password reset link has been sent to your email address.

mixin alert-sign-up-failed
  if viewModel && viewModel.errorMessage
    .alert.alert-bad(role='alert')
      #message
        span.alert-icon !
        span.alert-text= 'Error: ' + viewModel.errorMessage

mixin alert-sign-up-OK
  .alert.alert-ok(role='alert')
    #message
      span.alert-icon !
      span.alert-text Thanks for signing up to TEAM Mentor. Please login to access our libraries.

mixin alert-pwd-reset-failed
 if errorMessage
   .alert.alert-bad(role='alert')
     #message
      span.alert-icon !
      span.alert-text= 'Error: ' + errorMessage

mixin alert-pwd-reset-OK
  .alert.alert-ok(role='alert')
    #message
      span.alert-icon !
      span.alert-text Your password has been updated. Please login to access our libraries.

mixin alert-3-5-unavailable
  if viewModel && viewModel.errorMessage
    .alert.alert-bad(role='alert')
      #message
        span.alert-icon !
        span.alert-text= 'Error: ' + viewModel.errorMessage
          +tm-support-email