extends ../_layouts/page_home.jade

block content
	#application.lge-container
		.row
			.column-3.lge-container
				.div(data-spay="affix", data-offset-top="60", data-offset-bottom="200")
					h4.grey About Us
					ul.sidebar
						li Who are we?
						li History
						li Mission Statement
						li Strategy
						li Vision
					h4.grey Our Visual Identity
					ul.sidebar
						li Logo
						li Dos and Don'ts
						li Colours
						li Typography
						li Pictures
						li Lingo
					h4.grey Usage Examples
					ul.sidebar
						li Web
						li Advertising
						li Group Communication
						li PR
						li Consumer Communication
					h4.grey General
					ul.sidebar
						li FAQ
						li Team

			.column-6
				h2.grey TEAM Mentor Style Guide
				br

				p Welcome to the TEAM Mentor style guide. This is a set of standards to help provide uniformity with style, formatting, tone of voice and various other facets of the TEAM Mentor brand.

				#about-us
					h3.dark-grey About Us

					#who-are-we
						h4.dark-grey Who are we?

						p Security Innovation is comprised of application security trailblazers - one of the first companies to focus solely on this critical aspect of Product & IT Security. Professionals so good at what we do, we’re confident we can solve your hardest security problems. People so passionate about what we do, we get a rush knowing that we've made a direct impact on each and every client we work with.

						p We are a team of world-class engineers, developers, testers, security analysts, and business thinkers who collectively address business issues with technical solutions. Our work spans seamlessly across industries, platforms and technologies. It is creative and elegant, simple and intelligent. Security Innovation pledges to never deliver low-value solutions or settle for mediocrity - your business is too important for that.
						br

					#history
						h4.dark-grey History

					#mission-statement
						h4.dark-grey Mission

						p Our mission is to work tirelessly on your behalf to deliver security solutions that match your business objectives and align with your risk tolerance.
						br

					#strategy
						h4.dark-grey Strategy

						p We will build on our brand values:

						p
							ul
								li Great value;
								li For the many, not the few;
								li Relentless innovation;
								li Keep it simple;
								li Making a difference in people's lives
								li Honest, open, caring, fun.
						br

					#vision
						h4.dark-grey Vision

				br
				hr
				br

				#visual-identity
					h3.dark-grey Visual Identity

					p Our visual identity is an essential part of the TEAM Mentor Brand Licence and is cast in stone. Stick to the guidelines to present a uniform image to the world and create a strong brand.
					br

					#logo
						h4.dark-grey Logo

						p Our logo is at the heart of all communication aimed at our users. 

						p Displays

						br
						h5.dark-grey Written Style

						p In body text, TEAM Mentor should always appear in Helvetica (no bold, italics, outline or underline) with the word "team" in uppercase followed (with a space) by the word "mentor", only the initial letter of which is capitalised.

						br
						h5.dark-grey Minimum Size

						p The logo should always be clearly legible.
						

					#dos-and-donts
						h4.dark-grey Dos and Don'ts

					#colours
						h4.dark-grey Colours

					#typography
						h4.dark-grey Typography

					#pictures
						h4.dark-grey Pictures

					#lingo
						h4.dark-grey Lingo

				br
				hr
				br

				#usage-examples
					h3.dark-grey Usage Examples

					#web
						h4.dark-grey Web

					#advertising
						h4.dark-grey Advertising

					#group-communication
						h4.dark-grey Group Communication

					#pr
						h4.dark-grey PR

					#consumer-communication
						h4.dark-grey Consumer Communication

				br
				hr
				br

				#general
					h3.dark-grey General

					#faq
						h4.dark-grey Frequently Asked Questions

					#team
						h4.dark-grey Team