extends ../_layouts/page_home.jade
include mixins/style-guide-mixins.jade
include ../../content/mixins/style-guide-mixins.jade

block content
	#application
		.row
			.col-3#left-nav
				.lge-container
					+jade-style-guide-links
				// lge-container
			// column
			.col-6#results
				.lge-container
					+introduction
					+horizontal-rule
					+style-guide-about-us
					+horizontal-rule
					+style-guide-visual-identity
					br
					br
				// lge-container
			// column
			.col-3#right-nav
				.lge-container
					br
				// lge-container
			// column
		// row
	// application