extends ../_layouts/page_home.jade

block content
	#application.lge-container
		.row
			.column-3.lge-container
				.div(data-spay="affix", data-offset-top="60", data-offset-bottom="200")
					h4.grey About Us
					ul.sidebar
						li Who are we?
						li History
						li Mission Statement
						li Strategy
						li Vision
					h4.grey Our Visual Identity
					ul.sidebar
						li Logo
						li Dos and Don'ts
						li Colours
						li Typography
						li Pictures
						li Lingo
					h4.grey Usage Examples
					ul.sidebar
						li Web
						li Advertising
						li Group Communication
						li PR
						li Consumer Communication
					h4.grey General
					ul.sidebar
						li FAQ
						li Team

			.column-6
				h2.grey TEAM Mentor Style Guide
				br

				p This is a set of standards to help provide uniformity with style, formatting, tone of voice and various other facets of the TEAM Mentor brand.

				br
				hr
				br

				#aboutus
					h3.dark-grey About Us
					br

					#who-are-we
						h4.dark-grey Who are we?

						p Security Innovation is comprised of application security trailblazers - one of the first companies to focus solely on this critical aspect of Product & IT Security. Professionals so good at what we do, we’re confident we can solve your hardest security problems. People so passionate about what we do, we get a rush knowing that we've made a direct impact on each and every client we work with.

						p We are a team of world-class engineers, developers, testers, security analysts, and business thinkers who collectively address business issues with technical solutions. Our work spans seamlessly across industries, platforms and technologies. It is creative and elegant, simple and intelligent. Security Innovation pledges to never deliver low-value solutions or settle for mediocrity - your business is too important for that.
						br

					#history
						h4.dark-grey History
						br

					#mission-statement
						h4.dark-grey Mission

						p Our mission is to work tirelessly on your behalf to deliver security solutions that match your business objectives and align with your risk tolerance.
						br

					#strategy
						h4.dark-grey Strategy

						p We will build on our brand values:

						p
							ul
								li Great value;
								li For the many, not the few;
								li Relentless innovation;
								li Keep it simple;
								li Making a difference in people's lives
								li Honest, open, caring, fun.
						br

					#vision
						h4.dark-grey Vision
						br

				br
				hr
				br

				#visual-identity
					h3.dark-grey Visual Identity

					p Our visual identity is an essential part of the TEAM Mentor Brand Licence and is cast in stone. Stick to the guidelines to present a uniform image to the world and create a strong brand.
					br

					#logo
						h4.dark-grey Logo

						p Our logo is at the heart of all communication aimed at our users. 

						br
						.text-center
							+image-teammentor-logo__default 
						br


						br
						h5.dark-grey Written Style

						p In body text, TEAM Mentor should always appear in Helvetica (no bold, italics, outline or underline) with the word "team" in uppercase followed (with a space) by the word "mentor", only the initial letter of which is capitalised.

						br
						h5.dark-grey Minimum Size

						p The logo should always be clearly legible.
						br
						

					#dos-and-donts
						h4.dark-grey Dos and Don'ts

						p A demonstration below of correct and incorrect renderings of TEAM Mentor. Whilst it doesn't cover every possible variation, you will be able to formulate an fairly good understanding of what is acceptable and what isn't using this guide.

						.row.text-center
							.column-offset-2.column-4
								br
								h5.green Correct
								p TEAM Mentor
								p TEAM Mentor
								p TEAM Mentor
								p TEAM Mentor
								p teammentor.net
								p teammentor.net
								p.green TEAM Mentor
							.column-4
								br
								h5.green Incorrect
								p Team Mentor
								p TEAMMentor
								p TEAMMENTOR
								p TEAM MENTOR
								p TEAMMentor.net
								p TEAM Mentor.net
								p.dark-green TEAM Mentor
						br

					#colours
						h4.dark-grey Colours

						p Green is our distinguishing colour - it's an essential part of our brand identity. We use other colours too, which you can see below.

						br
						br
						.row.text-center
							.column-2
								#white.long
								#description
									h5 White
									p #FFFFFF
							.column-2
								#green.long
								#description
									h5 Green
									p #8AAF3E
							.column-2
								#dark-green.long
								#description
									h5 Dark Green
									p #49661F
							.column-2
								#grey.long
								#description
									h5 Grey
									p #AAAAAA
							.column-2
								#dark-grey.long
								#description
									h5 Dark Grey
									p #444444
							.column-2
								#black.long
								#description
									h5 Black
									p #000000

						br
						br

						h5.dark-grey How to use our colours
						br
						br

						.row
							.column-offset-1.column-1
								br
								#white.short
							.column-offset-1.column-9
								p White should only be used a background colour or font colour in places where there are colours or images as backgrounds (eg. Landing Page).
						br
						.row
							.column-offset-1.column-1
								#green.short
							.column-offset-1.column-9
								p The brand colour should be used for the company name and for action links (save, login, start your free trial etc.) as well as icons.
						br
						.row
							.column-offset-1.column-1
								br
								#dark-green.short
							.column-offset-1.column-9
								p The dark green should be used for anything that is active or on hover, but only when it starts in the TM green. This colour is very heavy, so it is never used as a headline or link colour.
						br
						.row
							.column-offset-1.column-1
								br
								#grey.short
							.column-offset-1.column-9
								p The light grey should be used as the lead colour for the opening headline on a page. An article title, filters headline, navigate options, user settings etc. The first thing that users read will be in this colour.
						br
						.row
							.column-offset-1.column-1
								br
								#dark-grey.short
							.column-offset-1.column-9
								p The dark grey is the main colour in the application. Body copy, article sub-headlines, related article headlines, options (filters), inputs and forms etc all use this colour.
						br
						.row
							.column-offset-1.column-1
								br
								#black.short
							.column-offset-1.column-9
								p Black is used very sparingly as it’s harsh on a straight white background. Only use it for real emphasis and always try to use the dark grey first.

						br
						br

					#typography
						h4.dark-grey Typography

						br
						br
						
						.div.text-center
							h1.green.text-center Aa
							h5.dark-grey Bold
							p Helvetica
							br
							p.strong A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
							p.strong a b c d e f g h i j k l m n o p q r s t u v w x y z
							p Used for headlines, buttons and links.

						br
						br
						.div.text-center
							h1.green.normal.text-center Aa
							h5.dark-grey Regular
							p Helvetica
							p A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
							p a b c d e f g h i j k l m n o p q r s t u v w x y z
							p Used for body copy.

						br
						br

						h5.dark-grey How to use our typefaces
						br
						br

						.div.text-center
							h1 This is our H1.
							p It should only be used for calls to action and unique selling propositions on the landing page.

							br
							h2 This is our H2.
							p It should only be used for landing page headlines - for example, ‘Our clients love us (and we think you will too!’).

							br
							h3 This is our H3.
							p It should only be used for article titles.

							br
							h4 This is our H4.
							p It should only be used for convincing points of sale (specifically on the landing page) and sub-headings in articles.

							br
							h5 This is our H5.
							p It should only be used for filter headings and article headlines (within the application only).

							br
							h5.action.green This is our ACTION TEXT.
							p It’s saved for specific links that are actionable by the user - for example, links to new pages and buttons. It must always be the TEAMMentor green. 
							p Action text should always be capitalised.

						br
						br

					#pictures
						h4.dark-grey Pictures

						p The pictures we use show the attributes we believe TEAM Mentor possesses and are cropped for maximum effect.

						br
						h5.dark-grey The attributes

						p Professional and effective.

						br
						br

						img.img-responsive(src='../../assets/stock-img/bgthree.jpg')
						img.img-responsive(src='../../assets/stock-img/bgtwo.jpg')
						img.img-responsive(src='../../assets/stock-img/bgone.jpg')

					br
					br
					#lingo
						h4.dark-grey Lingo

				br
				hr
				br

				#usage-examples
					h3.dark-grey Usage Examples

					#web
						h4.dark-grey Web

					#advertising
						h4.dark-grey Advertising

					#group-communication
						h4.dark-grey Group Communication

					#pr
						h4.dark-grey PR

					#consumer-communication
						h4.dark-grey Consumer Communication

				br
				hr
				br

				#general
					h3.dark-grey General

					#faq
						h4.dark-grey Frequently Asked Questions

					#team
						h4.dark-grey Team