doctype html
html(lang='en')
    include ../layouts/head.jade
    body 
        include ../layouts/fixed_navbar.jade
    
    #application
      div(class="row")
        div(class="lge-container")
          div(class="col-sm-3")
          div(class="col-sm-6")
            div(class="row")
              div(class="col-lg-12")
                h3(class="light-grey") TEAM Mentor 4.0 Design
                br
                p This is a staging site for the TEAM Mentor 4.0 design.
                br
                hr
                br
                h4(class="grey") Current pages:
                div(class="list-group")
                  a.list-group-item(href='app-keyword-search.html'                                       ) (OK) app-keyword-search.html
                  a.list-group-item(href='article-new-window-view.html'                                  ) (OK) article-new-window-view.html
                  a.list-group-item(href='filters-active.html'                                           ) (OK) filters-active.html
                  a.list-group-item(href='forgot-password-completed.html'                                ) (OK) forgot-password-completed.html
                  a.list-group-item(href='fundamentals-of-security.html'                                 ) (OK) fundamentals-of-security.html
                  a.list-group-item(href='getting-started-new-user-validation.html'                      ) (OK) getting-started-new-user-validation.html
                  a.list-group-item(href='getting-started-returning-user-forgot-password.html'           ) (OK) getting-started-returning-user-forgot-password.html
                  a.list-group-item(href='getting-started-returning-user-validation.html'                ) (OK) getting-started-returning-user-validation.html
                  a.list-group-item(href='getting-started.html'                                          ) (OK) getting-started.html
                  a.list-group-item(href='help.html'                                                     ) (ADDED) help.html
                  a.list-group-item(href='landing-page-index.html'                                       ) (OK) landing-page-index.html
                  a.list-group-item(href='landing-page-about.html'                                       ) (OK) landing-page-about.html
                  a.list-group-item(href='landing-page-features.html'                                    ) (OK) landing-page-features.html
                  a.list-group-item(href='main-app-view.html'                                            ) (OK) main-app-view.html
                  a.list-group-item(href='my-articles-edit.html'                              ) (NOT DONE) my-articles-edit.html
                  a.list-group-item(href='teammentor/my-articles.html'                                   ) (NOT DONE) my-articles.html
                  a.list-group-item(href='teammentor/navigate.html'                                      ) (NOT DONE) navigate.html
                  a.list-group-item(href='teammentor/owasp.html'                                         ) (NOT DONE) owasp.html
                  a.list-group-item(href='teammentor/principles-standards.html'                          ) (NOT DONE) principles-standards.html
                  a.list-group-item(href='teammentor/returning-user-forgot-password.html'                ) (NOT DONE) returning-user-forgot-password.html
                  a.list-group-item(href='teammentor/returning-user-login.html'                          ) (NOT DONE) returning-user-login.html
                  a.list-group-item(href='teammentor/returning-user-validation.html'                     ) (NOT DONE) returning-user-validation.html
                  a.list-group-item(href='user.html'                                                     ) (ADDED) user.html
                br
                hr
                br
                h4(class="grey") Git repo:
                p Git repo with source files (auto synced with this Azure site)
                br
                div(class="list-group")
                  a.list-group-item(href='https://github.com/TeamMentor/TM_4_0_Design'                   ) https://github.com/TeamMentor/TM_4_0_Design
                br
                br
                br
                br
                br
          div(class="col-sm-3")
