doctype html
html(lang='en')
  include ../layouts/head.jade
  body 
    include ../layouts/navbar_not_logged_in.jade
    
    #application.container
      .row
        .col-md-6
          h3.light-grey Sign Up
          p
            | Complete this form and get access to the worlds largest repository of secure software development knowledge.
          br
          form#sign-up-form(role='form')
            .form-group
              label(for='new-user-username') Username
              input#new-user-username.form-control(type='username', placeholder='Username')
            .form-group
              label(for='new-user-password') Password
              input#new-user-password.form-control(type='password', placeholder='Password')
            .form-group
              label(for='new-user-confirm-password') Confirm Password
              input#new-user-confirm-password.form-control(type='password', placeholder='Confirm Password')
            .form-group
              label(for='new-user-email') Email Address
              input#new-user-email.form-control(type='email', placeholder='Email Address')
            button.btn-action.btn-submit.btn-block(type='submit') Submit
          br
          br
        .col-md-6
          h3.light-grey Forgot your password?
          p
            | Too easy - just type in your email address and we'll send you an email with further instructions.
          br
          form#forgot-password(role='form', action='forgot-password-completed.html')
            .form-group
              label(for='email') Email Address
              input#email.form-control(type='email', placeholder='Email Address')
            .row
              .col-md-6
                button.btn-action.btn-submit.btn-block(type='submit') Get your password
          br
          br
