doctype html
html(lang='en')
  include ../layouts/head.jade
  body 
    include ../layouts/navbar_landing.jade    
      
    #about
      .container
        h1
          | TEAM Mentor is an 
          b.green interactive 
          | Application Security library with 
          b.green thousands 
          | of articles on how to 
          b.green
            | prevent vulnerabilities 
          | during application development.
    #about-us
      .container
        h2.text-center.light-grey Use TEAM Mentor to
        .row
          .col-sm-offset-1.col-sm-2
            img.img-responsive(src='/teammentor/img/identifyfix.svg', alt='Find guidance for implementing the application security controls')
          .col-sm-8
            br
            br
            h4
              | Find guidance for implementing the application security controls that are relevant to your particular application in your development language.
        .row
          .col-sm-offset-1.col-sm-2
            img.img-responsive(src='/teammentor/img/gainaccess.svg', alt='Team Mentor identifies vulnerabilities and reduces time to fix them')
          .col-sm-8
            br
            br
            h4
              | Gain quick and easy access to comprehensive security guidance that is accurate and relevant to specific code security questions.
        .row
          .col-sm-offset-1.col-sm-2
            img.img-responsive(src='/teammentor/img/integrate.svg', alt='Improve your development workflow by integrating security scanning and guidance')
          .col-sm-8
            br
            br
            h4
              | Improve your development workflow by integrating security scanning and guidance, resulting in quicker production of more secure and stable applications.
    #calltoaction
      .container
        h1 Fix Faster. Fix Better.
        br
        br
        a(href='getting-started.html')
          button.btn.btn-landing-page(type='button') See for yourself
 