doctype html
html(lang='en')
  include ../layouts/head.jade
  body 
    include ../layouts/fixed_navbar.jade
    
    #application
      .row
        .lge-container
          .col-sm-3
            a(href='principles-standards.html')
              h4.light-grey Attacks & Vulnerabilities
            a(href='principles-standards.html')
              h4.light-grey Principals & Standards
            a(href='my-articles.html')
              h4.light-grey My Articles
            a(href='my-articles.html')
              h4.light-grey My Search Items
          .col-sm-9