doctype html
html(lang='en')
    include ../layouts/head.jade
    body 
        include ../layouts/fixed_navbar.jade        
        
        #application
          .row
            .col-md-offset-3.col-md-6
              .row.text-center
              	.col-sm-3
              		a.action(href='user.html') User
              	.col-sm-3
              		a.action(href='backend.html') Backend
              	.col-sm-3
              		a.action(href='developerutilities.html') Developer Utilities
              	.col-sm-3
              		a.action(href='other.html') Other

              br
              br

              .row
              	.col-sm-9
              		h4.light-grey Personal Details

                	form(role='form', action='user.html')
                    .form-group
                      label(for='user-current-password') Current Password
                      input.form-control(type='user-current-password', id='user-current-password', placeholder='Current Password')

                    .form-group
                      label(for='user-new-password') New Password
                      input.form-control(type='user-new-password', id='user-new-password', placeholder='New Password')

                    .form-group
                      label(for='user-confirm-new-password') Confirm New Password
                      input.form-control(type='user-confirm-new-password', id='user-confirm-new-password', placeholder='Confirm New Password')

                    .row
                      button.btn-action.btn-block(type='submit')
                        | Save
                        span.glyphicon.glyphicon-ok.glyphicon-small
