.black {
  padding-top: 20px;
  background-color: #000000;
}

.green {
  color: #8aaf3e;
}

.dark-green {
  color: #49661f;
}

.icons-green {
  color: #8aaf3e;
  font-size: 60px;
  margin: 0 auto;
}

#white {
  width: 100%;
  margin-right: 15px;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#green {
  width: 100%;
  margin-right: 15px;
  background-color: #8aaf3e;
}

#dark-green {
  width: 100%;
  margin-right: 15px;
  background-color: #49661f;
}

#grey {
  width: 100%;
  margin-right: 15px;
  background-color: #aaaaaa;
}

#dark-grey {
  width: 100%;
  margin-right: 15px;
  background-color: #444444;
}

#black {
  width: 100%;
  margin-right: 15px;
  background-color: #000000;
}

@media (min-width: 768px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    float: left;
  }

  .col-12 {
    width: 100%;
  }

  .col-11 {
    width: 91.66666667%;
  }

  .col-10 {
    width: 83.33333333%;
  }

  .col-9 {
    width: 75%;
  }

  .col-8 {
    width: 66.66666667%;
  }

  .col-7 {
    width: 58.33333333%;
  }

  .col-6 {
    width: 50%;
  }

  .col-5 {
    width: 41.66666667%;
  }

  .col-4 {
    width: 33.33333333%;
  }

  .col-3 {
    width: 25%;
  }

  .col-2 {
    width: 16.66666667%;
  }

  .col-1 {
    width: 8.33333333%;
  }

  .col-offset-12 {
    margin-left: 100%;
  }

  .col-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-offset-9 {
    margin-left: 75%;
  }

  .col-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-offset-6 {
    margin-left: 50%;
  }

  .col-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-offset-3 {
    margin-left: 25%;
  }

  .col-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-offset-0 {
    margin-left: 0;
  }
}
.row {
  max-width: 100%;
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after {
  display: table;
  content: " ";
}

.clearfix:after,
.container:after,
.row:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after {
  clear: both;
}

html {
  font: 100% Helvetica, sans-serif;
}

body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background: #FFFFFF;
}

#about {
  background: url(../../deploy/assets/images/bg-img.jpg);
  background-position: 0px 0px;
}

#about, #usp {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 80px;
  background-color: #8aaf3e;
  text-align: center;
}
#about h1, #usp h1 {
  color: #FFFFFF;
}

#about-us {
  padding: 40px 0 40px 0;
}

#application {
  width: 100%;
  height: 100%;
}

#box {
  width: 75%;
  margin: 30px auto 30px auto !important;
  border: 1px solid #8aaf3e;
  padding: 7px 40px 10px 40px;
}
#box h4 {
  color: #8aaf3e !important;
}

#call-to-action {
  padding: 100px 0 110px 0;
  background: url(../../deploy/assets//images/bgtwo.jpg);
  background-color: #49661f;
  text-align: center;
  width: 100%;
}
#call-to-action h1 {
  color: #FFFFFF;
}

#clients {
  width: 100%;
  padding: 40px 0 80px 0;
  text-align: center;
}

.collapse {
  margin-bottom: -50px;
}

#copyright {
  width: 100%;
  padding-bottom: 30px;
}
#copyright p, #copyright a {
  font-size: 12px;
  text-align: center;
  font-weight: normal;
  letter-spacing: 0px;
}
#copyright a {
  text-transform: none !important;
  text-decoration: underline;
}

#description {
  width: 100%;
  margin-right: 15px;
  padding: 5px 0 5px 0;
  background-color: #ececec;
  text-align: center;
}

#details {
  background: #8aaf3e;
}

#features {
  width: 100%;
  padding-bottom: 50px;
}
#features h2 {
  text-align: center;
}
#features i {
  font-size: 60px;
  color: #8aaf3e;
  margin: 0 auto;
}

#footer {
  width: 100%;
  padding: 10px 0 10px 0;
  text-align: center;
}
#footer a {
  color: #444444;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
}

#instructions {
  background: #FFFFFF;
  border: 1px solid #8aaf3e;
  padding: 0 20px 25px 20px;
}

#reasons {
  width: 100%;
  padding-top: 70px;
}
#reasons h2, #reasons i {
  text-align: center;
}
#reasons i {
  font-size: 60px;
  color: #8aaf3e;
  margin: 0 auto;
}

#usp {
  background: url(../../deploy/assets//images/bgone.jpg);
}

#usp button, #call-to-action button {
  padding: 20px 0 20px 0;
  background-color: #FFFFFF;
  border: none;
}
#usp button:hover, #usp button:active, #call-to-action button:hover, #call-to-action button:active {
  color: #FFFFFF !important;
  background-color: #8aaf3e;
}

.vertical-align {
  margin-top: 10px;
}

.lge-container {
  max-width: 96%;
  margin: 0 auto;
}

.right {
  float: right !important;
}

.left {
  float: left !important;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.long {
  height: 100px;
}

.short {
  height: 40px;
}

form, .form-group {
  margin-bottom: 15px;
  list-style-type: none;
}

label {
  display: inline-block;
  padding: 3px 0 0 0;
  margin-bottom: 5px;
  font-weight: bold;
  color: #444444;
}

.fixed {
  position: fixed;
  width: 100%;
  height: 60px;
  left: 0;
  top: 0;
  z-index: 99;
}

nav.top-bar {
  z-index: 100000;
  padding: 0;
  margin-bottom: 100px;
  background: #FFFFFF;
}
nav.top-bar ul.title-area {
  padding: 5px 0 0 5px;
  list-style-type: none;
  float: left;
}
nav.top-bar ul.menu-icon.right {
  padding: 5px 0 0 5px;
  float: right;
}
nav.top-bar .jade-icons {
  margin-top: 10px;
}
nav.top-bar section.top-bar-section {
  padding-left: 10%;
  float: left;
}
nav.top-bar section.top-bar-section li:not(.has-form) a:not(.button) {
  line-height: 50px;
}
nav.top-bar section.top-bar-section i {
  font-size: 16px;
}
nav.top-bar section.top-bar-section ul {
  padding-top: 5px;
  padding-left: 0;
  display: inline-block !important;
  list-style-type: none;
  background: none;
}
nav.top-bar section.top-bar-section ul li {
  display: inline-block;
  padding-right: 30px;
  text-align: center;
}
nav.top-bar section.top-bar-section ul li a, nav.top-bar section.top-bar-section ul li p {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 700;
  background: #FFFFFF;
  color: #8aaf3e !important;
  line-height: 0.5em;
}
nav.top-bar section.top-bar-section ul li a:hover, nav.top-bar section.top-bar-section ul li p:hover {
  color: #49661f;
}

#customer-navigation {
  background-color: #FFFFFF;
  width: 100%;
  height: 45px;
}
#customer-navigation ul {
  padding: 5px 0 0 25px;
}

#team-mentor-navigation {
  background-color: #FFFFFF;
  padding-left: 20px;
  width: 100%;
  height: 70px;
}
#team-mentor-navigation ul.menu-icon.right {
  margin: 20px 25px 0 0;
}
#team-mentor-navigation ul.menu-icon.right li {
  list-style-type: none;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  color: #aaaaaa;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  color: #aaaaaa;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  color: #aaaaaa;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5em;
  color: #444444;
}

h5 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
}

h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h4, h5, h6 {
  margin-top: 20px;
  margin-bottom: 5px;
}

p, li {
  font-size: 16px;
  line-height: 1.5em;
  color: #444444;
  orphans: 3;
  widows: 3;
}

ul, ol {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}
ul ul, ol ul {
  margin-bottom: 0;
}

code, pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

pre {
  display: block;
  padding: 20px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.5;
  color: #444444;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #ececec;
  border: 1px solid #aaaaaa;
  border-radius: 0px;
  margin: 30px 0 30px 0;
  overflow: auto;
}

.text-center {
  text-align: center;
  margin: 0 auto;
}

.normal {
  font-weight: normal;
}

.strong {
  font-weight: bold;
}

hr {
  margin: 0 auto;
  width: 70%;
  color: #ececec;
  margin-top: 40px;
  margin-bottom: 40px;
}

a {
  color: #444444;
  text-decoration: underline;
}
a:hover, a:active, a:focus {
  color: #49661f;
  text-decoration: underline;
}
a.action {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 700;
  color: #8aaf3e;
}
a.action:hover, a.action:focus, a.action:active {
  color: #49661f;
}

button, .button {
  font-size: 14px;
  background-color: #FFFFFF;
  color: #8aaf3e;
  width: 100% !important;
  text-transform: uppercase;
  letter-spacing: 1px;
}
button:hover, button:focus, .button:hover, .button:focus {
  background-color: #FFFFFF;
  color: #49661f !important;
  text-decoration: none;
}
button.postfix, .button.postfix {
  color: #8aaf3e !important;
  font-size: 16px;
  padding-top: 7px;
  border: 1px solid #aaaaaa;
  height: 3rem;
  border-left: none;
}
button.postfix:hover, .button.postfix:hover {
  color: #49661f !important;
  background: #FFFFFF;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
  width: 100% !important;
  background-color: #FFFFFF;
  font-family: inherit;
  border: 1px solid #aaaaaa;
  box-shadow: none;
  color: #444444;
  display: block;
  font-size: 16px;
  padding: 0.5rem;
  height: 3rem;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus {
  background: #FFFFFF;
  border-color: #8aaf3e;
  outline: medium none;
}

select {
  width: 100%;
  height: 3em;
  display: block;
  background-color: #FFFFFF;
  font-family: inherit;
  font-size: 16px;
  border: 1px solid #aaaaaa;
  box-shadow: none;
  color: #444444;
}

.input-group {
  display: table;
  float: left;
  width: 100%;
}
.input-group .form-control {
  display: table-cell;
  height: 53px;
}
.input-group .input-group-btn {
  display: table-cell;
  border-left: none !important;
  width: 100px;
  max-width: 100%;
  vertical-align: middle;
}

button {
  display: inline-block;
  padding: 15px 0 15px 0;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  background: #FFFFFF;
  border: 1px solid #8aaf3e;
  color: #8aaf3e;
}
button:hover, button:active {
  color: #49661f;
}

.badge {
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  color: #FFFFFF;
  background-color: #aaaaaa;
  text-align: center;
  border-radius: 10px;
}

.progress {
  height: 20px;
  background-color: #ececec;
  border-radius: 4px;
  box-shadow: none;
}

.progress-bar {
  height: 100%;
  color: #FFFFFF;
  background-color: #8aaf3e;
}

.list-group {
  height: 100%;
}
.list-group h5, .list-group p {
  margin-top: 0px;
  margin-bottom: 0px;
}
.list-group a {
  display: block;
  padding: 10px;
  margin-bottom: 5px;
  text-decoration: none;
}
.list-group a:hover {
  text-decoration: none;
  background-color: #ececec;
}
.list-group table {
  border-color: transparent;
}
.list-group span.badge {
  float: right;
}

.alert-box {
  padding: 15px;
  margin-bottom: 0px;
  background: #FFFFFF;
  color: #8aaf3e;
  border: none;
  font-size: inherit;
  font-weight: 700;
}

table {
  width: 100%;
  font-size: 16px;
  color: #444444;
}
table td {
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
}

.breadcrumbs {
  padding-left: 10px;
  background: #FFFFFF;
  border: none;
}
.breadcrumbs li {
  display: inline-block;
}
.breadcrumbs li.current a {
  color: #8aaf3e;
}
.breadcrumbs li a {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #aaaaaa;
}
.breadcrumbs li a:hover {
  color: #8aaf3e !important;
}
.breadcrumbs li:first-child:before {
  content: " ";
  margin: 0px;
}
.breadcrumbs li:before {
  content: "/";
  margin: 0 20px;
}
