body {
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
}

body > * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

nav {
  order: 1;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
}

#application {
  padding: 10px;
  order: 4;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
}

.left-nav {
  order: 5;
  -webkit-flex: 100%;
  overflow-y: auto;
}

.results {
  order: 7;
  -webkit-flex: 100%;
  overflow-y: auto;
}

.right-nav {
  order: 6;
  -webkit-flex: 100%;
  overflow-y: auto;
}

.logo {
  -webkit-order: 2;
  -webkit-flex: 80%;
  margin: 5px 0 0 10px;
}

.menu-icon {
  -webkit-order: 3;
  -webkit-flex: 10%;
  text-align: right;
  padding: 20px 0 0 20px;
}

.help-icon {
  padding: 20px 0 0 50px;
  -webkit-order: 3;
  -webkit-flex: 10%;
  text-align: right;
}

ul.links {
  margin: 0 auto;
  padding-top: 18px;
  -webkit-order: 4;
  -webkit-flex: 100%;
  text-align: center;
  list-style-type: none;
}

nav a {
  -webkit-flex: 100%;
  text-transform: uppercase;
  text-decoration: none;
  color: #8aaf3e;
  font-size: 20px;
  width: 100%;
}

nav a p {
  font-weight: 600;
  font-size: 14px;
  color: #8aaf3e;
  letter-spacing: 1px;
}

.center {
  margin: 0 auto;
  text-align: center;
}

#summary table {
  border: transparent;
}

#summary table tr.even, table tr.alt, table tr:nth-of-type(even) {
  background: #FFFFFF !important;
}


/* ===== == = === 20em (320px) === = == ===== */

@media only screen and (min-width : 20em) {
}

/* ===== == = === 30em (480px) === = == ===== */

@media only screen and (min-width : 30em) {
}

/* ===== == = === 37.5em (600px) === = == ===== */

@media only screen and (min-width: 37.5em) {
}

/* ===== == = === 48em (768px) === = == ===== */

@media only screen and (min-width : 48em) {
}

/* ===== == = === 56.25em (900px) === = == ===== */

@media only screen and (min-width : 56.25em) {
  nav {
    height: 10%;
    -webkit-flex: 100%;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
  }

  #application {
    height: 90%;
    -webkit-flex: 100%;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
  }

  .logo, .left-nav {
    -webkit-flex: 25%;
  }

  .results {
    order: 6;
    -webkit-flex: 50%;
  }

  .menu-icon, .help-icon {
    -webkit-order: 3;
    -webkit-flex: 25%;
    padding: 20px 20px 0 0;
  }

  .right-nav {
    -webkit-order: 7;
    -webkit-flex: 25%;
  }

  ul.links {
    -webkit-order: 2;
    -webkit-flex: 50%;
    flex-direction: row;
  }

  ul.links li {
    width: 20%;
    -webkit-flex-wrap: nowrap;
    display: inline-block;
  }
}

/* ===== == = === 68.75em (1100px) === = == ===== */

@media only screen and (min-width : 68.75em) {

}

/* ===== == = === 81.25em (1300px) === = == ===== */

@media only screen and (min-width : 81.25em) {
}

.list-group table tr td{
  padding: 0;
  font-size: 16px;
  height: auto;
}

.list-group table {
  margin-bottom: 0;
  background: transparent;
}


_________________________________



.black {
  padding-top: 20px;
  background-color: #000000;
}

.green {
  color: #8aaf3e;
}

.dark-green {
  color: #49661f;
}

.icons-green {
  color: #8aaf3e;
  font-size: 60px;
  margin: 0 auto;
}

#white {
  width: 100%;
  margin-right: 15px;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#green {
  width: 100%;
  margin-right: 15px;
  background-color: #8aaf3e;
}

#dark-green {
  width: 100%;
  margin-right: 15px;
  background-color: #49661f;
}

#grey {
  width: 100%;
  margin-right: 15px;
  background-color: #aaaaaa;
}

#dark-grey {
  width: 100%;
  margin-right: 15px;
  background-color: #444444;
}

#black {
  width: 100%;
  margin-right: 15px;
  background-color: #000000;
}

#loginwall dl.tabs dd {
  width: 50%;
  border: 1px solid #aaaaaa;
}
#loginwall dl.tabs .active {
  background: #ececec;
}
#loginwall .tabs-content {
  border: 1px solid #aaaaaa;
  border-top: none;
}

.accordion dd > a {
  background: #FFFFFF;
  color: #444444;
  font-weight: 700;
  text-decoration: none;
}
.accordion dd > a:hover {
  color: #49661f;
  background: #FFFFFF;
}
.accordion dd > a table {
  border-color: transparent;
}
.accordion dd > a table table tr:nth-of-type(even) {
  background-color: #FFFFFF;
}

dl.tabs dd.related-options-width {
  width: 50%;
}
dl.tabs dd a {
  font-size: 14px;
  text-align: center !important;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 700;
  background: #FFFFFF;
  color: #8aaf3e;
}
dl.tabs dd a:hover, dl.tabs dd a:active {
  color: #49661f !important;
  background: #FFFFFF;
}
