extends ../_layouts/flare_page
include ../mixins/articles-mixins

block content
  #application
    #left-column
      +left-navigation
    #content
      +flare-alert
      +article
      +related-options
      +copyright
    #right-column
      +filters-div