extends ../_layouts/flare_page
include ../home/mixins/application-mixins.jade

block content
	#application
		#left-nav
		// left-nav
		#results
			include:md ../content/teamMentor/error-pages/unavailable.md
		// results
		#right-nav
		// right-nav
	// application