include ../_mixins/images.jade
include ../_mixins/links.jade

.fixed
	nav.top-bar(role='navigation', data-topbar='')
		#team-mentor-navigation
			ul.title-area
				li.name
					+image-teammentor-logo__default
				// li-name
			// ul-title-area
			section.top-bar-section
				// Right Nav Section
				ul.right.jade-icons
					+links-navbar__home
				// ul-right
			// section
		// team-mentor-navigation
	// nav
// fixed