include ../_mixins/images.jade
include ../_mixins/links.jade

.fixed
	#team-mentor-navigation
		#title-area
			#tm-logo
		// title-area
		#links.icons
			+links-navbar__home
		// links
	// team-mentor-navigation
// fixed