include ../_mixins/images.jade
include ../_mixins/links.jade

.fixed
	#customer-navigation
		ul
			+image-securityinnovation-logo
	#team-mentor-navigation
		#title-area
			a(href='/user/main.html')
				#tm-logo
		// title-area
		#links.icons
			+links-navbar__home
		// links
	// team-mentor-navigation
// fixed