include ../_mixins/links.jade

.fixed
	#customer-navigation
		ul
			+image-securityinnovation-logo
	#team-mentor-navigation
		a(href='/user/main.html')
			#tm-logo
		#links.icons
			+links-navbar__home