include ../_mixins/links.jade

.fixed.landing-page
    if custom_Banner
        #team-mentor-navigation
            h1= custom_Banner

    #team-mentor-navigation
        a(href='/')
            #tm-logo
        #links
            +links-navbar__landing-page