include ../_mixins/links.jade

.fixed
    #customer-navigation
        #customer-logo
            img(src='../../../static/assets/clients/McKesson.jpg')
    #team-mentor-navigation
        a(href='/user/main.html')
            #tm-logo
        #links.icon-links
            +links-navbar__home
            ul#message
                li
                    +mail-icon
                    span Found an issue? Send us
                        =  ' '
                        a#tm-support-email(href="mailto:support@securityinnovation.com") an email
                        =  '.'