include ../_mixins/links
include ../_mixins/images

.fixed
	#team-mentor-navigation
		#title-area
			#tm-logo
		// title-area
		#links.text-links
			+links-navbar__landing-page
		// links
	// team-mentor-navigation
// fixed