include ../_mixins/links.jade

.fixed
    #team-mentor-navigation
        a(href='/user/main.html')
            #tm-logo
        #links.icons.poc
            +links-navbar__home
            ul#message
                li
                    i.fi-wrench
                    span Found an issue? Send our Dev team <a href="mailto:email@email.com">an email</a>.