include ../_mixins/links
include ../_mixins/images

.fixed
	#team-mentor-navigation
		#title-area
			+image-teammentor-logo__default
		// title-area
		#links
			+links-navbar__landing-page
		// links
	// team-mentor-navigation
// fixed