include ../_mixins/links.jade
include ../_mixins/images.jade

.fixed
	#team-mentor-navigation
		#not-logged-in
			+image-teammentor-logo__default
			+links-navbar__not_logged_in
		// links
	// team-mentor-navigation
// fixed