include ../_mixins/images.jade
include ../_mixins/links.jade

.fixed
	#team-mentor-navigation
		#title-area
			#tm-logo
		// title-area
		ul#links
			li
				a(/library/Uno)
					+navigate-icon
			li
				a(/user/main.html)
					+home-icon
			li
				a(/help/index.html)
					+help-icon
			li
				a(href='../user/user')
					+user-icon
			li
				a(/user/logout)
					+logout-icon
		// links
	// team-mentor-navigation
// fixed