extends ../content/_layouts/page_not_logged_in.jade

block content
	#application
		.row
			.col-3#left-nav
				.lge-container
					br
				// lge-container
			//column
			.col-6#results
				.lge-container
					h3 TEAM Mentor 4.0 Design
					p This is a staging site for the TEAM Mentor 4.0 design.

					+horizontal-rule

					h4 Current pages:
					+jade-all-pages-links

					+horizontal-rule

					p Git repo with source files (auto synced with this Azure site)
					+git-repo-link
					br
					br
				// lge-container
			// column
			.col-3#right-nav
				.lge-container
					br
				// lge-container
			// column
		// row
	//application
