extends _layouts/page_home.jade
block content    
    #application
      .row
        .column-offset-3.column-6
          h3.grey TEAM Mentor 4.0 Design
          p This is a staging site for the TEAM Mentor 4.0 design.
          br
          hr
          br
          h4.dark-grey Current pages:
          +all-pages-links
          br
          hr
          br
          h4.dark-grey Git repo:
          p Git repo with source files (auto synced with this Azure site)
          br
          +git-repo-link
          br
          br
          br
          br
          br
        .column-3
