include ../../shared-mixins/globals.jade

//- Flare Search Bar Input
mixin flare-search-bar-input
    #search-bar
        .row.collapse
            .small-1.columns
                a.button.postfix#navigate-button
                    i.fi-map
            .small-7.large-9.columns
                input#search(type='text', placeholder='Type keywords here')
            .small-4.large-2.columns
                a.button.postfix#search-button(href='app-keyword-search')
                    +search-icon
                a.button.postfix#filters-button(href='filters-div')
                    +filter-icon

//- Flare Results-Save-Clear
mixin flare-results-save-clear
    #results-save-clear
        .row
            .large-12.columns
                .row.collapse
                    .small-8.large-10.columns
                        h4.label 0/200 results showing
                    .small-4.large-2.columns
                        a.button.app(href='app-keyword-search-save')
                            +save-icon
                        a.button.app(href='main-app-view')
                            +clear-icon

//- Flare Main App View
mixin flare-main-app-view
    #articles
        dl.tabs(data-tab='data-tab')
            dd.active
                a(href='#recently-viewed-articles') Recently Viewed
            dd
                a(href='#popular-search-terms') Popular Searches
            dd
                a(href='#top-articles') Popular Articles
            dd
                a(href='#new-articles') New Articles
        .tabs-content
            #recently-viewed-articles.content.active
                +articles-list
            #popular-search-terms.content
                +search-results
            #top-articles.content
                +articles-list
            #new-articles.content
                +articles-list

//- Articles List
mixin articles-list
    #list-view-article.row
        .small-12.columns
            h3 Article Headline
        .small-12.medium-10.columns
            include:md ../../content/articles/article-details.md
        .small-12.medium-2.columns
            +article-controls
    #list-view-article.row
        .small-12.columns
            h3 Article Headline
        .small-12.medium-10.columns
            include:md ../../content/articles/article-details.md
        .small-12.medium-2.columns
            +article-controls
    #list-view-article.row
        .small-12.columns
            h3 Article Headline
        .small-12.medium-10.columns
            include:md ../../content/articles/article-details.md
        .small-12.medium-2.columns
            +article-controls

//- Articles List Control
mixin article-controls
    .row
        .small-4.medium-12.columns
            +open-icon
        .small-4.medium-12.columns
            +save-button
        .small-4.medium-12.columns
            +share-button

//- Search Results List
mixin search-results
    ul.side-nav
        li
            a(href='#')
                span.icon
                    +search-icon
                | Search Term Here
                span.badge #4
        li
            a(href='#')
                span.icon
                    +search-icon
                | Search Term Here
                span.badge #4

//- Flare Saved Articles List
mixin saved-articles-list
    #list-view-article.row
        .small-12.columns
            h3 Article Headline
        .small-12.medium-10.columns
            include:md ../../content/articles/article-details.md
        .small-12.medium-2.columns
            +article-controls
    #list-view-article.row
        .small-12.columns
            h3 Article Headline
        .small-12.medium-10.columns
            include:md ../../content/articles/article-details.md
        .small-12.medium-2.columns
            +article-controls
    #list-view-article.row
        .small-12.columns
            h3 Article Headline
        .small-12.medium-10.columns
            include:md ../../content/articles/article-details.md
        .small-12.medium-2.columns
            +article-controls

// Saved Article Menu
mixin saved-article-menu
    .row.text-center
        .small-12.large-4.columns
            a.button(href='article-new-window-view', target='_blank')
                +open-icon
        .small-12.large-4.columns
            a.button(href='../home/app-keyword-search-share')
                +share-icon
        .small-12.large-4.columns
            a.button(href='my-search-items')
                +clear-icon

//- Flare Filters Div
mixin flare-filters-div
    #filters
        dl.accordion(data-accordion='data-accordion')
            dd.accordion-navigation.active
                a(href='#and-filters')
                    i.fi-arrow-down.icon
                    | And filters
                #and-filters.content.active
                    table
                        tr
                            td
                                input#and-type1(type='checkbox', name='and-type', value='And Type 1')
                                label(for='and-type1') And Type 1
                            td
                                span.badge 14
                        tr
                            td
                                input#and-type2(type='checkbox', name='and-type', value='And Type 2')
                                label.checkbox(for='and-type2') And Type 2
                            td
                                span.badge 14
                        tr
                            td
                                input#and-type3(type='checkbox', name='and-type', value='And Type 3')
                                label.checkbox(for='and-type3') And Type 3
                            td
                                span.badge 14
            dd.accordion-navigation
                a(href='#or-filters')
                    i.fi-arrow-down.icon
                    | Or filters
                #or-filters.content.active
                    table
                        tr
                            td
                                input#or-type1(type='radio', name='or-type', value='Or Type 1')
                                label(for='or-type1') Or Type 1
                            td
                                span.badge 14
                        tr
                            td
                                input#or-type2(type='radio', name='or-type', value='Or Type 2')
                                label(for='or-type2') Or Type 2
                            td
                                span.badge 14
                        tr
                            td
                                input#or-type3(type='radio', name='or-type', value='Or Type 3')
                                label(for='or-type3') Or Type 3
                            td
                                span.badge 14

//- Flare Filters Active
mixin flare-filters-active
    #filters-active
        .row
            .small-12.medium-6.large-4.columns
                .alert-box.active(data-alert='')
                    | Filter Here
                    a.close(href='#') ×
            .small-12.medium-6.large-4.columns
                .alert-box.active(data-alert='')
                    | Filter Here
                    a.close(href='#') ×
            .small-12.medium-6.large-4.columns
                .alert-box.active(data-alert='')
                    | Filter Here
                    a.close(href='#') ×

// Save Div
mixin save-div
    #save
        .bg
            .row.collapse
                .small-10.columns
                    +save-input
                .small-2.columns
                    a.button.postfix#save-button(href='alert-application')
                        +save-icon

// Share Div
mixin share-div
    #share
        .bg
            .row.collapse
                .small-10.columns
                    +share-input
                .small-2.columns
                    a.button.postfix#share-button(href='alert-application')
                        +share-icon