//- Flare Search Bar Input
mixin search-bar
    #search
        a.button.btn-divs#navigate-button
            +index-icon
        .search-field
            input.search-input(type='text', placeholder='Type keywords here')
            a.button.btn-search#search-button(href='app-keyword-search')
                +search-icon
        a.button.btn-divs#filters-button(href='filters-div')
            +filters-icon

//- Flare Results-Save-Clear
mixin results-save-clear
    .label 0/200 results showing
    ul
        li
            +save-results-button
        li
            +clear-results-button

//- Flare Main App View
mixin start-view
    section.row
        #label
            .label Popular Search Terms
        #articles
            +search-term-list
    section.row
        #label
            .label Recently Viewed Articles
        #articles
            +articles-list
    section.row
        #label
            .label Top Articles
        #articles
            +articles-list

//- Articles List
mixin articles-list
    .container.article
        .metadata
            ul
                li
                    span.badge #1
                li #
                    // Technology Icon
                li #
                    // Phase Icon
                li #
                    // Type Icon
                li
                    +save-button
                li
                    +share-button
        .summary
            a(href='article-new-window-view')
                h3#article-headline Article Headline Article Headline Article Headline
            include:md ../../content/articles/article-details.md
    .container.article
        .metadata
            ul
                li
                    span.badge #1
                li #
                    // Technology Icon
                li #
                    // Phase Icon
                li #
                    // Type Icon
                li
                    +save-button
                li
                    +share-button
        .summary
            a(href='article-new-window-view')
                h3#article-headline Article Headline Article Headline Article Headline
            include:md ../../content/articles/article-details.md
    .container.article
        .metadata
            ul
                li
                    span.badge #1
                li #
                    // Technology Icon
                li #
                    // Phase Icon
                li #
                    // Type Icon
                li
                    +save-button
                li
                    +share-button
        .summary
            a(href='article-new-window-view')
                h3#article-headline Article Headline Article Headline Article Headline
            include:md ../../content/articles/article-details.md

mixin left-navigation
    ul.side-nav
        li
            +index-icon
            span.text Index
        li
            +article-icon
            span.text Saved Articles
        li
            +search-icon
            span.text Saved Searches

//- Search Results List
mixin search-term-list
    .container.search-term
        a(href='app-keyword-search')
            +search-icon
            span Search Term
    .container.search-term
        a(href='app-keyword-search')
            +search-icon
            span Search Term
    .container.search-term
        a(href='app-keyword-search')
            +search-icon
            span Search Term

//- Flare Filters Div
mixin filters-div
    ul.side-nav
        li
            +filters-icon
            span.text Filter by
    //#filters
        dl.accordion(data-accordion='data-accordion')
            dd.accordion-navigation.active
                a(href='#and-filters')
                    i.fi-arrow-down.icon
                    span And filters
                #and-filters.content.active
                    table
                        tr
                            td
                                input#and-type1(type='checkbox', name='and-type', value='And Type 1')
                                label(for='and-type1') And Type 1
                            td
                                span.badge 14
                        tr
                            td
                                input#and-type2(type='checkbox', name='and-type', value='And Type 2')
                                label.checkbox(for='and-type2') And Type 2
                            td
                                span.badge 14
                        tr
                            td
                                input#and-type3(type='checkbox', name='and-type', value='And Type 3')
                                label.checkbox(for='and-type3') And Type 3
                            td
                                span.badge 14
            dd.accordion-navigation
                a(href='#or-filters')
                    i.fi-arrow-down.icon
                    span Or filters
                #or-filters.content.active
                    table
                        tr
                            td
                                input#or-type1(type='radio', name='or-type', value='Or Type 1')
                                label(for='or-type1') Or Type 1
                            td
                                span.badge 14
                        tr
                            td
                                input#or-type2(type='radio', name='or-type', value='Or Type 2')
                                label(for='or-type2') Or Type 2
                            td
                                span.badge 14
                        tr
                            td
                                input#or-type3(type='radio', name='or-type', value='Or Type 3')
                                label(for='or-type3') Or Type 3
                            td
                                span.badge 14