include ../../shared-mixins/globals.jade

//- Flare Search Bar Input
mixin flare-search-bar-input
	#search-bar
		.row
			.large-12.columns
				.row.collapse
					.small-8.large-10.columns
						input#search(type='text', placeholder='Type keywords here')
					.small-4.large-2.columns
						a.button.postfix#search-button(href='app-keyword-search')
							+search-icon
						a.button.postfix#filters-button(href='filters-div')
							+filter-icon

//- Flare Results-Save-Clear
mixin flare-results-save-clear
	#results-save-clear
		.row
			.large-12.columns
				.row.collapse
					.small-8.large-10.columns
						h4 0/200 results showing
					.small-4.large-2.columns
						a.button.app(href='app-keyword-search')
							+save-icon
						a.button.app(href='filters-div')
							+clear-icon

//- Articles List
mixin flare-articles-list
	#articles
		dl.accordion(data-accordion='data-accordion')
			dd.accordion-navigation
				a(href='#panel1') Article Headline
				#panel1.content.active
					include:md ../../content/articles/article-details.md
					+flare-article-preview-menu
			dd.accordion-navigation
				a(href='#panel2') Article Headline
				#panel2.content
					include:md ../../content/articles/article-details.md
					+flare-article-preview-menu
			dd.accordion-navigation
				a(href='#panel3') Article Headline
				#panel3.content
					include:md ../../content/articles/article-details.md
					+flare-article-preview-menu

//- Flare Saved Articles List
mixin flare-saved-articles-list
	dl.accordion(data-accordion='data-accordion')
		dd.accordion-navigation
			a(href='#panel1') Article Headline
			#panel1.content
				include:md ../../content/articles/article-details.md
				+saved-article-menu
		dd.accordion-navigation
			a(href='#panel2') Article Headline
			#panel2.content
				include:md ../../content/articles/article-details.md
				+saved-article-menu
		dd.accordion-navigation
			a(href='#panel3') Article Headline
			#panel3.content
				include:md ../../content/articles/article-details.md
				+saved-article-menu

//- Article Preview Menu
mixin flare-article-preview-menu
	.row.text-center
		.small-12.large-4.columns
			a.action(href='article-new-window-view', target='_blank')
				+open-icon
		.small-12.large-4.columns
			a.action(href='app-keyword-search-save')
				+save-icon
		.small-12.large-4.columns
			a.action(href='app-keyword-search-share')
				+share-icon

// Saved Article Menu
mixin saved-article-menu
	.row.text-center
		.small-12.large-4.columns
			a.button(href='article-new-window-view', target='_blank')
				+open-icon
		.small-12.large-4.columns
			a.button(href='../home/app-keyword-search-share')
				+share-icon
		.small-12.large-4.columns
			a.button(href='my-search-items')
				+clear-icon

//- Flare Main App View
mixin flare-main-app-view
	#articles
		dl.tabs(data-tab='data-tab')
			dd.active
				a(href='#recently-viewed-articles') Recently Viewed Articles
			dd
				a(href='#popular-search-terms') Popular Search Terms
			dd
				a(href='#top-articles') Top Articles
			dd
				a(href='#new-articles') New Articles
		.tabs-content
			#recently-viewed-articles.content.active
				.row
					.small-12.columns
						h3 Article Headline
					.small-12.medium-10.columns
						include:md ../../content/articles/article-details.md
					.small-12.medium-2.columns
						.row
							.small-12.columns
								button.controls.dropdown(href='#', data-dropdown='article-open', aria-controls='drop1', aria-expanded='false') Open
								ul#article-open.f-dropdown.active(data-dropdown-content='', aria-hidden='true', tabindex='-1')
									li
										a(href='#') ASP.NET
									li
										a(href='#') Android
									li
										a(href='#') C++
									li
										a(href='#') HTML5
									li
										a(href='#') iOS
									li
										a(href='#') Java
									li
										a(href='#') PHP
									li
										a(href='#') Scala
							.small-12.columns
								button.controls Save
							.small-12.columns
								button.controls Share
				.row
					.small-12.columns
						h3 Article Headline
					.small-12.medium-10.columns
						include:md ../../content/articles/article-details.md
					.small-12.medium-2.columns
						.row
							.small-12.columns
								button.controls.dropdown(href='#', data-dropdown='article-open', aria-controls='drop1', aria-expanded='false') Open
								ul#article-open.f-dropdown.active(data-dropdown-content='', aria-hidden='true', tabindex='-1')
									li
										a(href='#') ASP.NET
									li
										a(href='#') Android
									li
										a(href='#') C++
									li
										a(href='#') HTML5
									li
										a(href='#') iOS
									li
										a(href='#') Java
									li
										a(href='#') PHP
									li
										a(href='#') Scala
							.small-12.columns
								button.controls Save
							.small-12.columns
								button.controls Share
				.row
					.small-12.columns
						h3 Article Headline
					.small-12.medium-10.columns
						include:md ../../content/articles/article-details.md
					.small-12.medium-2.columns
						.row
							.small-12.columns
								button.controls.dropdown(href='#', data-dropdown='article-open', aria-controls='drop1', aria-expanded='false') Open
								ul#article-open.f-dropdown.active(data-dropdown-content='', aria-hidden='true', tabindex='-1')
									li
										a(href='#') ASP.NET
									li
										a(href='#') Android
									li
										a(href='#') C++
									li
										a(href='#') HTML5
									li
										a(href='#') iOS
									li
										a(href='#') Java
									li
										a(href='#') PHP
									li
										a(href='#') Scala
							.small-12.columns
								button.controls Save
							.small-12.columns
								button.controls Share
				.row
					.small-12.columns
						h3 Article Headline
					.small-12.medium-10.columns
						include:md ../../content/articles/article-details.md
					.small-12.medium-2.columns
						.row
							.small-12.columns
								button.controls.dropdown(href='#', data-dropdown='article-open', aria-controls='drop1', aria-expanded='false') Open
								ul#article-open.f-dropdown.active(data-dropdown-content='', aria-hidden='true', tabindex='-1')
									li
										a(href='#') ASP.NET
									li
										a(href='#') Android
									li
										a(href='#') C++
									li
										a(href='#') HTML5
									li
										a(href='#') iOS
									li
										a(href='#') Java
									li
										a(href='#') PHP
									li
										a(href='#') Scala
							.small-12.columns
								button.controls Save
							.small-12.columns
								button.controls Share
			#popular-search-terms.content
				p Hello
			#top-articles.content
				p Hello
			#new-articles.content
				p Hello
	// dl.accordion(data-accordion='data-accordion')
		dd.accordion-navigation
			a(href='#recently-viewed-articles') Recently Viewed Articles
			#recently-viewed-articles.content
				+flare-articles-list
		dd.accordion-navigation
			a(href='#popular-search-terms') Popular Search Terms
			#popular-search-terms.content
				+flare-articles-list
		dd.accordion-navigation
			a(href='#top-articles') Top Articles
			#top-articles.content
				+flare-articles-list
		dd.accordion-navigation
			a(href='#new-articles') New Articles
			#new-articles.content
				+flare-articles-list

//- Flare Filters Div
mixin flare-filters-div
	#filters
		h3 Filters
		form
			dl.accordion(data-accordion='data-accordion')
				dd.accordion-navigation
					a(href='#technology') Technnology
					#technology.content
						button.button.dropdown(href='#', data-dropdown='technology-button', aria-controls='technology-button', aria-expanded='false') Select a technology
						br
						ul#technology-button.f-dropdown(data-dropdown-content='', aria-hidden='true', tabindex='-1')
							li
								table
									tr
										td
											input#technology1(type='radio', name='technology', value='Technology 1')
											label(for='technology1') Technology 1
										td
											span.round.label 14
							li
								table
									tr
										td
											input#technology2(type='radio', name='technology', value='Technology 2')
											label(for='technology2') Technology 2
										td
											span.round.label 14
							li
								table
									tr
										td
											input#technology3(type='radio', name='technology', value='Technology 3')
											label(for='technology3') Technology 3
										td
											span.round.label 14
							li
								table
									tr
										td
											input#technology4(type='radio', name='technology', value='Technology 4')
											label(for='technology4') Technology 4
										td
											span.round.label 14
				dd.accordion-navigation
					a(href='#type') Type
					#type.content.active
						table
							tr
								td
									input#type1(type='checkbox', name='type', value='Type 1')
									label(for='type1') Type 1
								td
									span.badge 14
							tr
								td
									input#type2(type='checkbox', name='type', value='Type 2')
									label.checkbox(for='type2') Type 2
								td
									span.badge 14
							tr
								td
									input#type3(type='checkbox', name='type', value='Type 3')
									label.checkbox(for='type3') Type 3
								td
									span.badge 14
				dd.accordion-navigation
					a(href='#phase') Phase
					#phase.content
						table
							tr
								td
									input#phase(type='checkbox', name='phase', value='Phase 1')
									label.checkbox(for='phase') Phase 1
								td
									span.badge 14
							tr
								td
									input#phase(type='checkbox', name='phase', value='Phase 2')
									label.checkbox(for='phase') Phase 2
								td
									span.badge 14
							tr
								td
									input#phase(type='checkbox', name='phase', value='Phase 3')
									label.checkbox(for='phase') Phase 3
								td
									span.badge 14
				dd.accordion-navigation
					a(href='#category') Category
					#category.content
						table
							tr
								td
									input#category(type='checkbox', name='category', value='Category 1')
									label.checkbox(for='category') Category 1
								td
									span.badge 14
							tr
								td
									input#category(type='checkbox', name='category', value='Category 2')
									label.checkbox(for='category') Category 2
								td
									span.badge 14
							tr
								td
									input#category(type='checkbox', name='category', value='Category 3')
									label.checkbox(for='category') Category 3
								td
									span.badge 14
			br
			button(type='submit' href='filters-active')
				| Ok, Done

//- Flare Filters Active
mixin flare-filters-active
	h4 Filters Active
	.row
		.small-12.medium-6.large-4.columns
			.alert-box(data-alert='')
				| Active Filter
				a.close(href='#') ×
		.small-12.medium-6.large-4.columns
			.alert-box(data-alert='')
				| Active Filter
				a.close(href='#') ×
		.small-12.medium-6.large-4.columns
			.alert-box(data-alert='')
				| Active Filter
				a.close(href='#') ×

// Save Div
mixin save-div
	form
		.row
			.small-12.columns
				+save-input
			.small-12.columns
				+save-button

// Share Div
mixin share-div
	form
		.row
			.small-12.columns
				+share-input
			.small-12.columns
				+share-button