//- Flare Search Bar Input
mixin search-bar
    .search
        a.button.btn-mobile(href='#left-nav')
            +index-icon
        .search-field
            input.search-input(type='text', placeholder='Type keywords here')
            a.button.btn-search#search-button(href='app-keyword-search')
                +search-icon
        a.button.btn-mobile(href='#right-nav')
            +filters-icon

//- Clear and Save Results
mixin results-save-clear
    section.row__label
        .label 0/200 results showing
        ul.display-inline
            li.half-width
                +save-results-button
            li.half-width
                +delete-results-button

//-Clear and Delete Results
mixin results-delete-share
    .label 0/200 results showing
    ul.display-inline
        li.half-width
            +delete-results-button
        li.half-width
            +share-results-button

//- Start View
mixin start-view
    section.row
        section.row__label
            .label Popular Search Terms
        section.row
            +search-term-list
    section.row
        section.row__label
            .label Recently Viewed Articles
        section.row
            +articles-list
    section.row
        section.row__label
            .label Top Articles
        section.row
            +articles-list

//- Articles List
mixin articles-list
    article.result
        +metadata
        +article-summary
    article.result
        +metadata
        +article-summary
    article.result
        +metadata
        +article-summary

//- Saved Articles List
mixin saved-articles-list
    section.row
        section.row__label
            +results-delete-share
        section.row
            article.result
                +metadata-saved
                +article-summary
            article.result
                +metadata-saved
                +article-summary
            article.result
                +metadata-saved
                +article-summary

//- Article Metadata (unsaved)
mixin metadata
    .metadata
        ul
            li
                +tick-icon
            li #
                // Technology Icon
            li #
                // Phase Icon
            li #
                // Type Icon
            li
                +save-button
            li
                +share-button

//- Article Metadata (saved)
mixin metadata-saved
    .metadata
        ul
            li
                span.badge #1
            li #
                // Technology Icon
            li #
                // Phase Icon
            li #
                // Type Icon
            li
                +delete-button
            li
                +share-button

//- Article Summary
mixin article-summary
    .summary
        a(href='article-new-window-view')
            h3#article-headline Article Headline Article Headline Article Headline
        include:md ../../content/articles/article-details.md


//- Saved Search Results List
mixin saved-search-results
    section.row__label
        +results-delete-share
    section.row
        +saved-search-term-list
        +saved-search-term-list
        +saved-search-term-list

//- Search Results List
mixin search-term-list
    article.search-term
        a(href='app-keyword-search')
            +search-icon
            span Search Term
    article.search-term
        a(href='app-keyword-search')
            +search-icon
            span Search Term
    article.search-term
        a(href='app-keyword-search')
            +search-icon
            span Search Term

//- Saved Search Results List
mixin saved-search-term-list
    article.search-term
        a(href='app-keyword-search')
            +search-icon
            span Search Term
    ul.display-inline
        li.half-width
            +delete-button
        li.half-width
            +share-button
    article.search-term
        a(href='app-keyword-search')
            +search-icon
            span Search Term
    ul.display-inline
        li.half-width
            +delete-button
        li.half-width
            +share-button
    article.search-term
        a(href='app-keyword-search')
            +search-icon
            span Search Term
    ul.display-inline
        li.half-width
            +delete-button
        li.half-width
            +share-button

//- Flare Filters Div
mixin filters-div
    .nav-icon
        ul
            li
                +filters-icon
    #filters
        .label
            +filters-icon
            span.text Technology
        ul.filters
            li # .NET
            li # .NET 3.5
            li # Android
            li # ASP.NET
            li # C ++
            li # HTML5
            li # iOS
            li # Java
            li # PHP
            li # Scala
            li # Technology Independent
            li # WCF
            li # Web Application
        br
        .label
            +filters-icon
            span.text Phase
        ul.filters
            li # Deployment
            li # Design
            li # Implementation
            li # Test
        br
        .label
            +filters-icon
            span.text Type
        ul.filters
            li # Checklist Item
            li # Code Example
            li # Guideline
            li # How To
            li # Vulnerability
        br
        a.button.full-width(href='#') Back