//- Article
mixin article
	section.row
		section.row__label
			+article-info
		article
			include:md ../../content/articles/article-new-window.md

//- Article Info
mixin article-info
	ul.display-inline.thirds
		li #
		li #
		li #
	ul.display-inline
		li.half-width
			+save-button
		li.half-width
			+share-button


//- Related Courses and Articles
mixin related-options
	section.row
		#label
			.label Related Articles
		#articles
			+articles-list
	section.row
		#label
			.label Related Courses
		#articles
			+articles-list

mixin terms-and-conditions
	.bg
		include:md ../../content/terms-and-conditions/terms-and-conditions.md