include application-mixins.jade

//- Article
mixin article
	include:md ../../content/articles/article-new-window.md

//- Article Options
mixin article-options
	#article-options
		.row
			.small-12.medium-6.columns
				ul
					li #technology
					li #phase
					li #type
			.small-12.medium-6.columns
				.row
					.small-6.columns
						+save-button
					.small-6.columns
						+share-button


//- Related Courses and Articles
mixin related-options
	#related-options
		h3 You might also like
		dl.tabs(data-tab='data-tab' class='related-options-width')
			dd.active
				a(href='#related-articles')
					+articles-icon
			dd
				a(href='#related-courses')
					+courses-icon
		.tabs-content
			#related-articles.content.active
				+articles-list
			#related-courses.content
				+articles-list

mixin flare-directory-list
	#directory-list
		h3 Fundamentals of Security
		ul.side-nav
			li
				a(href='')
					span.badge 14
					| A New ID Is Assigned on Login A New ID Is Assigned on Login
			li
				a(href='')
					span.badge 14
					| A New ID Is Assigned on Login
			li
				a(href='')
					span.badge 14
					| A New ID Is Assigned on Login A New ID Is Assigned on Login
		button.button.dropdown(href='#', data-dropdown='drop1', aria-controls='drop1', aria-expanded='false') Select a Directory
		br
		ul#drop1.f-dropdown(data-dropdown-content='', aria-hidden='true', tabindex='-1')
			li
				a(href='#') A New ID Is Assigned on Login A New ID Is Assigned on Login
			li
				a(href='#') A New ID Is Assigned on Login A New ID Is Assigned on Login
			li
				a(href='#') A New ID Is Assigned on Login A New ID Is Assigned on Login

//- Directory List
mixin directory-list
	h3 Fundamentals of Security
	.list-group
		a(href='fundamentals-of-security')
			table
				tr
					td A New ID Is Assigned on Login A New ID Is Assigned on Login
					td
						span.badge 14
				// tr
			// table
		// link
		a(href='fundamentals-of-security')
			table
				tr
					td Second Level Directory
					td
						span.badge 14
				// tr
			// table
		// link
		a(href='fundamentals-of-security')
			table
				tr
					td Second Level Directory
					td
						span.badge 14
				// tr
			// table
		// link
		a(href='fundamentals-of-security')
			table
				tr
					td Second Level Directory
					td
						span.badge 14
				// tr
			// table
		// link
		a(href='fundamentals-of-security')
			table
				tr
					td Second Level Directory
					td
						span.badge 14
				// tr
			// table
		// link
		a(href='fundamentals-of-security')
			table
				tr
					td Second Level Directory
					td
						span.badge 14
				// tr
			// table
		// link
		a(href='fundamentals-of-security')
			table
				tr
					td Second Level Directory
					td
						span.badge 14
				// tr
			// table
		// link
	// list-group