include application-mixins.jade

//- Article
mixin article
	include:md ../../content/articles/article-new-window.md

//- Article Options
mixin article-options
	#article-options
		dl.tabs(data-tab='data-tab')
			dd
				a(href='#metadata')
					+metadata-icon
			dd
				a(href='#save')
					+save-icon
			dd
				a(href='#share')
					+share-icon
		.tabs-content
			#metadata.content
				+metadata-table
			#save.content
				a(href='alert-article-new-window-view')
					+save-div
			#share.content
				a(href='alert-article-new-window-view')
					+share-div


//- Related Courses and Articles
mixin related-options
	#related-options
		h3 You might also like
		dl.tabs(data-tab='data-tab' class='related-options-width')
			dd
				a(href='#related-articles')
					+articles-icon
			dd
				a(href='#related-courses')
					+courses-icon
		.tabs-content
			#related-articles.content.active
				dl.accordion(data-accordion='data-accordion')
					dd.accordion-navigation
						a(href='#article-1') Article Headline
						#article-1.content.active
							include:md ../../content/articles/article-details.md
							+flare-article-preview-menu
					dd.accordion-navigation
						a(href='#article-2') Article Headline
						#article-2.content
							include:md ../../content/articles/article-details.md
							+flare-article-preview-menu
					dd.accordion-navigation
						a(href='#article-3') Article Headline
						#article-3.content
							include:md ../../content/articles/article-details.md
							+flare-article-preview-menu

			#related-courses.content
				dl.accordion(data-accordion='data-accordion')
					dd.accordion-navigation
						a(href='#courses-1') Course Headline
						#courses-1.content
							include:md ../../content/articles/article-details.md
							+flare-article-preview-menu
					dd.accordion-navigation
						a(href='#courses-2') Course Headline
						#courses-2.content
							include:md ../../content/articles/article-details.md
							+flare-article-preview-menu
					dd.accordion-navigation
						a(href='#courses-3') Course Headline
						#courses-3.content
							include:md ../../content/articles/article-details.md
							+flare-article-preview-menu

mixin flare-directory-list
	#directory-list
		h3 Fundamentals of Security
		ul.side-nav
			li
				a(href='')
					span.badge 14
					| A New ID Is Assigned on Login A New ID Is Assigned on Login
			li
				a(href='')
					span.badge 14
					| A New ID Is Assigned on Login
			li
				a(href='')
					span.badge 14
					| A New ID Is Assigned on Login A New ID Is Assigned on Login
		button.button.dropdown(href='#', data-dropdown='drop1', aria-controls='drop1', aria-expanded='false') Select a Directory
		br
		ul#drop1.f-dropdown(data-dropdown-content='', aria-hidden='true', tabindex='-1')
			li
				a(href='#') A New ID Is Assigned on Login A New ID Is Assigned on Login
			li
				a(href='#') A New ID Is Assigned on Login A New ID Is Assigned on Login
			li
				a(href='#') A New ID Is Assigned on Login A New ID Is Assigned on Login

//- Metadata Table
mixin metadata-table
	table
		tr
			td
				h5 Technology:
			td
				p Any
		tr
			td
				h5 Category:
			td
				p Authentication
		tr
			td
				h5 Phase:
			td
				p Implementation
		tr
			td
				h5 Type:
			td
				p Attack

//- Directory List
mixin directory-list
	h3 Fundamentals of Security
	.list-group
		a(href='fundamentals-of-security')
			table
				tr
					td A New ID Is Assigned on Login A New ID Is Assigned on Login
					td
						span.badge 14
				// tr
			// table
		// link
		a(href='fundamentals-of-security')
			table
				tr
					td Second Level Directory
					td
						span.badge 14
				// tr
			// table
		// link
		a(href='fundamentals-of-security')
			table
				tr
					td Second Level Directory
					td
						span.badge 14
				// tr
			// table
		// link
		a(href='fundamentals-of-security')
			table
				tr
					td Second Level Directory
					td
						span.badge 14
				// tr
			// table
		// link
		a(href='fundamentals-of-security')
			table
				tr
					td Second Level Directory
					td
						span.badge 14
				// tr
			// table
		// link
		a(href='fundamentals-of-security')
			table
				tr
					td Second Level Directory
					td
						span.badge 14
				// tr
			// table
		// link
		a(href='fundamentals-of-security')
			table
				tr
					td Second Level Directory
					td
						span.badge 14
				// tr
			// table
		// link
	// list-group