//- Article
mixin article
	section.row__label
		+article-info
	article
		include:md ../content/articles/article-new-window.md

//- Article Info
mixin article-info
	.label
		span #
		span #
		span #
	ul.display-inline
		li.half-width
			+save-button
		li.half-width
			+share-button


//- Related Courses and Articles
mixin related-options
	section.row__label
		.label Related Articles
	section.row
			+articles-list
	section.row__label
		.label Related Courses
	section.row
		+articles-list

mixin terms-and-conditions
	include:md ../../content/terms-and-conditions/terms-and-conditions.md