include ../../shared-mixins/globals.jade
include ../../shared-mixins/images.jade

mixin usp-div
	#usp
		.row
			.small-12.large-offset-1.large-10.end.columns
				h1
					include:md ../../content/landing-pages/usp.md
				br
				br
				.row
					.small-12.large-offset-3.large-6.end.columns
						a(href='../getting-started/index')
							+start-trial-button

mixin reasons-to-use-tm-div
	#reasons
		include:md ../../content/landing-pages/reasons-div-heading.md
		.row
			.small-12.medium-offset-1.medium-10.large-offset-2.large-8.end.columns
				.row
					.small-3.large-2.columns.text-center
						i.fi-clipboard-pencil
					.small-9.large-10.columns
						h4
							include:md ../../content/landing-pages/selling-point-1.md
				br
				.row
					.small-3.large-2.columns.text-center
						i.fi-arrows-in
					.small-9.large-10.columns
						h4
							include:md ../../content/landing-pages/selling-point-2.md
				br
				.row
					.small-3.large-2.columns.text-center
						i.fi-checkbox
					.small-9.large-10.columns
						h4
							include:md ../../content/landing-pages/selling-point-3.md

mixin clients-div
	#clients
		include:md ../../content/landing-pages/clients-div-heading.md
		.row
			.small-6.large-4.columns
				+image-elsevier-logo
			.small-6.large-4.columns
				+image-fedex-logo
			.small-6.large-4.columns
				+image-mass-mutual-logo
			.small-6.large-4.columns
				+image-microsoft-logo
			.small-6.large-4.columns
				+image-symantec-logo
			.small-6.large-4.columns
				+image-ubs-logo

mixin about-tagline-div
	#about
		.row
			.small-12.large-offset-1.large-10.end.columns
				include:md ../../content/landing-pages/about-tm-tagline.md

mixin about-us-div
	#about-us
		.row
			.small-12.large-offset-2.large-8.end.columns
				include:md ../../content/landing-pages/about-tm-summary.md

mixin features-div
	#features
		.row
			.small-12.large-offset-1.large-10.columns
				include:md ../../content/landing-pages/features-div-heading.md
				br
				.row
					.small-3.large-2.columns.text-center
						i.fi-check
					.small-9.large-10.columns
						include:md ../../content/landing-pages/feature-1.md
				.row
					.small-3.large-2.columns.text-center
						i.fi-loop
					.small-9.large-10.columns
						include:md ../../content/landing-pages/feature-2.md
				.row
					.small-3.large-2.columns.text-center
						i.fi-clipboard-notes
					.small-9.large-10.columns
						include:md ../../content/landing-pages/feature-3.md
				.row
					.small-3.large-2.columns.text-center
						i.fi-arrows-in
					.small-9.large-10.columns
						include:md ../../content/landing-pages/feature-4.md

mixin call-to-action-div
	#call-to-action
		.row
			.small-12.large-offset-2.large-8.end.columns
				include:md ../../content/landing-pages/call-to-action.md
				br
				br
				a(href='../getting-started/index')
					+see-for-yourself-button

mixin footer-div
	#footer
		.row
			.small-12.large-3.columns
				h5 TEAM Mentor v 4.0
				a(href='http://www.securityinnovation.com/', target='_blank')
					#si-logo
			.small-12.large-9.columns#contact-information
				.row
					.small-12.large-4.columns
						ul
							li
								+i-phone
								| +1.978.694.1008
							li
								+i-email
								a(href='mailto:support@securityinnovation.com') support@securityinnovation.com
					.small-12.large-4.columns
						ul
							li
								+i-marker
								| 187 Ballardvale Street, Suite A202
							li Wilmington, MA 01887
					.small-12.large-4.columns
						ul
							li
								+i-twitter
								a(href="http://www.twitter.com/SecInnovation", target="_blank") @SecInnovation
							li
								+i-toc
								a(href="../guest/terms-and-conditions.html") Terms & Conditions