include ../../shared-mixins/globals.jade

mixin usp-div
    section.usp
        .row
            .small-12.large-offset-1.large-10.end.columns
                h2
                    include:md ../../content/landing-pages/usp.md
                .row
                    .small-12.medium-offset-3.medium-6.end.columns
                        a(href='../getting-started/index')
                            +start-trial-button

mixin reasons-to-use-tm-div
    section.reasons
        include:md ../../content/landing-pages/reasons-div-heading.md
        .row
            .small-12.medium-offset-1.medium-10.large-offset-2.large-8.end.columns
                .row
                    .small-3.large-2.columns.text-center
                        br
                        i.fi-clipboard-pencil
                    .small-9.large-10.columns
                        include:md ../../content/landing-pages/selling-point-1.md
                br
                .row
                    .small-3.large-2.columns.text-center
                        br
                        i.fi-arrows-in
                    .small-9.large-10.columns
                        include:md ../../content/landing-pages/selling-point-2.md
                br
                .row
                    .small-3.large-2.columns.text-center
                        br
                        i.fi-checkbox
                    .small-9.large-10.columns
                        include:md ../../content/landing-pages/selling-point-3.md

mixin clients-div
    section.clients
        include:md ../../content/landing-pages/clients-div-heading.md
        .row
            .small-offset-1.small-2.columns
                .client-logo.elsevier
            .small-2.columns
                .client-logo.fedex
            .small-2.columns
                .client-logo.mass-mutual
            .small-2.columns
                .client-logo.microsoft
            .small-2.end.columns
                .client-logo.ubs

mixin about-tagline-div
    section.about
        .row
            .small-12.large-offset-1.large-10.end.columns
                include:md ../../content/landing-pages/about-tm-tagline.md

mixin about-us-div
    section.about-us
        .row
            .small-12.large-offset-2.large-8.end.columns
                include:md ../../content/landing-pages/about-tm-summary.md

mixin features-div
    section.features
        .row
            .small-12.large-offset-2.large-8.columns
                include:md ../../content/landing-pages/features-div-heading.md
                .row
                    .small-3.large-2.columns.text-center
                        i.fi-check
                    .small-9.large-10.columns
                        include:md ../../content/landing-pages/feature-1.md
                .row
                    .small-3.large-2.columns.text-center
                        i.fi-loop
                    .small-9.large-10.columns
                        include:md ../../content/landing-pages/feature-2.md
                .row
                    .small-3.large-2.columns.text-center
                        i.fi-clipboard-notes
                    .small-9.large-10.columns
                        include:md ../../content/landing-pages/feature-3.md
                .row
                    .small-3.large-2.columns.text-center
                        i.fi-arrows-in
                    .small-9.large-10.columns
                        include:md ../../content/landing-pages/feature-4.md

mixin call-to-action-div
    section.call-to-action
        .row
            .small-12.medium-offset-2.medium-8.end.columns
                include:md ../../content/landing-pages/call-to-action.md
                a(href='../getting-started/index')
                    +see-for-yourself-button

mixin footer-div
    footer
        .si-logo
        .si-name
            a.minor(hreft='http://www.securityinnovation.com/' target='_blank') Security Innovation 2015. All rights reserved.
        .icons
            .row
                .small-3.medium-offset-6.medium-2.columns
                    a(href='mailto:support@securityinnovation.com' title='Email')
                        +i-email
                .small-3.medium-2.columns
                    a(href='http://www.twitter.com/SecInnovation' target='_blank' title='Twitter')
                        +i-twitter
                .small-3.medium-2.columns
                    a#terms-and-conditions(href='../misc/terms-and-conditions' title ='Terms and Conditions')
                        +i-toc