include ../../shared-mixins/globals.jade

mixin team-mentor-summary
    .summary.bg.content
        include:md ../../content/getting-started/login-wall-summary.md
        .row
            .small-3.large-2.columns.text-center
                i.fi-clipboard-pencil
            .small-9.large-10.columns
                include:md ../../content/getting-started/summary-point-1.md
        .row
            .small-3.large-2.columns.text-center
                i.fi-arrows-in
            .small-9.large-10.columns
                include:md ../../content/getting-started/summary-point-2.md
        .row
            .small-3.large-2.columns.text-center
                i.fi-checkbox
            .small-9.large-10.columns
                include:md ../../content/getting-started/summary-point-3.md

mixin login-form
    include:md ../../content/getting-started/login-form.md
    form(role='form' method='post' action='/flare/home/main-app-view')
        .row
            .small-12.columns
                +username-input
        .row
            .small-12.columns
                +password-input
        .row
            .small-12.large-7.columns
                +login-button
            .small-12.large-5.columns.text-right.vertical-align
                a.minor(href='/guest/pwd-forgot.html') Forgot password?

mixin sign-up-form
    include:md ../../content/getting-started/sign-up-form.md
    form(action='../home/main-app-view')
        .row
            .small-12.columns
                +username-input
        .row
            .small-12.columns
                +email-input
        .row
            .small-12.columns
                +flare-password-input
        .row
            .small-12.columns
                include:md ../../content/getting-started/agree-to-toc.md
        br
        .row
            .small-12.medium-6.columns
                +sign-up-button

mixin sign-up-form-prompts
    include:md ../../content/getting-started/sign-up-form.md
    form(action='../../home/main-app-view')
        .row
            .small-12.columns
                +username-input
                include:md ../../content/getting-started/username-prompt.md
        .row
            .small-12.columns
                +email-input
                include:md ../../content/getting-started/email-prompt.md
        .row
            .small-12.columns
                +flare-password-input
                include:md ../../content/getting-started/password-prompt.md
        .row
            .small-12.columns
                include:md ../../content/getting-started/agree-to-toc.md
        .row
            .small-12.medium-6.columns
                +sign-up-button

mixin flare-forgot-password-form
    include:md ../../content/getting-started/forgot-password-form.md
    form(action='index-validation')
        .row
            .small-12.columns
                +email-input
        .row
            .small-12.medium-6.columns
                +get-password-button

mixin pwd-reset-form
    .bg
        P Reset your password
        form(role='form' method='post' action='/flare/home/main-app-view')
            .row
                .small-12.columns
                    +password-input
            .row
                .small-12.columns
                    +confirm-new-password-input
            br
            .row
                .small-12.medium-7.columns
                    +reset-pwd-button