mixin links-navbar__landing-page
    li
        a(href='about') About
    li
        a(href='features') Features
    li
        a(href='../help/index') Docs
    li
        button.btn-landing
            i.fi-mail.btn-icon
            span Get Started


mixin links-home__navigate
    h3 Navigate
    ul.side-nav#navigate
        li
            a(href='../articles/fundamentals-of-security') Attacks & Vulnerabilites
        li
            a(href='../articles/fundamentals-of-security') Principles & Standards
        li
            a(href='../articles/my-articles') My Articles
        li
            a(href='../articles/my-search-items') My Saved Searches


mixin links_user_pages
    h3 Account Details
    ul.side-nav
        li
            a(href='user') User
        li
            a(href='backend') Backend
        li
            a(href='developer-utilities') Developer Utilities
        li
            a(href='other') Other

//- Flare Page Links
mixin flare-all-pages-links
    ul.side-nav
        li
            a(href='articles/alert-article-new-window-view') articles/alert-article-new-window-view
        li
            a(href='articles/article-new-window-view') articles/article-new-window-view
        li
            a(href='articles/my-articles') articles/my-articles
        li
            a(href='articles/my-search-items') articles/my-search-items
        li
            a(href='error-pages/error-occurred') error-pages/error-occurred
        li
            a(href='error-pages/unavailable') error-pages/unavailable
        li
            a(href='error-pages/upgraded') error-pages/upgraded
        li
            a(href='getting-started/forgot-password') getting-started/forgot-password
        li
            a(href='getting-started/index-prompts') getting-started/index-prompts
        li
            a(href='getting-started/index-validation') getting-started/index-validation
        li
            a(href='getting-started/index') getting-started/index
        li
            a(href='help/index') help/index
        li
            a(href='home/alert-application') home/alert-application
        li
            a(href='home/app-keyword-search-save') home/app-keyword-search-save
        li
            a(href='home/app-keyword-search-share') home/app-keyword-search-share
        li
            a(href='home/app-keyword-search') home/app-keyword-search
        li
            a(href='home/customer-main-app-view') home/customer-main-app-view
        li
            a(href='home/filters-active') home/filters-active
        li
            a(href='home/filters-div') home/filters-div
        li
            a(href='home/main-app-view') home/main-app-view
        li
            a(href='home/navigate') home/navigate
        li
            a(href='landing-pages/about') landing-pages/about
        li
            a(href='landing-pages/features') landing-pages/features
        li
            a(href='landing-pages/index') landing-pages/index
        li
            a(href='new-user-onboard/index') new-user-onboard/index
        li
            a(href='new-user-onboard/step-one-search') new-user-onboard/step-one-search
        li
            a(href='new-user-onboard/step-two-filter-button') new-user-onboard/step-two-filter-button
        li
            a(href='new-user-onboard/step-four-filters-active') new-user-onboard/step-four-filters-active
        li
            a(href='new-user-onboard/step-three-filters-div') new-user-onboard/step-three-filters-div
        li
            a(href='new-user-onboard/step-five-navigate') new-user-onboard/step-five-navigate
        li
            a(href='new-user-onboard/step-six-navigate-page') new-user-onboard/step-six-navigate-page
        li
            a(href='new-user-onboard/finish') new-user-onboard/finish
        li
            a(href='user/alert-user') user/alert-user
        li
            a(href='user/backend') user/backend
        li
            a(href='user/developer-utilities') user/developer-utilities
        li
            a(href='user/other') user/other
        li
            a(href='user/terms-and-conditions') user/terms-and-conditions
        li
            a(href='user/user-add-filter') user/user-add-filter
        li
            a(href='user/user-edit') user/user-edit
        li
            a(href='user/user-new-password') user/user-new-password
        li
            a(href='user/user') user/user


//- my-articles-links
mixin my-articles-links
    .list-group
        a(href='article-new-window-view', target='_blank') A New ID Is Assigned on Login
        a(href='article-new-window-view', target='_blank') A New Or Blank Session ID is Assigned on Logout
        a(href='article-new-window-view', target='_blank') Access to the Credential Store is Limited
        a(href='article-new-window-view', target='_blank') AJAX Injection Vulnerability
        a(href='article-new-window-view', target='_blank') All Input is Validated
        a(href='article-new-window-view', target='_blank') All Private Resources Require Authentication
        a(href='article-new-window-view', target='_blank') All Senstive Data is Encrypted
        a(href='article-new-window-view', target='_blank') Assume All Input is Malicious
        a(href='article-new-window-view', target='_blank') Authentication is Centralized
        a(href='article-new-window-view', target='_blank') Centralize Authentication
        a(href='article-new-window-view', target='_blank') Client-side Validation is Not Relied On
        a(href='article-new-window-view', target='_blank') Cross Site Scripting Vulnerablity
        a(href='article-new-window-view', target='_blank') Deny All Access by Default
        a(href='article-new-window-view', target='_blank') Do Not Cache Sensitive Data
        a(href='article-new-window-view', target='_blank') Do Not Leave Passwords in Memory
        a(href='article-new-window-view', target='_blank') Don't Trust User Input
        a(href='article-new-window-view', target='_blank') Echoed Input is Encoded
        a(href='article-new-window-view', target='_blank') Missing Authentication
        a(href='article-new-window-view', target='_blank') Missing Authorization
        a(href='article-new-window-view', target='_blank') Hard-coded Credentials
        a(href='article-new-window-view', target='_blank') Missing Encryption
        a(href='article-new-window-view', target='_blank') Unrestricted Dangerous Uploads
        a(href='article-new-window-view', target='_blank') Using Untrusted Inputs

//- git-repo-link
mixin git-repo-link
    .list-group
        a(href='https://github.com/TeamMentor/TM_4_0_Design'                   ) https://github.com/TeamMentor/TM_4_0_Design

mixin help-navigation
    dl.accordion(data-accordion='data-accordion')
        dd.accordion-navigation
            a.active(href='#panel1') About TEAM Mentor
            #panel1.content
                ul.side-nav
                    li
                        a(href='#') What is new in this release?
                    li
                        a(href='#') Introduction to TEAM Mentor
                    li
                        a(href='#') Quick Start Guide
                    li
                        a(href='#') Support
        dd.accordion-navigation
            a(href='#panel2') Installation
            #panel2.content
                ul.side-nav
                    li
                        a(href='#') Minimum Requirements
                    li
                        a(href='#') Installing TEAM Mentor on IIS 6.0
                    li
                        a(href='#') Installing TEAM Mentor on IIS 7.0 and 7.5
                    li
                        a(href='#') Running TEAM Mentor locally (using Cassini)
                    li
                        a(href='#') Upgrading TEAM Mentor
        dd.accordion-navigation
            a(href='#panel3') Administration
            #panel3.content
                ul.side-nav
                    li
                        a(href='#') Managing Users
                    li
                        a(href='#') Installing Libraries
                    li
                        a(href='#') Removing Libraries
                    li
                        a(href='#') Editing the Default Configuration
                    li
                        a(href='#') Troubleshooting
                    li
                        a(href='#') User_Data Git Support
                    li
                        a(href='#') TM_Libraries Git Support
                    li
                        a(href='#') Configuring Email
                    li
                        a(href='#') Google Analytics
                    li
                        a(href='#') Active Directory Support
        dd.accordion-navigation
            a(href='#panel4') UI Elements
            #panel4.content
                ul.side-nav
                    li
                        a(href='#') Using the Control Panel
                    li
                        a(href='#') User Interface Overview
                    li
                        a(href='#') Signing Up for Regular Accounts
                    li
                        a(href='#') Article List Pane
                    li
                        a(href='#') Banner Pane
                    li
                        a(href='#') Filters Pane
                    li
                        a(href='#') Navigation Pane
                    li
                        a(href='#') Preview Pane
                    li
                        a(href='#') Forgot Password
        dd.accordion-navigation
            a(href='#panel5') Reading Content
            #panel5.content
                ul.side-nav
                    li
                        a(href='#') Navigating
                    li
                        a(href='#') Using the Search Function
                    li
                        a(href='#') Using the Filters
                    li
                        a(href='#') Opening an Article
                    li
                        a(href='#') Changing Layout and Collaborating
        dd.accordion-navigation
            a(href='#panel6') Editing Content
            #panel6.content
                ul.side-nav
                    li
                        a(href='#') Editing Overview
                    li
                        a(href='#') Editing Views
                    li
                        a(href='#') Editing Folders
                    li
                        a(href='#') Editing Libraries
                    li
                        a(href='#') Editing WikiText Articles
                    li
                        a(href='#') Editing HTML Articles
                    li
                        a(href='#') Edit Article Metadata
                    li
                        a(href='#') Linking Articles in WikiText
                    li
                        a(href='#') TEAM Mentor Wiki Markup
        dd.accordion-navigation
            a(href='#panel7') Eclipse for Fortify plugin
            #panel7.content
                ul.side-nav
                    li
                        a(href='#') About Eclipse Plugin
                    li
                        a(href='#') Requirements
                    li
                        a(href='#') Quick Start Installation
                    li
                        a(href='#') Installing TEAM Mentor Eclipse Plugin for Fortify
                    li
                        a(href='#') Updating
                    li
                        a(href='#') Using the TEAM Mentor Eclipse Plugin for Fortify
                    li
                        a(href='#') Using a Sample Vulnerable Application
                    li
                        a(href='#') How to Evaluate and What to Expect
                    li
                        a(href='#') Configuring TEAM Mentor Eclipse Plugin for Fortify
                    li
                        a(href='#') Linking TEAM Mentor instance account with the Eclipse Plugin
        dd.accordion-navigation
            a(href='#panel8') HP Fortify SCA UI Integration
            #panel8.content
                ul.side-nav
                    li
                        a(href='#') About TEAM Mentor HP Fortify SCA UI Integration
                    li
                        a(href='#') Installation
                    li
                        a(href='#') Updating TEAM Mentor Custom Rulepack
                    li
                        a(href='#') Using a Sample Vulnerable Application
                    li
                        a(href='#') How to Evaluate and What to Expect
                    li
                        a(href='#') Using TEAM Mentor Fortify SCA UI Integration
        dd.accordion-navigation
            a(href='#panel9') Visual Studio Plugin
            #panel9.content
                ul.side-nav
                    li
                        a(href='#') TEAM Mentor Plugin for Visual Studio
                    li
                        a(href='#') Visual Studio Plugin FAQ