mixin links-navbar__landing-page
  ul.display-inline
    li
      a.action(href='about') About
    li
      a.action(href='features') Features
    li
      a.action(href='../help/index') Docs
    li
      a.button.btn-nav(href='../guest/get-started') Get Started

mixin left-navigation
  .nav-icon
    ul
      li
        +index-icon
      li
        +info-icon
      li
        +user-icon
      li
        +logout-icon
  .accordion
    .accordion-title
      a(href="#navigate")
        +index-icon
        span.text Index
    #navigate.accordion-panel
      ul
        li
          a(href='navigate') Directory
        li
          a(href='navigate') Directory
        li
          a(href='navigate') Directory
        li
          a(href='navigate') Directory
        li
          a(href='navigate') Directory
        li
          a(href='navigate') Directory
        li
          a(href='navigate') Directory
        li
          a(href='navigate') Directory
        li
          a(href='navigate') Directory
        li
          a(href='navigate') Directory
        li
          a(href='navigate') Directory
        li
          a(href='navigate') Directory
        li
          a(href='navigate') Directory
        li
          a(href='navigate') Directory
        li
          a(href='navigate') Directory
        li
          a(href='navigate') Directory
        li
          a(href='navigate') Directory
        li
          a(href='navigate') Directory
        li
          a(href='navigate') Directory
        li
          a(href='navigate') Directory
        li
          a(href='navigate') Directory
        li
          a(href='navigate') Directory
        li
          a(href='navigate') Directory
        li
          a(href='navigate') Directory
  ul.side-nav
      li
        a(href='/misc/help-index')
          +info-icon
          span.text Docs
      li
        a(href='/user/user')
          +user-icon
          span.text User
      li
        a(href='/guest/index')
          +logout-icon
          span.text Logout
      li
        a.button.full-width(href='#') Back

mixin links_user_pages
    h3 Account Details
    ul.side-nav
        li
            a(href='user') User
        li
            a(href='backend') Backend
        li
            a(href='developer-utilities') Developer Utilities
        li
            a(href='other') Other

mixin help-navigation
    #sub-nav
        .item
            a(href='help-sub-navigation')
                span About TEAM Mentor
        .item
            a(href='help-sub-navigation')
                span Installation
        .item
            a(href='help-sub-navigation')
                span Administration
        .item
            a(href='help-sub-navigation')
                span UI Elements
        .item
            a(href='help-sub-navigation')
                span Reading Content
        .item
            a(href='help-sub-navigation')
                span Editing Content
        .item
            a(href='help-sub-navigation')
                span Eclipse for Fortify plugin
        .item
            a(href='help-sub-navigation')
                span HP Fortify SCA UI Integration
        .item
            a(href='help-sub-navigation')
                span Visual Studio Plugin

mixin help-sub-navigation
    #sub-nav
        .item
            a(href='help-sub-navigation')
                span About TEAM Mentor
                ul
                    li
                        a(href='help-docs')
                            span What's new in this release?
                    li
                        a(href='help-docs')
                            span Introduction to TEAM Mentor
                    li
                        a(href='help-docs')
                            span Quick Start Guide
                    li
                        a(href='help-docs')
                            span Support
        .item
            a(href='help-sub-navigation')
                span Installation
        .item
            a(href='help-sub-navigation')
                span Administration
        .item
            a(href='help-sub-navigation')
                span UI Elements
        .item
            a(href='help-sub-navigation')
                span Reading Content
        .item
            a(href='help-sub-navigation')
                span Editing Content
        .item
            a(href='help-sub-navigation')
                span Eclipse for Fortify plugin
        .item
            a(href='help-sub-navigation')
                span HP Fortify SCA UI Integration
        .item
            a(href='help-sub-navigation')
                span Visual Studio Plugin