mixin links-navbar__landing-page
    li
        a(href='about') About
    li
        a(href='features') Features
    li
        a(href='../help/index') Docs
    li
        button.btn-landing
            i.fi-mail.btn-icon
            span Get Started

mixin left-navigation
    .accordion
        .accordion-title
            a(href="#navigate")
                +index-icon
                span.text Index
        #navigate.accordion-panel
            ul
                li
                    a(href='navigate') Directory
                li
                    a(href='navigate') Directory
                li
                    a(href='navigate') Directory
                li
                    a(href='navigate') Directory
                li
                    a(href='navigate') Directory
                li
                    a(href='navigate') Directory
                li
                    a(href='navigate') Directory
                li
                    a(href='navigate') Directory
                li
                    a(href='navigate') Directory
                li
                    a(href='navigate') Directory
                li
                    a(href='navigate') Directory
                li
                    a(href='navigate') Directory
                li
                    a(href='navigate') Directory
                li
                    a(href='navigate') Directory
                li
                    a(href='navigate') Directory
                li
                    a(href='navigate') Directory
                li
                    a(href='navigate') Directory
                li
                    a(href='navigate') Directory
                li
                    a(href='navigate') Directory
                li
                    a(href='navigate') Directory
                li
                    a(href='navigate') Directory
                li
                    a(href='navigate') Directory
                li
                    a(href='navigate') Directory
                li
                    a(href='navigate') Directory
        .accordion-title
            a(href='/user/my-articles')
                +article-icon
                span.text Saved Articles
        .accordion-title
            a(href='/user/my-search-results')
                +search-icon
                span.text Saved Searches
        .accordion-title
            a.button.full-width(href='#') Back

mixin links_user_pages
    h3 Account Details
    ul.side-nav
        li
            a(href='user') User
        li
            a(href='backend') Backend
        li
            a(href='developer-utilities') Developer Utilities
        li
            a(href='other') Other

mixin help-navigation
    #sub-nav
        .item
            a(href='help-sub-navigation')
                span About TEAM Mentor
        .item
            a(href='help-sub-navigation')
                span Installation
        .item
            a(href='help-sub-navigation')
                span Administration
        .item
            a(href='help-sub-navigation')
                span UI Elements
        .item
            a(href='help-sub-navigation')
                span Reading Content
        .item
            a(href='help-sub-navigation')
                span Editing Content
        .item
            a(href='help-sub-navigation')
                span Eclipse for Fortify plugin
        .item
            a(href='help-sub-navigation')
                span HP Fortify SCA UI Integration
        .item
            a(href='help-sub-navigation')
                span Visual Studio Plugin

mixin help-sub-navigation
    #sub-nav
        .item
            a(href='help-sub-navigation')
                span About TEAM Mentor
                ul
                    li
                        a(href='help-docs')
                            span What's new in this release?
                    li
                        a(href='help-docs')
                            span Introduction to TEAM Mentor
                    li
                        a(href='help-docs')
                            span Quick Start Guide
                    li
                        a(href='help-docs')
                            span Support
        .item
            a(href='help-sub-navigation')
                span Installation
        .item
            a(href='help-sub-navigation')
                span Administration
        .item
            a(href='help-sub-navigation')
                span UI Elements
        .item
            a(href='help-sub-navigation')
                span Reading Content
        .item
            a(href='help-sub-navigation')
                span Editing Content
        .item
            a(href='help-sub-navigation')
                span Eclipse for Fortify plugin
        .item
            a(href='help-sub-navigation')
                span HP Fortify SCA UI Integration
        .item
            a(href='help-sub-navigation')
                span Visual Studio Plugin

    //#help-nav
        ul.sub-nav
            li
                a(href='help-sub-navigation')
                    span About TEAM Mentor
                ul
                    li
                        a(href='help-docs')
                            span What's new in this release?
                    li
                        a(href='help-docs')
                            span Introduction to TEAM Mentor
                    li
                        a(href='help-docs')
                            span Quick Start Guide
                    li
                        a(href='help-docs')
                            span Support
            li
                a(href='help-sub-navigation')
                    span Installation
            li
                a(href='help-sub-navigation')
                    span Administration
            li
                a(href='help-sub-navigation')
                    span UI Elements
            li
                a(href='help-sub-navigation')
                    span Reading Content
            li
                a(href='help-sub-navigation')
                    span Editing Content
            li
                a(href='help-sub-navigation')
                    span Eclipse for Fortify plugin
            li
                a(href='help-sub-navigation')
                    span HP Fortify SCA UI Integration
            li
                a(href='help-sub-navigation')
                    span Visual Studio Plugin