//- New User Onboard Welcome Buttons
mixin new-user-onboard-welcome-buttons
	.row
		.small-12.large-6.columns
			a(href='step-one-search')
				button
					span Start Tutorial
					br
					span (It only takes 2 minutes)
		.small-12.large-6.columns
			a(href='../home/main-app-view')
				button
					span Skip Tutorial
					br
					span (Check it out later)

//- New User Onboard Finish Tutorial Button
mixin new-user-onboard-finish-buttons
	.row
		.small-12.large-12.columns
			button Start Fixing Vulnerabilities

//- Step One Instructions
mixin step-one-instructions
	#instructions
		include:md ../../content/new-user-onboard/step-one-search.md

//- Step Two Instructions
mixin step-two-instructions
	#instructions
		include:md ../../content/new-user-onboard/step-two-filters-button.md

//- Step Three Instructions
mixin step-three-instructions
	#instructions
		include:md ../../content/new-user-onboard/step-three-filters-div.md

//- Step Four Instructions
mixin step-four-instructions
	#instructions
		include:md ../../content/new-user-onboard/step-four-filters-active.md

//- Step Five Instructions
mixin step-five-instructions
	#instructions
		include:md ../../content/new-user-onboard/step-five-navigate.md

//- Step Six Instructions
mixin step-six-instructions
	#instructions
		include:md ../../content/new-user-onboard/step-six-navigate-page.md