//- Flare User Details Display
mixin user-details-display
	.bg
		.row
			.small-10.columns
				h3 User Details
			.small-2.columns
				br
				a.button.controls.full-width(href='/user-edit')
					+edit-icon
		.row
			.small-12.columns
				.label Name
				p Name
				br
				.label Email
				p Email
				br
		.row
			.small-12.medium-6.columns
				.label Title
				p Title
				br
				.label Country
				p Country
				br
			.small-12.large-6.columns
				.label Company
				p Company
				br
				.label State
				p State
				br

// Permanent Filters
mixin permanent-filters
	.bg
		.row
			.small-10.columns
				h3 Permanent Filters
			.small-2.columns
				br
				a.action(href='user-add-filter')
					+open-icon
		+flare-filters-active

//- Flare Other User Settings
mixin other-user-settings
	.bg
		h3 Danger Zone
		.row
			.small-12.large-6.columns
				a.button.controls.icon(href='user-new-password')
					+new-pw-icon
			.small-12.large-6.columns
				a.button.controls.icon(href='#')
					+delete-account-icon

//- Flare Edit User Details
mixin flare-edit-user-details
	h3 Edit User Details
	form(action='alert-user')
		.row
			.small-12.columns
				+name-input
		.row
			.small-12.columns
				+email-input
		.row
			.small-12.large-6.columns
				+title-input
			.small-12.large-6.columns
				+company-input
		.row
			.small-12.large-6.columns
				+country-input
			.small-12.large-6.columns
				+state-input
		br
		.row
			.small-12.medium-6.end.columns
				+ok-button

//- Flare Change Password
mixin flare-change-password
	h3 Change Password
	form(action='alert-user')
		.row
			.small-12.columns
				+password-input
		.row
			.small-12.columns
				+flare-new-password-input
		br
		.row
			.small-12.medium-6.end.columns
				+ok-button