extends ../_layouts/page
block content
	#application
		.row
			.col-3
				.lge-container
					if library
						.content
							each view in library.Views
								h4.label= view.Title
								table.nav
									each article in view.Articles
										tr
											td
												a(href= '/help/' + article.Id)
													= article.Title
			.col-6
				.lge-container
					.content
						if title
							h2= title
						!= content
			.col-3
				.lge-container