//- Colours Div
mixin colours-div
	#colours
		include:md ../../content/teamMentor/style-guide/colours.md
		br

		.row
			.small-4.large-2.columns
				#white.long
				#description
					h5 White
					p #FFFFFF
				// description-div
			// column
			.small-4.large-2.columns
				#green.long
				#description
					h5 Green
					p #8AAF3E
				// description-div
			// column
			.small-4.large-2.columns
				#dark-green.long
				#description
					h5 Green (2)
					p #49661F
				// description
			// column
			.small-4.large-2.columns
				#grey.long
				#description
					h5 Grey
					p #AAAAAA
				// description
			// column
			.small-4.large-2.columns
				#dark-grey.long
				#description
					h5 Grey (2)
					p #444444
				// description
			// column
			.small-4.large-2.columns
				#black.long
				#description
					h5 Black
					p #000000
				// description
			// column
		// row
		br
		+how-to-use-colours-div
		br
	// colours-div

//- How to Use Colours Div
mixin how-to-use-colours-div
	h4 How to use our colours
	br
	.row
		.small-2.large-offset-1.large-1.columns
			br
			#white.short
		// column
		.small-10.large-offset-1.large-9.columns
			include:md ../../content/teamMentor/style-guide/how-to-use-white.md
		// column
	// row
	br
	.row
		.small-2.large-offset-1.large-1.columns
			br
			#green.short
		// column
		.small-10.large-offset-1.large-9.columns
			include:md ../../content/teamMentor/style-guide/how-to-use-green.md
		// column
	// row
	br
	.row
		.small-2.large-offset-1.large-1.columns
			br
			#dark-green.short
		// column
		.small-10.large-offset-1.large-9.columns
			include:md ../../content/teamMentor/style-guide/how-to-use-dark-green.md
		// column
	// row
	br
	.row
		.small-2.large-offset-1.large-1.columns
			br
			#grey.short
		// column
		.small-10.large-offset-1.large-9.columns
			include:md ../../content/teamMentor/style-guide/how-to-use-grey.md
		// column
	// row
	br
	.row
		.small-2.large-offset-1.large-1.columns
			br
			#dark-grey.short
		// column
		.small-10.large-offset-1.large-9.columns
			include:md ../../content/teamMentor/style-guide/how-to-use-dark-grey.md
		// column
	// row
	br
	.row
		.small-2.large-offset-1.large-1.columns
			br
			#black.short
		// column
		.small-10.large-offset-1.large-9.columns
			include:md ../../content/teamMentor/style-guide/how-to-use-black.md
		// column
	// row