extends ../_layouts/flare_page_landing
include ../mixins/getting-started-mixins

block content
  #application
    #two-thirds-column
      section.row
        #label
          .label Reset your password
        #articles
          +pwd-reset-form
    #one-third-column
      +team-mentor-summary