extends _layouts/flare_page_not_logged_in.jade

block content
	#application
		#left-nav
		// left-nav
		#results
			h3 TEAM Mentor 4.0 Design
			p This is a staging site for the TEAM Mentor 4.0 design.
			+horizontal-rule
			h4 Current pages:
			+flare-all-pages-links
			+horizontal-rule
			p Git repo with source files (auto synced with this Azure site)
			+git-repo-link
			br
			br
		// results
		#right-nav
		// right-nav
	// application