extends ../_layouts/flare_page
include ../mixins/links
include ../mixins/user-mixins
include ../mixins/application-mixins

block content
  #application
    #left-column
      +left-navigation
    #content
      +flare-alert
      +user-details-display
      +permanent-filters
      +other-user-settings
    #right-nav