extends ../_layouts/flare_page
include ../mixins/links
include ../mixins/user-mixins
include ../mixins/application-mixins

block content
	#application
		#left-nav
			.bg
				+links_user_pages
		#results
			+flare-alert
			br
			.bg
				+user-details-heading
				+user-details-display
				br
				+other-user-settings
		#right-nav