extends ../_layouts/flare_page
include ../mixins/user-mixins
include ../mixins/application-mixins

block content
	#application
		#left-nav
			+links_user_pages
		#results
			+flare-alert
			+user-details-heading
			+user-details-display
			br
			+other-user-settings
		#right-nav