extends ../_layouts/flare_page.jade
include ../home/mixins/application-mixins.jade
include mixins/user-mixins.jade

block content  
	#application
		.row
			.small-12.large-3.columns#left-nav
				+links_user_pages
			.small-12.large-6.columns#results
				+flare-alert
				+user-details-heading
				br
				+user-details-display
				br
				+other-user-settings

			.small-12.large-3.columns#right-nav
				br