extends ../_layouts/flare_page.jade
include ../home/mixins/application-mixins.jade
include mixins/user-mixins.jade

block content
	#application
		#left-nav
			+links_user_pages
		// left-nav
		#results
			h3 Developer Utilities
		// results
		#right-nav
			br
		// right-nav
	// application