extends ../_layouts/flare_page
include ../mixins/application-mixins.jade

block content
  #application
    #left-column
      +left-navigation
    #content
      +start-view
    #right-column
      +filters-div