extends ../_layouts/flare_page
include ../mixins/user-mixins
include ../mixins/application-mixins

block content
  #application
    #left-column
      +left-navigation
    #content
      .bg
        h3 Other
    #right-nav