extends ../_layouts/flare_page_not_logged_in.jade

block content
	#application
		.row
			.small-12.large-3.columns
				br
			// column
			.small-12.large-6.columns#results
				include:md ../../content/teamMentor/terms-and-conditions/terms-and-conditions.md
			// column
			.small-12.large-3.columns
				br
			// column
		// row
	// application