extends ../_layouts/flare_page
include ../home/mixins/application-mixins
include mixins/user-mixins

block content
	#application
		#left-nav
			+links_user_pages
		#results
			+user-details-heading
			+user-details-display
			br
			+other-user-settings
		#right-nav