extends ../_layouts/page_home.jade
include mixins/new-user-onboard-mixins.jade
include ../home/mixins/application-mixins.jade

block content  
	#application
		.row
			.col-3#left-nav
				.lge-container
					br
				// lge-container
			// column

			.col-6#results
				.lge-container
					+jade-search-bar-input
					br
					br
					br
					+main-app-view
				// lge-container
			// column
			
			.col-3
				.lge-container
					+step-one-instructions
				// lge-container
			// column
		// row
	// application