//- login-form
mixin login-form
	include:md ../../../content/teamMentor/getting-started/login-form.md
	form
		.row
			.small-12.large-12.columns
				+username-input
		.row
			.small-12.large-12.columns
				+password-input
		.row
			.small-12.large-12.columns
				+login-button
		br
		.row
			.small-12.large-12.columns
				+forgot-password-button

//- sign-up-form
mixin sign-up-form
	include:md ../../../content/teamMentor/getting-started/sign-up-form.md
	form
		.row
			.small-12.large-12.columns
				+username-input
		.row
			.small-12.large-12.columns
				+email-input
		.row
			.small-12.large-12.columns
				+flare-password-input
		.row
			.small-12.large-12.columns
				include:md ../../../content/teamMentor/getting-started/agree-to-toc.md
		.row
			.small-12.large-12.columns
				+sign-up-button

//- sign-up-form-prompts
mixin sign-up-form-prompts
	include:md ../../../content/teamMentor/getting-started/sign-up-form.md
	form
		.row
			.small-12.large-12.columns
				+username-input
				p Your username should only container letters and numbers.
		.row
			.small-12.large-12.columns
				+email-input
				p We'll email you a confirmation.
		.row
			.small-12.large-12.columns
				+flare-password-input
				p Your password should be at least 8 characters long. It should have one uppercase and one lowercase letter, a number and a special character.
		.row
			.small-12.large-12.columns
				include:md ../../../content/teamMentor/getting-started/agree-to-toc.md
		.row
			.small-12.large-12.columns
				+sign-up-button

//- flare-forgot-password-form
mixin flare-forgot-password-form
	include:md ../../../content/teamMentor/getting-started/forgot-password-form.md
	form
		.row
			.small-12.large-12.columns
				+email-input
		.row
			.small-12.large-12.columns
				+get-password-button

//- Flare User Details Heading
mixin user-details-heading
	.row
		.small-12.large-9.columns
			h3 User Details
		.small-12.large-3.columns.text-center
			br
			a(href='user-edit.html')
				+edit-icon

//- Flare User Details Display
mixin user-details-display
	.row
		.small-12.large-6.columns
			.row
				.small-2.columns
					+user-icon
				.small-10.columns
					p Name
			.row
				.small-2.columns
					+company-icon
				.small-10.columns
					p Company
			.row
				.small-2.columns
					+group-id-icon
				.small-10.columns
					p Group ID
		.small-12.large-6.columns
			.row
				.small-2.columns
					+email-icon
				.small-10.columns
					p Email
			.row
				.small-2.columns
					+navigate-icon
				.small-10.columns
					p Location
			.row
				.small-2.columns
					+filter-icon
				.small-10.columns
					p Permanent Filters

//- Flare Other User Settings
mixin other-user-settings
	.row
		.small-12.large-6.columns
			a(href='#')
				+new-pw-icon
		.small-12.large-6.columns
			a(href='#')
				+change-filters-icon