extends ../_layouts/flare_page
include mixins/prod-application-mixins

block content
  #application
    #left-column
      +left-navigation
    #content
      section.row
        #label
          +results-save-clear
        #articles
          +prod-articles-list
          +prod-articles-list
          +prod-articles-list
      +copyright
    #right-column
      +filters-div