extends ../_layouts/flare_page
include ../mixins/application-mixins

block content
	#application
		#left-nav
			+left-navigation
		#results
			+main-app-view
			+copyright
		#right-nav
			+filters-div