extends ../_layouts/flare_page
include mixins/application-mixins

block content
	#application
		#left-nav
		// left-nav
		#results
			+flare-search-bar-input
			+flare-results-save-clear
			+flare-articles-list
			+horizontal-rule
			+copyright
		// results
		#right-nav
			+flare-filters-div
		// right-nav
	// application