extends ../_layouts/flare_page_landing
include ../mixins/getting-started-mixins

block content
	#application
		#left-column
			dl.tabs(data-tab='data-tab')
				dd.active
					a(href='#signup') Sign Up
				dd
					a(href='#login') Login
			// dl-tabs
			.tabs-content
				#signup.content.active
					+sign-up-form-prompts
				#login.content
					+login-form
		#right-column
			+team-mentor-summary