extends ../_layouts/flare_page_not_logged_in.jade
include mixins/getting-started-mixins.jade

block content
	#application
		#loginwall
			dl.tabs(data-tab='data-tab')
				dd
					a(href='#signup') Sign Up
				dd.active
					a(href='#login') Login
			.tabs-content
				#signup.content
					+sign-up-form
				// content
				#login.content.active
					+flare-forgot-password-form
				// content
			// tabs-content
		// loginwall
		#summary
			+team-mentor-summary
		// summary
	// application