extends ../_layouts/flare_page_not_logged_in.jade
include mixins/getting-started-mixins.jade

block content
	#application
		.row
			.small-12.large-5.large-push-6.columns#loginwall
				br
				dl.tabs(data-tab='data-tab')
					dd
						a(href='#signup') Sign Up
					dd.active
						a(href='#login') Login
				.tabs-content
					#signup.content
						br
						.small-offset-1.small-10.large-offset-1.large-10.end.columns
							+sign-up-form
						// column
					// content
					#login.content.active
						.row
							br
							.small-offset-1.small-10.large-offset-1.large-10.end.columns
								+flare-forgot-password-form
							// columns
						// row
					// content
				// tabs-content
			// column
			.small-12.large-5.large-pull-6.columns#summary
				+team-mentor-summary
			// column
		// row
	// application