extends ../_layouts/flare_page_landing
include ../mixins/getting-started-mixins

block content
	#application
		#loginwall
			dl.tabs(data-tab='data-tab')
				dd
					a(href='#signup') Sign Up
				dd.active
					a(href='#login') Login
			.tabs-content
				#signup.content
					+sign-up-form
				#login.content.active
					+flare-forgot-password-form
		#summary
			.content
				+team-mentor-summary