extends ../_layouts/flare_page_not_logged_in.jade
include mixins/getting-started-mixins.jade

block content
	#application
		#loginwall
			dl.tabs(data-tab='data-tab')
				dd.active
					a(href='#signup') Sign Up
				// dd
				dd
					a(href='#login') Login
				// dd
			// dl-tabs
			.tabs-content
				#signup.content.active
					+sign-up-form
				// sign-up-content
				#login.content
					+login-form
				// login-content
			// tabs-content
		// column
		#summary
			+team-mentor-summary
		// summary
	// application