extends ../_layouts/flare_page.jade
include ../../content/mixins/user-mixins.jade

block content
	.container
		.row
			.small-12.large-6.large-push-6.columns
				br
				dl.tabs(data-tab='data-tab')
					dd.active
						a(href='#signup') Sign Up
					dd
						a(href='#login') Login
				.tabs-content
					#signup.content.active
						p Create an account and get access to the world's largest repository of secure software development knowledge.
						br

					#login.content
						p Returning customer? Please log in to access TEAM Mentor

			.small-12.large-6.large-pull-6.columns
				h1 Security Risk. Understood.
				h4 Instant resources that bridge the gap between developer questions and technical solutions.
				p TEAM Mentor was created by developers for developers using secure coding standards, code snippets and checklists built from 10+ years of targeted security assessments for Fortune 500 organizations.

				hr
				h3.text-center With TEAM Mentor, you can...
				br

				.row
					.small-3.large-2.columns
						img(src='/deploy/assets/icons/identifyfix.png', alt='Identify vulnerabilities and reduce time to fix them')
					// column
					.small-9.large-10.columns
						p FIX vulnerabilities quicker than ever before with TEAM Mentor's seamless integration into a developer's IDE and daily workflow.
					// column
				// row

				.row
					.small-3.large-2.columns
						img(src='/deploy/assets/icons/reduces.png', alt='REDUCE the number of vulnerabilities over time')
					//column
					.small-9.large-10.columns
						p REDUCE the number of vulnerabilities over time as developers learn about each vulnerability at the time it is identified.
					// column
				// row

				.row
					.small-3.large-2.columns
						img(src='/deploy/assets/icons/expand.png', alt='REDUCE the number of vulnerabilities over time')
					//column
					.small-9.large-10.columns
						p EXPAND the development team's knowledge and improve process with instant access to thousands of specific remediation tactics, including the host organization's security policies and coding best practices.
					// column
				// row
			// column
		// row
	// container