extends ../../content/_layouts/page_not_logged_in.jade
include ../../content/mixins/user-mixins.jade
block content
	#application
		.row
			.column-6
				.lge-container
					h1 Security Risk. Understood.
					h4 Instant resources that bridge the gap between developer questions and technical solutions
					p TEAM Mentor was created by developers for developers using secure coding standards, code snippets and checklists built from 10+ years of targeted security assessments for Fortune 500 organizations.

					hr
					h3.text-center With TEAM Mentor, you can...
					br

					.row 
						.column-offset-1.column-10
							.row
								.column-1
									img(src='/deploy/assets/icons/identifyfix.png', alt='Identify vulnerabilities and reduce time to fix them')
								.column-11
									.lge-container
										p FIX vulnerabilities quicker than ever before with TEAM Mentor's seamless integration into a developer's IDE and daily workflow
							
							.row
								.column-1
									img(src='/deploy/assets/icons/reduces.png', alt='REDUCE the number of vulnerabilities over time')
								.column-11
									.lge-container
										p REDUCE the number of vulnerabilities over time as developers learn about each vulnerability at the time it is identified
							
							.row
								.column-1
									img(src='/deploy/assets/icons/expand.png', alt='REDUCE the number of vulnerabilities over time')
								.column-11
									.lge-container
										p EXPAND the development team's knowledge and improve process with instant access to thousands of specific remediation tactics, including the host organization's security policies and coding best practices

			.column-6
				p Hello