extends ../_layouts/flare_page_landing
include ../mixins/getting-started-mixins

block content
    #application
      #two-thirds-column
        section.row
          #label
            .label Login
          #articles
            +login-form
        br
        section.row
          #label
            .label Sign Up
          #articles
            +sign-up-form
      #one-third-column
        +team-mentor-summary