extends ../../content/_layouts/page_not_logged_in.jade
include ../../content/mixins/user-mixins.jade
block content
	#application
		.row
			.column-6
				.lge-container
					h1 Security Risk. Understood.
					h4 Instant resources that bridge the gap between developer questions and technical solutions

					p TEAM Mentor was created by developers for developers using secure coding standards, code snippets and checklists built from 10+ years of targeted security assessments for Fortune 500 organizations.


					h3 With TEAM Mentor, you can...

					.row
						.column-offset-1.column-2
							img(src='/deploy/assets/icons/identifyfix.png', alt='Identify vulnerabilities and reduce time to fix them')
						.column-9
							.lge-container
								h4 FIX vulnerabilities quicker than ever before with TEAM Mentor's seamless integration into a developer's IDE and daily workflow
					br
					
					.row
						.column-offset-1.column-2
							img(src='/deploy/assets/icons/reduces.png', alt='REDUCE the number of vulnerabilities over time')
						.column-9
							.lge-container
								h4 REDUCE the number of vulnerabilities over time as developers learn about each vulnerability at the time it is identified
					br
					
					.row
						.column-offset-1.column-2
							br
							img(src='/deploy/assets/icons/expand.png', alt='REDUCE the number of vulnerabilities over time')
						.column-9
							.lge-container
								h4 EXPAND the development team's knowledge and improve process with instant access to thousands of specific remediation tactics, including the host organization's security policies and coding best practices