extends ../_layouts/flare_page
include ../mixins/articles-mixins

block content
	#application
		#left-nav
			+left-navigation
		#results
			+flare-alert
			+article
			+related-options
			+copyright
		#right-nav
			+filters-div