extends ../_layouts/flare_page
include ../mixins/articles-mixins

block content
	#application
		#left-nav
		#results
			+flare-alert
			.bg
				+article
				+article-options
			+related-options
			+copyright
		#right-nav