extends ../_layouts/flare_page
include ../mixins/articles-mixins

block content
	+flare-search-bar-input
	#application
		#left-nav
		#results
			#content
				+flare-alert
				+article
			br
			+article-options
			+horizontal-rule
			+related-options
			+horizontal-rule
			+copyright
		#right-nav