extends ../_layouts/flare_page
include ../mixins/articles-mixins

block content
	#application
		#left-nav
		#results
			.bg
				+flare-alert
				+article
				+article-options
			.bg
				+related-options
			+copyright
		#right-nav