extends ../_layouts/flare_page
include ../mixins/articles-mixins

block content
	#application
		#left-nav
			+left-navigation
		#results
			#label
				.label Info
				p . Technology Icon
				p . Type Icon
				+save-button
				+share-button
			article
				+article
				+article-options
				//+related-options
				//+flare-alert
				//+copyright
		#right-nav
			+filters-div