extends ../_layouts/flare_page.jade
include mixins/articles-mixins.jade

block content
	#application
		#left-nav
			br
		// left-nav
		#results
			+article
			+horizontal-rule
			+article-options
			+horizontal-rule
			+related-options
			+horizontal-rule
			+copyright
		// results
		#right-nav
			br
		// right-nav
	// application