extends ../_layouts/flare_page
include ../mixins/articles-mixins

block content
	#application
		#left-nav
		#results
			#content
				+article
				+article-options
			#content
				+related-options
			+copyright
		#right-nav