extends ../_layouts/flare_page.jade
include mixins/articles-mixins.jade
include ../home/mixins/application-mixins.jade

block content
	#application
		.row
			.small-12.large-3.columns#left-nav
				+directory-list
			// column
			.small-12.large-6.columns#results
				br
				+breadcrumbs
				br
				+flare-search-bar-input
				+flare-results-save-clear
				+flare-articles-list
			// column
			.small-12.large-3.columns#right-nav
				br
			// column
		// row
	// application