extends ../_layouts/flare_page.jade
include mixins/articles-mixins.jade

block content
	#application
		#left-nav
			+links-home__navigate
		// left-nav
		#results
			+flare-saved-articles-list
		// results
		#right-nav
		// right-nav
	// application