extends ../_layouts/flare_page
include ../mixins/articles-mixins
include ../mixins/application-mixins

block content
	#application
		#left-nav
			.bg
				+links-home__navigate
		#results
			+my-results
			+saved-articles-list
		#right-nav