extends ../_layouts/flare_page.jade
include mixins/articles-mixins.jade

block content  
	#application
		.row
			.small-12.large-3.columns#left-nav
				+links-home__navigate
			// columns
			
			.small-12.large-6.columns#results
				br
				+flare-saved-articles-list
			// columns

			.small-12.large-3.columns#right-nav
				br
			// columns
		// row
	// application