extends ../_layouts/flare_page
include ../mixins/articles-mixins

block content
	#application
		#left-nav
			.bg
				+links-home__navigate
		#results
			+flare-results-save-clear
			.bg
				+search-results
		#right-nav