extends ../_layouts/test_page.jade
include mixins/articles-mixins.jade

block content
	#application
		.left-nav
			p Left nav
		.results
			+flare-alert
			+article
			+article-options
			+horizontal-rule
			+related-options
			+horizontal-rule
			+copyright
		.right-nav
			p Right nav