extends ../_layouts/flare_page.jade
include mixins/articles-mixins.jade

block content
	#application
		#left-nav
		// left-nav
		#results
			br
		// results
		#right-nav
		// right-nav
	// application