extends ../_layouts/flare_page
include ../home/mixins/application-mixins
include mixins/user-mixins

block content
	#application
		#left-nav
			+links_user_pages
		// left-nav
		#results
			h3 Developer Utilities
		// results
		#right-nav
		// right-nav
	// application