extends ../_layouts/flare_page_landing

block content
	#application
		#left-nav
		// left-nav
		#results
			include:md ../content/teamMentor/terms-and-conditions/terms-and-conditions.md
		// column
		#right-nav
		// right-nav
	// application