extends ../_layouts/flare_page.jade
include mixins/new-user-onboard-mixins.jade

block content
	#application
		#left-nav
		// left-nav
		#results
			#article
				include:md ../../content/teamMentor/new-user-onboard/finish.md
			br
			+new-user-onboard-finish-buttons
		// results
		#right-nav
		// right-nav
	// application