extends ../_layouts/flare_page
include ../mixins/new-user-onboard-mixins

block content
	#application
		#left-nav
		#results
			.bg
				#article
					include:md ../../content/new-user-onboard/finish.md
				br
				+new-user-onboard-finish-buttons
		#right-nav