extends ../_layouts/flare_page.jade

block content
	#application
		.row
			.small-12.large-3.columns
				br
			//column

			.small-12.large-6.columns
				h1 We're glad you're here.
				p Thanks for signing up! We’re really excited that you’ve joined the TEAM Mentor community. This is a quick, 2 minute tutorial to show you around the place - a house-warming party, if you will.

				p What you can expect to find inside:

				ul
					li Articles that will help you deal with common security issues;
					li Courses that will teach you new solutions; and
					li Learning Paths that will help you become a savvy programmer.

				br
				p Still sound good? Come on in, then.

				br
				.row
					.small-12.large-6.columns
						button
							| Start Tutorial
							br
							| (It only takes 2 minutes)
						// button
					// columns
					.small-12.large-6.columns
						button 
							| Skip Tutorial
							br
							| (Check it out later)
						// button
					// column
				// row
			// column

			.small-12.large-3.columns
				br
			// column
		// row
	// application