extends ../_layouts/flare_page
include ../mixins/application-mixins

block content
    #application
        #left-nav
        #results
            +flare-main-app-view
            +copyright
        #right-nav

        //ol.joyride-list(data-joyride='')
            li(data-id='welcome', data-text='Start Tutorial', data-options='tip_location: top; prev_button: false')
                include:md ../../content/new-user-onboard/welcome.md
            li(data-id='search-bar', data-text='Next', data-prev-text='Prev')
                include:md ../../content/new-user-onboard/step-one-search.md
            li(data-id='filters-button', data-button='Next', data-prev-text='Prev', data-options='tip_location:top;tip_animation:fade')
                include:md ../../content/new-user-onboard/step-two-filtering.md

            // The application needs to show the example results here

            li(data-id='article-headline', data-button='Next', data-prev-text='Prev', data-options='tip_location:top;tip_animation:fade')
                include:md ../../content/new-user-onboard/step-three-filtered-results.md
            li(data-id='article-controls', data-button='Next', data-prev-text='Prev', data-options='tip_location:top;tip_animation:fade')
                include:md ../../content/new-user-onboard/step-four-article-controls.md
            li(data-id='results-save-clear', data-button='Next', data-prev-text='Prev', data-options='tip_location:top;tip_animation:fade')
                include:md ../../content/new-user-onboard/step-five-result-controls.md
            li(data-id='navigate-button', data-button='Next', data-prev-text='Prev', data-options='tip_location:top;tip_animation:fade')
                include:md ../../content/new-user-onboard/step-six-navigate.md

            // The application needs to toggle the navigate button here

            li(data-id='navigate', data-button='Next', data-prev-text='Prev', data-options='tip_location:top;tip_animation:fade')
                include:md ../../content/new-user-onboard/step-seven-saved-items.md
            li(data-id='navigate', data-button='Next', data-prev-text='Prev', data-options='tip_location:top;tip_animation:fade')
                include:md ../../content/new-user-onboard/step-eight-curated-content.md
            li(data-button='end', data-prev-text='Prev')
                include:md ../../content/new-user-onboard/finish.md