extends ../_layouts/flare_page
include ../mixins/new-user-onboard-mixins

block content
	#application
		#left-nav
		#results
			.bg
				include:md ../../content/new-user-onboard/welcome.md
				br
				+new-user-onboard-welcome-buttons
		#right-nav