extends ../_layouts/flare_page
include ../mixins/new-user-onboard-mixins
include ../mixins/application-mixins

block content
	#application
		#left-nav
		#results
			+flare-search-bar-input
			+flare-main-app-view
		#right-nav
			.bg
				+step-one-instructions