extends ../_layouts/flare_page
include mixins/new-user-onboard-mixins
include ../home/mixins/application-mixins

block content
	#application
		#left-nav
		#results
			+flare-alert
			+flare-search-bar-input
			+flare-filters-active
			+flare-results-save-clear
			+flare-articles-list
		#right-nav
			+step-five-instructions