extends ../_layouts/flare_page.jade
include mixins/new-user-onboard-mixins.jade
include ../home/mixins/application-mixins.jade

block content
	#application
		.left-nav
			+links-home__navigate
		// left-nav
		.results
			+step-six-instructions
		// results
		.right-nav
			br
		// right-nav
	// application