extends ../_layouts/flare_page
include ../mixins/new-user-onboard-mixins
include ../mixins/application-mixins

block content
	#application
		#left-nav
		#results
			.bg
				+step-three-instructions
		#right-nav
			+flare-filters-div