extends ../_layouts/flare_page
include ../mixins/new-user-onboard-mixins
include ../mixins/application-mixins

block content
	#application
		#left-nav
		#results
			+flare-search-bar-input
			+flare-alert
			+flare-filters-active
			+flare-results-save-clear
			+articles-list
		#right-nav
			.bg
				+step-five-instructions