extends ../_layouts/flare_page.jade
include mixins/new-user-onboard-mixins.jade
include ../home/mixins/application-mixins.jade

block content
	#application
		.row
			.small-12.large-3.columns#left-nav
				br
			// column
			.small-12.large-6.columns#results
				+step-three-instructions
			// column
			.small-12.large-3.columns#right-nav
				+flare-filters-div
			// column
		// row
	// application