extends ../_layouts/flare_page
include ../mixins/new-user-onboard-mixins
include ../mixins/application-mixins

block content
	#application
		#left-nav
			.bg
				+links-home__navigate
		#results
			.bg
				+step-six-instructions
		#right-nav