extends ../_layouts/flare_page.jade
include mixins/new-user-onboard-mixins.jade
include ../home/mixins/application-mixins.jade

block content
	#application
		.row
			.small-12.large-3.columns#left-nav
				+links-home__navigate
			// column
			.small-12.large-6.columns#results
				+step-six-instructions
			// column
			.small-12.large-3.columns#right-nav
				br
			// column
		// row
	// application