extends ../_layouts/page_home.jade
include mixins/article-mixins.jade

block content  
	#application
		.row
			.col-3
				.lge-container
					br

			.col-6
				.lge-container
					+jade-alert
					
					#article
						include:md ../../content/teamMentor/articles/article-new-window.md

					+horizontal-rule

					+article-options

					+horizontal-rule

					+related-articles

					+horizontal-rule

					+copyright

			.col-3
				.lge-container
					br
					br
					br
					+save-div
					br
					+share-div
