extends ../_layouts/page_home.jade
include mixins/articles-mixins.jade
block content  
	#application
		.row
			.column-3
				.lge-container
					br

			.column-6
				.lge-container
					#article
						include:md ../../content/teamMentor/article-new-window.md

					+horizontal-rule

					+article-options

					+horizontal-rule

					+related-articles

			.column-3
				.lge-container
