extends ../_layouts/page_home.jade
include mixins/article-mixins.jade

block content
	#application
		.row
			.col-3#left-nav
				.lge-container
					br
				// lge-container
			// column

			.col-6#results
				.lge-container
					+article
					+horizontal-rule
					+article-options
					+horizontal-rule
					+related-articles
					+related-courses
					+horizontal-rule
					+copyright
				// lge-container
			// column

			.col-3#right-nav
				.lge-container
					br
					br
					+save-div
					br
					+share-div
				// lge-container
			// column
		//row
	//application