extends ../_layouts/page_home.jade
block content  
    #application
        .row
            #article-pane.column-offset-3.column-6
                include:md ../../content/teamMentor/article-new-window.md

                +horizontal-rule

                +article-options

                +horizontal-rule

                h4 Related Articles

                +related-articles
