extends ../_layouts/page_home.jade
block content  
				#application
					.row
						#article-pane.column-offset-3.column-6
							include:md ../../content/teamMentor/article-new-window.md

						
							+horizontal-rule
						.row
							.column-4.text-center
								a.action(href='#')
									| Metadata
							.column-4.text-center
								a.action(href='#')
									| Save
						.column-4.text-center
							a.action(href='#')
								| Share
							br
							hr
							br
							h4.grey
								| Related Articles
							br
							.list-group
								a.list-group-item(href='#{link_article_new_window}', target='_blank')
									h5.list-group-item-heading.dark-grey Related Article Headline
									p.list-group-item-text
										| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et erat eu nibh interdum euismod at eget diam. Morbi pulvinar lorem vitae venenatis rutrum. Aliquam quis sem vel odio tristique dignissim sagittis sed massa. Pellentesque nibh arcu, laoreet sed varius sed, scelerisque in elit.
								a.list-group-item(href='#{link_article_new_window}', target='_blank')
									h5.list-group-item-heading.dark-grey Related Article Headline
									p.list-group-item-text
										| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et erat eu nibh interdum euismod at eget diam. Morbi pulvinar lorem vitae venenatis rutrum. Aliquam quis sem vel odio tristique dignissim sagittis sed massa. Pellentesque nibh arcu, laoreet sed varius sed, scelerisque in elit.
								a.list-group-item(href='#{link_article_new_window}', target='_blank')
									h5.list-group-item-heading.dark-grey Related Article Headline
									p.list-group-item-text
										| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et erat eu nibh interdum euismod at eget diam. Morbi pulvinar lorem vitae venenatis rutrum. Aliquam quis sem vel odio tristique dignissim sagittis sed massa. Pellentesque nibh arcu, laoreet sed varius sed, scelerisque in elit.
