extends ../_layouts/page_home.jade
include mixins/article-mixins.jade
include ../../content/mixins/articles-mixins.jade
include ../home/mixins/application-mixins.jade

block content  
    #application
      .row
        .col-3
          .lge-container
            +directory-list
          // col-3

        .col-6
          .lge-container
            br
            +breadcrumbs
            br

            +results-save-clear
            +articles-list
          // row
        // col-6

        .col-3
          .lge-container
            +filters-div