extends ../../content/_layouts/page_home.jade
include ../../content/mixins/articles-mixins.jade

block content   
    #application
      .row
        .col-3
          .lge-container
            +links-home__navigate            
        .col-9#my-articles
          .lge-container
            +my-articles-links
            +my-articles-edit