extends ../../content/_layouts/page_home.jade
include mixins/articles-mixins.jade

block content   
    #application
      .row
        .column-3
          .lge-container
            +links-home__navigate            
        .column-9#my-articles
          .lge-container
            +my-articles-links
            +my-articles-edit