extends ../_layouts/page_home.jade
include mixins/article-mixins.jade
include ../home/mixins/application-mixins.jade

block content   
    #application
      .row
        .col-3
          .lge-container
            +links-home__navigate 
          
        .col-9#my-articles
          +edit-my-articles
          +edit-links