//- Flare Search Bar Input
mixin search-bar
    #search
        a.button.btn-divs#navigate-button
            i.fi-list-thumbnails
        .search-field
            input.search-input(type='text', placeholder='Type keywords here')
            a.button.btn-search#search-button(href='app-keyword-search')
                +search-icon
        a.button.btn-divs#filters-button(href='filters-div')
            +filter-icon

//- Flare Results-Save-Clear
mixin results-save-clear
    .label 0/200 results showing
    ul
        li
            +save-results-button
        li
            +clear-results-button

//- Flare Main App View
mixin main-app-view
    section.row
        #label
            .label Popular Search Terms
        #articles
            +search-term-list
    section.row
        #label
            .label Recently Viewed Articles
        #articles
            +articles-list
    section.row
        #label
            .label Top Articles
        #articles
            +articles-list

//- Articles List
mixin articles-list
    .container.article
        .metadata
            ul
                li
                    span.rank-badge #1
                    // Search Rank
                li
                    p #
                    // Technology Icon
                li
                    p #
                    // Phase Icon
                li
                    button.app
                        i.fi-bookmark
                li
                    button.app
                        i.fi-share
        .summary
            a(href='../articles/article-new-window-view')
                h3#article-headline Article Headline
            include:md ../../../content/articles/article-details.md
    .container.article
        .metadata
            ul
                li
                    span.rank-badge #1
                    // Search Rank
                li
                    p #
                    // Technology Icon
                li
                    p #
                    // Phase Icon
                li
                    button.app
                        i.fi-bookmark
                li
                    button.app
                        i.fi-share
        .summary
            a(href='../articles/article-new-window-view')
                h3#article-headline Article Headline
            include:md ../../../content/articles/article-details.md
    .container.article
        .metadata
            ul
                li
                    span.rank-badge #1
                    // Search Rank
                li
                    p #
                    // Technology Icon
                li
                    p #
                    // Phase Icon
                li
                    button.app
                        i.fi-bookmark
                li
                    button.app
                        i.fi-share
        .summary
            a(href='../articles/article-new-window-view')
                h3#article-headline Article Headline
            include:md ../../../content/articles/article-details.md

mixin left-navigation
    ul.side-nav
        li
            span
                i.fi-list
            span.text Index
        li
            span
                i.fi-book
            span.text Saved Articles
        li
            span
                i.fi-magnifying-glass
            span.text Saved Searches

//- Search Results List
mixin search-term-list
    .container.search-term
        a(href='app-keyword-search')
            span
                +search-icon
            span Search Term
    .container.search-term
        a(href='app-keyword-search')
            span
                +search-icon
            span Search Term
    .container.search-term
        a(href='app-keyword-search')
            span
                +search-icon
            span Search Term

//- Saved Articles List
mixin saved-articles-list
    .list-view-article.row
        .small-12.columns
            h3 Article Headline
        .small-12.medium-10.columns
            include:md ../../../content/articles/article-details.md
        .small-12.medium-2.columns
            +saved-article-controls
    .list-view-article.row
        .small-12.columns
            h3 Article Headline
        .small-12.medium-10.columns
            include:md ../../../content/articles/article-details.md
        .small-12.medium-2.columns
            +saved-article-controls
    .list-view-article.row
        .small-12.columns
            h3 Article Headline
        .small-12.medium-10.columns
            include:md ../../../content/articles/article-details.md
        .small-12.medium-2.columns
            +saved-article-controls

//- Saved Articles Controls
mixin saved-article-controls
    .row
        .small-4.medium-12.columns
            +open-icon
        .small-4.medium-12.columns
            +share-button
        .small-4.medium-12.columns
            +trash-button

//- Flare Filters Div
mixin filters-div
    ul.side-nav.no-style
        li
            span
                +filter-icon
            span.text Filter by
    //#filters
        dl.accordion(data-accordion='data-accordion')
            dd.accordion-navigation.active
                a(href='#and-filters')
                    i.fi-arrow-down.icon
                    span And filters
                #and-filters.content.active
                    table
                        tr
                            td
                                input#and-type1(type='checkbox', name='and-type', value='And Type 1')
                                label(for='and-type1') And Type 1
                            td
                                span.badge 14
                        tr
                            td
                                input#and-type2(type='checkbox', name='and-type', value='And Type 2')
                                label.checkbox(for='and-type2') And Type 2
                            td
                                span.badge 14
                        tr
                            td
                                input#and-type3(type='checkbox', name='and-type', value='And Type 3')
                                label.checkbox(for='and-type3') And Type 3
                            td
                                span.badge 14
            dd.accordion-navigation
                a(href='#or-filters')
                    i.fi-arrow-down.icon
                    span Or filters
                #or-filters.content.active
                    table
                        tr
                            td
                                input#or-type1(type='radio', name='or-type', value='Or Type 1')
                                label(for='or-type1') Or Type 1
                            td
                                span.badge 14
                        tr
                            td
                                input#or-type2(type='radio', name='or-type', value='Or Type 2')
                                label(for='or-type2') Or Type 2
                            td
                                span.badge 14
                        tr
                            td
                                input#or-type3(type='radio', name='or-type', value='Or Type 3')
                                label(for='or-type3') Or Type 3
                            td
                                span.badge 14

//- Flare Filters Active
mixin flare-filters-active
    #filters-active
        .row
            .small-12.medium-6.large-4.columns
                .alert-box.active(data-alert='')
                    span Filter Here
                    a.close(href='#') ×
            .small-12.medium-6.large-4.columns
                .alert-box.active(data-alert='')
                    span Filter Here
                    a.close(href='#') ×
            .small-12.medium-6.large-4.columns
                .alert-box.active(data-alert='')
                    span Filter Here
                    a.close(href='#') ×

// Save Div
mixin save-div
    #save
        .bg
            .row.collapse
                .small-10.columns
                    +save-input
                .small-2.columns
                    a.button.app.full-width(href='alert-application')
                        +save-icon

// Share Div
mixin share-div
    #share
        .bg
            .row.collapse
                .small-10.columns
                    +share-input
                .small-2.columns
                    a.button.app.full-width(href='alert-application')
                        +share-icon