include application-mixins.jade

//- Article
mixin article
	section.row
		#label
			+article-info
		article
			include:md ../../content/articles/article-new-window.md

//- Article Info
mixin article-info
	.label Info
	p # Technology Icon
	p # Type Icon
	ul
		li
			+save-button
		li
			+share-button


//- Related Courses and Articles
mixin related-options
	section.row
		#label
			.label Related Articles
		#articles
			+articles-list
	section.row
		#label
			.label Related Courses
		#articles
			+articles-list

mixin terms-and-conditions
	.bg
		include:md ../../content/terms-and-conditions/terms-and-conditions.md