div(class="navbar navbar-default navbar-fixed-top" role="navigation")
    div(class="lge-container")
        div(class="navbar-header")
        button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
            span(class="sr-only" ) Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
        
        ul(class="nav navbar-nav")            
            li
                a(href="default.html" data-toggle="tooltip" title="Home")
                    img(src="/teammentor/img/logo.jpg" class="img-responsive" alt="TEAM Mentor" width="200px")
        div(class="navbar-collapse collapse")
            ul(class="nav navbar-nav navbar-right")
                li
                    a(href='navigate.html', data-toggle='tooltip', title='Navigate')
                        img(src='/teammentor/img/navigate.svg', width='50px', height='50px', alt='Navigate')    
                li
                    a(href='main-app-view.html', data-toggle='tooltip', title='Home')
                        img(src='/teammentor/img/home.svg', width='50px', height='50px', alt='Home')
                li
                    a(href='help.html', data-toggle='tooltip', title='Help')
                        img(src='/teammentor/img/help.svg', width='50px', height='50px', alt='Help')
                li
                    a(href='user.html', data-toggle='tooltip', title='User')
                        img(src='/teammentor/img/user.svg', width='50px', height='50px', alt='User')
                li
                    a(href='returning-user-login.html', data-toggle='tooltip', title='Logout')
                        img(src='/teammentor/img/logout.svg', width='50px', height='50px', alt='Logout')
