head    
    meta(charset    ="utf-8"                                                        )
    meta(http-equiv ="X-UA-Compatible" content="IE=edge"                            )
    meta(name       ="viewport"        content="width=device-width, initial-scale=1")
    meta(name       ="description"     content=""                                   )
    meta(name       ="author"          content=""                                   )
    
    link(rel="icon" href="../../favicon.ico")
    
    title TEAM Mentor 4.0
    
    // Bootstrap core CSS
    link(href="/teammentor/css/bootstrap.css" rel="stylesheet")

    // Custom Styles
    link(href="/teammentor/css/custom-style.css" rel="stylesheet")