extends ../_layouts/poc_page
include ../mixins/application-mixins
include poc-mixins

block content
	#poc-application
		#poc-left-nav
			ul.side-nav
				li
					a(href='../home/navigate')
						span
							i.fi-list
						span.text Index
				li
					span
						i.fi-book
					span.text Saved Articles
				li
					span
						i.fi-magnifying-glass
					span.text Saved Searches
		#poc-results
			+main-app-view
		#poc-right-nav
			button
				i.fi-filter