extends ../_layouts/poc_page
include ../mixins/application-mixins
include poc-mixins

block content
	#application
		#left-nav
			+left-navigation
		#results
			+main-app-view
		#right-nav
			+filters-div