//- POC Searchbar
mixin poc-search-bar
    #poc-search
        a.button.btn-divs#navigate-button
            i.fi-list-thumbnails
        .search-field
            input.search-input(type='text', placeholder='Type keywords here')
            a.button.btn-search#search-button(href='app-keyword-search')
                +search-icon
        a.button.btn-divs#filters-button(href='filters-div')
            +filter-icon