extends ../_layouts/flare_page.jade
include ../home/mixins/application-mixins.jade

block content
	#application
		#left-nav
			br
		// left-nav
		#results
			include ../../content/teamMentor/error-pages/unavailable.md
		// results
		#right-nav
			br
		// right-nav
	// application