// Foundation Javascript
link(href="/deploy/assets/bower_components/modernizer/modernizer.js" rel="text/javascript")
link(href="/deploy/assets/bower_components/jquery/jquery.js" rel="text/javascript")
link(href="/deploy/assets/bower_components/fastclick/fastclick.js" rel="text/javascript")
link(href="/deploy/assets/bower_components/foundation/js/foundation.min.js" rel="text/javascript")
link(href="/deploy/js/app.js" rel="text/javascript")