include ../links.jade
include ../images.jade

.navbar.navbar-fixed-top(role='navigation')
  .lge-container
    ul.brand
      li
        +image-teammentor-logo__default         
    .pull-right
      ul.nav.nav-icons
        +links-navbar__not_logged_in