include ../links.jade
include ../images.jade

nav.top-bar(role='navigation', data-topbar='')
	ul.title-area
		li.name
			a(href='#')
				+image-teammentor-logo__default
		// li-name
	// ul-title-area
	section.top-bar-section
		// Right Nav Section 
		ul.right
			+links-navbar__landing-page
		// ul-right
	// section
// nav