extends ../_layouts/page_not_logged_in.jade
block content
        #application
          .row
            .col-md-offset-3.col-md-6
              .row.text-center
                +links_user_pages

              br
              br

              h4.light-grey Developer Utilities
