extends ../_layouts/page_home.jade
block content
    #application
      .row
        .col-offset-3.col-6
          .row.text-center
            +links_user_pages

          br
          br

          h4.grey Other (pages)
