extends ../_layouts/page_not_logged_in.jade
block content  
    #application
      .row
        .column-offset-3.column-6
          br
          h3.grey Login
          br
          form#login-form(role='form')
            .form-group
              label(for='new-user-username') Username
              input#new-user-username.form-control(type='username', placeholder='Username')
            br
            .form-group
              label(for='new-user-password') Password
              input#new-user-password.form-control(type='password', placeholder='Password')
            br
            a(href='/deploy/html/user/returning-user-validation.html')
                button.btn-action.btn-submit.btn-block(type='button') Login
            br
            br
            a(href='returning-user-forgot-password.html')
                button.btn-action.btn-submit.btn-block(type='button') Forgot your password?
          br
          br
