extends ../_layouts/page_not_logged_in.jade
block content  
	#application
		.row
			.column-3
				.lge-container
					br
			.column-6
				.lge-container
					include:md ../../content/teamMentor/terms-and-conditions/terms-and-conditions.md