extends ../../content/_layouts/page_not_logged_in.jade

block content  
	#application
		.row
			.col-3#left-nav
				.lge-container
					br
				// lge-container
			// column
			.col-6#results
				.lge-container
					include:md ../../content/teamMentor/terms-and-conditions/terms-and-conditions.md
				// lge-container
			// column
			.col-3#right-nav
				.lge-container
					br
				// lge-container
			// column
		// row
	// application