extends ../../content/_layouts/page_not_logged_in.jade
include mixins/user-mixins.jade
block content
        #application
          .row
            .column-offset-3.column-6
              +links_user_pages
              
              br
              h3 Personal Details

              +user-details-form