extends ../_layouts/page_not_logged_in.jade
block content
		#application
			.row
				.column-3
					.lge-container
						br
				.column-6
					.lge-container
						+links_user_pages
						br
						br

						h3 New Password

						+new-password-form