extends ../_layouts/page_home.jade
include ../../content/mixins/user-mixins.jade
include ../home/mixins/application-mixins.jade

block content
        #application
          .row
            .col-offset-3.col-6
              +links_user_pages

              br
              br
              +filters-div
              br