extends ../../content/_layouts/page_home.jade
include mixins/user-mixins.jade
block content
    #application
      .row
        .column-3
          .lge-container
            br
        .column-6
          .lge-container
            +links_user_pages
            br
            br

            .row
              .column-9
                h3 Personal Details
              .column-3
                br
                a.action(href='user-edit.html') Edit

            table
              tr
                td.strong Name:
                td Lucy Bloomfield
                td.strong State:
                td Queensland
              tr
                td.strong Email:
                td hello@luchia.com.au
                td.strong Country:
                td Australia
              tr
                td.strong Title:
                td Designer
                td.strong Group ID:
                td Admin
              tr
                td.strong Company:
                td Self-Employed
                td
                td

            +horizontal-rule

            .row
              .column-4
                h3 Settings
                a(href='user-new-password.html') New Password

              .column-4
                h3 Permanent Filters
                a(href='user-add-filter.html') Add/Remove Filter
              .column-4
