extends ../_layouts/page_home.jade
include ../../content/mixins/user-mixins.jade
block content
		#application
			.row
				.col-3
					.lge-container
						br
				.col-6
					.lge-container
						+links_user_pages
						br
						br

						h3 New Password

						+new-password-form