extends ../_layouts/page_home.jade
include ../../content/mixins/user-mixins.jade
block content
        #application
          .row
            .col-3
              .lge-container
                +links_user_pages
            .col-6
              .lge-container
                h3 Edit User Details

                +user-details-form

            .col-3
              .lge-container
                br