extends ../_layouts/page_not_logged_in.jade
block content
        #application
          .row
            .column-offset-3.column-6
              .row.text-center
                +links_user_pages

              br
              br

              
              h4.grey Personal Details

              form(role='form', action='user.html')
                .form-group
                  label(for='user-name') Name
                  input.form-control(type='user-name', id='user-name', placeholder='Name')
                  br

                .form-group
                  label(for='user-email') Email Address
                  input.form-control(type='user-email', id='user-email', placeholder='Email Address')
                  br

                .form-group
                  label(for='user-title') Title
                  input.form-control(type='user-title', id='user-title', placeholder='Title')
                  br

                .form-group
                  label(for='user-company') Company
                  input.form-control(type='user-company', id='user-company', placeholder='Company')
                  br

                .form-group
                  label(for='user-state') State
                  input.form-control(type='user-state', id='user-state', placeholder='State')
                  br

                .form-group
                  label(for='user-country') Country
                  input.form-control(type='user-country', id='user-country', placeholder='Country')
                  br

                .form-group
                  label(for='user-group-id') Group ID
                  input.form-control(type='user-group-id', id='user-group-id', placeholder='Group ID')
                  br

                button.btn-submit.btn-action.btn-block(type='submit')
                  | Ok, Done
                  span.glyphicon.glyphicon-ok.glyphicon-small

                br
                br
                br