extends ../_layouts/page_not_logged_in.jade
block content
        #application
          .row
            .column-offset-3.column-6
              .row.text-center
                +links_user_pages

              br
              br
              +filters-div
              br