extends ../_layouts/page_not_logged_in.jade
block content
        #application
          .row
            .column-offset-3.column-6
              .row.text-center
                +links_user_pages

              br
              br
              
              h4.grey Remove Permanent Filter

              .row
                .column-3
                  .alert.alert-dismissible(role='alert')
                    button.close(type='button', data-dismiss='alert')
                      span(aria-hidden='true') ×
                      span.sr-only Close
                    strong.green Filter One
                //
                   /col-sm-3 
                .column-3
                  .alert.alert-dismissible(role='alert')
                    button.close(type='button', data-dismiss='alert')
                      span(aria-hidden='true') ×
                      span.sr-only Close
                    strong.green Filter Two
                //
                   /col-sm-3 
                .column-3
                  .alert.alert-dismissible(role='alert')
                    button.close(type='button', data-dismiss='alert')
                      span(aria-hidden='true') ×
                      span.sr-only Close
                    strong.green Filter Three
                //
                   /col-sm-3 
                .column-3
                  .alert.alert-dismissible(role='alert')
                    button.close(type='button', data-dismiss='alert')
                      span(aria-hidden='true') ×
                      span.sr-only Close
                    strong.green Filter Four

              button.btn-submit.btn-action.btn-block(type='submit')
                | Ok, Done
                span.glyphicon.glyphicon-ok.glyphicon-small