extends ../_layouts/page_home.jade
block content
    #application
      .row
        .column-offset-3.column-6
          .row.text-center
            +links_user_pages
          br
          br

          .row
            .column-9
              h4.grey Personal Details
            .column-3
              br
              a.action(href='user-edit.html')
                Edit
                span.glyphicon.glyphicon-pencil.glyphicon-small

          table
            tr
              td.strong Name:
              td Lucy Bloomfield
              td.strong State:
              td Queensland
            tr
              td.strong Email:
              td hello@luchia.com.au
              td.strong Country:
              td Australia
            tr
              td.strong Title:
              td Designer
              td.strong Group ID:
              td Admin
            tr
              td.strong Company:
              td Self-Employed
              td
              td

          br
          hr

          .row
            .column-4
              h4.grey Settings
              p
                a(href='user-new-password.html') New Password

            .column-4
              h4.grey Permanent Filters
              p
                a(href='user-add-filter.html') Add filter
              p
                a(href='user-remove-filter.html') Remove filter

            .column-4
