
<nav role="navigation" data-topbar="" class="top-bar">
  <ul class="title-area">
    <li class="name"><a href="#"><a href="/deploy/html/landing-pages/index.html"><img src="/deploy/assets/logos/tm-logo.jpg" alt="TEAM Mentor" width="200px"/></a></a></li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone-->
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right"><ul>
<li><a href="/deploy/html/landing-pages/about.html">About</a></li>
<li><a href="/deploy/html/landing-pages/features.html">Features</a></li>
<li><a href="NaN/index.html">Get Started</a></li>
</ul>

    </ul>
  </section>
</nav>