
<div class="fixed">
  <nav data-topbar="data-topbar" role="navigation" class="top-bar">
    <ul class="title-area">
      <li class="name"><a href="#"><a href="/deploy/html/landing-pages/index.html"><img src="/deploy/assets/logos/tm-logo.jpg" alt="TEAM Mentor" width="250px"/></a></a></li>
      <!-- li-name-->
    </ul>
    <!-- ul-title-area-->
    <section class="top-bar-section">
      <ul class="right">
        <li><a href="#"><i class="fi-list"></i></a></li>
      </ul>
      <!-- ul-right-->
      <ul class="center">
        <li><a href="../home/navigate.html"><i class="fi-map"></i><br/>   Navigate</a></li>
        <li><a href="../home/main-app-view.html"><i class="fi-home"></i><br/>   Home</a></li>
        <li><a href="../help/index.html"><i class="fi-info"></i><br/>   Help</a></li>
        <li><a href="../user/user.html"><i class="fi-torso"></i><br/>   User</a></li>
        <li><a href="../getting-started/index-validation.html"><i class="fi-power"></i><br/>   Logout</a></li>
      </ul>
      <!-- ul-->
    </section>
    <!-- section-->
  </nav>
  <!-- nav-->
</div>
<!-- fixed-->