
<div class="fixed">
  <nav data-topbar="data-topbar" role="navigation" class="top-bar">
    <section class="top-bar-section">
      <div class="lge-container">
        <ul class="flare">
          <li><i class="fi-map"></i><a href="#">
              <p>Navigate</p></a></li>
          <li><i class="fi-home"></i><a href="#">
              <p>Home</p></a></li>
          <li><i class="fi-info"></i><a href="#">
              <p>Help</p></a></li>
          <li><i class="fi-torso"></i><a href="#">
              <p>User</p></a></li>
          <li><i class="fi-power"></i><a href="#">
              <p>Logout</p></a></li>
        </ul>
      </div>
    </section>
    <!-- Right Nav Section 
    ul.right
     li
      a(href='#') Menu Icon
    -->
  </nav>
</div>