extends ../_layouts/flare_page
include ../getting-started/mixins/getting-started-mixins

block content
	#application
		#left-nav
			+help-navigation
		// left-nav
		#results
			#summary
				+team-mentor-summary
			br
			include:md ../content/teamMentor/help/video.md
		// results
		#right-nav
		// right-nav
	// application