extends ../_layouts/page

block content
  #application
    .row
      .col-2
        .lge-container
      .col-8
        .lge-container
          .bg
            include:md ../../content/poc/poc.md
            h4 PoC Pages:
            #poc-pages.list-group
              if pages
                ul
                  for page in pages
                    li
                      a(href=page.link)= page.name
      .col-2
        .lge-container