extends ../_layouts/page

block content
  #application
    .row
      .col-2
        .lge-container
      .col-8
        .lge-container
          .bg
            include:md ../../content/poc/poc.md
            br
            if pages
              #poc-pages
                table.nav
                  for page in pages
                    tr
                      td
                        a(href=page.link)= page.name
      .col-2
        .lge-container