extends ../_layouts/page
block content
  #application
    .row
      .col-2
        .lge-container
      .col-8
        .lge-container
          .bg
            h2= title
            if top_Articles
              table.data
                thead
                  tr
                    th Title (href)
                    th Weight
                for item in top_Articles
                  tr
                    td
                      a(href=item.href)= item.title
                    td= item.weight


