extends ../_layouts/page
block content
  #application
    .row
      .col-2
        .lge-container
      .col-8
        .lge-container
          .bg
            h2= title
            if top_Searches
              table.data
                thead
                  tr
                    th Title (href)
                    th Weight
                for item in top_Searches
                  tr
                    td
                      a(href='/search?text='+item.title)= item.title
                    td= item.weight