extends ../_layouts/page_not_logged_in.jade
include ../../content/mixins/user-mixins.jade
block content
    #application
      .row
        .col-offset-1.col-5
          .lge-container
            +sign-up-form
            br
        .col-5
          .lge-container
            +login-form
