extends ../_layouts/page_not_logged_in.jade
block content
    #application
      .row
        .column-offset-1.column-5
          .lge-container
            h3 Sign Up
            p Complete this form and get access to the worlds largest repository of secure software development knowledge.
            br
            +sign-up-form
            br
        .column-5
          .lge-container
            h3 Forgot your password?
            p Too easy - just type in your email address and we'll send you an email with further instructions.
            br
            +forgot-password-form