//- flare-landing-page-usp-div
mixin usp-div
	#usp
		.row
			.small-12.large-offset-2.large-8.end.columns
				include:md ../../content/teamMentor/landing-pages/usp.md
				br
				br
				.row
					.small-12.large-offset-3.large-6.end.columns
						a(href='../getting-started/index')
							button
								i.fi-key
								| Start your free trial today
					// column
				// row
			// column
		// row
	// usp-div

//- reasons-to-use-tm-div
mixin reasons-to-use-tm-div
	#reasons
		h2 With TEAM Mentor, you can...
		.row
			.small-12.medium-offset-1.medium-10.large-offset-3.large-6.end.columns
				.row
					.small-3.large-2.columns.text-center
						i.fi-clipboard-pencil
					// column
					.small-9.large-10.columns
						h4
							include:md ../../content/teamMentor/landing-pages/selling-point-1.md
					// column
				// row
				br
				.row
					.small-3.large-2.columns.text-center
						i.fi-arrows-in
					// column
					.small-9.large-10.columns
						h4
							include:md ../../content/teamMentor/landing-pages/selling-point-2.md
					// column
				// row
				br
				.row
					.small-3.large-2.columns.text-center
						i.fi-checkbox
					// columns
					.small-9.large-10.columns
						h4
							include:md ../../content/teamMentor/landing-pages/selling-point-3.md
					// columns
				// row
			// column
		// row
	// reasons-div

//- clients-div
mixin clients-div
	#clients
		h2 Our clients love us (and we think you will too!)
		.row
			.small-6.large-4.columns
				+image-elsevier-logo
			// column

			.small-6.large-4.columns
				+image-fedex-logo
			// column

			.small-6.large-4.columns
				+image-mass-mutual-logo
			// column

			.small-6.large-4.columns
				+image-microsoft-logo
			// column

			.small-6.large-4.columns
				+image-symantec-logo
			// column

			.small-6.large-4.columns
				+image-ubs-logo
			// column
		// row
	// clients-div

//- about-tagline-div
mixin about-tagline-div
	#about
		.row
			.small-12.large-offset-1.large-10.end.columns
				include:md ../../content/teamMentor/landing-pages/about-tm-tagline.md
			// column
		// row
	// about-div

// about-us-div
mixin about-us-div
	#about-us
		.row
			.small-12.large-offset-2.large-8.end.columns
				include:md ../../content/teamMentor/landing-pages/about-tm-summary.md
			// column
		// row
	// about-us

// features-div
mixin features-div
	#features
		.row
			.small-12.large-offset-3.large-6.columns
				h2 TEAM Mentor provides intelligence to fix vulnerabilities and comply
				br
				.row
					.small-3.large-2.columns.text-center
						i.fi-check
					// column
					.small-9.large-10.columns
						include:md ../../content/teamMentor/landing-pages/feature-1.md
					// column
				// row

				.row
					.small-3.large-2.columns.text-center
						i.fi-loop
					// column
					.small-9.large-10.columns
						include:md ../../content/teamMentor/landing-pages/feature-2.md
					// column
				// row

				.row
					.small-3.large-2.columns.text-center
						i.fi-clipboard-notes
					// column
					.small-9.large-10.columns
						include:md ../../content/teamMentor/landing-pages/feature-3.md
					// column
				// row

				.row
					.small-3.large-2.columns.text-center
						i.fi-arrows-in
					// column
					.small-9.large-10.columns
						include:md ../../content/teamMentor/landing-pages/feature-4.md
					// column
				// row
			// column
		// row
	// features-div

//- landing-page_call-to-action
mixin call-to-action-div
	#call-to-action
		.row
			.small-12.large-offset-2.large-8.end.columns
				include:md ../../content/teamMentor/landing-pages/call-to-action.md
				br
				br
				a(href='../getting-started/index')
					button
						i.fi-eye
						| See for yourself
					// column
				// row
			// column
		// row
	// call-to-action-div

//- landing-page_footer
mixin footer-div
	#footer
		.row
			.small-12.large-offset-4.large-4.columns
				#si-logo
				a(href="../user/terms-and-conditions") Terms & Conditions
				h6 TEAM Mentor v 4.0
			// column
		// row
	// footer-div