extends ../_layouts/page_home.jade
include mixins/learning-path-mixins

block content
	#application
		.row
			.column-3
				.lge-container
					br
			.column-6#learning-path
				.lge-container
					include:md ../../content/teamMentor/learning-paths/sql-injection.md
					
					br
					+lp-start-button