extends ../../_layouts/page_landing.jade
block content
	#application
		.row
			.column-3
				.lge-container
					br

			.column-6
				.lge-container
					br
					h3 Ok, Done
					p We've sent you an email with instructions for resetting your password.