extends ../../_layouts/page_not_logged_in.jade
include ../mixins/login-form.jade
include ../../getting-started/mixins/getting-started-mixins.jade
block content  
	#application
		.row
			.column-3
				.lge-container
					br
			.column-6
				.lge-container
					+login-form
					+forgot-password-button
