include ../mixins/login-form.jade
extends ../../_layouts/page_not_logged_in.jade
block content  
	#application
		.row
			.column-3
				.lge-container
					br
			.column-6
				.lge-container
					+login-form
					+forgot-password-button
