extends ../../_layouts/page_not_logged_in.jade
block content
    #application
      .row
        .column-3
          .lge-container
            br
        .column-6
          .lge-container
            h3 Forgot your password?
            p Too easy - just type in your email address and we'll send you an email with further instructions.
            br
            +forgot-password-form