extends ../../_layouts/page_not_logged_in.jade
block content
    #application
      .row
        .column-offset-3.column-6
          br
          h3.grey Forgot your password?
          p
            | Too easy - just type in your email address and we'll send you an email with further instructions.
          br
          form#forgot-password(role='form', action='forgot-password-completed.html')
            .form-group
              label(for='email') Email Address
              input#email.form-control(type='email', placeholder='Email Address')
              br
              a(href='forgot-password-completed.html')
                button.btn-action.btn-submit.btn-block(type='button') Get your password
    