extends ../../../content/_layouts/page_not_logged_in.jade
include ../../../content/mixins/user-mixins.jade
block content  
	#application
		.row
			.col-3
				.lge-container
					br
			.col-6
				.lge-container
					+login-form
