<!DOCTYPE html>
<html lang="en">
  <head>  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <title>TEAM Mentor 4.0 (Html version)</title>
    <!-- Bootstrap core CSS-->
    <link href="/teammentor/css/bootstrap.css" rel="stylesheet">
    <!-- Custom Styles-->
    <link href="/teammentor/css/custom-style.css" rel="stylesheet">
  </head>
  <body>
    <div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="landing-page-index.html"><br><img src="/teammentor/img/tm-logo.jpg" alt="TEAM Mentor" width="200px"></a>
        </div>
        <div class="collapse navbar-collapse pull-right">
          <ul class="nav navbar-nav">
                <li><a href="/deploy/html/landing-pages/about.html">About</a></li>
                <li><a href="/deploy/html/landing-pages/features.html">Features</a></li>
                <li><a href="/deploy/html/getting-started/index.html">Get Started</a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>