extends ../_layouts/flare_page
include mixins/articles-mixins

block content
	#application
		#left-nav
		// left-nav
		#results
			+flare-alert
			+article
			br
			+article-options
			+horizontal-rule
			+related-options
			+horizontal-rule
			+copyright
		// results
		#right-nav
		// right-nav
	// application