extends ../_layouts/flare_page
include mixins/articles-mixins
include ../home/mixins/application-mixins.jade

block content
	#application
		#left-nav
			+flare-directory-list
		// left-nav
		#results
			+breadcrumbs
			br
			+flare-search-bar-input
			+flare-results-save-clear
			+flare-articles-list
		// results
		#right-nav
		// right-nav
	// application