extends ../_layouts/page
include ../_mixins/error-mixins.jade

block content
	#application
		.row
			.col-3
				.lge-container
			.col-6
				.lge-container
					+error_404
			.col-3
				.lge-container