extends ../_layouts/page
include ../_mixins/error-mixins.jade
include ../_mixins/landing-page-mixins
block content
    #application
        .row
            .col-3
                .lge-container
                    br
            .col-6
                .lge-container
                    +error_500
            .col-3
                .lge-container
                    br
    br
    +footer-div