extends ../_layouts/page_landing
include ../_mixins/user-mixins
block content
    #landing-page
        .row
            .col-6
                #loginwall
                    +alert-please-login
                    +login-form
            .col-6
                +team-mentor-summary