extends ../_layouts/page_landing
include ../_mixins/user-mixins
block content
    .row.landing-page
        .col-6
            .lge-container
                #loginwall
                    +alert-login-failed
                    +login-form
        .col-6
            .lge-container
                +team-mentor-summary