extends ../_layouts/page_landing

include ../_mixins/user-mixins
block content
	#application
		.row
			.col-3
				.lge-container
					br
				// lge-container
			// column
			.col-6
				.lge-container
					br
					br
					br
					+alert
					+login-form
				// lge-container
			// column
			.col-3
				.lge-container
					br
				// lge-container
			// column
		// row
	// application
