extends ../_layouts/page_landing.jade
block content

    #features
      .container
        h3.text-center.grey It looks like the page you want to see needs a valid login
        br
        .row
          .column-offset-3.column-12
            :markdown
                Please [Login](/guest/login.html)
            //or ***Create an Accout***