extends ../_layouts/page_landing
include ../_mixins/user-mixins
block content
	#application
		.row
			br
			br
			.col-offset-1.col-5
				.lge-container
					+login-form
					br
				// lge-container
			// column
			.col-5
				.lge-container
					+team-mentor-summary
				// lge-container
			// column
		// row
	// application