extends ../_layouts/page_landing.jade
include ../_mixins/user-mixins
block content
	.row
		.col-6
			#loginwall
				+alert-please-login
				+login-form
		.col-6
			#summary
				#content
					+team-mentor-summary