extends ../_layouts/page_landing.jade
block content
	#application
		.row
			.col-3
				.lge-container
					br
				// lge-container
			// column
			.col-6
				.lge-container
					br
					h3 It looks like the page you want to see needs a valid login
					:markdown
						Please [Login](/guest/login.html)
				// lge-container
			// column
			.col-3
				.lge-container
					br
				// lge-container
			// column
		// row
	// application
