extends ../_layouts/page_logged_out
include ../_mixins/user-mixins
block content
    .row
        .col-6
            #loginwall
                +alert-please-login
                +login-form
        .col-6
            +team-mentor-summary