extends ../_layouts/page_landing
include ../_mixins/user-mixins
block content
	#application
		.lge-container
			.row
				.col-3
					br
				.col-6
					+alert-pwd-reset-failed
					+pwd-reset-form
				.col-3
					br