extends ../_layouts/page_landing
include ../_mixins/user-mixins
block content
    #application
        .row
            .col-3
                .lge-container
            .col-6
                .lge-container
                    +alert-pwd-reset-failed
                    +pwd-reset-form
            .col-3
                .lge-container