extends ../_layouts/page_landing
include ../_mixins/user-mixins
block content
	#application
		.row
			.col-2
				.lge-container
			.col-8
				.lge-container
					+pwd-reset-form
			.col-2
				.lge-container