extends ../_layouts/page_landing
include ../_mixins/user-mixins
block content
	.row
		.col-6
			#loginwall
				+forgot-password-form
				br
			// loginwall
		// column
		.col-6
			#summary
				+team-mentor-summary
			// summary
		// column
	// row