extends ../_layouts/page_landing
block content
	#application
		.row
			.col-3
				.lge-container
					br
				// lge-container
			// column
			.col-6
				.lge-container
					br
					h3 Done :)
					p We've sent you an email with instructions for resetting your password.
				// lge-container
			// column
			.col-3
				.lge-container
					br
				// lge-container
			// column
		// row
	// application
