extends ../_layouts/page_logged_out
include ../_mixins/user-mixins
block content
	#application
		.row
			.col-3
				.lge-container
			.col-6
				.lge-container
					+pwd-reset-form
			.col-3
				.lge-container