extends ../_layouts/page_landing
block content
   #application
      .row
         .column-3
            .lge-container
               br
         .column-6
            .lge-container
               h3 Welcome to TEAM Mentor
               p Thank you for creating a new account.
               p Please
                  a(href='/user/login/returning-user-login.html')  Login