extends ../_layouts/page_landing
include ../_mixins/user-mixins
block content
    .row
        .landing-page
            .col-6
                #loginwall.lge-container
                    +sign-up-form
            .col-6
                .lge-container
                    +team-mentor-summary