extends ../_layouts/page_landing
include ../_mixins/user-mixins
block content
    #application
      .row
        .column-offset-1.column-5
          .lge-container
            +sign-up-form
            br