extends ../_layouts/page_logged_out
include ../_mixins/user-mixins
block content
    .row
        .col-6
            #loginwall
                +alert-sign-up-failed
                +sign-up-form
        .col-6
            +team-mentor-summary