extends ../_layouts/page_landing
include ../_mixins/landing-page-mixins
block content
	#application
		.row
			.col-3
				.lge-container
					br
				// lge-container
			// column
			.col-6
				.lge-container
					include:md ../../content/terms-and-conditions.md
				// lge-container
			// column
			.col-3
				.lge-container
					br
				// lge-container
			// column
		// row
	// application