extends ../_layouts/page_landing
include ../_mixins/landing-page-mixins
block content  
	#application
		.row
			.column-3
				.lge-container
					br
			.column-6
				.lge-container
					include:md content/terms-and-conditions.md