extends ../_layouts/page_landing
include ../_mixins/links
include ../_mixins/view-blocks
block content
	#application
		.row
			.col-3
				.lge-container
					+terms-and-conditions-links
			.col-6
				.lge-container
					+terms-and-conditions-content
			.col-3
				.lge-container