extends ../_layouts/page_logged_out
include ../_mixins/links
include ../_mixins/view-blocks
block content
	#landing-page
		.row
			.col-3
				.lge-container
					+terms-and-conditions-links
			.col-9
				.lge-container
					+terms-and-conditions-content