extends ../_layouts/page_landing
include ../_mixins/landing-page-mixins
block content
	#application
		.row
			.col-3
				.lge-container
					br
					.list-group
						a(href='#article-i-definitions') Article I - Definitions
						a(href='#article-ii-deliverables') Article II - Deliverables
						a(href='#article-iii-license-grant') Article III - License Grant
						a(href='#article-iv-ownership-of-intellectual-property') Article IV - Ownership of Intellectual Property
						a(href='#article-v-marketing-requirements') Article V - Marketing Requirements
						a(href='#article-vi-trademarks') Article VI - Trademarks
						a(href='#article-vii-support') Article VII - Support
						a(href='#article-viii-fees-royalties-and-payments') Article VIII - Fees, Royalties and Payments
						a(href='#article-ix-payment-instructions') Article IX - Payment Instructions
						a(href='#-article-x-records-reports-and-audit-rights') Article X - Records, Reports and Audit Rights
						a(href='#article-xi-contract-administrative-contacts') Article XI - Contract Administrative Contacts
						a(href='#article-xii-assignment') Article XII - Assignment
						a(href='#article-xiii-confidentiality') Article XIII - Confidentiality
						a(href='#article-xiv-warranties') Article XIV - Warranties
						a(href='#article-xv-indemnities') Article XV - Indemnities
						a(href='#article-xvi-limitations') Article XVI - Limitations
						a(href='#article-xvii-terms-of-agreements') Article XVII - Terms of Agreements
						a(href='#article-xviii-terminiation') Article XVIII - Termination
						a(href='#article-xix-effect-of-termination') Article XIX - Effect of Termination
						a(href='#article-xx-general-provisions') Article XX - General Provisions
						a(href='#appendix-a') Appendix A
						a(href='#appendix-b') Appendix B
			.col-6
				.lge-container
					include:md ../../content/terms-and-conditions/terms-and-conditions.md
			.col-3
				.lge-container
					br