extends ../_layouts/page_landing
include ../_mixins/landing-page-mixins
block content
	#application
		.row
			.col-3
				.lge-container
					br
			.col-6
				.lge-container
					br
					include:md ../../content/terms-and-conditions/terms-and-conditions.md
			.col-3
				.lge-container
					br