extends ../_layouts/page_landing
include ../_mixins/landing-page-mixins
block content
	#application
		.row
			.col-3
				.lge-container
					#help-nav
						+terms-and-conditions-links
			.col-6
				#help-docs
					.lge-container
						.content
							include:md ../../content/terms-and-conditions/terms-and-conditions.md
			.col-3
				.lge-container