extends ../_layouts/page_home

block content
	#application
		.row
			.col-3
				.lge-container
					br
			.col-6
				.lge-container
					include:md ../../content/error-pages/unavailable.md
			.col-3
				.lge-container
					br