extends ../_layouts/page_home
include ../_mixins/error-mixins.jade

block content
	#application
		.row
			.col-3
				.lge-container
			.col-6
				.lge-container
					+unavailable
			.col-3
				.lge-container