include ../../content/images.jade
include ../../content/links.jade

.fixed
	nav.top-bar(role='navigation', data-topbar='')
		#customer-navigation
			ul.title-area
				li
					a(href='#')
						+image-security-innovation-logo
				// li-name
			// ul-title-area
		// customer-navigation
		#team-mentor-navigation
			ul.left
				li
					a(href='customer-main-app-view')
						+image-teammentor-logo__default
				// li
			// ul.left
			section.top-bar-section
				ul.right
					+links-navbar__home
				// ul-right
			// section
		// teammentor-navigation
	// nav
// fixed