include ../../content/links.jade
include ../../content/images.jade

.navbar.navbar-fixed-top(role='navigation')
  .lge-container
    ul.brand
      li
        +image-teammentor-logo__default         
    .collapse.navbar-collapse.pull-right
      ul.action.nav.nav-icons
        +links-navbar__not_logged_in