include ../../content/images.jade
include ../../content/links.jade

.navbar.navbar-default.navbar-fixed-top(role='navigation')
    .lge-container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar   
            span.icon-bar
        ul.nav.navbar-nav
          li
            +image-teammentor-logo__default
            //a(href='/deploy/html/default.html', data-toggle='tooltip', title='Home')
            //  img.img-responsive(src='/teammentor/img/logo.jpg', alt='TEAM Mentor', width='200px')
        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            +links-navbar__not_logged_in                   
