include ../../content/links.jade
include ../../content/images.jade

.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
    .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          +image-teammentor-logo__landing_page       
        .collapse.navbar-collapse.pull-right
          ul.nav.navbar-nav
            //-+links-navbar__landing-page_MD  //- lucy you can use this one to see how it should work
            +links-navbar__landing-page