include ../../content/images.jade
include ../../content/links.jade

div(class="navbar navbar-default navbar-fixed-top" role="navigation")
    div(class="lge-container")
        div(class="navbar-header")
        button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
            span(class="sr-only" ) Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
        ul(class="nav navbar-nav")
          +image-teammentor-logo__default              
        div(class="navbar-collapse collapse")
            ul(class="nav navbar-nav navbar-right")
                +links-navbar__home
                