extends ../_layouts/page
include ../_mixins/view-blocks.jade
include ../_mixins/landing-page-mixins
block content
    #application
        .row
          .col-3
            +help-navigation
          .col-9
            +help-index
            br
            +footer-div