extends ../_layouts/page
include ../_mixins/view-blocks.jade
block content
  #application
    .row
      .col-3
        .lge-container
          +help-navigation
      .col-9
        .lge-container
          +help-index