extends ../_layouts/page-2
include ../_mixins/links
include ../_mixins/view-blocks

block content
	#application
		.row
			.col-3
				+terms-and-conditions-links
			.col-9
				+terms-and-conditions-content