extends ../_layouts/page_home.jade
include ../_mixins/search-mixins.jade

block content
    #application
        .row
            .col-3
                .lge-container
                    +directory-list
            .col-6
                .lge-container
                    +breadcrumbs
                    +results
                    +articles-list
            .col-3
                .lge-container
                    +filters-div