extends ../_layouts/page_home.jade
block content  
    
    #application
      .row
        .lge-container
          .col-sm-3
            +links-home__navigate               
          .col-sm-9
            .col-sm-4
              a.list-group-item(href='fundamentals-of-security.html') CSRF
              a.list-group-item(href='fundamentals-of-security.html') Path Traversal
              a.list-group-item(href='fundamentals-of-security.html') Download of code without integrity check
              a.list-group-item(href='fundamentals-of-security.html') Incorrect Authorization
              a.list-group-item(href='fundamentals-of-security.html') Inclusion of Functionality
              a.list-group-item(href='fundamentals-of-security.html') Access Permissions Misconfiguration
              a.list-group-item(href='fundamentals-of-security.html') Use of Unsafe Functions
              a.list-group-item(href='fundamentals-of-security.html') Weak Cryptographic Functions
              a.list-group-item(href='fundamentals-of-security.html') Incorrect Calculation of Buffer Size
              a.list-group-item(href='fundamentals-of-security.html') Open Redirect
              a.list-group-item(href='fundamentals-of-security.html') Uncontrolled String Format
              a.list-group-item(href='fundamentals-of-security.html') Hashing without Salt
              a.list-group-item(href='fundamentals-of-security.html') Top iOS Threats          
            .col-sm-4              
            .col-sm-4
              l-sm-9 