extends ../_layouts/page_home.jade
block content
    #application
      .row
        .column-3
          br

        //column-3

        .column-6
          br
          .input-group
            input#search-bar.form-control(type='text', placeholder='Type keywords here')
          // input-group 
          br
          br

          h4.grey Filters Active
          .row
            .column-3
              .alert.alert-dismissible(role='alert')
                button.close(type='button', data-dismiss='alert')
                  span(aria-hidden='true') ×
                  span.sr-only Close
                strong.green Filter One
            // column-3
            .column-3
              .alert.alert-dismissible(role='alert')
                button.close(type='button', data-dismiss='alert')
                  span(aria-hidden='true') ×
                  span.sr-only Close
                strong.green Filter Two
            // column-3
            .column-3
              .alert.alert-dismissible(role='alert')
                button.close(type='button', data-dismiss='alert')
                  span(aria-hidden='true') ×
                  span.sr-only Close
                strong.green Filter Three
            // column-3
            .column-3
              .alert.alert-dismissible(role='alert')
                button.close(type='button', data-dismiss='alert')
                  span(aria-hidden='true') ×
                  span.sr-only Close
                strong.green Filter Four
            // column-3
          // row 
          
          br
          .row
            .column-6
              h4.grey 0/200 results showing
            // column-6
            br
            .column-3.text-center
              a.action(href='#save')
                | Save
            // column-3
            .column-3.text-center
              a.action(href='main-app-view.html')
                | Clear
            // column-3
          // row 
          .list-group
            a.list-group-item(href='article-new-window-view.html')
              h5.list-group-item-heading.dark-grey Related Article Headline
              p.list-group-item-text
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et erat eu nibh interdum euismod at eget diam. Morbi pulvinar lorem vitae venenatis rutrum. Aliquam quis sem vel odio tristique dignissim sagittis sed massa. Pellentesque nibh arcu, laoreet sed varius sed, scelerisque in elit.
            br
            a.list-group-item(href='article-new-window-view.html')
              h5.list-group-item-heading.dark-grey Related Article Headline
              p.list-group-item-text
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et erat eu nibh interdum euismod at eget diam. Morbi pulvinar lorem vitae venenatis rutrum. Aliquam quis sem vel odio tristique dignissim sagittis sed massa. Pellentesque nibh arcu, laoreet sed varius sed, scelerisque in elit.
            br
            a.list-group-item(href='article-new-window-view.html')
              h5.list-group-item-heading.dark-grey Related Article Headline
              p.list-group-item-text
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et erat eu nibh interdum euismod at eget diam. Morbi pulvinar lorem vitae venenatis rutrum. Aliquam quis sem vel odio tristique dignissim sagittis sed massa. Pellentesque nibh arcu, laoreet sed varius sed, scelerisque in elit.
            br
            a.list-group-item(href='article-new-window-view.html')
              h5.list-group-item-heading.dark-grey Related Article Headline
              p.list-group-item-text
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et erat eu nibh interdum euismod at eget diam. Morbi pulvinar lorem vitae venenatis rutrum. Aliquam quis sem vel odio tristique dignissim sagittis sed massa. Pellentesque nibh arcu, laoreet sed varius sed, scelerisque in elit.
            br
            a.list-group-item(href='article-new-window-view.html')
              h5.list-group-item-heading.dark-grey Related Article Headline
              p.list-group-item-text
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et erat eu nibh interdum euismod at eget diam. Morbi pulvinar lorem vitae venenatis rutrum. Aliquam quis sem vel odio tristique dignissim sagittis sed massa. Pellentesque nibh arcu, laoreet sed varius sed, scelerisque in elit.
            br
            a.list-group-item(href='article-new-window-view.html')
              h5.list-group-item-heading.dark-grey Related Article Headline
              p.list-group-item-text
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et erat eu nibh interdum euismod at eget diam. Morbi pulvinar lorem vitae venenatis rutrum. Aliquam quis sem vel odio tristique dignissim sagittis sed massa. Pellentesque nibh arcu, laoreet sed varius sed, scelerisque in elit.
          // row 
        // column-6 
        
        .column-3.container
          +filters-div
          br
          +save-div