extends ../_layouts/page_home.jade
block content
		#application
			.row
				.col-3
					.lge-container
						br
				//col-3

				.col-6
					.lge-container
						+jade-search-bar-input
						br
						br
						br
						+results-save-clear
						+articles-list
				// col-6 
						
				.col-3
					.lge-container
						+filters-div