extends ../_layouts/page_home.jade
block content    
    #application
      .row
        .col-md-offset-3.col-md-6
          br
          h3.light-grey Help
          p ...help content will go here ...
                                    