extends ../_layouts/page_home.jade

block content  
    #application
      .row
        .col-3
          .lge-container
            br

        .col-6
          .lge-container
            +search-bar-input
            br
            br
            +main-app-view
        
        .col-3
          .lge-container
            +filters-div
            +save-div