extends ../_layouts/page_home.jade
include ../search/search-mixins.jade

block content  
    #application
      .row
        .column-3
          .lge-container
            br

        .column-6
          .lge-container
            +search-bar-input   
            br
            br
            br
            +main-app-view
        
        .column-3
          .lge-container
            //+filters-div
            //+save-div