extends ../_layouts/page_home.jade
block content  
    #application
          .row
            .lge-container
                .col-sm-3
                //
                   /col-sm-3
                .col-sm-6
                  .row
                    .col-lg-12
                      .input-group
                        input#search-bar.form-control(type='text', placeholder='Type keywords here')
                        span.input-group-btn
                          button#search-button.btn.btn-application(type='button')
                            span.glyphicon.glyphicon-search
                        span.input-group-btn
                          button#filters-button.btn.btn-application(type='button')
                            span.glyphicon.glyphicon-filter
                      //
                         /input-group
                      br
                      br
                      h4.grey Recently Viewed Articles
                      .list-group
                        a.list-group-item(href='article-new-window-view.html', target='_blank') Cras justo odio
                        a.list-group-item(href='article-new-window-view.html', target='_blank') Dapibus ac facilisis in
                        a.list-group-item(href='article-new-window-view.html', target='_blank') Morbi leo risus
                        a.list-group-item(href='article-new-window-view.html', target='_blank') Porta ac consectetur ac
                        a.list-group-item(href='article-new-window-view.html', target='_blank') Vestibulum at eros
                      h4.grey Popular Search Terms
                      .list-group
                        a.list-group-item(href='app-keyword-search.html') Cras justo odio
                        a.list-group-item(href='app-keyword-search.html') Dapibus ac facilisis in
                        a.list-group-item(href='app-keyword-search.html') Morbi leo risus
                        a.list-group-item(href='app-keyword-search.html') Porta ac consectetur ac
                        a.list-group-item(href='app-keyword-search.html') Vestibulum at eros
                      h4.grey Top Articles
                      .list-group
                        a.list-group-item(href='article-new-window-view.html', target='_blank') Cras justo odio
                        a.list-group-item(href='article-new-window-view.html', target='_blank') Dapibus ac facilisis in
                        a.list-group-item(href='article-new-window-view.html', target='_blank') Morbi leo risus
                        a.list-group-item(href='article-new-window-view.html', target='_blank') Porta ac consectetur ac
                        a.list-group-item(href='article-new-window-view.html', target='_blank') Vestibulum at eros
                      h4.grey New Articles
                      .list-group
                        a.list-group-item(href='article-new-window-view.html', target='_blank') Cras justo odio
                        a.list-group-item(href='article-new-window-view.html', target='_blank') Dapibus ac facilisis in
                        a.list-group-item(href='article-new-window-view.html', target='_blank') Morbi leo risus
                        a.list-group-item(href='article-new-window-view.html', target='_blank') Porta ac consectetur ac
                        a.list-group-item(href='article-new-window-view.html', target='_blank') Vestibulum at eros
                    //
                       /.col-lg-12
                  //
                     /.row
                //
                   /col-sm-6
                .col-sm-3
                  #filters
                    h3.light-grey Filters
                    form(role='form', action='filters-active.html')
                      .form-group
                        h5.green Technology
                        ul.list-group
                          li.list-group-item
                            span.badge 14
                            input#technology_1.css-checkbox(type='checkbox')
                            label.css-label(for='technology_1', name='technology_1') Option #1
                          li.list-group-item
                            span.badge 14
                            input#technology_2.css-checkbox(type='checkbox')
                            label.css-label(for='technology_2', name='technology_2') Option #2
                          li.list-group-item
                            span.badge 14
                            input#technology_3.css-checkbox(type='checkbox')
                            label.css-label(for='technology_3', name='technology_3') Option #3
                          li.list-group-item
                            span.badge 14
                            input#technology_4.css-checkbox(type='checkbox')
                            label.css-label(for='technology_4', name='technology_4') Option #4
                          li.list-group-item
                            span.badge 14
                            input#technology_5.css-checkbox(type='checkbox')
                            label.css-label(for='technology_5', name='technology_5') Option #5
                      .form-group
                        h5.green Category
                        ul.list-group
                          li.list-group-item
                            span.badge 14
                            input#category_1.css-checkbox(type='checkbox')
                            label.css-label(for='category_1', name='category_1') Option #1
                          li.list-group-item
                            span.badge 14
                            input#category_2.css-checkbox(type='checkbox')
                            label.css-label(for='category_2', name='category_2') Option #2
                          li.list-group-item
                            span.badge 14
                            input#category_3.css-checkbox(type='checkbox')
                            label.css-label(for='category_3', name='category_3') Option #3
                          li.list-group-item
                            span.badge 14
                            input#category_4.css-checkbox(type='checkbox')
                            label.css-label(for='category_4', name='category_4') Option #4
                          li.list-group-item
                            span.badge 14
                            input#category_5.css-checkbox(type='checkbox')
                            label.css-label(for='category_5', name='category_5') Option #5
                      .form-group
                        h5.green Phase
                        ul.list-group
                          li.list-group-item
                            span.badge 14
                            input#phase_1.css-checkbox(type='checkbox')
                            label.css-label(for='phase_1', name='phase_1') Option #1
                          li.list-group-item
                            span.badge 14
                            input#phase_2.css-checkbox(type='checkbox')
                            label.css-label(for='phase_2', name='phase_2') Option #2
                          li.list-group-item
                            span.badge 14
                            input#phase_3.css-checkbox(type='checkbox')
                            label.css-label(for='phase_3', name='phase_3') Option #3
                          li.list-group-item
                            span.badge 14
                            input#phase_4.css-checkbox(type='checkbox')
                            label.css-label(for='phase_4', name='phase_4') Option #4
                          li.list-group-item
                            span.badge 14
                            input#phase_5.css-checkbox(type='checkbox')
                            label.css-label(for='phase_5', name='phase_5') Option #5
                      .form-group
                        h5.green Type
                        ul.list-group
                          li.list-group-item
                            span.badge 14
                            input#type_1.css-checkbox(type='checkbox')
                            label.css-label(for='type_1', name='type_1') Option #1
                          li.list-group-item
                            span.badge 14
                            input#type_2.css-checkbox(type='checkbox')
                            label.css-label(for='type_2', name='type_2') Option #2
                          li.list-group-item
                            span.badge 14
                            input#type_3.css-checkbox(type='checkbox')
                            label.css-label(for='type_3', name='type_3') Option #3
                          li.list-group-item
                            span.badge 14
                            input#type_4.css-checkbox(type='checkbox')
                            label.css-label(for='type_4', name='type_4') Option #4
                          li.list-group-item
                            span.badge 14
                            input#type_5.css-checkbox(type='checkbox')
                            label.css-label(for='type_5', name='type_5') Option #5
                      button.btn-action.btn-block(type='submit')
                        | Ok, Done
                        span.glyphicon.glyphicon-ok.glyphicon-small
                  //
                     /filters
                  #save
                    h3.light-grey Save to Dashboard
                    br
                    form(role='form')
                      .form-group
                        label(for='nickname') Give it a nickname
                        input#nickname.form-control(type='text', placeholder='Nickname')
                      button.btn-action.btn-block(type='submit')
                        | Ok, Done
                        span.glyphicon.glyphicon-ok.glyphicon-small
                  //
                     /save
                  br
                  br
                //
                   /col-sm-3
              //
                 /row for columns
            //
               /application div
