extends ../_layouts/page_home.jade
include mixins/application-mixins.jade

block content
	#application
		.row
			.col-3#left-nav
				.lge-container
					+links-home__navigate
				// lge-container
			// column

			.col-6#results
				.lge-container
					br
					+results-save-clear
					+articles-list
				// lge-container
			// column

			.col-3#right-nav
				.lge-container
					br
				// lge-container
			// column
		// row
	// application