extends ../_layouts/page_home.jade
block content
    #application
      .row
        .lge-container
          .col-sm-3
            +links-home__navigate
          .col-sm-9
            .col-sm-4
              .list-group
                a.list-group-item(href='fundamentals-of-security.html') Fundamentals of Security
                a.list-group-item(href='fundamentals-of-security.html') PCI DSS Code Review
                a.list-group-item(href='fundamentals-of-security.html') PCI DSS Compiance
                a.list-group-item(href='fundamentals-of-security.html') Security Engineering
                a.list-group-item(href='fundamentals-of-security.html') Top 5 Rich Client Vulnerabilites
                a.list-group-item(href='fundamentals-of-security.html') Top 5 Web Service Reviews
                a.list-group-item(href='fundamentals-of-security.html') Top Android Threats
                a.list-group-item(href='fundamentals-of-security.html') Server-sent Events
                a.list-group-item(href='fundamentals-of-security.html') Web Sockets
                a.list-group-item(href='fundamentals-of-security.html') CORS
                a.list-group-item(href='fundamentals-of-security.html') Web Messaging
                a.list-group-item(href='fundamentals-of-security.html') Web Storage
                a.list-group-item(href='fundamentals-of-security.html') Web Workers
            .col-sm-4
              a.list-group-item(href='fundamentals-of-security.html') HTTP Headers
              a.list-group-item(href='fundamentals-of-security.html') Server-side Security
              a.list-group-item(href='fundamentals-of-security.html') SQL Injection
              a.list-group-item(href='fundamentals-of-security.html') OS Command Injection
              a.list-group-item(href='fundamentals-of-security.html') Buffer Overflow
              a.list-group-item(href='fundamentals-of-security.html') XSS
              a.list-group-item(href='fundamentals-of-security.html') Missing Authentication
              a.list-group-item(href='fundamentals-of-security.html') Missing Authorization
              a.list-group-item(href='fundamentals-of-security.html') Hard-coded Credentials
              a.list-group-item(href='fundamentals-of-security.html') Missing Encryption
              a.list-group-item(href='fundamentals-of-security.html') Unrestricted Dangerous Uploads
              a.list-group-item(href='fundamentals-of-security.html') Using Untrusted Inputs
              a.list-group-item(href='fundamentals-of-security.html') Execution with Unnecessary Privliges
            .col-sm-4
              a.list-group-item(href='fundamentals-of-security.html') CSRF
              a.list-group-item(href='fundamentals-of-security.html') Path Traversal
              a.list-group-item(href='fundamentals-of-security.html') Download of code without integrity check
              a.list-group-item(href='fundamentals-of-security.html') Incorrect Authorization
              a.list-group-item(href='fundamentals-of-security.html') Inclusion of Functionality
              a.list-group-item(href='fundamentals-of-security.html') Access Permissions Misconfiguration
              a.list-group-item(href='fundamentals-of-security.html') Use of Unsafe Functions
              a.list-group-item(href='fundamentals-of-security.html') Weak Cryptographic Functions
              a.list-group-item(href='fundamentals-of-security.html') Incorrect Calculation of Buffer Size
              a.list-group-item(href='fundamentals-of-security.html') Open Redirect
              a.list-group-item(href='fundamentals-of-security.html') Uncontrolled String Format
              a.list-group-item(href='fundamentals-of-security.html') Hashing without Salt
              a.list-group-item(href='fundamentals-of-security.html') Top iOS Threats
          //col-sm-9 
        //lge-container 
      //row for columns 
    //application div 
