mixin links-libraries
    if libraries
        each library in libraries
            p 
                a(href="/library/" + library.name, id="link-library-" + library.id)= library.title
    p 
        a#link-my-articles(href='/library/my-articles') My Articles
    p
        a#link-my-search-items(href='/library/my-search-items') My Search Items
        
mixin links-library        
    if(library)            
        //div= library
        each view in library.data.views
            a.list-group-item(href='#{link_fundamentals_of_security}')= view.caption
        each folder in library.data.subFolders            
            a.list-group-item(href='/library/'+library.name + '/folder/' + folder.name)= folder.name