//- Flare Login Form
mixin login-form
	include:md ../../../content/teamMentor/getting-started/login-form.md
	form(action='../home/main-app-view')
		.row
			.small-12.large-12.columns
				+username-input
			// column
		// row
		.row
			.small-12.large-12.columns
				+password-input
			// column
		// row
		.row
			.small-12.large-12.columns
				+login-button
			// columns
		// row
		br
		.row
			.small-12.large-12.columns
				a(href='forgot-password')
					+forgot-password-button
			// columns
		// row
	// form

//- Flare Sign Up Form
mixin sign-up-form
	include:md ../../../content/teamMentor/getting-started/sign-up-form.md
	form(action='../home/main-app-view')
		.row
			.small-12.large-12.columns
				+username-input
			// columns
		// row
		.row
			.small-12.large-12.columns
				+email-input
			// columns
		// row
		.row
			.small-12.large-12.columns
				+flare-password-input
			// columns
		// row
		.row
			.small-12.large-12.columns
				include:md ../../../content/teamMentor/getting-started/agree-to-toc.md
			// columns
		// row
		.row
			.small-12.large-12.columns
				+sign-up-button
			// columns
		// row
	// form

//- Flare Sign Up Form Prompts
mixin sign-up-form-prompts
	include:md ../../../content/teamMentor/getting-started/sign-up-form.md
	form(action='../home/main-app-view')
		.row
			.small-12.large-12.columns
				+username-input
				p Your username should only contain letters and numbers.
			// columns
		// row
		.row
			.small-12.large-12.columns
				+email-input
				p We'll email you a confirmation.
			// columns
		// row
		.row
			.small-12.large-12.columns
				+flare-password-input
				p Your password should be at least 8 characters long. It should have one uppercase and one lowercase letter, a number and a special character.
			// columns
		// row
		.row
			.small-12.large-12.columns
				include:md ../../../content/teamMentor/getting-started/agree-to-toc.md
			// columns
		// row
		.row
			.small-12.large-12.columns
				+sign-up-button
			// columns
		// row
	// form

//- Flare Forgot Password Form
mixin flare-forgot-password-form
	include:md ../../../content/teamMentor/getting-started/forgot-password-form.md
	form(action='index-validation')
		.row
			.small-12.large-12.columns
				+email-input
			// columns
		// row
		.row
			.small-12.large-12.columns
				+get-password-button
			// columns
		// row
	// form

//- Flare Team Mentor Summary
mixin team-mentor-summary
	include:md ../../../content/teamMentor/getting-started/login-wall-summary.md
	.icons-green
		.row
			.small-3.large-2.columns
				i.fi-clipboard-pencil
			// column
			.small-9.large-10.columns
				include:md ../../../../source/content/teamMentor/landing-pages/selling-point-1.md
			// column
		// row

		.row
			.small-3.large-2.columns
				i.fi-arrows-in
			//column
			.small-9.large-10.columns
				include:md ../../../../source/content/teamMentor/landing-pages/selling-point-2.md
			// column
		// row

		.row
			.small-3.large-2.columns
				i.fi-checkbox
			//column
			.small-9.large-10.columns
				include:md ../../../../source/content/teamMentor/landing-pages/selling-point-3.md
			// column
		// row
	// icons-green