extends ../../_layouts/page_home
include ../../_mixins/articles-mixins
include ../../_mixins/search-mixins
include poc_icons-mixins

block content
    #application
        .row
            .col-9
                .lge-container
                    +search-2
                    +results-2
                    +articles-list-poc
            .col-3
                .lge-container
                    +filters-div-poc-574