extends ../../_layouts/page_home.jade
include ../../_mixins/search-mixins.jade

block content
    #application
        .row
            .col-3
                .lge-container
                    +directory-list
                    .poc
                      #message.text-center
                        i.fi-wrench
                        span Found an issue? Send our Dev team <a href="mailto:email@email.com">an email</a>.
            .col-6
                .lge-container
                    +breadcrumbs
                    +results
                    +articles-list
            .col-3
                .lge-container
                    +filters-div