extends ../../_layouts/page_landing
include ../../_mixins/landing-page-mixins
include _poc_filters-mixins.jade

block content
	#landing-page
		+usp-div
		+reasons-div-rect-2
		+clients-div
		+call-to-action-div
		+footer-div