extends ../../_layouts/page_logged_out
include ../../_mixins/landing-page-mixins

mixin reasons-poc-div
	    #reasons
        .lge-container
            .row
                .col-offset-2.col-8
                    include:md ../../../content/landing-pages/reasons-div-heading.md
                    table
                        tr
                            td
                                .poc-icons-one
                            td
                                include:md ../../../content/landing-pages/selling-point-1.md
                        tr
                            td
                                .poc-icons-two
                            td
                                include:md ../../../content/landing-pages/selling-point-2.md
                        tr
                            td
                                .poc-icons-three
                            td
                                include:md ../../../content/landing-pages/selling-point-3.md

block content
	+usp-div
	+reasons-poc-div
	+clients-div
	+call-to-action-div
	+footer-div