extends ../../_layouts/page_home
include ../../_mixins/search-mixins
include poc_results-mixins.jade

block content
    #application
        .row
            .col-3
                .lge-container
                    +directory-list
            .col-6
                .lge-container
                    +breadcrumbs
                    +results
                    +articles-list-poc
            .col-3
                .lge-container
                    +filters-div